﻿@using SwaranAdmin_New.Base
@model SwaranAdmin_New.Models.BookingSummaryDom

@{
    ViewBag.Title = "VehicleUpgradeView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <!--/end top area-->


    <div class="row bottom-form">

        <!--/end left area-->


        <div class="col-md-9">


            <div>
                @if (ViewBag.Error)
                {

                    <div class="arrow_box">
                        <h3 class="alert-danger">
                            @ViewBag.Message
                        </h3>
                    </div>

                }

                @if (Model.BookingStatus != (int)BookingStatusEnum.Cancelled)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">Trip Summary</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Pick Up</p>
                                </div>
                                <div class="col-md-6 text-right">@Html.ValueFor(m => m.FromFullAddress) </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.Viapoints))
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Via Points</p>
                                    </div>
                                    <div class="col-md-6 text-right">@Html.ValueFor(m => m.Viapoints) </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Drop Off</p>
                                </div>
                                <div class="col-md-6 text-right">@Html.ValueFor(m => m.ToFullAddress) </div>
                            </div>
                            <div class="border-top margin-botom-10"></div>

                            <div class="row">
                                <div class="col-md-6">
                                    <p>Trip Fare </p>
                                </div>
                                <div class="col-md-6 text-right">
                                    &#163; @Html.ValueFor(m => m.OneWayPrice) <br>

                                </div>
                            </div>


                            @if (Model.OneWayCredit > 0)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Discount</h5>
                                    </div>

                                    <div class="col-md-6 text-right">
                                        <h5>&#163; @Html.ValueFor(m => m.OneWayCredit)</h5>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

                @if (Model.IsReturnJourney && Model.BookingStatusReturnJourney != (int)BookingStatusEnum.Cancelled)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">Return Journey Summary</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Pick Up</p>
                                </div>
                                <div class="col-md-6 text-right"> @Html.ValueFor(m => m.ReturnFromFullAddress)</div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ReturnViapoints))
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Via Points</p>
                                    </div>
                                    <div class="col-md-6 text-right">@Html.ValueFor(m => m.ReturnViapoints)</div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Drop Off</p>
                                </div>
                                <div class="col-md-6 text-right">@Html.ValueFor(m => m.ReturnToFullAddress)</div>
                            </div>
                            <div class="border-top margin-botom-10"></div>

                            <div class="row">
                                <div class="col-md-6">
                                    <p>Trip Fare</p>
                                </div>
                                <div class="col-md-6 text-right">
                                    &#163; @Html.ValueFor(m => m.ReturnWayPrice) <br>
                                    @*<p class="helping-text">Full Coverage, Cancel Protection, Road Side Assistance</p>*@
                                </div>
                            </div>

                            @if (Model.ReturnWayCredit > 0)
                            {

                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Discount</p>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        &#163; @Html.ValueFor(m => m.ReturnWayCredit) <br>
                                    </div>
                                </div>
                            }



                        </div>
                    </div>


                }


                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="reserv-form">
                            @if (Model.BookingStatus != (int)BookingStatusEnum.Cancelled)
                            {
                                <div class="row blue-bold">
                                    <div class="col-md-6">
                                        <h5>OneWay Fare </h5>
                                    </div>

                                    <div class="col-md-6 text-right">
                                        <h5> &#163; @(Model.OneWayPrice - Model.OneWayCredit)</h5>

                                    </div>

                                </div>
                            }

                            @if (Model.IsReturnJourney && Model.BookingStatusReturnJourney != (int)BookingStatusEnum.Cancelled)
                            {
                                <div class="row blue-bold">
                                    <div class="col-md-6">
                                        <h5>Return journey Fare </h5>
                                    </div>

                                    <div class="col-md-6 text-right">
                                        <h5> &#163; @(Model.ReturnWayPrice - Model.ReturnWayCredit)</h5>
                                    </div>

                                </div>
                            }

                            <div class="border-top margin-botom-10"></div>
                            <div class="row blue-bold">
                                <div class="col-md-6">
                                    <h5>Pay Cash To Driver</h5>
                                </div>

                                <div class="col-md-6 text-right">

                                    <h5>&#163; @((Model.OneWayPrice + Model.ReturnWayPrice) - (Model.OneWayCredit + Model.ReturnWayCredit))</h5>

                                </div>
                            </div>
                            <div class="border-top margin-botom-10"></div>
                            @if (Model.OtherCharges > 0)
                            {
                                <div class="row blue-bold">
                                    <div class="col-md-6">
                                        <h5>Booking Fee</h5>
                                    </div>

                                    <div class="col-md-6 text-right">
                                        <h5>&#163; @Html.ValueFor(m => m.OtherCharges)</h5>

                                    </div>
                                </div>

                            }


                            @if (Model.PaymentType == PaymentTypeEnum.Card.ToString() || Model.PaymentType == PaymentTypeEnum.Use_My_Credits.ToString())
                            {
                                <div class="row blue-bold">
                                    <div class="col-md-6">
                                        <h3>Payment Status </h3>
                                    </div>

                                    <div class="col-md-6 text-right">

                                        @switch (Model.PaymentStatus)
                                        {
                                            case (int)PaymentStatusEnum.Pending:
                                                <h3 style="color:red">
                                                    Pending
                                                </h3>
                                                break;
                                            case (int)PaymentStatusEnum.Rejected:
                                                <h3 style="color:red">
                                                    Failed
                                                    <button id="repayment" class="btn btn-danger center-block">Retry</button>
                                                </h3>
                                                break;
                                            case (int)PaymentStatusEnum.Paid:
                                                <h3 style="color:#045312">
                                                    Paid
                                                </h3>
                                                break;
                                        }


                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>

            </div>
            <!--/end form-->



        </div>
    </div>
    <!--/end bottom area-->




</div>


