﻿
<aside class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            @*<img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">*@
        </div>
        <div class="pull-left info">
            @*<p>Alexander Pierce</p>*@
            <a href="/TelBooking/TelBookingView"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input name="q" class="form-control" placeholder="Search..." type="text">
            <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>z
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    @*<ul class="sidebar-menu tree" data-widget="tree">*@
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li> 
        <li>

            <a href="/TelBooking/TelBookingView">
                <i class="fa fa-home"></i> <span>TelBooking</span>

            </a>
        </li>
        <li>

            <a href="/Home/Index">
                <i class="fa fa-home"></i> <span>Home</span>

            </a>
        </li>
    <li>
        <a href="/Reservation/PendingBookingView">
            <i class="fa fa-gg"></i> <span id="pending-bookins-count">No Job Response</span>

        </a>
    </li>
    <li>
        <a href="/Member/PendingActivationView">
            <i class="fa fa-gg"></i> <span >Pending Activation</span>

        </a>
    </li>

        <li>
            @*@Html.ActionLink("Refund", "RepaymentView", "WorldPayPayment")*@
            <a href="/Reservation/VehicleUpgradeView">
                <i class="fa fa-gg-circle"></i> <span>Vehicle Upgrade</span>

            </a>
        </li>
        @*<li>@Html.ActionLink("Telephone Booking", "TelBookingView", "TelBooking") </li>*@
        <li class="treeview">
            <a href="#">
                <i class="fa fa-user-plus"></i> <span>Members</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink("Search Member", "MemberSearch", "Member") </li>
                <li>@Html.ActionLink("List", "LoyaltyMemberSearch", "Member") </li>
                <li>@Html.ActionLink("Add Free Journey", "AddFreeJourney", "Member") </li>
                <li>@Html.ActionLink("Send Quick Email", "SendQuickEmail", "Member") </li>
                <li>@Html.ActionLink("Add Discount", "AddMemberDiscount", "Member") </li>
                <li>@Html.ActionLink("Member Statement", "MemberStatmentView", "Member") </li>
                <li>@Html.ActionLink("Add Special Preference", "AddMemberSpecialPreferencesView", "Member") </li>
                <li>@Html.ActionLink("Send Forgot Password", "CustomerForgotPasswordView", "Account") </li>
                <li>@Html.ActionLink("Block Member", "BlockMemberView", "Member") </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-taxi"></i> <span>Reservations</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink("Search by Customer Email", "SearchReservationView", "Reservation") </li>
                <li>@Html.ActionLink("Booking Status", "BookingStatusView", "Reservation") </li>
                @*<li>@Html.ActionLink("Number Of Reservation", "ReservationByAreaView", "Reservation") </li>
                <li>@Html.ActionLink("Number Of Monthly Jobs", "MonthlyBookingView", "Reservation") </li>
                <li>@Html.ActionLink("Number Of Hourly Jobs", "HourlyBookingView", "Reservation") </li>*@
            </ul>
        </li>
        <li>
            @*@Html.ActionLink("Refund", "RepaymentView", "WorldPayPayment")*@
            <a href="/WorldPayPayment/RepaymentView">
                <i class="fa fa-gg-circle"></i> <span>Refund</span>

            </a>
    </li>
        <li>
            @*@Html.ActionLink("Missed Payment", "CardPaymentView", "WorldPayPayment")*@
            <a href="/WorldPayPayment/CardPaymentView">
                <i class="fa fa-cc-visa"></i> <span>Missed Payment</span>

            </a>
        </li>
        <li>
            @*@Html.ActionLink("Missed Payment", "CardPaymentView", "WorldPayPayment")*@
            <a href="/WorldPayPayment/ManualCardPayment">
                <i class="fa fa-cc-visa"></i> <span>Manual Payment</span>

            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-exchange"></i> <span>Fixed Price </span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink("All POI Price", "PointInterestAllAddressView", "PointInterestAddress") </li>
                <li>@Html.ActionLink("Fixed Price Bulk Update", "BulkPriceUpdate", "PointInterestAddress") </li>
                <li>@Html.ActionLink("SpecialOccasion", "SpecialOccasionView", "SpecialOccasion") </li>
                <li>@Html.ActionLink("PoI Address", "PointInterestView", "PointInterestAddress") </li>
                @*<li>@Html.ActionLink("System Complaints", "SystemComplaintsView", "CustomerFeedbackList") </li>
    <li>@Html.ActionLink("Testimonials", "AddFreeJourney", "Member") </li>
    <li>@Html.ActionLink("Feedback Summery", "SendQuickEmail", "Member") </li>
    <li>@Html.ActionLink("Completed Feedbackes", "SendQuickEmail", "Member") </li>
    <li>@Html.ActionLink("Customer Contacts", "SendQuickEmail", "Member") </li>
    <li>@Html.ActionLink("Sample Response", "SendQuickEmail", "Member") </li>*@
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-bar-chart"></i> <span>Report</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" >
                
                <li>@Html.ActionLink("Reservation by Status", "MonthlyBookingView", "BookingReport") </li> 
                <li>@Html.ActionLink("Reservation by Payment Types", "MonthlyBookingPaymenttypeView", "BookingReport") </li>
                <li>@Html.ActionLink("Reservation by Plot", "MonthlyBookingPlotView", "BookingReport") </li>
                <li>@Html.ActionLink("Daily Journey by Site", "MonthlyBookingSiteView", "BookingReport")</li>
                <li>@Html.ActionLink("Creted Booking by Site", "TotalCreatedBookingBySiteView", "BookingReport")</li>
                <li><a href="/BookingReport/TotalCreatedBookingView">Total Reservations</a></li>
                
            </ul> 
        </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-comment-o"></i> <span>Feedback</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>@Html.ActionLink("Tell a Friend", "TellFriendView", "Member") </li>
            <li>@Html.ActionLink("Feedback After Journey", "FeedbackMainView", "CustomerFeedback") </li>
            <li>@Html.ActionLink("System Complaints", "SystemComplaintsView", "CustomerFeedbackList") </li>
            <li>@Html.ActionLink("Testimonials", "TestimonialView", "Member") </li>
            <li>@Html.ActionLink("Feedback Summery", "SendQuickEmail", "Member") </li>
            <li>@Html.ActionLink("Completed Feedbackes", "SendQuickEmail", "Member") </li>
            <li>@Html.ActionLink("Customer Contacts", "SendQuickEmail", "Member") </li>
            <li>@Html.ActionLink("Sample Response", "SendQuickEmail", "Member") </li>
            <li>@Html.ActionLink("Review Site Config", "ReviewSiteConfig", "CustomerFeedback") </li>
        </ul>
    </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-user-times"></i> <span>Driver</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">

                <li>@Html.ActionLink("Driver job waiting list", "DriverJobView", "DriverApplication") </li>

            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-user-times"></i> <span>Emission Zone</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">

                <li><a href="/LowEmissionZone/EmissionZoneView">Add emission zone</a></li>
                <li><a href="/LowEmissionZone/AllEmissionZoneView">Emission zone List</a></li> 
            </ul>
        </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-university"></i> <span>Admin</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>@Html.ActionLink("Approve Staff", "ApproveStaff", "Admin") </li>
            <li>@Html.ActionLink("Manage Staff", "ManageStaff", "Admin") </li>
            <li>@Html.ActionLink("Refund History", "RefundHistoryView", "Admin") </li>
            <li>@Html.ActionLink("Free Journey Config", "Index", "FeeeJourneyConfig") </li>
            <li>@Html.ActionLink("Viapoint Config", "ViapointConfigView", "Admin") </li>
            <li>@Html.ActionLink("All Bookings", "TotalBookingView", "Admin") </li>
            <li><a href="/Admin/JobHistoryView">Job History</a></li>
            <li>@Html.ActionLink("Push Notification Config", "PushNotificationConfiguration", "Admin") </li>
            <li><a href="/Admin/CustomerSaveCardView">Customer Saved Card</a></li>
            <li><a href="/Admin/BannerTxtView">Site Banner</a></li>
            <li class="treeview menu-open">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Autocab Config
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: block;">
                    <li>@Html.ActionLink("Vehicle Type Configuration", "AutoCabVehicletypeConfigView", "AutoCab") </li>

                </ul>
            </li>

            @*PRICING SETTINGS COMMENTED*@

            <li class="treeview menu-open">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Pricing
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: block;">
                    <li>@Html.ActionLink("Customer Rate", "Rate", "Pricing") </li>

                </ul>
            </li>

            @*<li>@Html.ActionLink("System Complaints", "LoyaltyMemberSearch", "Member") </li>
                <li>@Html.ActionLink("Testimonials", "AddFreeJourney", "Member") </li>
                <li>@Html.ActionLink("Feedback Summery", "SendQuickEmail", "Member") </li>
                <li>@Html.ActionLink("Completed Feedbackes", "SendQuickEmail", "Member") </li>
                <li>@Html.ActionLink("Customer Contacts", "SendQuickEmail", "Member") </li>
                <li>@Html.ActionLink("Sample Response", "SendQuickEmail", "Member") </li>*@
        </ul>
    </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-user-times"></i> <span>Corporate Account </span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Company/AddContractReferanceView">Add ContractReference</a></li>
                <li><a href="/Company/CompanyProfileView">Company List</a></li> 
                <li><a href="/Company/AddCompanyUserView">Add Users</a></li>
                <li><a href="/Company/ListCompanyUserView">Account Customer List</a></li>


            </ul>
        </li>
</ul>
</section>
<!-- /.sidebar -->
</aside>

