﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2016-2017 <a href="http://batransfer.com/">batransfer.com</a>.</strong> All rights
    reserved.
</footer>