﻿@model SwaranAdmin_New.Models.FeedbacksViewModel

<div class="col-md-12">
    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h2 class="box-title">@Html.ValueFor(x => x.BookingNumber)  @Html.ValueFor(x => x.CustomerName) ( @Html.ValueFor(x => x.PhoneNumber) )   <strong> @Html.ValueFor(x => x.Loyalty) </strong></h2>

            <div class="box-tools pull-right">
                @*<button  type="button" class="btn btn-box-tool btnRemove"><i class="fa fa-times"></i></button>*@
                @*<button type="button" onclick="myFunction(); return false;"  >X</button>*@
                <button data-feedback-id="@Html.ValueFor(x => x.FeedBackId)"  type="button" class="btn btn-box-tool btnRemove"><i class="fa fa-times"></i></button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">


<div class="box">
    <div class="box-header">
 
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding col-md-6">
        @{
            var rating = Model.ReservationRatingPercentage;
        }

        <table class="table table-striped">
            <tbody>

                <tr>
                    <td>1.</td>
                    <td style="width: 40%; text-align: left">How easy to use BA ?(Rating)</td>
                    @if (Model.ReservationRating > 3)
                {
                <td>
                    <span class="badge bg-green">@Html.ValueFor(x => x.ReservationRating)</span>

                </td>

                <td style="width: 40%">
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-success" style="width: @rating%"></div>
                    </div>
                </td>
                }
                else
                {
                <td>
                    <span class="badge bg-red">@Html.ValueFor(x => x.ReservationRating)</span>

                </td>

                <td style="width: 40%">
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-danger" style="width: @rating%"></div>
                    </div>
                </td>
                }
                </tr>
                <tr>
                    <td>2.</td>
                    <td style="width: 40%; text-align: left">Did the driver arrive on time ?</td>
                    @if (Model.C_Did_the_driver_arrive_on_time_ != null && (bool) Model.C_Did_the_driver_arrive_on_time_)
                {
                <td> <span class="badge bg-green">YES</span></td>
                }
                else
                {
                <td><span class="badge bg-red">NO</span></td>
                }


                    <td style="width: 40%"></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td style="width: 40%; text-align: left">Was the driver wearing suit ?</td>
                    @if (Model.Was_the_driver_wearing_suit_ != null && (bool) Model.Was_the_driver_wearing_suit_)
                {
                <td> <span class="badge bg-green">YES</span></td>
                }
                else
                {
                <td><span class="badge bg-red">NO</span></td>
                }


                    <td style="width: 40%"></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td style="width: 40%; text-align: left">Did the driver help you with the luggage ?</td>
                    @if (Model.Did_the_driver_help_you_with_the_luggage_ != null && (bool) Model.Did_the_driver_help_you_with_the_luggage_)
                {
                <td> <span class="badge bg-green">YES</span></td>
                }
                else
                {
                <td><span class="badge bg-red">NO</span></td>
                }


                    <td style="width: 40%"></td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td style="width: 40%; text-align: left">Was the driver polite and friendly ?</td>
                    @if (Model.Was_the_driver_polite_and_friendly_ != null && (bool) Model.Was_the_driver_polite_and_friendly_)
                {
                <td> <span class="badge bg-green">YES</span></td>
                }
                else
                {
                <td><span class="badge bg-red">NO</span></td>
                }


                    <td style="width: 40%"></td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td style="width: 40%; text-align: left">Did the driver maintaining appropriate speed ?</td>
                    @if (Model.Did_the_driver_maintain_appropriate_speed_ != null && (bool) Model.Did_the_driver_maintain_appropriate_speed_)
                {
                <td> <span class="badge bg-green">YES</span></td>
                }
                else
                {
                <td><span class="badge bg-red">NO</span></td>
                }


                    <td style="width: 40%"></td>
                </tr>

                <tr>
                    <td>7.</td>
                    <td style="width: 40%; text-align: left">Was the vehicle clean and fresh ?</td>
                    @if (Model.IsVehicleClean)
                {
                <td> <span class="badge bg-green">YES</span></td>
                }
                else
                {
                <td><span class="badge bg-red">NO</span></td>
                }


                    <td style="width: 40%"></td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td style="width: 40%; text-align: left">Did the driver offer business card ?</td>
                    @if (Model.IsDriverOfferedBusinessCard)
                {
                <td> <span class="badge bg-green">YES</span></td>
                }
                else
                {
                <td><span class="badge bg-red">NO</span></td>
                }


                    <td style="width: 40%"></td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td style="width: 40%; text-align: left">Would you recommend us ?</td>
                    @if (Model.WillYouRecommendUs)
                {
                <td> <span class="badge bg-green">YES</span></td>
                }
                else
                {
                <td><span class="badge bg-red">NO</span></td>
                }


                    <td style="width: 40%"></td>
                </tr>
               


            </tbody>
        </table>
    </div>

    <div class="box-body no-padding col-md-12">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    <h4>10.</h4>
                </td>
                <td style="width: 20%; text-align: left">
                    <h4>Any other comments ?</h4>
                </td>

                <td style="width: 100%; text-align: left">

                    <h4> @Html.ValueFor(x => x.Comments)</h4>
                </td>




            </tr>
                <tr>
                    <td>
                        <h4>11.</h4>
                    </td>
                    <td style="width: 20%; text-align: left">
                        <h4>If we could improve one thing what it would be?</h4>
                    </td>

                    <td style="width: 100%; text-align: left">

                        <h4> @Html.ValueFor(x => x.Improvements)</h4>
                    </td>




                </tr>
            </tbody>
        </table>
    </div>
<div class="col-md-12">
    <div class="btn-group">
        <div class="btn-group">
            <button type="button" class="btn  bg-navy margin dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Add To Driver Relation
            </button>
            <ul class="dropdown-menu">
                <li>
                    @if (!Model.IsAddedToDriverComplaint)
                    {
                        @Html.ActionLink("Complaint", "DriverComplaintView", "CustomerFeedback", new { feedbackid = Model.FeedBackId }, new { @class = "btn" })
                    }
                    else
                    {
                        @Html.ActionLink("View Driver Complaint", "DisplayDriverComplaintView", "CustomerFeedback", new { feedbackid = Model.FeedBackId }, new { @class = "btn bg-olive btn-flat margin" })
                    }
                  
                </li>
                <li>
                    @if (!Model.IsAddedToDriverAppreciation)
                    {
                        @Html.ActionLink("Appreciation", "DriverAppreciationView", "CustomerFeedback", new { feedbackid = Model.FeedBackId }, new { @class = "btn" })
                    }
                    else
                    {
                        @Html.ActionLink("View Driver Appreciation", "DriverComplaintView", "CustomerFeedback", null, new { @class = "btn bg-olive btn-flat margin" })
                    }
                   
                </li>
            </ul>
        </div>
        @if (!Model.IsAddedToSystemComplaint)
        {
            @Html.ActionLink("Add to System Complaint", "SystemComplaintView", "CustomerFeedback", new { feedbackid = Model.FeedBackId }, new { @class = "btn bg-navy margin" })
        }
        else
        {
            @Html.ActionLink("View System Complaint", "DisplaySystemComplaintView", "CustomerFeedback", new { feedbackid = Model.FeedBackId }, new { @class = "btn bg-olive btn-flat margin" }) 
        }
      
        @if (!Model.IsMailedToCustomer)
        {
            @Html.ActionLink("Mail to Customer", "CustomerMailView", "CustomerFeedback", new {emailEddress = Model.CustomerEmail, userName = Model.CustomerName, feedbackid = Model.FeedBackId}, new {@class = "btn bg-navy margin"})
        }
        else
        {
            @Html.ActionLink("View Customer Mail", "DisplayCustomerMailView", "CustomerFeedback", new { emailEddress = Model.CustomerEmail, userName = Model.CustomerName, feedbackid = Model.FeedBackId }, new { @class = "btn bg-olive btn-flat margin" })
        }
        @if (!Model.IsMailedToStaff)
        {
            @Html.ActionLink("Mail to Staff", "StaffMailView", "CustomerFeedback", new { feedbackid = Model.FeedBackId }, new { @class = "btn bg-navy margin" })
        }
        else
        {
            @Html.ActionLink("View Staff Mail", "DisplayStaffMailView", "CustomerFeedback", new { feedbackid = Model.FeedBackId }, new { @class = "btn bg-olive btn-flat margin" })
        }

       @if (!Model.IsAddedToSpecialPreference)
       {
        @Html.ActionLink("Add to Special Preferences", "SpecialPreferencesView", "CustomerFeedback", new {   feedbackid = Model.FeedBackId }, new { @class = "btn bg-navy margin" })
       }
       else
       {
        <button type="button" class="btn bg-navy margin disabled">Added to Special Preferences</button>

       }
       
        @Html.ActionLink("Add to Suggestions", "MemberSearch", "CustomerFeedback", null, new { @class = "btn bg-navy margin" })

        @if (!Model.IsAddedToTestimonial)
        {
            @Html.ActionLink("Add to Testimonial", "CustomerReviewView", "CustomerFeedback", new { feedbackid = Model.FeedBackId }, new { @class = "btn bg-navy margin" })
        }
        else
        {
            <button type="button" class="btn bg-navy margin disabled">Added to Special Testimonial</button>
          
        }       
        
         
    </div>
</div>
    <!-- /.box-body -->
</div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>


 


