﻿@model SwaranAdmin_New.Models.CustomerReviewViewModel

@{
    ViewBag.Title = "CustomerReviewView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default box-solid">

    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("CustomerReviewView", "CustomerFeedback", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
           
            <div class="col-md-9">

                @Html.HiddenFor(x=>x.SiteId)
                @Html.HiddenFor(x => x.FeedbackId)
                <div class="box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Send Mail to Customer</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="col-md-4">

                                <div class="form-group">
                                    @*<input class="form-control" placeholder="To:">*@
                                    @Html.TextBoxFor(model => model.Name, new {@class = "form-control", @autocomplete = "on", @placeholder = "Name:"})
                                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                </div>
                                <div class="form-group">

                                    @Html.TextBoxFor(model => model.Email, new {@class = "form-control", @autocomplete = "off", @placeholder = "Email"})
                                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                                </div>
                                <div class="form-group">

                                    @Html.TextBoxFor(model => model.Location, new {@class = "form-control", @autocomplete = "off", @placeholder = "Email"})
                                    @Html.ValidationMessageFor(model => model.Location, "", new {@class = "text-danger"})
                                </div>

                                <div class="form-group">

                                    @Html.TextBoxFor(model => model.Title, new {@class = "form-control", @autocomplete = "off", @placeholder = "Email"})
                                    @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                                </div>

                                <div class="form-group">

                                    @Html.TextBoxFor(model => model.Rating, new { @class = "form-control", @autocomplete = "off", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">

                                    @Html.TextAreaFor(model => model.Message, new { @style = "height: 250px", @class = "form-control", @id = "compose-textarea", @autocomplete = "off", @placeholder = "Message:" })
                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-right">
                            @*<button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>*@
                            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
                        </div>
                        @*<button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>*@
                        <h5 style="color: green">@TempData["message"]</h5>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /. box -->


            </div>
        }
    </div>
</div>



@section scripts
{
    <script type="text/javascript">
        $(function () {
            
            $.ajax({
                url: "/api/feedback/currentfeedback?feddbackid=" +@Html.Raw(Json.Encode(Model.FeedbackId)),
                method: "GET",
                  success: function (data) {
                      $("input[name='Name']").val(data.name);
                      $("input[name='Email']").val(data.email);
                      $("input[name='Location']").val(data.location);
                      $("textarea[name='Message']").val(data.message);
                      $("input[name='SiteId']").val(1);//val(data.SiteId);
                      $("input[name='Rating']").val(1);
                      //$("input[name='Name']").val(data.name);
                  }
            });

           
        });
    </script>
}
