﻿@model SwaranAdmin_New.Models.CustomerEmailViewModel
@{
    ViewBag.Title = "CustomerMailView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default box-solid">

    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("CustomerMailView", "CustomerFeedback", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.Feedbackid)
            <div class="col-md-9">



                <div class="box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Send Mail to Customer</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @*<input class="form-control" placeholder="To:">*@
                            @Html.TextBoxFor(model => model.ToAddress, new { @class = "form-control", @id = "fullName", @autocomplete = "on", @placeholder = "To:" })
                            @Html.ValidationMessageFor(model => model.ToAddress, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">

                            @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @id = "fullName", @autocomplete = "off", @placeholder = "Subject:" })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">

                            @*@Html.TextBoxFor(model => model.TemplateName, new {@class = "form-control", @autocomplete = "off", @placeholder = "Subject:"})*@
                            @Html.DropDownList("Template", ViewBag.emailTeplets as List<SelectListItem>, "select", new { @class = "form-control", @id = "customer-mail" })
                        </div>

                        <div class="form-group">

                            @Html.TextAreaFor(model => model.Message, new { @style = "height: 300px", @class = "form-control", @id = "compose-textarea", @autocomplete = "off", @placeholder = "Message:" })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group">
                                <div class="btn btn-default btn-file">
                                    <i class="fa fa-paperclip"></i> Attachment
                                    <input type="file" name="attachment">
                                    @if (@TempData["filesize"] != null)
                                    {
                                        <h6 style="color: red">@TempData["filesize"]</h6>
                                    }
                                </div>
                                <p class="help-block">Max. 32MB</p>
                            </div>*@
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-right">
                            @*<button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>*@
                            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
                        </div>
                        @*<button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>*@
                        <h5 style="color: green">@TempData["message"]</h5>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /. box -->


            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#compose-textarea").wysihtml5();
            debugger;

            $("#customer-mail").change(function () {
                var txt = $(this).find("option:selected").val();
                $('.wysihtml5-sandbox').contents().find('body').html("<p> Dear " +@Html.Raw(Json.Encode(Model.CustomerName)) +" </p>" + txt);


            });
        });
    </script>
}