﻿@model SwaranAdmin_New.Models.SystemComplaintViewModel

@{
    ViewBag.Title = "DisplaySystemComplaintView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display System Complaint View</h2>
<div class="box box-default box-solid">

    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
       
            <div class="col-md-9">


                
                <div class="box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add System Complaint</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(m => m.OperatorName)
                                    @Html.TextBoxFor(model => model.OperatorName, new { @class = "form-control", @autocomplete = "on"  })

                                </div>
                                <div class="form-group">
                                   @Html.LabelFor(m => m.CustomerName)
                                    @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control", @autocomplete = "on"  })
                                
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CustomerEmail)
                                    @Html.TextBoxFor(model => model.CustomerEmail, new { @class = "form-control", @autocomplete = "off" })
                                  
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CustomerPhone)
                                    @Html.TextBoxFor(model => model.CustomerPhone, new { @class = "form-control", @autocomplete = "off"})
                                   
                                </div>

                                <div class="form-group">
                                    <label class="">
                                        <div class="iradio_minimal-blue" style="position: relative;" aria-checked="false" aria-disabled="false">
                                            @*<input name="r1" class="minimal" checked="" style="position: absolute; opacity: 0;" type="radio">*@
                                            @*@Html.RadioButtonFor(x => x.Seriousness, "Mainor", new { @class = "minimal", @checked = "", @style = "position: absolute; opacity: 0;" })*@
                                            @Html.RadioButtonFor(x => x.Seriousness, "Mainor", new { @class = "minimal", @checked = "", @style = "" })
                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;">

                                            </ins>
                                            Mainor
                                        </div>

                                    </label>
                                    <label class="">
                                        <div class="iradio_minimal-blue checked" style="position: relative;" aria-checked="true" aria-disabled="false">
                                            @*<input name="r1" class="minimal" style="position: absolute; opacity: 0;" type="radio">*@
                                            @Html.RadioButtonFor(x => x.Seriousness, "Major", new { @class = "minimal", @checked = "", @style = "" })
                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                                            Major
                                        </div>

                                    </label>

                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">

                                    @Html.TextAreaFor(model => model.Complaint1, new { @style = "height: 250px", @class = "form-control", @id = "compose-textarea", @autocomplete = "off", @placeholder = "Message:" })
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                   
                    <!-- /.box-footer -->
                </div>
                <!-- /. box -->


            </div>
       
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#compose-textarea").wysihtml5();

        });
    </script>
}
