﻿@model SwaranAdmin_New.Models.StaffEmailViewModel

@{
    ViewBag.Title = "DisplaytaffMailView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display Staff Mail View</h2>

<div class="box box-default box-solid">

    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">

        <div class="col-md-6">



            <div class="box-primary">
                <div class="box-header with-border">

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.OperatorName)

                        @Html.TextBoxFor(model => model.OperatorName, new { @class = "form-control", @id = "fullName", @autocomplete = "on", @placeholder = "To:" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StaffName)

                        @Html.TextBoxFor(model => model.StaffName, new { @class = "form-control", @id = "fullName", @autocomplete = "on", @placeholder = "To:" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ToAddress)
                        @Html.TextBoxFor(model => model.ToAddress, new { @class = "form-control", @id = "fullName", @autocomplete = "on", @placeholder = "To:" })

                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(m => m.ToAddress)
                            @Html.TextBoxFor(model => model.Subject, new {@class = "form-control", @id = "fullName", @autocomplete = "off", @placeholder = "Subject:"})
                            @Html.ValidationMessageFor(model => model.Subject, "", new {@class = "text-danger"})
                        </div>*@


                    <div class="form-group">

                        @Html.TextAreaFor(model => model.Message, new { @style = "height: 300px", @class = "form-control", @id = "compose-textarea", @autocomplete = "off", @placeholder = "Message:" })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>

                </div>

                <!-- /.box-footer -->
            </div>
            <!-- /. box -->


        </div>

    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#compose-textarea").wysihtml5();

        });
    </script>
}