﻿@model SwaranAdmin_New.Models.DriverComplaintViewModel

@{
    ViewBag.Title = "DisplayDriverComplaintView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-default box-solid">

    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        @*@using (Html.BeginForm("DriverComplaintView", "CustomerFeedback", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {*@

            <div class="col-md-9">


                @Html.HiddenFor(x => x.FeedBackId)
                <div class="box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Driver Complaint </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EventTitle)
                                    <div class="form-group">
                                    
                                        @Html.TextBoxFor(model => model.EventTitle, new { @class = "form-control", @autocomplete = "on", @placeholder = "DriverEmail:" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DriverName)
                                    <div class="form-group">

                                      
                                        @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control", @autocomplete = "on", @placeholder = "DriverEmail:" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DriverEmail)
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.DriverEmail, new { @class = "form-control", @autocomplete = "on", @placeholder = "DriverEmail:" })
                                        @Html.ValidationMessageFor(model => model.DriverEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.VehicleNo)
                                    <div class="form-group">

                                        @Html.TextBoxFor(model => model.VehicleNo, new { @class = "form-control", @autocomplete = "on", @placeholder = "Vehicle No:" })
                                        @Html.ValidationMessageFor(model => model.VehicleNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CustomerName)
                                    <div class="form-group">

                                        @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control", @autocomplete = "on", @placeholder = "Name:" })
                                        @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CustomerEmail)
                                    <div class="form-group">

                                        @Html.TextBoxFor(model => model.CustomerEmail, new { @class = "form-control", @autocomplete = "off", @placeholder = "Email" })
                                        @Html.ValidationMessageFor(model => model.CustomerEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CustomerPhone)
                                    <div class="form-group">

                                        @Html.TextBoxFor(model => model.CustomerPhone, new { @class = "form-control", @autocomplete = "off", @placeholder = "Customer Phone" })
                                        @Html.ValidationMessageFor(model => model.CustomerPhone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Seriousness)
                                    <div class="form-group">
                                        <label class="">
                                            <div class="iradio_minimal-blue" style="position: relative;" aria-checked="false" aria-disabled="false">

                                                @Html.RadioButtonFor(x => x.Seriousness, "Mainor", new { @class = "minimal", @checked = "", @style = "" })
                                                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;">

                                                </ins>
                                                Mainor
                                            </div>

                                        </label>
                                        <label class="">
                                            <div class="iradio_minimal-blue checked" style="position: relative;" aria-checked="true" aria-disabled="false">

                                                @Html.RadioButtonFor(x => x.Seriousness, "Major", new { @class = "minimal", @checked = "", @style = "" })
                                                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                                                Major
                                            </div>

                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MessageContant)
                                    <div class="form-group">

                                        @Html.TextAreaFor(model => model.MessageContant, new { @style = "height: 300px", @class = "form-control", @id = "compose-textarea", @autocomplete = "off", @placeholder = "Message:" })
                                        @Html.ValidationMessageFor(model => model.MessageContant, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-right">
                       
                            @*<button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>*@
                        </div>
                        @*<button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>*@
                        <h5 style="color: green">@TempData["message"]</h5>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /. box -->


            </div>
        @*}*@
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#compose-textarea").wysihtml5();
            

         
        });
    </script>
}
