﻿@model SwaranAdmin_New.Models.OrganizationReviewSiteDetail

@{
    ViewBag.Title = "Edit Review Site";
}

<h2>Edit Review Site</h2>
<section class="content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @*<h4>CustomerRateDetailModel</h4>*@
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.OrganizationReviewSiteId, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.HiddenFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.HiddenFor(model => model.ReviewSiteId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.LabelFor(model => model.OrganizationName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.OrganizationName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OrganizationName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReviewSiteName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ReviewSiteName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReviewSiteName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsBccEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsBccEnabled)
                        @Html.ValidationMessageFor(model => model.IsBccEnabled, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BccEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BccEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BccEmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsPromotionalMessageEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsPromotionalMessageEnabled)
                        @Html.ValidationMessageFor(model => model.IsPromotionalMessageEnabled, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DefaultMessage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.TextAreaFor(model => model.DefaultMessage)
                        @Html.ValidationMessageFor(model => model.DefaultMessage, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PromotionalMessage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.TextAreaFor(model => model.PromotionalMessage)
                        @Html.ValidationMessageFor(model => model.PromotionalMessage, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ApiKey, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ApiKey)
                        @Html.ValidationMessageFor(model => model.ApiKey, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SendingOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.SendingOrder)
                        @Html.ValidationMessageFor(model => model.SendingOrder, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BeginDay, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.BeginDay)
                        @Html.ValidationMessageFor(model => model.BeginDay, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDay, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.EndDay)
                        @Html.ValidationMessageFor(model => model.EndDay, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaximumReviewCount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.MaximumReviewCount)
                        @Html.ValidationMessageFor(model => model.MaximumReviewCount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CurrentReviewCount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.CurrentReviewCount)
                        @Html.ValidationMessageFor(model => model.CurrentReviewCount, "", new { @class = "text-danger" })
                    </div>
                    <div class="button">
                        <input type="button" value="Reset" id="reset" />
                    </div>
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsEnabled)
                        @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }


    <div>
        @Html.ActionLink("Back to List", "ReviewSiteConfig")
    </div>
</section>
@section scripts
{
    <script>
        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });

        $(document).keydown(function (event) {
            if (event.keyCode == 123) { // Prevent F12
                return false;
            } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I
                return false;
            }
        });
        //$("#resetCount").click(function () {
        //    alert("HHH");
        //    $("#CurrentReviewCount").val(0);
        //        }
        //    );
        //$(document).ready(function () {
        //    $("#reset").click(function () {
        //        alert("You have clicked inside Div!");
        //    });
        //});
        //function resetCount() {
        //    document.getElementById("CurrentReviewCount").click(); // Click on the checkbox
        //}
        $('#reset').click(function () {
            $('#CurrentReviewCount').val('0');
        });

    </script>
}
