﻿
@{
    ViewBag.Title = "FeedbackMainView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <div class="col-md-12">
            <h2>Customer Feedback</h2>
            <div>

                <div class="row">
                    <div class="col-sm-8">
                        <ul id="pagination-demo" class="pagination-sm"></ul>
                    </div>
                </div>


            </div>
            <div id="feedbackDiv">

            </div>
        </div>
    </div>
</div>
@section scripts
{
     <script type="text/javascript">

                $(document).ready(function () {

                    var $pagination = $("#pagination-demo");
                    var defaultOpts = {
                        totalPages: 10,
                        hideOnlyOnePage: true,
                        initiateStartPageClick: true,
                        visiblePages: 15,
                        next: 'Next',
                        prev: 'Prev',
                        onPageClick: function (event, page) {
                            $("#overLay").show();
                            $("#overLay").addClass("overlay");
                            $("#feedbackDiv").html("");
                            $.ajax({
                             
                                type: "GET",
                                url: "/CustomerFeedback/_FeedbackView?numberOfRecord=10&currentpage=" + page,
                                success: function (data) { 
                                    $("#feedbackDiv").append(data);
                                    $('#page-content').text('Page ' + page);
                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();


                                },
                                error: function (response) {

                                    $("#LoadingImage").hide();
                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();

                                }
                            });
                        }
                    };
                    $pagination.twbsPagination(defaultOpts);
                    $.ajax({
                        type: "GET",
                        url: "/api/feedback/customerfeedbackpagecount?numberOfRecord=10&currentpage=" + 1,
                        success: function (data) {
                            debugger;
                            var totalPages = data;
                            $pagination.twbsPagination('destroy');
                            $pagination.twbsPagination($.extend({}, defaultOpts, {
                                startPage: 1,
                                totalPages: totalPages
                            }));
                        },
                        error: function (response) {


                        }
                    });
                    $("#feedbackDiv").on("click", ".btnRemove", function () {
                     //   alert(this);
                        var id = $(this).attr("data-feedback-id");
                        var button = this;
                        $.confirm({
                            title: 'Delete Feeedback !',
                            content: 'Do you surely want to delete this feeedback ?',
                            buttons: {
                                formSubmit: {
                                    text: 'Submit',
                                    btnClass: 'btn-blue',
                                    action: function () {

                                        $.ajax({
                                            type: "GET",
                                            url: "/api/feedback/disablefeedback?feedbackid=" + id,
                                            success: function (data) {
                                                if (data) {
                                                    $(button).parent('div').parent('div').parent('div').fadeOut();
                                                    $.alert('done');
                                                    return false;
                                                } else {
                                                    $.alert('Try again');
                                                    return false;
                                                }
                                            },
                                            error: function (response) {


                                            }
                                        });
                                    }
                                },
                                cancel: function () {
                                    //close
                                },
                            },
                            onContentReady: function () {
                                // bind to events
                                var jc = this;
                                this.$content.find('form').on('submit', function (e) {
                                    debugger;
                                    // if the user submits the form by pressing enter in the field.
                                    e.preventDefault();
                                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                                });
                            }
                        });
                        
                      

                    });

                });
            </script>
 }
