﻿@model SwaranAdmin_New.Models.SpecialPreferencesViewModel
<div class="col-md-12">
    <div class="box box-default box-solid">
        <div class="col-md-2" style="padding: 10px">
            @Html.ActionLink("BACK", "FeedbackMainView", "CustomerFeedback", null, new {@class = "btn btn-block btn-success"})
        </div>

        @using (Html.BeginForm("SpecialPreferencesView", "CustomerFeedback", FormMethod.Post, new {@class = "form-horizontal"}))
        {
            @Html.HiddenFor(x => x.Feedbackid)
            @Html.HiddenFor(x => x.FavouriteAddressId)
            @Html.HiddenFor(x => x.AddressId)
            <div class="box-body" style="padding: 45px">

                <div class="col-md-6" style="margin-top: 25px">

                    <div class="form-group">
                        <label>Special Preferences</label>

                        @Html.TextAreaFor(m => m.Note, new {@rows = "4", @class = "form-control", @placeholder = "Enter ..."})
                    </div>
                    <input class="btn pull-right" value="Confirm" type="submit">
                </div>

            </div>
        }
    </div>
</div>