﻿
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>

    <div class="box-body">
        <h3>CUSTOMER BOOKING  SEARCHES </h3>
        <div class="col-md-12">
            <div class="col-md-offset-3">
                <div class="form-group">
                    <label>Select Date Range:</label>

                    <div class="input-group">
                        <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                            <span>May 1, 2018 - May 7, 2018</span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-12">
            <table id="booking-search" style="color: #000000" class="table table-bordered table-striped dataTable"> 
                <thead>
                    <tr>
                        <th>From --> To Plot</th>
                        <th>Booking Count</th>
                    </tr>
                </thead>
            </table>
        </div>
        </div>
</div>
 

@section scripts
{
    <script type="text/javascript">

    $(document).ready(function() {

        $('#daterange-btn').daterangepicker(
       {
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
    function (start, end) {
        $('#daterange-btn span').html(start.format('DD-MM-YYYY') + '  --  ' + end.format('DD-MM-YYYY'))
        loadreport(start.format('DD-MM-YYYY'), end.format('DD-MM-YYYY'))
    }
  );
         
        var Table = $("#booking-search").DataTable({
            pageLength: 100,
            aaSorting: [],
            data: [],
            "scrollX": true,
            columns: [
                {
                    data: "fromPlot"
                },
                 {
                     data: "bookingCount"
                 }, 

            ],
            createdRow: function (nRow, aData, c, d) {


                
            }
        });






  function loadreport(start, end)
        {
      $("#overLay").show();
      $("#overLay").addClass("overlay");
            $.ajax({
                url: "/api/report/booking/customerbookingseach?startdate=" + start + "&enddate=" + end + "",
                method: "GET",
                success: function (data)
                {
                    $("#overLay").removeClass("overlay");
                    $("#overLay").hide();

                    Table.clear().draw();
                    Table.rows.add(data).draw();
                },
                error:function(data) {
                    $("#overLay").removeClass("overlay");
                    $("#overLay").hide();
                }
            });
        }



 });
    </script>
}





