﻿ 

<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>

    <div class="box-body">
        <h3>BOOKING PLOTS </h3>
        <div class="col-md-12">
            <div class="col-md-offset-3">
                <div class="form-group">
                    <label>Select Date Range:</label>

                    <div class="input-group">
                        <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                            <span>May 1, 2018 - May 7, 2018</span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="box-body chart-responsive">
            <div class="col-md-12">
                <h3>PICKUP POINTS</h3>
                <div class="col-md-4">
                    <h4>Booking > 50</h4>
                    <div class="chart" id="Donut-chart-m50" style="height: 300px;"> </div>
                </div>
                <div class="col-md-4">
                    <h4>Booking 50 - 20</h4>
                        <div class="chart" id="Donut-chart-l50" style="height: 300px;"> </div>
                    </div>
                <div class="col-md-4">
                    <h4>Booking < 20</h4>
                            <div class="chart" id="Donut-chart-l20" style="height: 300px;"> </div>
                        </div>
             </div>
            <div class="col-md-12">
                <h3>DROPOFF POINTS</h3>
                <div class="col-md-4">
                    <h4>Booking > 50</h4>
                    <div class="chart" id="Donut-chart-dropoff-m50" style="height: 300px;"> </div>
                </div>
                <div class="col-md-4">
                    <h4>Booking 50 - 20</h4>
                    <div class="chart" id="Donut-chart-dropoff-l50" style="height: 300px;"> </div>
                </div>
                <div class="col-md-4">
                    <h4>Booking < 20</h4>
                    <div class="chart" id="Donut-chart-dropoff-l20" style="height: 300px;"> </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

    $(document).ready(function() {

        $('#daterange-btn').daterangepicker(
       {
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
    function (start, end) {
        $('#daterange-btn span').html(start.format('DD-MM-YYYY') + ' - ' + end.format('DD-MM-YYYY'))
        loadreport(start.format('DD-MM-YYYY'), end.format('DD-MM-YYYY'))
    }
  );

        var bookingPlotPieMore50 = Morris.Donut({
            element: 'Donut-chart-m50',
            data: [{ label: "", value: 0 }], 
            formatter: function (y) {
                return y
            }
        });

        var bookingPlotPieLess50 = Morris.Donut({
            element: 'Donut-chart-l50',
            data: [{ label: "", value: 0 }],
            formatter: function (y) {
                return y
            }
        });

        var bookingPlotPieLess20 = Morris.Donut({
            element: 'Donut-chart-l20',
            data: [{ label: "", value: 0 }],
            formatter: function (y) {
                return y
            }
        });


        var bookingPlotPieMore50Dropoff = Morris.Donut({
            element: 'Donut-chart-dropoff-m50',
            data: [{ label: "", value: 0 }],
            formatter: function (y) {
                return y
            }
        });

        var bookingPlotPieLess50Dropoff = Morris.Donut({
            element: 'Donut-chart-dropoff-l50',
            data: [{ label: "", value: 0 }],
            formatter: function (y) {
                return y
            }
        });

        var bookingPlotPieLess20Dropoff = Morris.Donut({
            element: 'Donut-chart-dropoff-l20',
            data: [{ label: "", value: 0 }],
            formatter: function (y) {
                return y
            }
        });

        function loadreport(start, end)
        {
            $.ajax({
                url: "/api/report/booking/bookingsbyplot?startdate=" + start + "&enddate=" + end + "",
                method: "GET",
                success: function (data)
                {
                    debugger;
                    bookingPlotPieMore50.setData(data.plotMore50, true);
                    bookingPlotPieLess50.setData(data.plotLess50, true);
                    bookingPlotPieLess20.setData(data.plotLess20, true);

                    bookingPlotPieMore50Dropoff.setData(data.plotMore50Dropoff, true);
                    bookingPlotPieLess50Dropoff.setData(data.plotLess50Dropoff, true);
                    bookingPlotPieLess20Dropoff.setData(data.plotLess20Dropoff, true);
                }
            });
        }



 });
    </script>
}
