﻿
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>

    <div class="box-body">
        <h3>Bookings By Payment types</h3>
        <div class="col-md-12">
            <div class="col-md-offset-3">
                <div class="form-group">
                    <label>Select Date Range:</label>

                    <div class="input-group">
                        <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                            <span>May 1, 2018 - May 7, 2018</span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="box-body chart-responsive">
            <div class="chart" id="line-chart" style="height: 300px;">

            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

    $(document).ready(function() {

        $('#daterange-btn').daterangepicker(
       {
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
    function (start, end) {
        $('#daterange-btn span').html(start.format('DD-MM-YYYY') + ' - ' + end.format('DD-MM-YYYY'))
        loadreport(start.format('DD-MM-YYYY'), end.format('DD-MM-YYYY'))
    }
  );

        var bookingstatus = Morris.Line({
            element: 'line-chart',
            data: [],
            xkey: 'date',
            ykeys: ['card', 'cash', 'freeJourney', 'useCredits'],
            labels: ['Card', 'Cash', 'FreeJourney', 'UseCredits'],
            fillOpacity: 0.6,
            hideHover: 'auto',
            behaveLikeLine: true,
            resize: true,
            pointFillColors: ['#ffffff'],
            pointStrokeColors: ['black'],
            lineColors: ['#2176ff', '#009b12', '#72006e', '#7a4300'],
            xLabelFormat: function (d) {
                return d.getDate(); // + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();
            },
        });

        function loadreport(start, end)
        {
            $.ajax({
                url: "/api/report/booking/bookingsbypaymenttype?startdate=" + start + "&enddate=" + end + "",
                method: "GET",
                success: function (data)
                {
                    debugger;
                    bookingstatus.setData(data, true);
                }
            });
        }



 });
    </script>
}
