﻿@model SwaranAdmin_New.Models.Member.BanarTextViewModel 
@{
    ViewBag.Title = "BannerTxtView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .colorpicker-2x .colorpicker-saturation {
        width: 300px;
        height: 300px;
    }

    .colorpicker-2x .colorpicker-hue, .colorpicker-2x .colorpicker-alpha {
        width: 30px;
        height: 300px;
    }

    .colorpicker-2x .colorpicker-color, .colorpicker-2x .colorpicker-color div {
        height: 30px;
    }
</style>
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">

        <h4>Home Page Banner Text</h4>
        <hr />
 

        <div class="col-md-12">
            <div class="col-md-8">

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.SiteId, htmlAttributes: new { @class = "control-label col-md-2" })
                            @*<div class="col-md-6">
                                    @Html.TextBoxFor(model => model.SiteId, new { @class = "form-control",  @autocomplete = "off", @placeholder = "" })
                                    @Html.ValidationMessageFor(model => model.SiteId, "", new { @class = "text-danger" })
                                </div>*@
                            <div class="col-md-6">
                                <select class="form-control" name="SiteId" id="SiteId">
                                    <option selected="selected">Select</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.SiteId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ForColor, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.ForColor, new { @class = "form-control my-colorpicker1 colorpicker-element", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.ForColor, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BackColor, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.BackColor, new { @class = "form-control my-colorpicker2 colorpicker-element", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.BackColor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.IsEnabeld)
                                        IsEnabled
                                    </label>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-2">
                                <input type="submit" name="submit" value="Update" class="btn btn-block btn-success btn-flat margin" />
                            </div>

                        </div>
                    </div>

                    if (@ViewBag.isSavedMesage)
                    {
                        if (@ViewBag.IsSaved)
                        {
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                @ViewBag.Message
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                @ViewBag.Message
                            </div>
                        }
                    }
                }
            </div>
        </div>



    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {


            $.ajax({
                url: "/api/admin/organizations",
                method: "GET",
                success: function(data) {
                    for (var i = 0; i < data.length; i++) {

                        $("#SiteId").append(
                            $('<option/>', {
                                value: data[i].siteId,
                                text: data[i].siteName
                            }));
                    }
                }
            });

            $("#SiteId").on('change', function() {
                var that = this;
                var siteId = $(that).find("option:selected").val();
                $.ajax({
                    url: "/api/admin/bannermassages?siteId=" + siteId,
                    method: "GET",
                    success: function(data) {
                        $("#Message").val(data.message);
                        $("#ForColor").val(data.forColor);
                        $("#BackColor").val(data.backColor);
                        $("#Message").val(data.message);
                        if (data.isEnabeld) {
                            $("#IsEnabeld").prop("checked", true);
                        } else {
                            $("#IsEnabeld").prop("checked", false);
                        }
                    }
                });

            });

            $('.my-colorpicker1').colorpicker({
                customClass: 'colorpicker-2x',
                sliders: {
                    saturation: { maxLeft: 300, maxTop: 300 },
                    hue: { maxTop: 300 },
                    alpha: { maxTop: 300 }
                }
            });
            //color picker with addon
            $('.my-colorpicker2').colorpicker({
                customClass: 'colorpicker-2x',
                sliders: {
                    saturation: { maxLeft: 300, maxTop: 300 },
                    hue: { maxTop: 300 },
                    alpha: { maxTop: 300 }
                }
            });

        });
    </script>
}





