﻿
@{
    ViewBag.Title = "CustomerSaveCardView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @model SwaranAdmin_New.Models.WorldpayViewModel
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Customer Saved Card </h4>
        <hr />

      
            <div class="box col-md-12">

                <table id="customer-card-grid" style="color: #000000" class="table table-bordered table-striped dataTable">
                    @*class="table table-bordered table-striped dataTable">*@
                    <thead>
                    <tr>
                        <th>MemberId</th>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>Card Name</th>
                        <th>CardSchemeName</th> 
                        <th>Expiry</th>
                        <th>Masked Card Number</th>
                         
                        <th> </th>
                    </tr>
                    </thead>
                </table>

            </div>
        
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">

                $(document).ready(function () {

                    $("#refound-All").hide();
                    $("#amt").text("0");
                    var Table = $("#customer-card-grid").DataTable({
                        aaSorting: [],
                        pageLength: 100,
                        data: [],
                        columns: [
                             {
                                 data: "memberId",
                                 "width": "5%"
                             },
                            {
                                data: "fullName" 
                            },
                            {
                                data: "email"
                            },
                            {
                                data: "name",
                                "width": "15%"
                            },
                            {
                                data: "cardSchemeName",
                                "width": "15%"
                            },
                            {
                                data: "expiry",
                                "width": "7%"
                            },
                            {
                                data: "maskedCardNumber"
                                
                            },
                            {
                                data: "customerCardId",
                                render: function (data, type, row) { 
                                    return "<a  class='btn btn-block btn-danger customer-cardid'  data-customer-card=" + data + " >Delete</a>";
                                }

                            }
                        ]

                    });

                    $("#overLay").show();
                    $("#overLay").addClass("overlay");
                    $.ajax({
                        url: "/api/admin/savecards",
                        method: "GET",
                        success: function (data) {
                            debugger;
                            if (data != null) {
                                Table.clear().draw();
                                Table.rows.add(data).draw();
                            } else {
                                Table.clear().draw();
                            }
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });




                    $("#customer-card-grid").on("click", ".customer-cardid", function () {

                        var button = $(this);
                        var  customercard = button.attr("data-customer-card");  



                        $.confirm({
                            title: 'Customer Saved Card !',
                            content: 'Do you surely want to delete this customer saved card?' 
                                +'<form action="" class="formName">' +
                                '<div class="form-group">' + 
                                '<label>Enter valid reson</label>' +
                                ' <textarea class="reson form-control valid" cols="20"   name="Reson"   rows="3"/>' +
                                '</div>' +
                                '</form>',
                            buttons: {
                                formSubmit: {
                                    text: 'Submit',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        var reson = this.$content.find('.reson').val(); 

                                        if (!reson) {
                                            $.alert('Provide a valid reson');
                                            return false; 
                                        }
                                         
                                        $("#overLay").show();
                                        $("#overLay").addClass("overlay");

                                        var obj1 = {
                                            //"bookingNumber": bookingNumber,
                                            //"amount": amount,
                                            "customercard": customercard,
                                            "savecardRemarks": reson

                                        }
                                        //  $.alert(JSON.stringify(obj1));http:
                                        $.ajax({
                                            url: "/api/admin/deletesavecards",
                                            method: "POST",
                                            dataType: 'JSON',
                                            contentType: "application/json; charset = utf-8",
                                            data: JSON.stringify(obj1), //'token=' + button.attr("data-cancelbooking-id"),
                                            success: function (data) {

                                                if (data == null) {
                                                    $.alert('Error');
                                                    $("#overLay").removeClass("overlay");
                                                    $("#overLay").hide();
                                                    return false;
                                                }
                                                    if(data) {
                                                    $.alert("Succesfully Removed" );
                                                        debugger;
                                                        var row = Table.rows(function(idx, data, row) {
                                                            return row["customerCardId"] === customercard;
                                                        });
                                                       Table.rows(row).remove().draw();
                                                        

                                                } 
                                                    $("#overLay").removeClass("overlay");
                                                    $("#overLay").hide();
                                            },
                                            error: function (error) {
                                                $("#overLay").removeClass("overlay");
                                                $("#overLay").hide();

                                            }
                                        });



                                    }
                                },
                                cancel: function () {
                                    //close
                                },
                            },
                            onContentReady: function () {
                                // bind to events
                                var jc = this;
                                this.$content.find('form').on('submit', function (e) {
                                    debugger;
                                    // if the user submits the form by pressing enter in the field.
                                    e.preventDefault();
                                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                                });
                            }
                        });
                    });

                    $("#fully-refund").click(function () {

                        var orderCode = $("Input[name='Ordercode']").val();

                        var bookingNumber = $("input[name='BookingNumber']").val();
                        $.confirm({
                            title: 'Fully Refund !',
                            content: 'Do you surely want to refund this journey ?' +
                                '<form action="" class="formName">' +
                                '<div class="form-group">' +
                                 '<label>Include Booking Fee </label>' +
                                ' <input type="checkbox" class="additional" id="Additional"  value="AdditionalCharge" >' +
                                //' <checkbox></checkbox>' +
                                '<br>' +
                                '<label>Enter valid reson</label>' +
                                ' <textarea class="reson form-control valid" cols="20"   name="Reson"   rows="3"/>' +
                                '</div>' +
                                '</form>',
                            buttons: {
                                formSubmit: {
                                    text: 'Submit',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        var reson = this.$content.find('.reson').val();

                                        var isIncludeAdditionalCharge = this.$content.find('.additional').is(':checked');

                                        if (!reson) {
                                            $.alert('provide a valid reson');
                                            return false;

                                        } else {
                                            var reason = $("textarea[name='Reson']").val();
                                            var obj1 = {
                                                "bookingNumber": bookingNumber,
                                                "orderCode": orderCode,
                                                "bookingRefundType": 1,
                                                "userId": "",
                                                "refundRemarks": reason,
                                                "isCreditRefund": false,
                                                "creditsToRefund": 0,
                                                "isRefundByAdmin": true,
                                                "isIncludeAdditionalCharge":isIncludeAdditionalCharge
                                            }

                                            $("#overLay").show();
                                            $("#overLay").addClass("overlay");

                                            $.ajax({
                                                url: "/api/member/paymentfullyrefund",
                                                method: "POST",
                                                dataType: 'JSON',
                                                contentType: "application/json; charset = utf-8",
                                                data: JSON.stringify(obj1),
                                                success: function (data) {
                                                    debugger;
                                                    if (data != null && data.status) {
                                                        $.alert('successfully refunded');
                                                        var bookingnumber = $("input[name='BookingNumber']").val();
                                                        $.ajax({
                                                            url: "/api/member/getrefoundgrid?bookingnumber=" + bookingnumber,
                                                            method: "GET",
                                                            success: function (data) {
                                                                Table.clear().draw();
                                                                Table.rows.add(data).draw();
                                                                $("#refound-All").hide();
                                                            }
                                                        });

                                                        $("#overLay").removeClass("overlay");
                                                        $("#overLay").hide();
                                                    } else {
                                                        $("#overLay").removeClass("overlay");
                                                        $("#overLay").hide();
                                                    }
                                                },
                                                error: function (data) {
                                                    $("#overLay").removeClass("overlay");
                                                    $("#overLay").hide();
                                                }
                                            });



                                        }
                                    }
                                },
                                cancel: function () {
                                    //close
                                },
                            },
                            onContentReady: function () {
                                // bind to events
                                var jc = this;
                                this.$content.find('form').on('submit', function (e) {
                                    debugger;
                                    // if the user submits the form by pressing enter in the field.
                                    e.preventDefault();
                                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                                });
                            }
                        });
                    });

 

                });
    </script>
}








