﻿@model SwaranAdmin_New.Models.PushNotificationConfigModel

@{
    ViewBag.Title = "Edit Push Notification Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditPushNotificationConfiguration</title>
</head>
<body>

    <div class="box box-default box-solid">

        <div class="box-body">
            <h2>Edit Push Notification Config</h2>
            <hr />
            @ViewBag.Message
            <div class="col-md-12">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.PushNotificationTypeEnumId)

                    <div class="form-horizontal">
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsAppendBookingNumberForTitle, "Append Booking Number To Title", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsAppendBookingNumberForTitle)
                                    @Html.ValidationMessageFor(model => model.IsAppendBookingNumberForTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsAppendBookingNumberForMessage, "Append Booking Number To Message", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsAppendBookingNumberForMessage)
                                    @Html.ValidationMessageFor(model => model.IsAppendBookingNumberForMessage, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>                        

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "PushNotificationConfiguration")
                </div>
            </div>
            </div>
        </div>
</body>
</html>
