﻿
@{
    ViewBag.Title = "JobHistoryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-default box-solid">
    <div class="box-body">
        <div class="col-md-12">
            <div class="col-md-2 no-print">
                <a id="print-current" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>

            </div>
            <div class="col-md-offset-4 col-md-2">
                <div class="form-group">
                    <label>CHANGE STATUS</label>
                    <select id="change-status" class="form-control">
                        <option value="1">Waiting for action</option>
                        <option value="2">Waiting for interview</option>
                        <option value="3">Approved</option>
                        <option value="4">Waiting for reply</option>
                        <option value="5">Could not contact</option>
                        <option value="6">Cancelled</option>
                    </select>
                </div>
            </div>
        </div>



        <div class="col-md-12">
            <div class="box box-success box-solid">


                <div id="overLay" style="display: none">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>





                <div class="box-header with-border">
                    <h2 class="box-title"> @Html.ValueFor(x => x.FullName) </h2>

                    <div class="box-tools pull-right">
                        @*<button  type="button" class="btn btn-box-tool btnRemove"><i class="fa fa-times"></i></button>*@
                        @*<button type="button" onclick="myFunction(); return false;"  >X</button>*@
                        <button data-feedback-id="@Html.ValueFor(x => x.DriverApplicationId)" type="button" class="btn btn-box-tool btnRemove"><i class="fa fa-times"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">


                    <div class="box">
                        <div class="box-header">

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding col-md-6" style="font-size:15px">
                            <table class="table table-striped">
                                <tbody>

                                    <tr>
                                        <td>1.</td>
                                        <td style="width: 40%; text-align: left">Applicant Full Name</td>
                                        <td>
                                            <span>@Html.ValueFor(x => x.FirstName) @Html.ValueFor(x => x.LastName)</span>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td style="width: 40%; text-align: left">Status</td>
                                        <td> <span> @Html.ValueFor(x => x.Status) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td style="width: 40%; text-align: left">Application No</td>
                                        <td> <span> @Html.ValueFor(x => x.DriverApplicationId) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td style="width: 40%; text-align: left">Full Address</td>
                                        <td style="width: 60%"> <span> @Html.ValueFor(x => x.FullAddress) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>5.</td>
                                        <td style="width: 40%; text-align: left">City</td>
                                        <td> <span> @Html.ValueFor(x => x.PostTown) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>6.</td>
                                        <td style="width: 40%; text-align: left">Postcode</td>
                                        <td> <span> @Html.ValueFor(x => x.Postcode) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>

                                    <tr>
                                        <td>7.</td>
                                        <td style="width: 40%; text-align: left">Method of Contact</td>
                                        <td> <span> @Html.ValueFor(x => x.PreferredMethodofContact) </span></td>


                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>8.</td>
                                        <td style="width: 40%; text-align: left">Home Phone</td>
                                        <td> <span> @Html.ValueFor(x => x.HomePhone) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>9.</td>
                                        <td style="width: 40%; text-align: left">Mobile Phone </td>
                                        <td> <span> @Html.ValueFor(x => x.MobilePhone) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>


                                    <tr>
                                        <td>10.</td>
                                        <td style="width: 40%; text-align: left">E-mail</td>
                                        <td> <span> @Html.ValueFor(x => x.Email) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>11.</td>
                                        <td style="width: 40%; text-align: left">Hold a Private Hire Licence</td>
                                        <td> <span> Yes </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>

                                    <tr>
                                        <td>12.</td>
                                        <td style="width: 40%; text-align: left">Private Hire Licence Type</td>
                                        <td> <span> @Html.ValueFor(x => x.PrivateHireLicenceType) </span></td>


                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>13.</td>
                                        <td style="width: 40%; text-align: left">Driving Licence Type</td>
                                        <td> <span> @Html.ValueFor(x => x.DrivingLicenseType) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>14.</td>
                                        <td style="width: 40%; text-align: left">Years of Driving License Held </td>
                                        <td> <span> @Html.ValueFor(x => x.YearsDriversLicenceHeld) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>15.</td>
                                        <td style="width: 40%; text-align: left">Points of License </td>
                                        <td> <span> @Html.ValueFor(x => x.PointsOnLicense) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>16.</td>
                                        <td style="width: 40%; text-align: left">Date of Birth </td>
                                        <td> <span> @Html.ValueFor(x => x.DateOfBirth) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>
                                    @*<tr>
                                            <td>17.</td>
                                            <td style="width: 40%; text-align: left">Genter</td>
                                            <td> <span> @Html.ValueFor(x => x.Gender) </span></td>
                                            <td style="width: 40%"></td>
                                        </tr>*@
                                    <tr>
                                        <td>18.</td>
                                        <td style="width: 40%; text-align: left">Seeking Employment for</td>
                                        <td> <span> @Html.ValueFor(x => x.PreferToWork) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>19.</td>
                                        <td style="width: 40%; text-align: left">Willing to Start work from</td>
                                        <td> <span> @Html.ValueFor(x => x.WillingToStart) </span></td>
                                        <td style="width: 40%"></td>
                                    </tr>
                                    <tr>
                                        <td>20.</td>
                                        <td style="width: 40%; text-align: left">Booked from webcsite of
                                        <td> <span> @Html.ValueFor(x => x.RegisteredOrganization)</span></td>
                                        <td style="width: 40%"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="box-body no-padding col-md-12">
                            <table class="table table-striped" style="font-size:15px">
                                <tbody>
                                    <tr>
                                        <td>
                                            21.
                                        </td>
                                        <td style="width:20%; text-align: left">
                                            Relevat Experience
                                        </td>

                                        <td style="width: 100%; text-align: left">
                                            <span>
                                                @Html.ValueFor(x => x.ExperienceDetail)
                                            </span>
                                        </td>




                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <!-- /.box-body -->
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            $("#print-current").attr("href", "/DriverApplication/CurrentDriverJobPrintView?driverappid="+@Model.DriverApplicationId);

            $("#change-status").change(function () {
                var status = $("#change-status option:selected").val();

                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: "/api/driverapplications/changedriverjobstatus?appid=" + @Model.DriverApplicationId + "&statusid=" + status,
                    method: "GET",
                    success: function (data) {

                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                        $("#print-current").attr("href", "/DriverApplication/CurrentDriverJobPrintView?driverappid="+@Model.DriverApplicationId+"");

                        //if (data)
                        //{
                        //    location.reload();
                        //}
                    }
                });

            });




         });
    </script>
}

