﻿
@{
    ViewBag.Title = "Manage Staff";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-danger box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <div class="col-md-12" style="margin-top: 25px">
            @*<div class="col-md-8 box">*@
            <table id="manage-all-staff" style="color: #000000" class="table table-bordered table-striped dataTable">
                @*class="table table-striped table-bordered">*@
                <thead>
                    <tr>
                        <th>MEMBER ID</th>
                        <th>STAFF ID</th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>CONTACT NUMBER</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            @*</div>*@
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            var Table = $("#manage-all-staff").DataTable({
                pageLength: 100,
                aaSorting: [],
                data: [],
                "scrollX": true,
                columns: [
                    {
                        data: "memberId",
                        "width": "10%"
                    },
                    {
                        data: "staffProfileId",
                        "width": "10%"
                    },
                     {
                         data: "staffName",
                         "width": "15%"
                     },
                    {
                        data: "email",
                        "width": "15%"
                    },

                    {
                        data: "contactNumber",
                        "width": "15%"
                    },
                    {

                        data: "isEnabled",
                        render: function (data, type, row) {
                            if (!row["isEnabled"])
                                //return "<a class='send btn bg-navy' data-isReturnBooking='" + row["isReturnBooking"] + "' data-bookingtoken='" + row["bookingToken"] + "' >Send To Ghost</a>";
                                return "<a class='enable-staff btn btn-block btn-success' data-isEnabled='" + row["isEnabled"] + "' data-staffProfileId='" + row["staffProfileId"] + "' >Enable Staff</a>";
                            else
                                return "<a class='disable-staff btn btn-block btn-danger' data-isEnabled='" + row["isEnabled"] + "' data-staffProfileId='" + row["staffProfileId"] + "' >Disable Staff</a>";
                        }

                        //data: "isEnabled",
                        //render: function (data, type, row) {
                        //    //return "<a href='/Reservation/EditBooking?bookingToken=" + data + "&isReturnBooking=" + row["isReturnBooking"] + "' class='btn btn-block btn-success' >Approve Staff</a>";
                        //    return "<a class='approve btn btn-block btn-success' data-staffProfileId='" + row["staffProfileId"] + "' >Approve Staff</a>";
                        //}

                    }

                ],
                createdRow: function (nRow, aData, c, d) {

                }
            });

            function loadTable() {
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: "/api/admin/loadAllStaff",
                    method: "GET",
                    success: function (data) {
                        if (data != null) {
                            Table.clear().draw();
                            Table.rows.add(data).draw();
                        } else {
                            Table.clear().draw();
                        }
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    }
                });
            }

            loadTable();

            $("#manage-all-staff").on("click", ".enable-staff", function () {

                var button = $(this);
                var staffProfileId = button.attr("data-staffProfileId");
                $.confirm({
                    title: 'Enable User !',
                    content: 'Do you surely want to enable this staff ?',
                    buttons: {
                        confirm: function () {
                            $("#overLay").show();
                            $("#overLay").addClass("overlay");
                            $.ajax({
                                url: "/api/admin/modifyStaff?staffId=" + staffProfileId + "&isEnabled=true",
                                method: "GET",
                                success: function (data) {

                                    debugger;
                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();
                                    if (Boolean(data)) {
                                        loadTable();
                                    } else {
                                        alert("Try again");
                                    }
                                },
                                error: function (error) {
                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();

                                }
                            });

                        },
                        cancel: function () {

                        }
                    }
                });

            });

            $("#manage-all-staff").on("click", ".disable-staff", function () {

                var button = $(this);
                var staffProfileId = button.attr("data-staffProfileId");
                $.confirm({
                    title: 'Approve User !',
                    content: 'Do you surely want to disable this staff ?',
                    buttons: {
                        confirm: function () {
                            $("#overLay").show();
                            $("#overLay").addClass("overlay");
                            $.ajax({
                                url: "/api/admin/modifyStaff?staffId=" + staffProfileId + "&isEnabled=false",
                                method: "GET",
                                success: function (data) {

                                    debugger;
                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();
                                    if (Boolean(data)) {
                                        loadTable();
                                    } else {
                                        alert("Try again");
                                    }
                                },
                                error: function (error) {
                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();

                                }
                            });

                        },
                        cancel: function () {

                        }
                    }
                });

            });

        });
    </script>
}


