﻿<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Special Occasion Rate Setup </h4>
        <hr />
        @ViewBag.Message
        <input type="hidden" name="Ordercode" value="Norway">
        
        <div class="col-md-12">
            <div class="box col-md-12">

                <table id="pushconfig-grid" style="color: #000000" class="table table-bordered table-striped dataTable">
                    @*class="table table-bordered table-striped dataTable">*@
                    <thead>
                        <tr>
                            <th>Push Notification Name</th>
                            <th>Title</th>
                            <th>Message</th>                            
                            <th>Append Title Booking Number</th>
                            <th>Append Message Booking Number</th>                            
                            <th></th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>


    </div>
</div>
@section scripts
{
    <script type="text/javascript">

                $(document).ready(function () {


                    var Table = $("#pushconfig-grid").DataTable({
                        "oSearch": { "bSmart": false },
                        pageLength: 10,
                        "paging": true,
                        "ordering": true,
                        "info": true,
                        "filter": true,
                        aaSorting: [],
                        data: [],
                        columns: [
                            {
                                data: "pushNotificationTypeEnumName",
                                "width": "15%"
                            },

                            {
                                data: "title",
                                "width": "30%"
                            },
                            {
                                data: "message",
                                "width": "30%"
                            }, {
                                data: "isAppendBookingNumberForTitle",
                                "width": "10%"
                            },
                             {
                                 data: "isAppendBookingNumberForMessage",
                                 "width": "10%"
                             },
                            {
                                data: "pushNotificationTypeEnumId",
                                "width": "5%",
                                render: function (data, type, row) {

                                    return "<a href='/Admin/EditPushNotificationConfiguration?pushNotificationTypeId=" + data + "' class='btn btn-block btn-danger' > Edit </a>";
                                }
                            }


                        ]

                    });
                    
                    $("#overLay").show();
                    $("#overLay").addClass("overlay");
                    $.ajax({
                        url: "/api/admin/pushNotificationConfiguration",
                        method: "GET",
                        success: function (data) {
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();

                            Table.clear().draw();
                            Table.rows.add(data).draw();


                        },
                        error: function (data) {
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });

                });
    </script>
}