﻿
@{
    ViewBag.Title = "RefundHistoryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 

    <h2>Refund History</h2>

    <div class="box box-default box-solid">

        <div id="overLay" style="display: none">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="box-body">
            <div class="col-md-12" style="margin-top: 25px">
               
                <table id="refund-history" style="color: #000000" class="table table-bordered table-striped dataTable">
                    
                    <thead>
                        <tr>
                            <th>BookingId</th>
                            <th>Booking Number</th>
                            <th>Booked Person</th>
                            <th>Booking From</th>
                            <th>BookingTo</th>
                            <th>Status</th>
                            <th>RefundBy</th>
                            <th>Reason</th>
                            <th>RefundDate</th>
                        </tr>
                    </thead>
                </table>
               
            </div>
        </div>
    </div>
 
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            debugger;
            var Table = $("#refund-history").DataTable({ 
           
                aaSorting: [],
                data: [],
                columns: [
                    {
                        data: "bookingId",
                        "visible": false,
                        "searchable": false
                    },
                    {
                        data: "bookingNumber",
                        "width": "8%"
                    },
                    { data: "bookedPersonName" },
                    { data: "bookingFrom" },
                    { data: "bookingTo" },
                    {
                        data: "bookingStatus",
                        "width": "5%"
                    },
                     
                    {
                        data: "refundBy"
                      
                    },
                    {
                        data: "reason"

                    },
                    {
                        data: "refundDate"

                    }
                ],
                createdRow: function(nRow, aData, c, d) {


                    //if (aData["isEnabled"]) {
                    //    $('td', nRow).css('background-color', '#034f04');
                    //    $('td', nRow).css('color', '#fff');
                    //}
                    //if (aData["isUsed"]) {
                    //    $('td', nRow).css('background-color', '#b25600');
                    //    $('td', nRow).css('color', '#fff');
                    //}
                    //if (aData["isDeleted"]) {
                    //    $('td', nRow).css('background-color', '#b70900');
                    //    $('td', nRow).css('color', '#fff');
                    //}

                    //$(nRow).children(":nth-child(9)").css("background-color", '#d2d6de');
                }
            });
             
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: "/api/admin/refundhistory",
                    method: "GET",
                    success: function (data) {
                        debugger;
                        if (data != null ) {
                            Table.clear().draw();
                            Table.rows.add(data).draw();
                        } else {
                             Table.clear().draw();
                        }
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    }
                });
           
           


            


        });
    </script>
}