﻿
@{
    ViewBag.Title = "TotalBookingView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body"> 
        <div class="col-md-12"> 
            <div class="col-md-8">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 id="loyalty-member" class="box-title">Duplicate Bookings</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12" style="margin-top: 25px"> 
                            <table id="all-booking" style="color: #000000" class="table table-bordered table-striped dataTable">
                               
                                <thead>
                                    <tr>
                                        <th>NAME </th>
                                        <th>EMAIL</th>
                                        <th>Tel</th>
                                        <th>BOOKING COUNT</th> 
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table> 
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <div>
                    <div id="page-content" class="page-content">Page </div>

                </div>
                <div>

                    <div class="row">
                        <div class="col-sm-8">
                            <ul id="pagination-demo" class="pagination-sm"></ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {


            var Table = $("#all-booking").DataTable({
                pageLength: 100,
                "paging":   false,
                "ordering": false,
                "info":     false,
                aaSorting: [],
                data: [],
                "scrollX": true,
                "bPaginate": false,
                columns: [
                    {
                        data: "bookedPersonName" 
                    },
                    {
                        data: "bookedPersonEmail" 
                    },
                     {
                         data: "bookedPersonTel",
                         "width": "15%"
                     },
                    {
                        data: "bookingCount",
                        "width": "15%"
                    },
 
                    {
                        data: "numberOfPages",
                        "width": "20%",
                        "visible": false
                    },
                    {
                        data: "userId",
                        "width": "20%",
                        "visible": false
                    }
                ]
                
            });



            function pagination(totalPages) {

                $('#pagination-demo').twbsPagination({
                    totalPages: totalPages,
                    visiblePages: 20,
                    next: 'Next',
                    prev: 'Prev',
                    onPageClick: function(event, page) {

                        $("#customerMedel tbody").html("");
                        $("#overLay").show();
                        $("#overLay").addClass("overlay");
                        $.ajax({
                            type: "GET",
                            url: "/api/admin/allbookings?minimumCount=5&numberOfRecord=25&currentpage=" + page,
                            success: function(data) {

                                Table.clear().draw();
                                Table.rows.add(data).draw();

                                $('#page-content').text('Page ' + page);

                                $("#overLay").removeClass("overlay");
                                $("#overLay").hide();

                            },
                            error: function(response) {

                                $("#LoadingImage").hide();
                                $("#overLay").removeClass("overlay");
                                $("#overLay").hide();

                            }
                        });
                    }
                });
            }

           

            $.ajax({
                type: "GET",
                url: "/api/admin/allbookings?minimumCount=5&numberOfRecord=25&currentpage=1",
                success: function (data) {
                    debugger;
                    pagination(7);

                },
                error: function (response) {

                    

                }
            });
        });
    </script>
}