﻿@model SwaranAdmin_New.Models.ViapintConfigViewModel

@{
    ViewBag.Title = "ViapointConfigView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 


<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Viapoint Configuration </h4>
        <hr />
        <div class="col-md-12">
            <div class="col-md-8">

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
 
 

                        <div class="form-group">
                            @Html.LabelFor(model => model.MinimumRate, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.MinimumRate, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MinimumRate, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.LabelFor(model => model.MileRate, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.MileRate, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.MileRate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TimeRate, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.TimeRate, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.TimeRate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsFastViaRoute, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="checkbox"  >
                                <label>
                                    @Html.CheckBoxFor(model => model.IsFastViaRoute)
                                </label>
                           </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-4">
                                <input type="submit" value="Update" class="btn btn-default" />
                            </div>
                        </div>
                    </div>

                    if (!string.IsNullOrEmpty(@ViewBag.Message))
                    {
                        <h4 style="color:green"> @ViewBag.Message</h4>
                    }
                }
            </div>
        </div>
    </div>
</div>