﻿@model SwaranAdmin_New.Models.BookingMo.TelBookingViewModel

@{
    ViewBag.Title = "TelBookingView";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/App/tel-booking.css" rel="stylesheet" />

        <div class="col-md-12 col-sm-12 col-xs-12  rightbar padding-top20">

        <form action="" id="BookingForm">

       
            @*@Html.HiddenFor(m => m.IsNonElasticFromAdd)
            @Html.HiddenFor(m => m.IsNonElasticToAdd)
            @Html.HiddenFor(m => m.ClientDatetTime)*@
            @Html.HiddenFor(m => m.UserId)

            @Html.HiddenFor(m => m.PickupNote)
         @Html.HiddenFor(m => m.FromAddressId) 
            @Html.HiddenFor(m => m.BookingFrom)
          @Html.HiddenFor(m => m.BookingTo)
            @Html.HiddenFor(m => m.FromAriapointTypeId)
            @Html.HiddenFor(m => m.FromFixedPriceAriaPointId)
            @Html.HiddenFor(m => m.FromOrganisationName)
            @Html.HiddenFor(m => m.FromDepartmentName)
            @Html.HiddenFor(m => m.FromBuildingName)
            @Html.HiddenFor(m => m.FromSubBuildingName)
            @Html.HiddenFor(m => m.FromBuildingNumber)
            @Html.HiddenFor(m => m.FromStreet)
            @Html.HiddenFor(m => m.FromPostTown)
            @Html.HiddenFor(m => m.FromAirportCode)
            @Html.HiddenFor(m => m.FromLat)
            @Html.HiddenFor(m => m.FromLong)
            @Html.HiddenFor(m => m.FromPostCode)
           
          @Html.HiddenFor(m => m.ToAddressId)
            @Html.HiddenFor(m => m.ToAriapointTypeId)
            @Html.HiddenFor(m => m.ToFixedPriceAriaPointId)
            @Html.HiddenFor(m => m.ToOrganisationName)
            @Html.HiddenFor(m => m.ToDepartmentName)
            @Html.HiddenFor(m => m.ToBuildingName)
            @Html.HiddenFor(m => m.ToSubBuildingName)
            @Html.HiddenFor(m => m.ToBuildingNumber)
            @Html.HiddenFor(m => m.ToStreet)
            @Html.HiddenFor(m => m.ToPostTown)
          @Html.HiddenFor(m => m.ToAirportCode)
            @Html.HiddenFor(m => m.ToLat)
            @Html.HiddenFor(m => m.ToLong)
            @Html.HiddenFor(m => m.ToPostCode)
            @Html.HiddenFor(m => m.FromFavouriteAddressId)
            @Html.HiddenFor(m => m.ToFavouriteAddressId)
           @*@Html.HiddenFor(m => m.AddressSearchId)*@
            <div class="form-area">

                <div class="row">
                    <div class="col-md-7">

                        <div class="input-group">
                            <div class="col-md-2">
                                <label class="control-label " for="tele">Member </label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBox("Customersearch", "1030675", new {@class = "form-control customersearch", @id = "fullName", @autocomplete = "off", @placeholder = ""})
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-flat">SEARCH!</button>
                                </span>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="note">First Name</label>
                            <div class="col-md-8">
                                <input class="form-control" name="FirstName" placeholder="First Name" type="text">
                            </div>
                        </div>

                        @*<div class="form-group">
                        <label class="control-label col-md-2" for="note">Name</label>
                        <div class="col-md-8">
                            <input class="form-control"   name="LastName" placeholder="Last Name" type="text">
                        </div>
                    </div>*@

                        <div class="input-group">
                            <div class="col-md-2">
                                <label class="control-label " for="tele">Telephone</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input class="form-control" id="BookedPersonMobileNo" name="BookedPersonMobileNo" placeholder="(as directed)" type="text">
                                    <span class="input-group-addon">IVR</span>
                                    <span class="input-group-addon">R/B</span>
                                    <span class="input-group-addon bluebtn"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                </div>
                            </div>

                        </div>


                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label" for="date">Date</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.BookingDate, "{0:dd/MM/yyyy}", new { @style = "background:white", @readonly = "readonly", @class = "form-control jqueryui-marker-datepicker", @autocomplete = "off", @placeholder = "" })
                            </div>
                        </div>
                    </div>


                    <div class="col-md-5">

                    </div>
                    <!--/end right side form1-->
                </div>

                <div class="separator"></div>

                <div class="row">
                    <div class="col-md-7">
                        <div class="input-group">
                            <div class="col-md-2">
                                <label class="control-label zeroleft-padding" for="pickup">Pickup</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    @*<input class="form-control BookingFrom" id="BookingFrom" name="BookingFrom" placeholder="Street" type="text">*@
                                    @Html.TextBoxFor(m => m.BookingFromLabel, new { @class = "BookingFrom form-control", @autocomplete = "off", @placeholder = "Type Airport or  Postcode" })
                                    @Html.ValidationMessageFor(model => model.BookingFromLabel, "", new { @class = "text-danger" })


                                    <span class="input-group-addon greenbtn"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                    <span class="input-group-addon bluebtn"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                </div>
                            </div>

                        </div>
                        @*<div class="input-group">
                        <div class="col-md-2">
                            <label class="control-label zeroleft-padding" for="pickup">Via</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control" id="Via1" name="pickup" placeholder="Street" type="text">
                                <span class="input-group-addon yellowbtn"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span class="input-group-addon bluebtn"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label class="control-label zeroleft-padding" for="pickup">Via</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control" id="Via2" name="pickup" placeholder="Street" type="text">
                                <span class="input-group-addon yellowbtn"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span class="input-group-addon bluebtn"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label class="control-label zeroleft-padding" for="pickup">Via</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control" id="Via3" name="pickup" placeholder="Street" type="text">
                                <span class="input-group-addon yellowbtn"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span class="input-group-addon bluebtn"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label class="control-label zeroleft-padding" for="pickup">Via</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control" id="Via4" name="pickup" placeholder="Street" type="text">
                                <span class="input-group-addon yellowbtn"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span class="input-group-addon bluebtn"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label class="control-label zeroleft-padding" for="pickup">Via</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control" id="Via5" name="pickup" placeholder="Street" type="text">
                                <span class="input-group-addon yellowbtn"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span class="input-group-addon bluebtn"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="input-group">
                        <div class="col-md-2">
                            <label class="control-label zeroleft-padding" for="pickup">Via</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control" id="Via5" name="pickup" placeholder="Street" type="text">
                                <span class="input-group-addon yellowbtn"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span class="input-group-addon bluebtn"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </div>*@
                        <div class="input-group">
                            <div class="col-md-2">
                                <label class="control-label" for="destination">Destination</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group"> 
                                    @Html.TextBoxFor(m => m.BookingToLabel, new { @class = "BookingTo form-control", @autocomplete = "off", @placeholder = "Type Airport or  Postcode" })
                                    @Html.ValidationMessageFor(model => model.BookingToLabel, "", new { @class = "text-danger" })


                                    <span class="input-group-addon redbtn"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                    <span class="input-group-addon bluebtn"><i class="fa fa-arrows-v" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">

                        <div class="form-group">
                            <label class="control-label col-md-2" for="note">Note</label>

                            <div class="col-md-8">
                                <input class="form-control" id="note" name="note" placeholder="Pickup Note" type="text">
                                @Html.TextBoxFor(m => m.PickupNote , new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.PickupNote, "", new { @class = "text-danger" })


                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.NumberOfLuggages, new { @class = " control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.DropDownList("NumberOfLuggages", ViewBag.listLuggage as List<SelectListItem>, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NumberOfLuggages, "", new { @class = "text-danger" }) 
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.NumberOfHandLuggages, new {@class = " control-label col-md-2"})
                            <div class="col-md-8">
                                @Html.DropDownList("NumberOfHandLuggages", ViewBag.listHandLuggage as List<SelectListItem>, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.NumberOfHandLuggages, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="note">Note</label>
                            <div class="col-md-8">
                                <input class="form-control" id="note2" name="note2" placeholder="Destination Note" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="note">Note</label>
                            <div class="col-md-8">
                                <input class="form-control" id="note2" name="note2" placeholder="Destination Note" type="text">
                            </div>
                        </div>

                    </div>
                    <!--/end right side form1-->
                   

                    <div class="separator"></div>

                    <div class="input-group">
                        <label class="control-label col-md-2 pasenger" for="passenger">Passengers</label>
                        <div class="col-md-2">
                            <div class="input-group">

                                <select class="form-control" id="Passengers" name="Passengers"></select>
                                <span class="input-group-addon bluebtn"><i class="fa fa-th-list" aria-hidden="true"></i></span>
                            </div>
                        </div>

                        <label class="control-label col-md-2 prority" for="prority">Prority</label>
                        <div class="col-md-2">
                            <input class="form-control" id="prority" name="prority" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <div class="input-group">
                                <div class="col-md-2">
                                    <label class="control-label zeroleft-padding" for="capability">Capability</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">

                                        <select class="form-control" id="VehicletypeId" name="VehicleTypeId"></select>
                                    </div>
                                </div>
                                 

                            </div>



                            <div class="form-group">
                                <label class="control-label col-md-2" for="req">Req. Veh</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="req" name="req" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label" for="drivnote">Driver Note</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" id="drivnote" name="drivnote" type="text">

                                </div>
                            </div>

                        </div>


                        <div class="col-md-5">

                            <div class="input-group">
                                <div class="col-md-2">
                                    <label class="control-label zeroleft-padding" for="capability">Capability</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" id="capability" name="capability" type="text">

                                        <span class="input-group-addon bluebtn" data-toggle="modal" data-target="#myModal2"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                                    </div>
                                </div>


                                <!-- Popup Modal -->
                                <div id="myModal2" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <i class="fa fa-search fa-3x searchicon" aria-hidden="true"></i>

                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                                <h3 class="modal-title">Accounts2</h3>
                                                <h5>Please select an account</h5>
                                            </div>
                                            <div class="modal-body">
                                                <p>Some text in the modal.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="req">Req. Veh</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="req" name="req" type="text">
                                </div>
                            </div>

                            <div class="input-group">
                                <label class="control-label col-md-2 pasenger" for="passenger">Passengers</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input class="form-control" id="passenger" name="passenger" type="text">

                                        <span class="input-group-addon bluebtn"><i class="fa fa-th-list" aria-hidden="true"></i></span>
                                    </div>
                                </div>

                                <label class="control-label col-md-2 prority" for="prority">Prority</label>
                                <div class="col-md-2">
                                    <input class="form-control" id="prority" name="prority" type="text">
                                </div>
                            </div>

                            <!--/end right side form1-->
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="row">
                        <div class="col-md-7">

                            <div class="input-group">
                                <div class="col-md-2">
                                    <label class="control-label zeroleft-padding" for="account">Account</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" id="account" name="account" type="text">

                                        <span class="input-group-addon bluebtn" data-toggle="modal" data-target="#myModal"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>

                                    </div>
                                </div>


                                <!-- Popup Modal -->
                                <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <i class="fa fa-search fa-3x searchicon" aria-hidden="true"></i>

                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                                <h3 class="modal-title">Accounts</h3>
                                                <h5>Please select an account</h5>
                                            </div>
                                            <div class="modal-body">
                                                <p>Some text in the modal.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label" for="ref">Your Ref.</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" id="ref" name="ref" type="text">

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label" for="ref2">Your Ref.</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" id="ref2" name="ref2" type="text">

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label" for="flight">Flight Number</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" id="flight" name="flight" type="text">

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label" for="officenote">Office Note</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" id="officenote" name="officenote" type="text">

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label" for="BookedPersonEmail">Email</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" id="BookedPersonEmail" name="BookedPersonEmail" type="email">

                                </div>
                            </div>

                        </div>


                        <div class="col-md-5">

                            <div class="form-group">
                                <label class="control-label col-md-2" for="ourref">Our Ref.</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="ourref" name="ourref" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="yourref1">Your Ref.</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="yourref" name="yourref" type="text">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-2" for="yourref2">Your Ref.</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="yourref2" name="yourref2" type="text">
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-md-2" for="repeatend">Repeat End</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="repeatend" placeholder="no repeat days specified" name="repeatend" readonly="" type="text">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-2" for="loyalty">Loyalty</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="loyalty" name="loyalty" type="text">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-2" for="luggage">Luggage</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="luggage" name="luggage" type="text">
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-md-2" for="ccdm"></label>
                                <div class="col-md-8 zero-padding">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-primary mid-btn">Book and Hold</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" id="Book" class="btn btn-primary mid-btn">Book</button>
                                    </div>
                                </div>

                            </div>
                            <!--/end right side form1-->
                        </div>
                    </div>

                </div>
            </div>
        </form>
         
            <div class="clearfix"></div>

        </div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/javascript">
        $(document).ready(function() {
            var pickuppointRequest = null;
            $('input.customersearch').typeahead({
                minLength: 3,
                autoSelect: true,
                highlight: true,
                items: 500,

                source: function(query, process) {

                    var regex = "^[a-zA-Z0-9\\s/g_.-]*$";

                    var that = this;
                    pickuppointRequest = $.ajax({
                        url: '/api/member/customer',
                        type: 'GET',
                        dataType: 'JSON',
                        data: 'search=' + query,
                        beforeSend: function() {

                            $("#overLay").show();
                            $("#overLay").addClass("overlay");
                            if (pickuppointRequest != null) {
                                pickuppointRequest.abort();
                            }
                            that.$element.addClass('loadinggif');
                        },
                        complete: function() {
                            that.$element.removeClass('loadinggif');
                        },

                        success: function(data) {
                            debugger;
                            map = {};
                            var cnames = new Array();
                            for (var i = 0; i < data.length; i++) {

                                var id = data[i].memberId + "|" + data[i].fullName + "|" + data[i].userId + "|" + data[i].mobile + "|" + data[i].email;
                                name = data[i].memberId + " - " + data[i].fullName + " - " + data[i].email + " - " + data[i].mobile;
                                map[name] = { id: id, name: name };
                                cnames.push(name);
                            }
                            process(cnames);
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });


                },
                sorter: function(items) {
                    return items; // items.sort();
                },
                matcher: function(item) {

                    return true;

                },
                updater: function(item) {


                    //$("input[name='MemberId']").val(map[item].id.split('|')[0]);
                    $("input[name='FirstName']").val(map[item].id.split('|')[1]);
                    $("input[name='UserId']").val(map[item].id.split('|')[2]);
                    $("input[name='BookedPersonMobileNo']").val(map[item].id.split('|')[3]);
                    $("input[name='BookedPersonEmail']").val(map[item].id.split('|')[4]);
                    
                    return item;
                }

            });


            $(".jqueryui-marker-datepicker").datepicker(
             {
                 minDate: 0,
                 dateFormat: "dd/mm/yyyy",
                 beforeShow: function (input, inst) {
                     inst.dpDiv.addClass('notranslate');
                 },
                 //onSelect: function (dateText) {
                 //    $.ajax({
                 //        url: '/api/home/timelist?date=' + this.value,
                 //        type: 'GET',
                 //        dataType: 'JSON',
                 //        success: function (data) {

                 //            $("#BookingTime").html("");
                 //            $.each(data, function (index, item) {
                 //                //debugger;
                 //                $("#BookingTime").append(new Option(item.text, item.value));
                 //            });

                 //        },
                 //        error: function (data) {

                 //            $("#LodingAni").fadeOut("fast");
                 //        },
                 //        failure: function (data) {

                 //            $("#LodingAni").fadeOut("fast");
                 //        }
                 //    });

                 //}

             }).css("display", "inline-block")
             .next("button").button(
             {
                 icons: { primary: "ui-icon-calendar" },
                 lable: "Select a date",
                 text: false
             });

 
            //-------------------------------------------------------------------------------
            $("#Book").click(function() {
                debugger;

                var data = {
                    "BookingFrom": $("#BookingFrom").val(),
                    "BookingTo": $("#BookingTo").val(),
                    "FromFixedPriceAriaPointId": $("#FromFixedPriceAriaPointId").val(),
                    "ToFixedPriceAriaPointId": $("#ToFixedPriceAriaPointId").val(),
                    "FromAriapointTypeId": $("#FromAriapointTypeId").val(),
                    "ToAriapointTypeId": $("#ToAriapointTypeId").val(),
                    "FromPostCode": $("#FromPostCode").val(),
                    "ToPostCode": $("#ToPostCode").val(),
                    "FromLat": $("#FromLat").val(),
                    "FromLong": $("#FromLong").val(),
                    "ToLat": $("#ToLat").val(),
                    "ToLong": $("#ToLong").val(),
                    "VehicleTypeId": $("#VehicletypeId").val(),
                    "UserId": $("#UserId").val(),
                    "EmissionZoneId": 0,
                    "BookingDate":"22/03/2019",// $("#BookingDate").val(),
                    "BookingTime": "13:45",// $("#BookingTime").val(), 
                    "TotalOneWayDistance": 0,
                    "TotalDistance": 0
                    
                }
                $.ajax({
                    url: "/api/telebooking/calculateprice",
                    method: "POST",
                    dataType: 'JSON',
                    contentType: "application/json; charset = utf-8",
                    data: JSON.stringify(data),
                    success: function (data) {
                       

                    },
                    error: function (error) {
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();

                    }
                });
            });
            //*----------------------------------------------------------------------------
            $.ajax({
                url: "/api/telebooking/pessangercount",
                method: "GET",
                success: function (length) {
                    for (var i = 0; i < length; i++) {
                         $("#Passengers").append(
                           $('<option/>', {
                               value: i,
                               text: i 
                           }));
                    }
                
                },
                error: function (error) {
                    $("#overLay").removeClass("overlay");
                    $("#overLay").hide();

                }
            });
            //-----------------------------------------------------------------
            $.ajax({
                url: "/api/telebooking/vehicletypes",
                method: "GET",
                success: function (data) {
                    debugger;
                    for (var i = 0; i < data.length; i++) {
                        $("#VehicletypeId").append(
                          $('<option/>', {
                              value: data[i].vehicleId,
                              text: data[i].name
                          }));
                    }

                },
                error: function (error) {
                    $("#overLay").removeClass("overlay");
                    $("#overLay").hide();

                }
            });
            //-----------------------------------------------------------------
        });
    </script>
}


