﻿@model SwaranAdmin_New.Models.Pricing.NewRateVehicleDayRequest
@{
    ViewBag.Title = "AddRateVehicleTypeDay";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var grid = new WebGrid(Model.DistanceDetail);
}
<div class="box-body">
    <h3>@Html.ActionLink("Customer Rate", (string)ViewBag.NavigateUrl) > <a href="@ViewBag.NavigateUrl1">@ViewBag.NavigateDescription</a> > <a href="@Request.Url.AbsoluteUri">@ViewBag.NavigateDescription1</a></h3>
</div>

<section>
    <div class="box box-default box-solid">

        <div class="box-body">

            @*@using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()*@

            <div class="form-horizontal">
                @*<h4>Add Vehicle</h4>*@
                <hr />
                @Html.Hidden("RateIdName", Model.RateId, new { @id = "RateId" })
                @Html.Hidden("RateVehicleTypeIdName", Model.RateCustomerVehicleTypeId, new { @id = "RateVehicleTypeId" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="col-md-3">
                            @*@Html.DropDownListFor(model => model.VehicleTypeId, (IEnumerable<SelectListItem>)ViewData["AvailableVehicleTypes"], "Select Vehicle", new { @class = "form-control" })*@
                            @Html.DropDownListFor(model => model.Day, ViewBag.Days as IEnumerable<SelectListItem>, new { @id = "dayDropdown" })
                            @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @*@Html.DropDownListFor(model => model.VehicleTypeId, (IEnumerable<SelectListItem>)ViewData["AvailableVehicleTypes"], "Select Vehicle", new { @class = "form-control" })*@

                            <div class="radio">
                                <label>
                                    @*<input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">*@
                                    @*@Html.CheckBox("IsFixedPrice", 0)*@
                                    <input type="checkbox" id="isFixedPrice" name="isFixedPrice" />
                                    Is Fixed Price
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="gridContent" class="table-responsive" style="padding-left:20px;">

                    @grid.GetHtml(
         tableStyle: "webgrid-table",
         headerStyle: "webgrid-header",
         footerStyle: "webgrid-footer",
         alternatingRowStyle: "webgrid-alternating-row",
         selectedRowStyle: "webgrid-selected-row",
         rowStyle: "webgrid-row-style",
         mode: WebGridPagerModes.All,
         columns:
             grid.Columns(
                 grid.Column(null, null, format: @<text> <input type="hidden" id="RateCustomerDistanceDayId" value="@item.RateCustomerDistanceDayId" class="edit-mode" /></text>),
                 grid.Column(null, null, format: @<text> <input type="hidden" id="DistanceId" value="@item.DistanceId" class="edit-mode" /> </text>),
                 grid.Column("DistanceFrom", "Distance From", format: @<text> <span class="display-mode"></span> <input type="text" id="DistanceFrom" value="@item.DistanceFrom" class="edit-mode" /></text>, style: "col1Width"),
                 grid.Column("DistanceTo", "Distance To", format: @<text> <span class="display-mode"> </span>  <input type="text" id="DistanceTo" value="@item.DistanceTo" class="edit-mode" /> </text>, style: "col1Width"),
                 grid.Column("Amount", "Amount", format: @<text> <span class="display-mode"> </span>  <input type="text" id="Amount" value="@item.Amount" class="edit-mode" /> </text>, style: "col1Width"),
                 grid.Column(null, null, format: @<text> <input type="hidden" id="Unit" name="Unit" value="@item.Unit" class="edit-mode" /> </text>),
                 grid.Column(null, null, format: @<text> <input type="hidden" id="IsDefault" name="IsDefault" value="@item.IsDefault" class="edit-mode" /> </text>),
                 grid.Column(null, format: @<text>
                    @if (item.DistanceId != 0)
                    {   <button class="save-distance edit-mode">Update</button>
                    <button class="delete-distance edit-mode btn-danger">Delete</button>
                    }
                    else
                    {
                        <button class="add-distance edit-mode btn-success">Add</button>
                        @*<INPUT type="button" value="Add Row" onclick="addRow('gridContent')" />*@
                    }
                </text>, style: "col3Width", canSort: false)
               ))

                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <input type="button" value="Save Distance" class="enable-staff btn btn-block btn-success" id="saveVehicleDayButton" />
                    </div>
                </div>
            </div>
            @*}*@

            @*<div id="vehicleTypeDayPartialView">

                </div>*@

            <div>
                @Html.ActionLink("BACK TO RATES", "Rate")
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">

        $(function () {

            //$('#IsFixedPrice').prop('checked', this.checked);
            //var ckbox = $('#isFixedPrice');

            //$('input').on('click',function () {
            //    if (ckbox.is(':checked')) {
            //        isChecked = 1
            //    } else {
            //        isChecked = 0
            //    }
            //    //alert(isChecked);
            //});

            //$('input[type="checkbox"]').click(function(){

            //    if($(this).prop("checked") == true){

            //        alert("Checkbox is checked.");

            //    }

            //    else if($(this).prop("checked") == false){

            //        alert("Checkbox is unchecked.");

            //    }

            //});


            $("#saveVehicleDayButton").on("click", function () {

                var DistanceDetail =[];

                $('.webgrid-table tbody tr').each(function (i, row) {

                    var $row = $(row),
                        $CurrentRateCustomerDistanceDayId = $row.find('input[id*="RateCustomerDistanceDayId"]').val(),
                        $CurrentDistanceId = $row.find('input[id*="DistanceId"]').val(),
                        $CurrentDistanceFrom = $row.find('input[id*="DistanceFrom"]').val(),
                        $CurrentDistanceTo = $row.find('input[id*="DistanceTo"]').val(),
                        $CurrentAmount = $row.find('input[id*="Amount"]').val(),
                        $CurrentIsDefault = $row.find('input[id*="IsDefault"]').val(),
                        $PreviousDistanceTo = $row.prev().find('input[id*="DistanceTo"]').val();

                    if ($CurrentDistanceFrom => $PreviousDistanceTo) {

                        var distanceModel =
                        {
                            "RateCustomerDistanceDayId": $CurrentRateCustomerDistanceDayId,
                            "DistanceId": $CurrentDistanceId,
                            "DistanceFrom": $CurrentDistanceFrom,
                            "DistanceTo": $CurrentDistanceTo,
                            "Amount": $CurrentAmount,
                            "Unit":"mile",
                            "IsDefault": $CurrentIsDefault
                        };

                        if($CurrentDistanceTo > 0 && $CurrentAmount > 0)
                        {
                            DistanceDetail.push(distanceModel);
                        }
                    }

                });

                var Day = $("#dayDropdown").val();

                var rateVehicleDay =
                {

                    "RateId": @ViewBag.RateId,
                    "VehicleTypeId": @Model.VehicleTypeId,
                    "RateCustomerVehicleTypeId" : @Model.RateCustomerVehicleTypeId,
                    "Day" : Day,
                    "DistanceDetail" : DistanceDetail

                };


                if($("#isFixedPrice").is(":checked"))
                {
                    alert("fixed");
                    $.ajax({
                        url: '/api/pricing/createRateVehicleDayNew',
                        data: JSON.stringify(rateVehicleDay),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if(data != 0)
                            {
                                location.href = "/Pricing/AddRateVehicleTypeDay?rateId=" + @ViewBag.RateId + "&rateCustomerVehicleTypeId=" + data ;
                            }
                        }
                    });
                }
                else
                {
                    alert("variable");
                    $.ajax({
                        url: '/api/pricing/createRateVehicleDay',
                        data: JSON.stringify(rateVehicleDay),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if(data != 0)
                            {
                                location.href = "/Pricing/AddRateVehicleTypeDay?rateId=" + @ViewBag.RateId + "&rateCustomerVehicleTypeId=" + data ;
                            }
                        }
                    });
                }

            });

            $(document).on("click", ".add-distance", function () {
                var tr = $(this).parents('tr:first');
                var CurrentRateCustomerDistanceDayId = tr.find("#RateCustomerDistanceDayId").val();
                var CurrentDistanceId = tr.find("#DistanceId").val();
                var CurrentDistanceFrom = tr.find("#DistanceFrom").val();
                var CurrentDistanceTo = tr.find("#DistanceTo").val();
                var CurrentAmount = tr.find("#Amount").val();
                var CurrentIsDefault = tr.find("#IsDefault").val();

                var row = $(this).closest('tr');
                var previous = row.prev();
                var PreviousDistanceTo = previous.find("#DistanceTo").val();

                if (CurrentDistanceFrom => PreviousDistanceTo) {

                    if(CurrentDistanceTo > 0 && CurrentAmount > 0)
                    {
                        $('.webgrid-table').append( '<tr class=\'webgrid-row-style\'>'
                +'<td><input id=\'RateCustomerDistanceDayId\' class=\'edit-mode\' type=\'hidden\' value=\''+ CurrentRateCustomerDistanceDayId +'\' /></td>'
                +'<td><input id=\'DistanceId\' class=\'edit-mode\' type=\'hidden\' value=\''+ CurrentDistanceId +'\' /></td>'
                +'<td class=\'col1Width\'><span class=\'display-mode\'></span><input id=\'DistanceFrom\' class=\'edit-mode\' type=\'text\' value=\''+ CurrentDistanceFrom +'\' /></td>'
                +'<td class=\'col1Width\'><span class=\'display-mode\'></span><input id=\'DistanceTo\' class=\'edit-mode\' type=\'text\' value=\''+ CurrentDistanceTo +'\' /></td>'
                +'<td class=\'col1Width\'><span class=\'display-mode\'></span><input id=\'Amount\' class=\'edit-mode\' type=\'text\' value=\''+ CurrentAmount +'\' /></td>'
                +'<td><input id=\'Unit\' class=\'edit-mode\' type=\'hidden\' value=\'mile\' /></td>'
                +'<td><input id=\'IsDefault\' class=\'edit-mode\'" type=\'hidden\' value=\''+ CurrentIsDefault +'\' /></td>'
                +'<td class=\'col1Width\'><button class=\'delete-distance edit-mode btn-danger\'>Remove</button></td>' +
                +'</tr>');

                        tr.find("#RateCustomerDistanceDayId").val(0);
                        tr.find("#DistanceId").val(0);
                        tr.find("#DistanceFrom").val(0);
                        tr.find("#DistanceTo").val(0);
                        tr.find("#Amount").val(0);
                        tr.find("#IsDefault").val(0);

                        //var row = $(this).closest('tr');
                        //var previous = row.prev();
                        //previous.find("#DistanceTo").val();
                    }

                }
            });

            $(document).on("click", ".delete-distance", function () {

                var rowCount = $('.webgrid-table tr').length;
                var tr = $(this).parents('tr:first');
                var CurrentRateCustomerDistanceDayId = tr.find("#RateCustomerDistanceDayId").val();
                var CurrentDistanceId = tr.find("#DistanceId").val();
                var CurrentDistanceFrom = tr.find("#DistanceFrom").val();
                var CurrentDistanceTo = tr.find("#DistanceTo").val();
                var CurrentIsDefault = tr.find("#IsDefault").val();

                if ((CurrentDistanceFrom != 0 && CurrentIsDefault != true) || (CurrentDistanceFrom == 0 && CurrentDistanceTo == 0) || rowCount == 3) {

                    $(this).closest('tr').remove();
                }

            });

        })

    </script>
}

