﻿@model SwaranAdmin_New.Models.Pricing.NewRateVehicleRequest

@{
    ViewBag.Title = "AddRateVehicleType";
}
<div class="box-body">
    <h3>@Html.ActionLink("Customer Rate", (string)ViewBag.NavigateUrl) > <a href="@Request.Url.AbsoluteUri">@ViewBag.NavigateDescription</a></h3>   
</div>

<section>
    <div class="box box-default box-solid">


        <div class="box-body">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @*<h4>Add Vehicle</h4>*@
                    <hr />
                    @Html.Hidden("RateIdName", Model.RateId, new { @id = "RateId" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.VehicleTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.DropDownListFor(model => model.VehicleTypeId, (IEnumerable<SelectListItem>)ViewData["AvailableVehicleTypes"], "Select Vehicle", new { @class = "form-control" })*@
                            @Html.DropDownListFor(model => model.VehicleTypeId, ViewBag.AvailableVehicleTypes as IEnumerable<SelectListItem>, "Select Vehicle", new { @id = "vehicleTypeDropdown" })
                            @Html.ValidationMessageFor(model => model.VehicleTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Add" class="btn btn-default" id="saveVehicleButton" />
                        </div>
                    </div>
                </div>
            }

            @*<div id="vehicleTypeDayPartialView">

            </div>*@

            <div>
                @Html.ActionLink("BACK TO RATES", "Rate")
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">

        @*function LoadDayDetailView(RateId) {
            $.ajax({
                type: 'GET',
                url: '@Url.Content("~/Pricing/LoadRateVehicleTypeDistanceDetailPartial")',
                data: { rateCustomerDistanceDayId: RateId },
                success: function (data) {

                    $('#vehicleTypeDayPartialView').html(data);
                }
            });
        }*@

        $(function () {
            $("#saveVehicleButton").on("click", function () {

                var RateId = $("#RateId").val();
                var VehicleTypeId = $("#vehicleTypeDropdown").val();

                var rateVehicle =
                {

                    "RateId": RateId,
                    "VehicleTypeId": VehicleTypeId
                };

                $.ajax({
                    url: '/api/pricing/createRateVehicle',
                    data: JSON.stringify(rateVehicle),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        //LoadDayDetailView(RateId);
                        if (data != 0) {
                            location.href = "/Pricing/AddRateVehicleTypeDay?rateId=" + RateId+ "&rateCustomerVehicleTypeId=" + data;
                        }
                    }
                });
            });
        })

        //$("#vehicleTypeDropdown").change(function () {
        //    var selectedValue = this.value;

        //    if(selectedValue != "")
        //    {

        //    }

        //});

    </script>
}