﻿@model SwaranAdmin_New.Models.Pricing.RateDailySurgeDayDom

@{
    ViewBag.Title = "AddDailySurge";
}
<div class="box box-default box-solid">


    <div class="box-body">
        <h3>@Html.ActionLink("Customer Rate", (string)ViewBag.NavigateUrl) > <a href="@ViewBag.NavigateUrl1">@ViewBag.NavigateDescription</a></h3>
        <h2>Add Daily Surge</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @*<h4>CustomerRateDetailModel</h4>*@
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })                
                @Html.HiddenFor(model => model.CustomerRateId);
                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerRateName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.CustomerRateName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerRateName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DayId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.DropDownListFor(model => model.VehicleTypeId, (IEnumerable<SelectListItem>)ViewData["AvailableVehicleTypes"], "Select Vehicle", new { @class = "form-control" })*@
                        @Html.DropDownListFor(model => model.DayId, ViewBag.Days as IEnumerable<SelectListItem>, new { @id = "dayDropdown" })
                        @Html.ValidationMessageFor(model => model.DayId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @*@Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownListFor(model => model.StartTime, (IEnumerable<SelectListItem>)ViewBag.TimeList, "Select", new { @id = "startTime", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @*@Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownListFor(model => model.EndTime, (IEnumerable<SelectListItem>)ViewBag.TimeList, "Select", new { @id = "endTime", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsPercentageEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @*<div class="checkbox">*@
                        @Html.EditorFor(model => model.IsPercentageEnabled)
                        @Html.ValidationMessageFor(model => model.IsPercentageEnabled, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SurgeAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @*<div class="checkbox">*@
                        @Html.EditorFor(model => model.SurgeAmount)
                        @Html.ValidationMessageFor(model => model.SurgeAmount, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SurgePercentage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @*<div class="checkbox">*@
                        @Html.EditorFor(model => model.SurgePercentage)
                        @Html.ValidationMessageFor(model => model.SurgePercentage, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @*<div class="checkbox">*@
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <div class="radio">
                            <label>
                                @*<input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">*@
                                @Html.RadioButton("IsAllPlot", true)
                                @*@Html.RadioButtonFor(model => model.IsAllPlot)*@
                                All UK
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="radio">
                            <label>
                                @Html.RadioButton("IsAllPlot", false)
                                Selected Outer post codes
                            </label>
                        </div>
                    </div>
                </div>
                <div id="outerpostcod-div" style="margin-top:30px;">
                    <div class="col-md-10">
                        <div class="col-md-8" id="areatype-list">
                            <div class="col-md-8">
                                <div class="subject-info-box-1">
                                    <h5>All Areapoints </h5>
                                    <select multiple="multiple" id='lstBox1' class="form-control"></select>
                                </div>
                                <div class="subject-info-arrows text-center">
                                    <h5>Send</h5>
                                    <input type='button' id='btnAllRight' value='>>' class="btn btn-default" /><br />
                                    <input type='button' id='btnRight' value='>' class="btn btn-default" /><br />
                                    <input type='button' id='btnLeft' value='<' class="btn btn-default" /><br />
                                    <input type='button' id='btnAllLeft' value='<<' class="btn btn-default" />
                                </div>
                                <div class="subject-info-box-1">
                                    <h5>Selected outerpostcodes<a id="btnselectAll"> Select all</a></h5>
                                    <select name="AreaPointIds" multiple="multiple" id='AreaPointIds' class="form-control"></select>
                                    @*@Html.DropDownListFor(m => m.AriaPointId,Model.AriaPointIds, new { multiple = "multiple" })*@
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-3">
                        <input type="submit" value="Save" class="btn btn-block btn-success" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("BACT TO RATES", "Rate")
        </div>
    </div>
</div>
@section scripts
{
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            type: 'GET',
            url: '/api/pointofinterest/allpoiaddress?specialOccasionId=0',
            success: function(data) {

                $.each(data.allPoiAddress, function (index, itemData) {
                    $("#lstBox1").append(new Option(itemData.name, itemData.ariaPointId));
                });

                $.each(data.specialOccAddress, function (index, itemData) {
                    $("#AreaPointIds").append(new Option(itemData.name, itemData.ariaPointId));
                });
                $('#AreaPointIds option').prop('selected', true);
            }
        });

        $('#btnRight').click(function (e) {
            var selectedOpts = $('#lstBox1 option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#AreaPointIds').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
            $('#AreaPointIds option').prop('selected', true);
        });

        $('#btnAllRight').click(function (e) {
            var selectedOpts = $('#lstBox1 option');

            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#AreaPointIds').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
            $('#AreaPointIds option').prop('selected', true);
        });

        $('#btnLeft').click(function (e) {
            var selectedOpts = $('#AreaPointIds option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#lstBox1').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
            $('#AreaPointIds option').prop('selected', true);
        });

        $('#btnAllLeft').click(function (e) {
            var selectedOpts = $('#AreaPointIds option');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#lstBox1').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });

        $('input[type=radio][name=IsAllPlot]').change(function () {
            if (this.value == 'True') {
                $("#outerpostcod-div").hide();
            }
            else if (this.value == 'False') {
                $("#outerpostcod-div").show();
            }
        });

        $("#btnselectAll").click(function () {
            $('#AreaPointIds option').prop('selected', true);
        });

        var isAllPlot=@Html.Raw(Json.Encode(Model.IsAllPlot));
        if(isAllPlot)
        {
            $("#outerpostcod-div").hide();
        }else
        {
            $("#outerpostcod-div").show();
        }
    });
</script>
}