﻿@model SwaranAdmin_New.Models.Pricing.CustomerRateDetailModel

@{
    ViewBag.Title = "EditRate";
}
<div class="box box-default box-solid">


    <div class="box-body">

        <h2>Edit Rate</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" >
                @*<h4>CustomerRateDetailModel</h4>*@
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.RateId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.RateId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RateId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RateName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.RateName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RateName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RateType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.RateType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RateType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VatRateId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @*@Html.EditorFor(model => model.VatRateTd, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VatRateTd, "", new { @class = "text-danger" })*@
                        @Html.DropDownListFor(model => model.VatRateId, (IEnumerable<SelectListItem>)ViewData["VatRates"], "Select Vat Rate", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.VatRateId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsDistanceShow, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @*<div class="checkbox">*@
                            @Html.EditorFor(model => model.IsDistanceShow)
                            @Html.ValidationMessageFor(model => model.IsDistanceShow, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsSpeedShow, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @*<div class="checkbox">*@
                            @Html.EditorFor(model => model.IsSpeedShow)
                            @Html.ValidationMessageFor(model => model.IsSpeedShow, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsDefault, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @*<div class="checkbox">*@
                            @Html.EditorFor(model => model.IsDefault)
                            @Html.ValidationMessageFor(model => model.IsDefault, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @*<div class="checkbox">*@
                            @Html.EditorFor(model => model.IsActive)
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-3">
                        <input type="submit" value="Save" class="btn btn-block btn-success"/>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("BACT TO RATES", "Rate")
        </div>
    </div>
</div>