﻿@model IEnumerable<SwaranAdmin_New.Models.Pricing.RateDailySurge>

@{
    ViewBag.Title = "LoadRateDailySurge";
}
<div class="box-body">
    <h3>@Html.ActionLink("Customer Rate", (string)ViewBag.NavigateUrl) > <a href="@Request.Url.AbsoluteUri">@ViewBag.NavigateDescription</a></h3>
    <p>
        @*@Html.ActionLink("ADD VEHICLE", "AddRateDailySurgeDay", new { rateId = ViewBag.RateId }, null)*@
        @Html.ActionLink("ADD Daily Surge", "AddRateDailySurge", new { rateId = ViewBag.RateId }, null)
    </p>
</div>
<div class="box box-default box-solid">


    <div class="box-body">
        @*<h3>@Html.ActionLink("Customer Rate", (string)ViewBag.NavigateUrl) => @Html.ActionLink((string)ViewBag.NavigateDescription, "/LoadRateVehicleType/" + (long)ViewBag.RateId)</h3>*@


        <table class="table">
            <tr>
                <th width="25%">
                    @Html.DisplayNameFor(model => model.RateId)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.VehicleTypeId)
                    </th>*@
                <th width="25%">
                    @Html.DisplayNameFor(model => model.DayName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RateId)
                    </td>
                    @*<td>
                            @Html.HiddenFor(modelItem => item.VehicleTypeId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DayName)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                        @*@Html.ActionLink("Details", "LoadRateVehicleTypeDetail", "Pricing", new { rateCustomerVehicleTypeId = item.RateCustomerVehicleTypeId }, null) |*@
                        @Html.ActionLink("Details", "LoadRateDailySurgeDayDetail", "Pricing", new { rateId = item.RateId, dayId = item.DayId }, null)
                        @* |@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
                @Html.HiddenFor(modelItem => item.RateId)
                @Html.HiddenFor(modelItem => item.DayId)
            }

        </table>

        @*<div>
                @Html.ActionLink("Back to List", "Rate")
            </div>*@
    </div>
</div>
