﻿@model IEnumerable<SwaranAdmin_New.Models.Pricing.RateDailySurgeDayDom>

@{
    ViewBag.Title = "Vehicle Type Day Configuration";
}
<div class="box-body">
    <h3>@Html.ActionLink("Customer Rate", (string)ViewBag.NavigateUrl) > <a href="@ViewBag.NavigateUrl1">@ViewBag.NavigateDescription</a> > <a href="@Request.Url.AbsoluteUri">@ViewBag.NavigateDescription1</a></h3>
    @*<p>
            @Html.ActionLink("BACK", "Rate")
        </p>*@
    <p>
        @Html.ActionLink("ADD Daily Surge", "AddRateDailySurge", new { rateId = ViewBag.RateId }, null)
    </p>
</div>
<div class="box box-default box-solid">
    <text class="text-success">@ViewBag.Message</text>
    <div class="box-body">
        @*<section class="content" style="padding-left:20px;">*@

        <table class="table">
            <tr style="padding-left:20px;">
                @*<th>
                    @Html.DisplayNameFor(model => model.DayName)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPercentageEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SurgePercentage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SurgeAmount)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr style="padding-left:20px;">

                    @Html.HiddenFor(modelItem => item.DailySurgeId)
                    @Html.HiddenFor(modelItem => item.DayId)

                    @*<td>
                        @Html.DisplayFor(modelItem => item.DayName).ToString().ToUpper()
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime).ToString().ToUpper()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime).ToString().ToUpper()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPercentageEnabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurgePercentage).ToString().ToUpper()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurgeAmount).ToString().ToUpper()
                    </td>
                    <td>
                        @*@Html.ActionLink("Distance Details", "LoadRateVehicleTypeDistanceDetail", new { rateCustomerDistanceDayId = item.RateCustomerDistanceDayId })*@
                        @*<a href="#" onclick="@Html.Raw(String.Format("loadDistanceDetails({0})", item.RateCustomerDistanceDayId))">Distance Details</a>*@
                        @Html.ActionLink("Surge Details", "EditRateDailySurgeDetail", new { dailySurgeId = item.DailySurgeId, dayId = item.DayId })
                    </td>
                </tr>
            }

        </table>

        @*<div id="vehicleTypeDayDistanceDetailPartialView" style="float:left;">

            </div>*@
        @*</section>*@
    </div>
</div>