﻿@model IEnumerable<SwaranAdmin_New.Models.Pricing.RateCustomerDistanceDayDom>

@{
    ViewBag.Title = "Vehicle Type Day Configuration";
}
<div class="box-body">
    <h3>@Html.ActionLink("Customer Rate", (string)ViewBag.NavigateUrl) > <a href="@ViewBag.NavigateUrl1">@ViewBag.NavigateDescription</a> > <a href="@Request.Url.AbsoluteUri">@ViewBag.NavigateDescription1</a></h3>
    @*<p>
            @Html.ActionLink("BACK", "Rate")
        </p>*@
    <p>
        @Html.ActionLink("ADD DAY", "AddRateVehicleTypeDay", new { rateId = ViewBag.RateId, rateCustomerVehicleTypeId = ViewBag.RateCustomerVehicleTypeId }, null)
    </p>
</div>
<div class="box box-default box-solid">

    <div class="box-body">
        @*<section class="content" style="padding-left:20px;">*@

        <table class="table">
            <tr style="padding-left:20px;">
                <th>
                    @Html.DisplayNameFor(model => model.DayName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr style="padding-left:20px;">

                    @Html.HiddenFor(modelItem => item.RateCustomerDistanceDayId)

                    <td>
                        @Html.DisplayFor(modelItem => item.DayName).ToString().ToUpper()
                    </td>
                    <td>
                        @*@Html.ActionLink("Distance Details", "LoadRateVehicleTypeDistanceDetail", new { rateCustomerDistanceDayId = item.RateCustomerDistanceDayId })*@
                        @*<a href="#" onclick="@Html.Raw(String.Format("loadDistanceDetails({0})", item.RateCustomerDistanceDayId))">Distance Details</a>*@
                        @Html.ActionLink("DISTANCE DETAILS", "LoadRateVehicleTypeDistanceDetail", new { rateCustomerDistanceDayId = item.RateCustomerDistanceDayId })
                    </td>
                    <td>
                        @*@Html.ActionLink("Distance Details", "LoadRateVehicleTypeDistanceDetail", new { rateCustomerDistanceDayId = item.RateCustomerDistanceDayId })*@
                        @*<a href="#" onclick="@Html.Raw(String.Format("loadDistanceDetails({0})", item.RateCustomerDistanceDayId))">Distance Details</a>*@
                        @Html.ActionLink("FIXED PRICE DISTANCE DETAILS", "LoadRateVehicleTypeDistanceDetailNew", new { rateCustomerDistanceDayId = item.RateCustomerDistanceDayId })
                    </td>
                </tr>
            }

        </table>

        @*<div id="vehicleTypeDayDistanceDetailPartialView" style="float:left;">

            </div>*@
        @*</section>*@
    </div>
</div>