﻿@model IEnumerable<SwaranAdmin_New.Models.Pricing.RateCustomerDistanceDom>

@{
    ViewBag.Title = "Distance Price Details";
    var grid = new WebGrid(Model);
}
<div class="box-body">
    <h3>@Html.ActionLink("Customer Rate", (string)ViewBag.NavigateUrl) > <a href="@ViewBag.NavigateUrl1">@ViewBag.NavigateDescription</a> > <a href="@ViewBag.NavigateUrl2">@ViewBag.NavigateDescription1</a> > <a href="@Request.Url.AbsoluteUri">@ViewBag.NavigateDescription2</a></h3>

</div>

<div class="box box-default box-solid">

    <div class="box-body">
        @*<section class="content" style="padding-left:50px;">*@

        <div id="gridContent" class="table-responsive" style="padding-left:20px;">

            @grid.GetHtml(
         tableStyle: "webgrid-table",
         headerStyle: "webgrid-header",
         footerStyle: "webgrid-footer",
         alternatingRowStyle: "webgrid-alternating-row",
         selectedRowStyle: "webgrid-selected-row",
         rowStyle: "webgrid-row-style",
         mode: WebGridPagerModes.All,
         columns:
             grid.Columns(
                 grid.Column(null, null, format: @<text> <input type="hidden" id="RateCustomerDistanceDayId" value="@item.RateCustomerDistanceDayId" class="edit-mode" /></text>),
                 grid.Column(null, null, format: @<text> <input type="hidden" id="DistanceId" value="@item.DistanceId" class="edit-mode" /> </text>),
                 grid.Column("DistanceFrom", "Distance From", format: @<text> <span class="display-mode"></span> <input type="text" id="DistanceFrom" value="@item.DistanceFrom" class="edit-mode" /></text>, style: "col1Width"),
                 grid.Column("DistanceTo", "Distance To", format: @<text> <span class="display-mode"> </span>  <input type="text" id="DistanceTo" value="@item.DistanceTo" class="edit-mode" /> </text>, style: "col1Width"),
                 grid.Column("Amount", "Amount", format: @<text> <span class="display-mode"> </span>  <input type="text" id="Amount" value="@item.Amount" class="edit-mode" /> </text>, style: "col1Width"),
                 grid.Column(null, null, format: @<text> <input type="hidden" name="Unit" value="@item.Unit" class="edit-mode" /> </text>),
                 grid.Column(null, null, format: @<text> <input type="hidden" name="IsDefault" value="@item.IsDefault" class="edit-mode" /> </text>),
                 grid.Column(null, format: @<text>
                    @if (item.DistanceId != 0)
                    {   <button class="save-distance edit-mode">Update</button>
                    <button class="delete-distance edit-mode">Delete</button>
                    }
                    else
                    {
                        <button class="add-distance edit-mode">Add</button>
                    }
                </text>, style: "col3Width", canSort: false)
               ))

        </div>
        @*</section>*@
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(function () {

            $(document).on("click", ".save-distance", function () {

                var tr = $(this).parents('tr:first');
                var CurrentRateCustomerDistanceDayId = tr.find("#RateCustomerDistanceDayId").val();
                var CurrentDistanceId = tr.find("#DistanceId").val();
                var CurrentDistanceFrom = tr.find("#DistanceFrom").val();
                var CurrentDistanceTo = tr.find("#DistanceTo").val();
                var CurrentAmount = tr.find("#Amount").val();
                var CurrentIsDefault = tr.find("#IsDefault").val();

                var row = $(this).closest('tr');
                var next = row.next();
                var previous = row.prev();
                var NextDistanceId = next.find("#DistanceId").val();
                var PreviousDistanceId = previous.find("#DistanceId").val();

                var distanceModel =
                {

                    "CurrentRateCustomerDistanceDayId": CurrentRateCustomerDistanceDayId,
                    "CurrentDistanceId": CurrentDistanceId,
                    "CurrentDistanceFrom": CurrentDistanceFrom,
                    "CurrentDistanceTo": CurrentDistanceTo,
                    "CurrentAmount": CurrentAmount,
                    "CurrentIsDefault": CurrentIsDefault,
                    "NextDistanceId": NextDistanceId,
                    "PreviousDistanceId": PreviousDistanceId
                };

                $.ajax({
                    url: '/api/pricing/saveDistance',
                    data: JSON.stringify(distanceModel),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        location.reload();
                    }
                });

            });

            $(document).on("click", ".delete-distance", function () {

                var tr = $(this).parents('tr:first');
                var CurrentRateCustomerDistanceDayId = tr.find("#RateCustomerDistanceDayId").val();
                var CurrentDistanceId = tr.find("#DistanceId").val();
                var CurrentDistanceFrom = tr.find("#DistanceFrom").val();
                var CurrentDistanceTo = tr.find("#DistanceTo").val();
                var CurrentIsDefault = tr.find("#IsDefault").val();

                if ((CurrentDistanceFrom != 0 && CurrentIsDefault != true) || (CurrentDistanceFrom == 0 && CurrentDistanceTo == 0)) {

                    var distanceModel =
                    {
                        "CurrentRateCustomerDistanceDayId": CurrentRateCustomerDistanceDayId,
                        "CurrentDistanceId": CurrentDistanceId,
                        "CurrentDistanceFrom": CurrentDistanceFrom,
                        "CurrentDistanceTo": CurrentDistanceTo,
                        "CurrentIsDefault": CurrentIsDefault
                    };

                    $.ajax({
                        url: '/api/pricing/deleteDistance',
                        data: JSON.stringify(distanceModel),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            location.reload();
                        }
                    });
                }

            });

            $(document).on("click", ".add-distance", function () {
                var tr = $(this).parents('tr:first');
                var CurrentRateCustomerDistanceDayId = tr.find("#RateCustomerDistanceDayId").val();
                var CurrentDistanceId = tr.find("#DistanceId").val();
                var CurrentDistanceFrom = tr.find("#DistanceFrom").val();
                var CurrentDistanceTo = tr.find("#DistanceTo").val();
                var CurrentAmount = tr.find("#Amount").val();
                var CurrentIsDefault = tr.find("#IsDefault").val();
                var row = $(this).closest('tr');
                var previous = row.prev();
                var PreviousDistanceTo = previous.find("#DistanceTo").val();

                if (CurrentDistanceFrom => PreviousDistanceTo && CurrentDistanceTo > 0) {

                    var distanceModel =
                    {
                        "CurrentRateCustomerDistanceDayId": CurrentRateCustomerDistanceDayId,
                        "CurrentDistanceId": CurrentDistanceId,
                        "CurrentDistanceFrom": CurrentDistanceFrom,
                        "CurrentDistanceTo": CurrentDistanceTo,
                        "CurrentAmount": CurrentAmount,
                        "CurrentUnit": "mile",
                        "CurrentIsDefault": CurrentIsDefault
                    };

                    $.ajax({
                        url: '/api/pricing/createDistance',
                        data: JSON.stringify(distanceModel),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            location.reload();
                        }
                    });
                }
            });
        })
    </script>
}

