﻿@using GridMvc.Html

@model IEnumerable<SwaranAdmin_New.Models.Pricing.CustomerRateViewModel>
<div class="box box-default box-solid">
    <text class="text-success">@ViewBag.Message</text>
    @*<section class="content">*@
    @*<div class="row">*@
    <div class="box-body">
        @*<div class="col-xs-3" style="float:left;">*@
        <div class="col-md-12" style="margin-top: 25px">
            @*<div class="box">
                <div class="box-body">*@
            <div class="row with-border">
                @*<div class="box-header col-lg-9">
                    <h3 class="box-title">Customer Rate</h3>*@
                <h3> <a href="/Pricing/Rate">Customer Rate</a></h3>
                @*</div>*@<!-- /.box-header -->

            </div>
            @Html.Grid(Model).Named("ratesGrid").Columns(columns =>
       {
       columns.Add(model => model.RateId, true).Titled("Rate Id").SetWidth("5%");
       //columns.Add(model => model.RateName).Titled("Rate Name").SetWidth("5%");
       columns.Add(model => model.RateName).Titled("").SetWidth("50%");
       columns.Add(model => model.RateType, true).Titled("Rate Type").SetWidth("5%");
       //columns.Add(model => model.IsDistanceShow).Titled("Is Distance Visible");
       //columns.Add(model => model.IsSpeedShow).Titled("Is Speed Visible");
       //columns.Add(model => model.IsDefault).Titled("Is Default");
       columns.Add(model => model.IsActive, true).Titled("Is Active").SetWidth("5%");
       columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .RenderValueAs(model =>
        @<b>
            @Html.ActionLink("Edit", "EditRate", "Pricing", new { rateId = model.RateId }, null) |
            @*<a href="#" onclick="@Html.Raw(String.Format("loadVehicleTypes({0})", model.RateId))">Vehicles</a>*@
            @Html.ActionLink("Vehicles", "LoadRateVehicleType", "Pricing", new { rateId = model.RateId }, null) |
            @Html.ActionLink("Daily Surge", "LoadRateDailySurge", "Pricing", new { rateId = model.RateId }, null)

        </b>);
       }).SetRowCssClasses(model => model.IsActive ? "warning" : string.Empty).Sortable(true).Filterable().WithMultipleFilters().WithPaging(10)

            @*</div>*@<!-- /.box-body -->
            @*</div>*@<!-- /.box -->
        </div><!-- /.col -->
        @*<div id="vehicleTypePartialView" class="col-xs-2" style="float:left;">

            </div>*@
        @*<div id="addVehicleTypePartialView" class="col-xs-3" style="float:left;">

            </div>*@

        @*<div id="addedVehicleTypeDayPartialView" class="col-xs-3" style="float:left;padding-top:3%;">

            </div>*@

        @*<div id="addedVehicleTypeDayDetailPartialView">

            </div>*@
    </div><!-- /.row -->
    @*</section>*@
</div>
    @section scripts
{

        <script type="text/javascript">

            document.addEventListener('contextmenu', function (e) {
                e.preventDefault();
            });

            $(document).keydown(function (event) {
                if (event.keyCode == 123) { // Prevent F12
                    return false;
                } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I
                    return false;
                }
            });

            function loadVehicleTypes(rateId) {

                $.ajax({
                    type: 'GET',
                    url: '@Url.Content("~/Pricing/LoadRateVehicleTypePartial")',
                    data: { rateId: rateId },
                    success: function (data) {

                        $('#vehicleTypePartialView').html(data);
                        $('#addVehicleTypePartialView').html("");
                        $('#addedVehicleTypeDayPartialView').html("");
                        $('#addedVehicleTypeDayDetailPartialView').html("");

                    }
                });
            }

            function addVehicleTypes(RateId) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Content("~/Pricing/AddRateVehicleTypePartial")',
                    data: { rateId: RateId },
                    success: function (data) {

                        $('#addVehicleTypePartialView').html(data);
                    }
                });
            }

            function LoadDayDetailView(RateId) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Content("~/Pricing/LoadRateVehicleTypeDistanceDetailPartial")',
                    data: { rateCustomerDistanceDayId: RateId },
                    success: function (data) {

                        $('#addVehicleTypePartialView').html(data);
                    }
                });
            }

            function loadDistanceDetails(rateCustomerDistanceDayId) {

                $.ajax({
                    type: 'GET',
                    url: '@Url.Content("~/Pricing/LoadRateVehicleTypeDistanceDetailPartial")',
                    data: { rateCustomerDistanceDayId: rateCustomerDistanceDayId },
                    success: function (data) {
                        $('#addedVehicleTypeDayDetailPartialView').html(data);
                    }
                });
            }

            function LoadRateVehicleTypeDayDetailPartial(rateId, rateCustomerVehicleTypeId) {

                $.ajax({
                    type: 'GET',
                    url: '@Url.Content("~/Pricing/LoadRateVehicleTypeDayDetailPartial")',
                    data: { rateId: rateId, rateCustomerVehicleTypeId: rateCustomerVehicleTypeId },
                    success: function (data) {
                        $('#addedVehicleTypeDayPartialView').html(data);
                        $('#addedVehicleTypeDayDetailPartialView').html("");
                    }
                });
            }

            $(function () {
                $(document).on("click", "#addVehicleButton", function () {

                    var RateId = $("#RateId").val();
                    var VehicleTypeId = $("#vehicleTypeDropdown").val();
                    var Day = $("#DayDropdown").val();

                    var request =
                    {

                        "RateId": RateId,
                        "VehicleTypeId": VehicleTypeId,
                        "VehicleTypeName": "VehicleTypeName",
                        "Day": Day,
                        "DayName": "DayName",
                        "StartTime": null,
                        "EndTime": null
                    };

                    $.ajax({
                        url: '@Url.Content("~/Pricing/AddRateVehicleTypeDayPartial")',
                        //url: '/Pricing/AddRateVehicleTypeDayPartial',
                        data: JSON.stringify(request),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            //LoadDayDetailView(RateId);
                            //loadVehicleTypes(RateId);
                            $('#addedVehicleTypeDayPartialView').html(data);
                        }
                    });
                });

                $('.edit-mode').hide();
                //$('.edit-user, .delete-distance').on('click', function () {
                //    var tr = $(this).parents('tr:first');
                //    tr.find('.edit-mode, .display-mode').toggle();
                //});

                $(document).on("click", ".save-distance", function () {

                    var tr = $(this).parents('tr:first');
                    var CurrentRateCustomerDistanceDayId = tr.find("#RateCustomerDistanceDayId").val();
                    var CurrentDistanceId = tr.find("#DistanceId").val();
                    var CurrentDistanceFrom = tr.find("#DistanceFrom").val();
                    var CurrentDistanceTo = tr.find("#DistanceTo").val();
                    var CurrentAmount = tr.find("#Amount").val();
                    var CurrentIsDefault = tr.find("#IsDefault").val();
                    //var UserID = tr.find("#UserID").html();
                    //tr.find('.edit-mode, .display-mode').toggle();
                    //alert(CurrentIsDefault);
                    //var CurrentIsDefaultValue = CurrentIsDefault == 'on' ? true : false;
                    var row = $(this).closest('tr');
                    var next = row.next();
                    var previous = row.prev();
                    var NextDistanceId = next.find("#DistanceId").val();
                    var PreviousDistanceId = previous.find("#DistanceId").val();
                    //var NextDistanceFrom = next.find("#DistanceFrom").val();

                    var distanceModel =
                    {

                        "CurrentRateCustomerDistanceDayId": CurrentRateCustomerDistanceDayId,
                        "CurrentDistanceId": CurrentDistanceId,
                        "CurrentDistanceFrom": CurrentDistanceFrom,
                        "CurrentDistanceTo": CurrentDistanceTo,
                        "CurrentAmount": CurrentAmount,
                        "CurrentIsDefault": CurrentIsDefault,
                        "NextDistanceId": NextDistanceId,
                        "PreviousDistanceId": PreviousDistanceId
                    };

                    $.ajax({
                        url: '/api/pricing/saveDistance',
                        data: JSON.stringify(distanceModel),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            loadDistanceDetails(CurrentRateCustomerDistanceDayId);
                        }
                    });

                });

                $(document).on("click", ".delete-distance", function () {

                    var tr = $(this).parents('tr:first');
                    var CurrentRateCustomerDistanceDayId = tr.find("#RateCustomerDistanceDayId").val();
                    var CurrentDistanceId = tr.find("#DistanceId").val();
                    var CurrentDistanceFrom = tr.find("#DistanceFrom").val();
                    var CurrentDistanceTo = tr.find("#DistanceTo").val();
                    var CurrentIsDefault = tr.find("#IsDefault").val();

                    if ((CurrentDistanceFrom != 0 && CurrentIsDefault != true) || (CurrentDistanceFrom == 0 && CurrentDistanceTo == 0)) {

                        var distanceModel =
                        {
                            "CurrentRateCustomerDistanceDayId": CurrentRateCustomerDistanceDayId,
                            "CurrentDistanceId": CurrentDistanceId,
                            "CurrentDistanceFrom": CurrentDistanceFrom,
                            "CurrentDistanceTo": CurrentDistanceTo,
                            "CurrentIsDefault": CurrentIsDefault
                        };

                        $.ajax({
                            url: '/api/pricing/deleteDistance',
                            data: JSON.stringify(distanceModel),
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                loadDistanceDetails(CurrentRateCustomerDistanceDayId);
                            }
                        });
                    }

                });

                $(document).on("click", ".add-distance", function () {
                    var tr = $(this).parents('tr:first');
                    var CurrentRateCustomerDistanceDayId = tr.find("#RateCustomerDistanceDayId").val();
                    var CurrentDistanceId = tr.find("#DistanceId").val();
                    var CurrentDistanceFrom = tr.find("#DistanceFrom").val();
                    var CurrentDistanceTo = tr.find("#DistanceTo").val();
                    var CurrentAmount = tr.find("#Amount").val();
                    var CurrentIsDefault = tr.find("#IsDefault").val();
                    //alert(CurrentIsDefault);
                    var row = $(this).closest('tr');
                    var previous = row.prev();
                    var PreviousDistanceTo = previous.find("#DistanceTo").val();

                    //var CurrentIsDefaultValue = CurrentIsDefault == 'on' ? true : false;

                    if (CurrentDistanceFrom => PreviousDistanceTo && CurrentDistanceTo > 0) {

                        var distanceModel =
                        {
                            "CurrentRateCustomerDistanceDayId": CurrentRateCustomerDistanceDayId,
                            "CurrentDistanceId": CurrentDistanceId,
                            "CurrentDistanceFrom": CurrentDistanceFrom,
                            "CurrentDistanceTo": CurrentDistanceTo,
                            "CurrentAmount": CurrentAmount,
                            "CurrentUnit": "mile",
                            "CurrentIsDefault": CurrentIsDefault
                        };

                        $.ajax({
                            url: '/api/pricing/createDistance',
                            data: JSON.stringify(distanceModel),
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                loadDistanceDetails(CurrentRateCustomerDistanceDayId);
                            }
                        });
                    }
                });
            })



        </script>

    }
