﻿@model SwaranAdmin_New.Models.AutoCabVehicletypeConfigViewModel

@{
    ViewBag.Title = "AutoCabVehicletypeConfigView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Autocab Vehicle Type Configuration </h4>
        <hr /> 
        <div class="col-md-12">
            <div class="col-md-8">

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})


                    <div class="form-group">
                        @Html.LabelFor(model => model.VehicleTypeId, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-4">

                            @Html.DropDownList("VehicleTypeId", ViewBag.Vehicletype as List<SelectListItem>, "Select", new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.VehicleTypeName, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.VehicleTypeName, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.VehicleTypeName, "", new {@class = "text-danger"})
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.VehicleCatogory, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-4">

                            @Html.TextBoxFor(model => model.VehicleCatogory, new {@class = "form-control", @autocomplete = "off", @placeholder = ""})
                            @Html.ValidationMessageFor(model => model.VehicleCatogory, "", new {@class = "text-danger"})
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <input type="submit" value="Update" class="btn btn-default"/>
                        </div>
                    </div>
                </div>

                    if (!string.IsNullOrEmpty(@ViewBag.Message))
                    {
                        <h4 style="color:green"> @ViewBag.Message</h4>
                    }
                }
            </div>
        </div> 
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

     $(document).ready(function() {

         $('#VehicleTypeId').on('change', function () {
            
             $.ajax({
                 url: "/api/autocab/vehicletypes?vehicletypeid=" + this.value,
                 method: "GET",
                 //dataType: 'JSON',
                 //contentType: "application/json; charset = utf-8",
                 //data: JSON.stringify({ Token: token, IsRetunBooking: isRetunBooking, CancelAmt: 0, CancelDate: date + " " + time }), //'token=' + button.attr("data-cancelbooking-id"),
                 success: function (data) {
                     
                     $('#VehicleTypeName').val(data.vehicleTypeName);
                     $('#VehicleCatogory').val(data.vehicleCatogory);
                     }
             });
         });

     });
    </script>
}
