﻿
<div class="box box-default box-solid">
    <div class="box-body">
        <h2>Add Fixed Price</h2>
        <hr />
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @*<div class="form-horizontal">*@
                <div class="table-responsive">
                    <table>
                        <tr>
                            <td>
                                <h4> <a href="/PointInterestAddress/BulkPriceUpdate">Go to Bulk price update</a></h4>
                                <h4> <a href="/PointInterestAddress/PointInterestAllAddressView">Go to Single price update</a></h4>
                            </td>

                        </tr>
                    </table>
                    <div class="col-md-8" id="areatype-list">


                        <div class="col-md-12">

                            <table>
                                <tr>
                                    <td>
                                        <input type="text" class="fromPointOfInterest" placeholder="From" id="fromText" name="fromText" autocomplete="off" />
                                        <input type="hidden" id="fromHidden" name="fromHidden" />
                                        <input type="hidden" id="pickUpHidden" name="pickUpHidden" />
                                        <input type="hidden" id="pickUpLatHidden" name="pickUpLatHidden" />
                                        <input type="hidden" id="pickUpLongHidden" name="pickUpLongHidden" />
                                        <input type="hidden" id="pickUpFullAddressHidden" name="pickUpFullAddressHidden" />
                                    </td>
                                    <td>
                                        <input type="text" class="toPointOfInterest" placeholder="To" id="toText" name="toText" autocomplete="off" />
                                        <input type="hidden" id="toHidden" name="toHidden" />
                                        <input type="hidden" id="dropOffHidden" name="dropOffHidden" />
                                        <input type="hidden" id="dropOffLatHidden" name="dropOffLatHidden" />
                                        <input type="hidden" id="dropOffLongHidden" name="dropOffLongHidden" />
                                        <input type="hidden" id="dropOffFullAddressHidden" name="dropOffFullAddressHidden" />
                                    </td>
                                    @*<td>
                                            <input type="button" value="Calculate" class="btn btn-info" id="calculateDistanceDurationButton" />
                                        </td>*@
                                    @*<td>
                                            <button id="btnsubmit" type="submit" class="btn btn-primary mainsubmit"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </td>*@
                                </tr>
                            </table>
                            <div class="col-md-8">

                                <div class="box">

                                    <div class="box-body">
                                        @*<table class="table table-bordered">*@
                                        <table class="table">
                                            <tbody>

                                                <tr>

                                                    <td>From</td>
                                                    <td>
                                                        <span id="fromLocation"> </span>
                                                    </td>

                                                </tr>
                                                <tr>

                                                    <td> To </td>
                                                    <td>
                                                        <span id="toLocation"> </span>
                                                    </td>

                                                </tr>
                                                @*<tr>
                                                        <td>3.</td>
                                                        <td> Point</td>
                                                        <td>
                                                            <span id="pointsid"> </span>
                                                        </td>

                                                    </tr>*@
                                                <tr>

                                                    <td>Basic Price</td>
                                                    <td>
                                                        <input type="text" id="basicPrice" name="basicPrice" value="0" />
                                                    </td>
                                                </tr>
                                                @*<tr>

                                                        <td>Lat</td>
                                                        <td>
                                                            <input type="text" id="lat" name="lat" />
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td>Long</td>
                                                        <td>
                                                            <input type="text" id="long" name="long" />
                                                        </td>
                                                    </tr>*@
                                                <tr>

                                                    <td>Distance</td>
                                                    <td>
                                                        @*<span id="distance"> </span>*@
                                                        <input type="text" id="distance" name="distance" value="0" />
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td>Duration</td>
                                                    <td>
                                                        @*<span id="duration"> </span>*@
                                                        <input type="text" id="duration" name="duration" value="0" />
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td>Pick Up Charge</td>
                                                    <td>
                                                        <span id="pickupCharge">0</span>
                                                        @*<input type="text" id="pickupCharge" name="pickupCharge" value="0"/>*@

                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td>Drop Off Charge</td>
                                                    <td>
                                                        <span id="dropoffCharge">0</span>
                                                        @*<input type="text" id="dropoffCharge" name="dropoffCharge" value="0"/>*@
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td>Final Price</td>
                                                    <td>
                                                        @*<span id="dropoffCharge"> </span>*@
                                                        <span id="finalPrice">0</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <br />
                        <br />

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.BasicPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.BasicPrice, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                    @Html.ValidationMessageFor(model => model.BasicPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @*<input type="submit" value="Add" class="btn btn-success" />*@
                            <input type="button" value="Add" class="btn btn-success" id="saveFixedPriceButton" />
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section scripts
    {

    <script>

        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });

        $(document).keydown(function (event) {
            if (event.keyCode == 123) { // Prevent F12
                return false;
            } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I
                return false;
            }
        });

        function validateNumber(e) {
            //var key = window.event ? event.keyCode : event.which;
            //if (event.keyCode === 8 || event.keyCode === 46) {
            //    return true;
            //} else if (key < 48 || key > 57) {
            //    return false;
            //} else {
            //    return true;
            //}

            var charCode;
            if (e.keyCode > 0) {
                charCode = e.which || e.keyCode;
            }
            else if (typeof (e.charCode) != "undefined") {
                charCode = e.which || e.keyCode;
            }

            if (charCode == 46) {
                return true;
            }
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }

            return true;
        };

        function validateNumberInput(value) {
            if (value != 0 && value != 0.00 && value != "0" && value != "0.00" && value != "" && value != " ") {
                return true;
            }
            else {
                return false;
            }
        }

        function validateInputs() {
            var distance = $("#distance").val();
            var duration = $("#duration").val();
            var basicPrice = $("#basicPrice").val();
            var fromAreaPointId = $("#fromHidden").val();
            var toAreaPointId = $("#fromHidden").val();

            if (validateNumberInput(basicPrice) && validateNumberInput(distance) && validateNumberInput(duration) && validateNumberInput(fromAreaPointId) && validateNumberInput(toAreaPointId)) {
                return true;
            }
            else {
                return false;
            }
        }

        $(document).ready(function () {
            $('#basicPrice').on('input', function () {


                var basicPrice = $('#basicPrice').val();
                var pickUpCharge = $("#pickUpHidden").val();
                var dropoffCharge = $("#dropOffHidden").val();
                var finalPrice = (+basicPrice) + (+pickUpCharge) + (+dropoffCharge);
                //alert(finalPrice);
                $('#finalPrice').text(finalPrice);

            });

            $('[id^=basicPrice]').keypress(validateNumber);
            $('[id^=distance]').keypress(validateNumber);
            $('[id^=duration]').keypress(validateNumber);

            var pickuppointRequest = null;
            var dropOffpointRequest = null;
            $('input.fromPointOfInterest').typeahead({
                hint: true,
                delay: 0,
                showHintOnFocus: "all",
                name: 'BookingFromLabel',
                minLength: 2,
                autoSelect: true,
                highlight: true,
                items: 500,

                source: function (query, process) {


                    var regex = "^[a-zA-Z0-9\\s/g_.-]*$";
                    //  $("#overLay").show();
                    //  $("#overLay").addClass("overlay");

                    $('input.toPointOfInterest').val('');
                    $('#finalPrice').text('0');
                    $('#basicPrice').val('0');
                    $('#fromLocation').text('');
                    $('#toLocation').text('');
                    $('#pickupCharge').text('0');
                    $('#dropoffCharge').text('0');
                    $("#fromHidden").val(0);
                    $("#toHidden").val(0);
                    $("#distance").val(0);
                    $("#duration").val(0);

                    var that = this;
                    //alert(JSON.stringify(that));
                    pickuppointRequest = $.ajax({
                        url: '/api/pointofinterest/relevantpointofinterest',
                        type: 'GET',
                        dataType: 'JSON',
                        data: 'fromSearchString=' + query + '&toSearchString=' + '',
                        beforeSend: function () {



                            if (pickuppointRequest != null) {
                                pickuppointRequest.abort();
                            }
                            that.$element.addClass('loadinggif');
                        },
                        complete: function () {
                            that.$element.removeClass('loadinggif');
                        },

                        success: function (data) {
                            debugger;
                            map = {};
                            var cnames = new Array();
                            for (var i = 0; i < data.length; i++) {

                                var id = data[i].ariaPointId;
                                var fullAddress = data[i].fullPostcode + " " + data[i].name;
                                name = data[i].outerPostcode + " - " + data[i].name;
                                map[name] = { id: id, name: name, pickupcharge: data[i].pickupCharge, lat: data[i].lat, long: data[i].long, fulladdress: fullAddress };
                                cnames.push(name);
                            }
                            process(cnames);

                            //$("#overLay").removeClass("overlay");
                            //$("#overLay").hide();
                        }
                    });


                },
                sorter: function (items) {
                    return items;// items.sort();
                },
                matcher: function (item) {

                    return true;

                },
                updater: function (item) {

                    $("#fromHidden").val(map[item].id);
                    $("#pickUpHidden").val(map[item].pickupcharge);
                    $("#pickUpLatHidden").val(map[item].lat);
                    $("#pickUpLongHidden").val(map[item].long);
                    $("#pickUpFullAddressHidden").val(map[item].fullAddress);


                    return item;
                }

            });

            $('input.toPointOfInterest').typeahead({
                hint: true,
                delay: 0,
                showHintOnFocus: "all",
                name: 'BookingFromLabel',
                minLength: 2,
                autoSelect: true,
                highlight: true,
                items: 500,

                source: function (query, process) {

                    $('#finalPrice').text('0');
                    $('#basicPrice').val('0');
                    //$('#basicPrice').val('0');
                    //$("#pickUpHidden").val('');
                    //$("#dropOffHidden").val('');

                    var regex = "^[a-zA-Z0-9\\s/g_.-]*$";
                    //  $("#overLay").show();
                    //  $("#overLay").addClass("overlay");

                    var that = this;
                    //alert(JSON.stringify(that));
                    dropOffpointRequest = $.ajax({
                        url: '/api/pointofinterest/relevantpointofinterest',
                        type: 'GET',
                        dataType: 'JSON',
                        data: 'fromSearchString=' + $('input.fromPointOfInterest').val() + '&toSearchString=' + query,
                        beforeSend: function () {



                            if (dropOffpointRequest != null) {
                                dropOffpointRequest.abort();
                            }
                            that.$element.addClass('loadinggif');
                        },
                        complete: function () {
                            that.$element.removeClass('loadinggif');
                        },

                        success: function (data) {
                            debugger;
                            map = {};
                            var cnames = new Array();
                            for (var i = 0; i < data.length; i++) {

                                var id = data[i].ariaPointId;
                                var fullAddress = data[i].fullPostcode + " " + data[i].name;
                                name = data[i].outerPostcode + " - " + data[i].name;
                                map[name] = { id: id, name: name, dropoffcharge: data[i].dropoffCharge, lat: data[i].lat, long: data[i].long, fulladdress: fullAddress };
                                cnames.push(name);
                            }
                            process(cnames);

                            //$("#overLay").removeClass("overlay");
                            //$("#overLay").hide();
                        }
                    });


                },
                sorter: function (items) {
                    return items;// items.sort();
                },
                matcher: function (item) {

                    return true;

                },
                updater: function (item) {

                    $("#toHidden").val(map[item].id);
                    $("#dropOffHidden").val(map[item].dropoffcharge);
                    $("#fromLocation").text($("#fromText").val());
                    $("#toLocation").text(map[item].name);
                    $("#pickupCharge").text($("#pickUpHidden").val());
                    $("#dropoffCharge").text(map[item].dropoffcharge);
                    $("#dropOffLatHidden").val(map[item].lat);
                    $("#dropOffLongHidden").val(map[item].long);
                    $("#dropoffFullAddressHidden").val(map[item].fullAddress);

                    //GetMemberInfo(map[item].id)
                    calculateDistanceAndDuration();

                    return item;
                }

            });

            $("#saveFixedPriceButton").on("click", function () {

                if (validateInputs()) {

                    var saveFixedPriceRequest =
                       {

                           "FromAreaPointId": Number($("#fromHidden").val()),
                           "ToAreaPointId": Number($("#toHidden").val()),
                           "BasicPrice": parseFloat($("#basicPrice").val()),
                           "Distance": parseFloat($("#distance").val()),
                           "Duration": parseFloat($("#duration").val())
                       };

                    //alert(JSON.stringify(saveFixedPriceRequest));
                    $.ajax({
                        url: '/api/pointofinterest/savefixedprice',
                        data: JSON.stringify(saveFixedPriceRequest),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            alert("Fixed Price has been added successfully!")
                            location.href = "/PointInterestAddress/AddFixedPrice";
                            
                        }
                    });
                }
                else {

                    alert("Basic Price or Distance or Duration cannot be zero or empty.!")
                    //alert("Basic Price or Distance or Duration cannot be zero or empty.")
                }
            });

            //$("#calculateDistanceDurationButton").on("click", function () {

            //    var fromCoordinates = $("#pickUpLatHidden").val() + "," + $("#pickUpLongHidden").val();
            //    var toCoordinates = $("#dropOffLatHidden").val() + "," + $("#dropOffLongHidden").val();


            //        var fixedPriceCalculationRequest =
            //           {

            //               "FromCoordinates": fromCoordinates,
            //               "FromFullAddress": $("#pickUpFullAddressHidden").val(),
            //               "ToCoordinates": toCoordinates,
            //               "ToFullAddress": $("#dropoffFullAddressHidden").val()
            //           };

            //        //alert(JSON.stringify(saveFixedPriceRequest));
            //        $.ajax({
            //            url: '/api/pointofinterest/calculatefixedpricetimeanddistance',
            //            data: JSON.stringify(fixedPriceCalculationRequest),
            //            type: 'POST',
            //            contentType: 'application/json; charset=utf-8',
            //            success: function (data) {
            //                //location.href = "/PointInterestAddress/AddFixedPrice";
            //                $("#distance").val(data.distance);
            //                $("#duration").val(data.time);
            //            }
            //        });

            //});


            function calculateDistanceAndDuration() {

                var fromCoordinates = $("#pickUpLatHidden").val() + "," + $("#pickUpLongHidden").val();
                var toCoordinates = $("#dropOffLatHidden").val() + "," + $("#dropOffLongHidden").val();


                var fixedPriceCalculationRequest =
                   {

                       "FromCoordinates": fromCoordinates,
                       "FromFullAddress": $("#pickUpFullAddressHidden").val(),
                       "ToCoordinates": toCoordinates,
                       "ToFullAddress": $("#dropoffFullAddressHidden").val()
                   };

                //alert(JSON.stringify(saveFixedPriceRequest));
                $.ajax({
                    url: '/api/pointofinterest/calculatefixedpricetimeanddistance',
                    data: JSON.stringify(fixedPriceCalculationRequest),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        //location.href = "/PointInterestAddress/AddFixedPrice";
                        $("#distance").val(data.distance);
                        $("#duration").val(Math.round(data.time * 60));
                    }
                });

            }
        });
    </script>
}