﻿@model SwaranAdmin_New.Models.MultiplePriceUpdateViewModel
    
<div class="box box-default box-solid">
    <h2>Bulk Price Update </h2> <h4><a href="/PointInterestAddress/AddFixedPrice" target="_blank">Add Fixed Price</a></h4>
    <hr />
    <div class="box-body">        
        <div class="col-md-12">
            @*<h4> <a href="/PointInterestAddress/AddFixedPrice" target="_blank">Add Fixed Price</a></h4>*@

            @using (Html.BeginForm())
            {
                @*<div class="form-horizontal">*@
                <div class="table-responsive">
                    @*<table>
                        <tr>
                            <td>
                                <input type="text" placeholder="From" id="fromText" name="fromText" />
                            </td>
                            <td>
                                <input type="text" placeholder="To" id="toText" name="toText" />
                            </td>
                        </tr>
                    </table>*@
                    <div class="col-md-6 text-center">
                        <input type="text" placeholder="From" id="fromText" name="fromText" />
                    </div>
                    <div class="col-md-6 text-center">
                        <input type="text" placeholder="To" id="toText" name="toText" />
                    </div>
                    @*<div class="col-md-12" id="areatype-list">*@    
                    <br />
                    <br />
                    <div>
                        @*<div class="col-md-12">*@

                        @*<div class="subject-info-box-1">*@
                        <div class="col-md-5 text-center">
                            <h5>All Fixed Prices</h5>
                            <select multiple="multiple" id='lstBox1' class="form-control"></select>
                        </div>

                        @*<div class="subject-info-arrows text-center">*@
                        <div class="col-md-2 text-center">
                            <h5>Send</h5>
                            <input type='button' id='btnAllRight' value='>>' class="btn btn-default" /><br />
                            <input type='button' id='btnRight' value='>' class="btn btn-default" /><br />
                            <input type='button' id='btnLeft' value='<' class="btn btn-default" /><br />
                            <input type='button' id='btnAllLeft' value='<<' class="btn btn-default" />
                        </div>

                        @*<div class="subject-info-box-2">*@
                        <div class="col-md-5 text-center">
                            <h5>Selected Fixed Prices @*<a id="btnselectAll"> Select all</a>*@</h5>

                            <select name="AriaPointId" multiple="multiple" id='AriaPointId' class="form-control"></select>
                            @*@Html.DropDownListFor(m => m.AriaPointId,Model.AriaPointIds, new { multiple = "multiple" })*@
                        </div>

                        <div class="clearfix"></div>
                        @*</div>*@

                    </div>

                    <div class="col-md-12">
                        <br />
                        <br />

                        <div class="form-group text-center">
                            <div class="col-md-6 col-md-offset-2 text-center">
                                @Html.LabelFor(model => model.BasicPrice, htmlAttributes: new { @class = "control-label col-md-12 text-center" })
                                @*<div class="col-md-6 text-center">
                                    @Html.TextBoxFor(model => model.BasicPrice, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                    @Html.ValidationMessageFor(model => model.BasicPrice, "", new { @class = "text-danger" })
                                </div>*@
                            </div>
                            <div class="col-md-6 col-md-offset-2 text-center">
                                @Html.TextBoxFor(model => model.BasicPrice, new { @class = "form-control col-md-6 text-center", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.BasicPrice, "", new { @class = "text-danger" })
                            </div>
                            </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-md-12">
                            <input type="submit" value="Update" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#BasicPrice').val('0');
            $('#fromText').on('input', function () {

                var fromText = $('#fromText').val();
                var toText = $('#toText').val();
                if (fromText.length > 1) {
                    $("#lstBox1").html('')
                    $.ajax({
                        type: 'GET',
                        url: '/api/pointofinterest/relevantfixedprice?fromSearch=' + fromText + '&toSearch=' + toText + '&isSpecialOccasion=false',
                        success: function (data) {

                            $.each(data.fixedPrices, function (index, itemData) {
                                $("#lstBox1").append(new Option(itemData.fromLocation, itemData.fixedPriceId));
                            });

                            //$.each(data.fixedPrices, function (index, itemData) {
                            //    $("#AriaPointId").append(new Option(itemData.fromLocation, itemData.fixedPriceId));
                            //});
                            //$('#AriaPointId option').prop('selected', true);
                        }
                    });
                }
            });

            $('#toText').on('input', function () {
                var fromText = $('#fromText').val();
                var toText = $('#toText').val();
                if (toText.length > 1) {
                    $("#lstBox1").html('')
                    $.ajax({
                        type: 'GET',
                        url: '/api/pointofinterest/relevantfixedprice?fromSearch=' + fromText + '&toSearch=' + toText + '&isSpecialOccasion=false',
                        success: function (data) {

                            $.each(data.fixedPrices, function (index, itemData) {
                                $("#lstBox1").append(new Option(itemData.fromLocation, itemData.fixedPriceId));
                            });

                            //$.each(data.specialOccAddress, function (index, itemData) {
                            //    $("#AriaPointId").append(new Option(itemData.name, itemData.ariaPointId));
                            //});
                            //$('#AriaPointId option').prop('selected', true);
                        }
                    });
                }
            });
            $('#btnRight').click(function (e) {
                var selectedOpts = $('#lstBox1 option:selected');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#AriaPointId').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                $('#AriaPointId option').prop('selected', true);
            });

            $('#btnAllRight').click(function (e) {
                var selectedOpts = $('#lstBox1 option');

                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }
                $('#AriaPointId').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                $('#AriaPointId option').prop('selected', true);
            });

            $('#btnLeft').click(function (e) {
                var selectedOpts = $('#AriaPointId option:selected');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBox1').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                $('#AriaPointId option').prop('selected', true);
            });

            $('#btnAllLeft').click(function (e) {
                var selectedOpts = $('#AriaPointId option');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBox1').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });
            //$("#btnselectAll").click(function () {
            //    $('#AriaPointId option').prop('selected', true);
            //});

            //$.ajax({
            //    type: 'GET',
            //    url: '/api/pointofinterest/relevantfixedprice?fromSearch=' + '' + '&toSearch=' + '',
            //    success: function (data) {

            //        $.each(data.fixedPrices, function (index, itemData) {
            //            $("#lstBox1").append(new Option(itemData.fromLocation + '=>' + itemData.ToLocation, itemData.fixedPriceId));
            //        });

            //        //$.each(data.specialOccAddress, function (index, itemData) {
            //        //    $("#AriaPointId").append(new Option(itemData.name, itemData.ariaPointId));
            //        //});
            //        //$('#AriaPointId option').prop('selected', true);
            //    }
            //});
        });
    </script>
}
