﻿
@{
    ViewBag.Title = "PointInterestView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="box box-danger box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Point of Interest Address </h4>
        <hr />

        <input type="hidden" name="Ordercode" value="Norway">
        <div class="col-md-12" style="margin-bottom: 25px">
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    @*<input name="BookingNumber" class="form-control" type="text" placeholder="Enter Booking Number">*@
                    @Html.TextBox("Address", null,new { @class = "form-control", @placeholder = "Enter Booking Number" })
                    <span class="input-group-btn">
                        <button type="button" id="searchBtn" class="btn btn-info btn-flat">Search!</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box col-md-12">

                <table id="repayment-grid" style="color: #000000" class="table table-bordered table-striped dataTable">
                    @*class="table table-bordered table-striped dataTable">*@
                    <thead>
                        <tr>
                            <th>AddressId</th>
                            <th>OuterPostcode</th>
                            <th>Postcode</th>
                            <th>Name</th>
                            <th>PickupCharge</th>
                            <th>DropoffCharge</th>
                            <th>Lat</th>
                            <th>Long</th>
                            <th>IsDefault</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>

        
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

                $(document).ready(function () {

                    $("#refound-All").hide();
                    var Table = $("#repayment-grid").DataTable({
                        "paging": false,
                        "ordering": false,
                        "info": false,
                        "filter": false,
                        aaSorting: [],
                        data: [],
                        columns: [
                            {
                                data: "ariaPointId",
                                "width": "10%"
                            },
                            {
                                data: "outerPostcode",
                                "width": "10%"
                            },
                            {
                                data: "fullPostcode",
                                "width": "10%"
                            },
                            {
                                data: "name",
                                "width": "15%"
                            },
                            {
                                data: "pickupCharge", 
                                render: function (data, type, row) {
                                    return "£ " + data;
                                }
                            },
                            {
                                data: "dropoffCharge", 
                                render: function (data, type, row) {
                                    return "£ " + data;
                                }
                            },
                            {
                                data: "lat"
                                 
                            },
                            {
                                data: "long"
                            },
                            {
                                data: "isDefault"
                            }
                        ]

                    });


                    $("#searchBtn").click(function () {

                        var address = $("input[name='Address']").val(); 

                        $("#overLay").show();
                        $("#overLay").addClass("overlay");
                        $.ajax({
                            url: "/api/pointofinterest/poiaddress?address=" + address,
                            method: "GET",
                            success: function (data) {
                                $("#overLay").removeClass("overlay");
                                $("#overLay").hide();
                                debugger;
                                //if (data == null || data.length <= 0) {
                                //    alert("Booking number not found");
                                //    $("#refound-All").hide();
                                //    return false;
                                //}
                                Table.clear().draw();
                                Table.rows.add(data).draw();
                               
                            },
                            error: function (data) {
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                        });
                    });


                    $(".jqueryui-marker-datepicker").datepicker(
                        {
                            minDate: 0,
                            dateFormat: "dd/mm/yy"
                        }).css("display", "inline-block")
                        .next("button").button(
                        {
                            icons: { primary: "ui-icon-calendar" },
                            lable: "Select a date",
                            text: false
                        });


                });
    </script>
}




