﻿
 <div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>All Point of Interest Price </h4>
        <hr />

        <input type="hidden" name="Ordercode" value="Norway">
        <div class="col-md-12" style="margin-bottom: 25px">
            <h4> <a href="/PointInterestAddress/AddFixedPrice">Add Fixed Price</a></h4>
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    @*<input name="BookingNumber" class="form-control" type="text" placeholder="Enter Booking Number">*@
                    @*@Html.TextBoxFor(x => x.BookingNumber, new { @class = "form-control", @placeholder = "Enter Booking Number" })*@
                    <span class="input-group-btn">
                        <button type="button" id="searchBtn" class="btn btn-info btn-flat">Search!</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box col-md-12">

                <table id="PoIAddess-grid" style="color: #000000" class="table table-bordered table-striped dataTable">
                    @*class="table table-bordered table-striped dataTable">*@
                    <thead>
                        <tr>
                            <th>From IsAway</th>
                            <th>From Location</th>
                            <th>To IsAway</th>
                            <th>To Location</th>
                            <th>Ba_Pri</th>
                            <th>From Pi_Chg</th>
                            <th>From Dr_Chg</th>
                            <th>To Pi_Chg</th>
                            <th>To Dro_Chg</th>
                            <th>Edit From Loc</th>
                            <th>Edit To Loc</th>
                            <th>Edit B_Price</th>

                        </tr>
                    </thead>
                </table>

            </div>
        </div>

       
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

                $(document).ready(function () {
                    $("#PoIAddess-grid").append('<tfoot><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tfoot>');
                    $('#PoIAddess-grid tfoot th:eq(1)').each(function () {
                        var title = $(this).text();
                        $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                    });
                    $('#PoIAddess-grid tfoot th:eq(3)').each(function () {
                        var title = $(this).text();
                        $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                    });

                    var Table = $("#PoIAddess-grid").DataTable({
                        "oSearch": { "bSmart": false },
                        pageLength: 10,
                        "paging": true,
                        "ordering": true,
                        "info": true,
                        "filter": true,
                        aaSorting: [],
                        data: [],
                        columns: [
                            {
                                data: "isAwayFrom"
                            },
                            {
                                data: "fromLocation",
                                "width": "12%"
                            },
                            {
                                data: "isAwayTo"
                            },
                            {
                                data: "toLocation",
                                "width": "12%"
                            },
                            {
                                data: "basicPrice",
                                "width": "7%"
                            },
                            {
                                data: "fromPickupCharge",
                                "width": "7%"
                            },
                            {
                                data: "fromDropoffCharge",
                                "width": "7%"
                            },
                             {
                                 data: "toPickupCharge",
                                 "width": "7%"
                             },
                            {
                                data: "toDropOffCharge",
                                "width": "7%"
                            },
                            {
                                data: "fromAriapointId",
                                "width": "15%",
                                render: function (data, type, row) {

                                    return "<a href='/PointInterestAddress/EditPoI?id=" + data + "' class='js-view' data-booking-id=" + data + " target='_blank' >" + row["fromLocation"] + "</a>";
                                }
                            },
                            
                            {
                                data: "toAriapointId",
                                "width": "15%",
                                render: function (data, type, row) {

                                    return "<a href='/PointInterestAddress/EditPoI?id=" + data + "' class='js-view' data-booking-id=" + data + " target='_blank' >" + row["toLocation"] + "</a>";
                                }
                            },
                            {
                                data: "fixedPriceId",
                                "width": "7%",
                                render: function (data, type, row) {

                                    return "<a href='/PointInterestAddress/EditBasicpriceView?id=" + data + "' class='js-view' data-booking-id=" + data + " target='_blank' >Edit BCP</a>";
                                }
                            }
                        ]

                    });


                    Table.columns().every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change', function () {
                            if (that.search() !== this.value) {
                                that
                                    // .search(this.value)
                                     //.search(  $(this).val() + "$", true, false, true)
                                     .search("^"+$(this).val() , true, false, true)
                                    // .search("^" + this.value, true, false, true)
                                     .draw();
                            }
                        });
                    });

                    $('#PoIAddess-grid').on('click', 'tbody td', function () {
                        Table.cell(this).edit({
                            blur: 'submit'
                        });
                    });

                    $("#overLay").show();
                    $("#overLay").addClass("overlay");
                    $.ajax({
                        url: "/api/pointofinterest/alladdress",
                        method: "GET",
                        success: function (data) {
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                            
                            Table.clear().draw();
                            Table.rows.add(data).draw();
                            

                        },
                        error: function (data) {
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });

                    $("#searchBtn").click(function () {

                        var bookingnumber = $("input[name='BookingNumber']").val();

                        $("#overLay").show();
                        $("#overLay").addClass("overlay");
                        $.ajax({
                            url: "/api/member/getrepaymentgrid?bookingnumber=" + bookingnumber,
                            method: "GET",
                            success: function (data) {
                                $("#overLay").removeClass("overlay");
                                $("#overLay").hide();
                                debugger;
                                if (data == null || data.length <= 0) {
                                    alert("Booking number not found");
                                    $("#refound-All").hide();
                                    return false;
                                }
                                Table.clear().draw();
                                Table.rows.add(data).draw();
                                if (  data[0].bookingToken == null) {
                                    $("#refound-All").hide();
                                } else {
                                    $("#refound-All").show();
                                }
                                $("#newLink").attr("href", "/WorldPayPayment/PayWorldpayOnline?tokent=" + data[0].bookingToken);

                            },
                            error: function (data) {
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                        });
                    });


                    $(".jqueryui-marker-datepicker").datepicker(
                        {
                            minDate: 0,
                            dateFormat: "dd/mm/yy"
                        }).css("display", "inline-block")
                        .next("button").button(
                        {
                            icons: { primary: "ui-icon-calendar" },
                            lable: "Select a date",
                            text: false
                        });


                });
    </script>
}





