﻿@model SwaranAdmin_New.Models.StaffAdditionalDetailsModel

@{
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html">
                <img src="~/Content/Images/lgo.png" />
            </a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">More details.</p>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.Id)

                <div class="form-group has-feedback">                   
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", @placeholder = "PostalCode" })
                        @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                    
                </div>

                    <div class="form-group has-feedback">                       
                            @Html.TextBoxFor(m => m.Street, new { @class = "form-control", @placeholder = "Street" })
                            @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="form-group has-feedback">                        
                            @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @placeholder = "Fax" })
                            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })                        
                    </div>

                    <div class="form-group has-feedback">                       
                            @Html.TextBoxFor(m => m.Town, new { @class = "form-control", @placeholder = "Town" })
                            @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })                       
                    </div>

                    <div class="form-group has-feedback">
                            @Html.TextBoxFor(m => m.CountryId, new { @class = "form-control", @placeholder = "CountryId" })
                            @*@Html.EditorFor(model => model.CountryId, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group has-feedback">
                        
                            @Html.TextBoxFor(m => m.PaymentMethod, new { @class = "form-control", @placeholder = "PaymentMethod" })
                            @*@Html.EditorFor(model => model.PaymentMethod, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="form-group has-feedback">
                        
                            @Html.TextBoxFor(m => m.Workbase, new { @class = "form-control", @placeholder = "Workbase" })
                            @Html.ValidationMessageFor(model => model.Workbase, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group has-feedback">
                       
                            @Html.TextBoxFor(m => m.PayslipFrequencyId, new { @class = "form-control", @placeholder = "PayslipFrequencyId" })
                            @Html.ValidationMessageFor(model => model.PayslipFrequencyId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group has-feedback">                       
                            @Html.TextBoxFor(m => m.PayRateAccountant, new { @class = "form-control", @placeholder = "PayRateAccountant" })
                            @Html.ValidationMessageFor(model => model.PayRateAccountant, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group has-feedback">
                            @Html.TextBoxFor(m => m.PayRateDirect, new { @class = "form-control", @placeholder = "PayRateDirect" })
                            @Html.ValidationMessageFor(model => model.PayRateDirect, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group has-feedback">                        
                            @Html.TextBoxFor(m => m.PayOption, new { @class = "form-control", @placeholder = "PayOption" })
                            @Html.ValidationMessageFor(model => model.PayOption, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group has-feedback">
                            @Html.TextBoxFor(m => m.MaxHoursAccountant, new { @class = "form-control", @placeholder = "MaxHoursAccountant" })
                            @Html.ValidationMessageFor(model => model.MaxHoursAccountant, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group has-feedback">
                            @Html.TextBoxFor(m => m.Pension, new { @class = "form-control", @placeholder = "Pension" })
                            @Html.ValidationMessageFor(model => model.Pension, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group has-feedback">
                            @Html.TextBoxFor(m => m.CompanyWorkingFor, new { @class = "form-control", @placeholder = "CompanyWorkingFor" })
                            @Html.ValidationMessageFor(model => model.CompanyWorkingFor, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="form-group has-feedback" style="text-align:center;">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>

            }

        </div>
    </div>
</body>
</html>
