﻿
@{
    ViewBag.Title = "Home Page";
}

<div class="box box-danger box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <div class="col-md-12" style="margin:15px">
            @*href="@Url.Action("OldBookings", "Member", new { memberId = 44427 })"*@
            <span style="color:#ee0202;font-size:20px;"><b>View bookings before 25.02.2018 => </b></span><a id="pastbooking" class="btn  btn-info" target="_blank">View</a>
        </div>
        <div class="col-md-12" style="margin-top: 25px">
            @*<div class="col-md-8 box">*@
            <table id="booking-history" style="color: #000000" class="table table-bordered table-striped dataTable">
                @*class="table table-striped table-bordered">*@
                <thead>
                    <tr>
                        <th>GHOST_ID</th>
                        <th>LOYALTY</th>
                        <th>NAME</th>
                        <th>REFERENCE</th>
                        <th>JOURNEYS</th>
                        <th>FROM</th>
                        <th>TO</th>
                        <th>TIME LEFT</th>
                        <th>VEHICLE</th>
                        <th>PAYMENT</th>
                        <th>COUNTRY</th>
                        <th>STATUS</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            @*</div>*@
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {

            var Table = $("#booking-history").DataTable({
                pageLength:100,
                aaSorting: [],
                data: [],
                "scrollX": true,
                columns: [
                    {
                        data: "autocabNumber",
                        "width": "5%"
                    },
                    {
                        data: "loyaltyType",
                        "width": "5%"
                    },
                     {
                         data: "bookedPersonName",
                         "width": "15%"
                     },
                    {
                        data: "bookingNumber",
                         "width": "5%"
                    },

                    {
                        data: "journeyType",
                        "width": "5%"
                    },
                    {
                        data: "bookingFrom" ,
                        "width": "20%",
                        "visible": false
                    },
                    {
                        data: "bookingTo" ,
                        "width": "20%",
                        "visible": false
                    },
                     { data: "timeleft" },
                    {
                        data: "vehicleTypes"

                    },
                    {
                        data: "paymentType",
                        "width": "15%"

                    },
                      {
                          data: "country"

                      },
                       {
                           data: "status",
                           "width": "5%"
                       },
                    {
                        data: "isSentToGhost",
                        render: function (data, type, row) {
                            if (!row["isSentToGhost"])
                                return "<a class='send btn bg-navy' data-isReturnBooking='" + row["isReturnBooking"] + "' data-bookingtoken='" + row["bookingToken"] + "' >Send To Ghost</a>";
                            else
                                return "";
                        }

                    },
                    {
                        //IsReturnBooking
                        data: "bookingToken",
                        render: function (data, type, row) {
                            return "<a href='/Reservation/EditBooking?bookingToken=" + data + "&isReturnBooking=" + row["isReturnBooking"] + "' class='btn btn-block btn-success' >View</a>";


                        }

                    },
                     {
                         data: "remainingHours",
                         "visible": false
                     },
                       {
                           data: "paymentStatus",
                           "visible": false
                       }, {
                           data: "paymentTypeId",
                           "visible": false
                       }

                ],
                createdRow: function(nRow, aData, c, d) {


                    if (aData["remainingHours"] <= 3) {
                        $(nRow).children(":nth-child(6)").css("color", '#ffffff');
                        $(nRow).children(":nth-child(6)").css("background-color", '#c11707');
                      //  return;
                    }
                    if (6 >= aData["remainingHours"] &&  aData["remainingHours"] > 3 ) {
                        $(nRow).children(":nth-child(6)").css("color", '#ffffff');
                        $(nRow).children(":nth-child(6)").css("background-color", '#ba1889');
                       // return;
                    }
                    if (12 > aData["remainingHours"] && aData["remainingHours"] > 6) {
                        $(nRow).children(":nth-child(6)").css("color", '#ffffff');
                        $(nRow).children(":nth-child(6)").css("background-color", '#ff6600');
                      //  return;
                    }
                    if (aData["remainingHours"] >=  12) {
                        $(nRow).children(":nth-child(6)").css("color", '#ffffff');
                        $(nRow).children(":nth-child(6)").css("background-color", '#00cc00');
                      //  return;
                    }
                    //panding and card payment type
                    if ((aData["paymentStatus"] == 1 || aData["paymentStatus"] == 0) && aData["paymentTypeId"] == 2) {
                        $(nRow).children(":nth-child(8)").css("color", '#c11707');

                    }

                    if ((aData["paymentStatus"] == 4 ) && aData["paymentTypeId"] == 2) {
                        $(nRow).children(":nth-child(8)").css("color", '#00b74e');

                    }
                }
            });



            var userid = @Html.Raw(Json.Encode(ViewData["UserId"]));
            var bookingStatus = @Html.Raw(Json.Encode(ViewData["BookingStatus"])); 
            var memberId= @Html.Raw(Json.Encode(ViewData["MemberId"]));

            $("#pastbooking").attr("href", "/Member/OldBookings?memberId=" + memberId)

                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: "/api/reservation/resrvationstatusbyuser?userid=" +userid+ "&bookingStatus="+bookingStatus+"",
                    method: "GET",
                    success: function (data) {
                        if (data != null) {
                            Table.clear().draw();
                            Table.rows.add(data).draw();
                        } else {
                            Table.clear().draw();
                        }
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    }
                });



              $("#btnsearchbooking").click(function () {

                  var bookingnumber = $("#bookingnumber").val();


                  $("#overLay").show();
                  $("#overLay").addClass("overlay");

                              $.ajax({
                                  url: "/api/reservation/curentbooking?bookingnumber=" + bookingnumber,
                                  method: "GET",
                                  success: function (data) {
                                      if (data != null) {
                                          Table.column(11).visible(true);
                                          Table.clear().draw();
                                          Table.rows.add(data).draw();
                                      } else {
                                          Table.clear().draw();
                                      }
                                      $("#overLay").removeClass("overlay");
                                      $("#overLay").hide();
                                  }
                              });

                  });







             @*Requested = 1,
        Confirmed = 2,
        WaitingForVerification = 3,
        Hold = 4,
        Cancelled = 5,
        Dispatched = 6,
        Arrived = 7,
        POB = 8,
        SoonToClear = 9,
        Panic = 10,
        Finished = 11,
        Reject = 12,
        Pending = 13*@


         });
    </script>
}
