﻿@{
    ViewBag.Title = "Home Page";
}
 
 <div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
     <div class="box-body" style="background-color: #00ced1">
         <div class="col-md-12">
             <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
                 <li style="float: left;"><a href="#" style="background-color: #c11707; display: block; color: white; text-align: center; padding: 10px; text-decoration: none;">LESS THAN 3 HOURS</a></li>
                 <li style="float: left;"><a href="#" style="background-color: #ba1889; display: block; color: white; text-align: center; padding: 10px; text-decoration: none;">3 TO 6 HOURS</a></li>
                 <li style="float: left;"><a href="#" style="background-color: #ff6600; display: block; color: white; text-align: center; padding: 10px; text-decoration: none;">6 TO 12 HOURS</a></li>
                 <li style="float: left;"><a href="#" style="background-color: #00cc00; display: block; color: white; text-align: center; padding: 10px; text-decoration: none;">MORE THAN 12 HOURS</a></li>
                 @*<li style="float: left;"><a href="#" style="display: block; color: white; text-align: center; padding: 16px; text-decoration: none;">About</a></li>*@
             </ul>
         </div>
         <div class="col-md-8" style="margin-top: 25px;">
             <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
                 <li style="float: left;width: 25%;"><a href="#" style="width: 100%; background-color: #ffd3bf; display: block; color: #c11707; text-align: center; padding: 10px; text-decoration: none;">CAB OPERATOR</a></li>
                 <li style="float: left; width: 25%;"><a href="#" style="width: 100%; background-color: #c2ffb7; display: block; color: black; text-align: center; padding: 10px; text-decoration: none;">VEHICLE UPGRADE</a></li>
             </ul>
         </div>
             <div class="col-md-12" style="margin-top: 25px">
                 <div class="col-md-4">
                     <div class="input-group input-group-sm">
                         <input class="form-control" id="bookingnumber" placeholder="BOOKING NUMBER" type="text">
                         <span class="input-group-btn">
                             <button type="button" id="btnsearchbooking" class="btn btn-info btn-flat">SEARCH BOOKING!</button>
                         </span>
                     </div>
                 </div>
             </div>
             <div class="col-md-12">
                 <div class="row col-md-10" style="margin: 10px">
                     <div class="btn-group" style="margin: 25px">
                         <button type="button" id="mainbtn-id" class="btn btn-info btn-flat">SELECT</button>
                         <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
                             <span class="caret"></span>
                             <span class="sr-only">Toggle Dropdown</span>
                         </button>
                         <ul class="dropdown-menu" role="menu">
                             @*<li><a id="hold-id" href="#">HOLD</a></li>*@

                             <li><a id="canceled-id" href="#">CANCELLED</a></li>
                             <li><a id="waiting-id" href="#">WAITING</a></li>
                             <li><a id="confirmed-id" href="#">CONFIRMED</a></li>
                             <li><a id="dispatched-id" href="#">DISPATCHED</a></li>
                             <li><a id="arrived-id" href="#">ARRIVED</a></li>
                             <li><a id="pob-id" href="#">POB</a></li>
                             @*<li><a id="soontoclear-id" href="#">SOONTOCLEAR</a></li>*@
                             @*<li><a id="finished-id" href="#">FINISHED</a></li>
                            <*@
                         </ul>
                     </div>
                 </div>
             </div>

             <div class="col-md-12" style="margin-top: 25px">
                 @*<div class="col-md-8 box">*@
                 <table id="booking-history" style="color: #000000" class="table table-bordered table-striped dataTable">
                     @*class="table table-striped table-bordered">*@
                     <thead>
                         <tr>
                             <th>GHOST_ID</th>
                             <th>LOYALTY</th>
                             <th>NAME</th>
                             <th>REFERENCE</th>
                             <th>JOURNEYS</th>
                             <th>FROM</th>
                             <th>TO</th>
                             <th>TIME LEFT</th>
                             <th>VEHICLE</th>
                             <th>PAYMENT</th>
                             <th>COUNTRY</th>
                             <th>STATUS</th>
                             <th></th>
                             <th></th>
                             <th></th>
                             <th></th>
                             <th></th>
                         </tr>
                     </thead>
                 </table>
                 @*</div>*@
             </div>
         </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {

            var Table = $("#booking-history").DataTable({
                pageLength:100,
                aaSorting: [],
                data: [],
                "scrollX": true,
                columns: [
                    {
                        data: "autocabNumber",
                        "width": "5%"
                    },
                    {
                        data: "loyaltyType",
                        "width": "5%"
                    },
                     {
                         data: "bookedPersonName",
                         "width": "15%"
                     },
                    {
                        data: "bookingNumber",
                         "width": "5%"
                    },
                    
                    {
                        data: "journeyType",
                        "width": "5%"
                    },
                    {
                        data: "bookingFrom" ,
                        "width": "20%",
                        "visible": false
                    },
                    {
                        data: "bookingTo" ,
                        "width": "20%",
                        "visible": false
                    },
                     { data: "timeleft" },
                    {
                        data: "vehicleTypes"

                    },
                    {
                        data: "paymentType",
                        "width": "15%"

                    },
                      {
                          data: "country"

                      },
                       {
                           data: "status",
                           "width": "5%",
                           "visible": false
                       },
                    {
                        data: "isSentToGhost",
                        render: function (data, type, row) {
                            if (!row["isSentToGhost"])
                                return "<a class='send btn bg-navy' data-isReturnBooking='" + row["isReturnBooking"] + "' data-bookingtoken='" + row["bookingToken"] + "' >Send To Ghost</a>";
                            else
                                return "";
                        }

                    },
                    {
                        //IsReturnBooking
                        data: "bookingToken",
                        render: function (data, type, row) {
                            return "<a href='/Reservation/EditBooking?bookingToken=" + data + "&isReturnBooking=" + row["isReturnBooking"] + "' class='btn btn-block btn-success' >View</a>";


                        }

                    },
                     {
                         data: "remainingHours", 
                         "visible": false
                     },
                       {
                           data: "paymentStatus",
                           "visible": false
                       }, {
                           data: "paymentTypeId",
                           "visible": false
                       }
                     
                ],
                createdRow: function(nRow, aData, c, d) {


                    if (aData["remainingHours"] <= 3) {
                        $(nRow).children(":nth-child(6)").css("color", '#ffffff');
                        $(nRow).children(":nth-child(6)").css("background-color", '#c11707');
                      //  return;
                    }
                    if (6 >= aData["remainingHours"] &&  aData["remainingHours"] > 3 ) {
                        $(nRow).children(":nth-child(6)").css("color", '#ffffff');
                        $(nRow).children(":nth-child(6)").css("background-color", '#ba1889');
                       // return;
                    }
                    if (12 > aData["remainingHours"] && aData["remainingHours"] > 6) {
                        $(nRow).children(":nth-child(6)").css("color", '#ffffff');
                        $(nRow).children(":nth-child(6)").css("background-color", '#ff6600');
                      //  return;
                    }
                    if (aData["remainingHours"] >=  12) {
                        $(nRow).children(":nth-child(6)").css("color", '#ffffff');
                        $(nRow).children(":nth-child(6)").css("background-color", '#00cc00');
                      //  return;
                    }
                    //panding and card payment type
                    if ((aData["paymentStatus"] == 1 || aData["paymentStatus"] == 0) && aData["paymentTypeId"] == 2) {
                        $(nRow).children(":nth-child(8)").css("color", '#c11707'); 
                       
                    }

                    if ((aData["paymentStatus"] == 4 ) && aData["paymentTypeId"] == 2) {
                        $(nRow).children(":nth-child(8)").css("color", '#00b74e');

                    }
                    if ((aData["paymentStatus"] == 9) && aData["paymentTypeId"] == 1) {
                        $(nRow).children(":nth-child(8)").css("color", '#a33d00');

                    }

                    if (aData["isVehicleUpgradeEnabeld"] && aData["status"] == 'Requested') {
                        $(nRow).css("background-color", '#c2ffb7');

                    }

                    if (aData["iscabOperator"]) {
                        $(nRow).children(":nth-child(3)").css("color", '#c11707');
                        $(nRow).children(":nth-child(3)").css("background-color", '#ffd3bf'); 
                    }
                }
            });


              function loadTable(status) {
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: "/api/reservation/resrvationstatus?bookingStatus=" + status,
                    method: "GET",
                    success: function (data) {
                        if (data != null) {
                            Table.clear().draw();
                            Table.rows.add(data).draw();
                        } else {
                            Table.clear().draw();
                        }
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    }
                });
              }

              
              $("#btnsearchbooking").click(function () {

                  var bookingnumber = $("#bookingnumber").val();


                  $("#overLay").show();
                  $("#overLay").addClass("overlay");
                
                              $.ajax({
                                  url: "/api/reservation/curentbooking?bookingnumber=" + bookingnumber,
                                  method: "GET",
                                  success: function (data) {
                                      if (data != null) {
                                          Table.column(11).visible(true);
                                          Table.clear().draw();
                                          Table.rows.add(data).draw();
                                      } else {
                                          Table.clear().draw();
                                      }
                                      $("#overLay").removeClass("overlay");
                                      $("#overLay").hide();
                                  }
                              });
                        
                  });
 
            $("#booking-history").on("click", ".send", function () {

                var button = $(this);
                var bookingtoken = button.attr("data-bookingtoken");
                var isReturnBooking = button.attr("data-isReturnBooking");
                $.confirm({
                    title: 'Ghost !',
                    content: 'Do you surely want to send this booking to Ghost ?',
                    buttons: {
                        confirm: function () {
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: "/api/member/sendtoghost?token=" + bookingtoken + "&isReturnBooking=" + isReturnBooking,
                    method: "GET",  
                    success: function (data) {

                        debugger;
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                        if (data.status) {
                            alert(data.failureReason);
                            loadTable(1);
                        }else {
                            alert(data.failureReason);
                        }   
                    },
                    error: function (error) {
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();

                    }
                });

                        },
                        cancel: function () {

                        }
                    }
                }); 

            });

          
            $("#mainbtn-id").text("WAITING");
            loadTable(1);

            var intervalId = window.setInterval(function () {
                $("#mainbtn-id").text("WAITING");
                loadTable(1);
            }, 25000);
           


          

            $("#all-freejourneys").on("click", ".all-journeys", function() {
                var button = $(this);
                var freeJourneyId = button.attr("data-user-id");


            });
            $("#hold-id").on("click", function () {
                window.clearInterval(intervalId);
                $("#mainbtn-id").text($(this).text());
                loadTable(4);

            });

            $("#waiting-id").on("click", function () {
                  intervalId = window.setInterval(function () {
                    $("#mainbtn-id").text("WAITING");
                    loadTable(1);
                  }, 10000);

                $("#mainbtn-id").text($(this).text());
                loadTable(1);

            });
            $("#confirmed-id").on("click", function () {
                window.clearInterval(intervalId);
                $("#mainbtn-id").text($(this).text());
                loadTable(2);

            });
            $("#dispatched-id").on("click", function () {
                window.clearInterval(intervalId);
                $("#mainbtn-id").text($(this).text());
                loadTable(6);

            });
            $("#arrived-id").on("click", function () {
                window.clearInterval(intervalId);
                $("#mainbtn-id").text($(this).text());
                loadTable(7);

            });
            $("#pob-id").on("click", function () {
                window.clearInterval(intervalId);
                $("#mainbtn-id").text($(this).text());
                loadTable(8);

            });
            $("#soontoclear-id").on("click", function () {
                window.clearInterval(intervalId);
                $("#mainbtn-id").text($(this).text());
                loadTable(9);

            });
            $("#finished-id").on("click", function () {
                window.clearInterval(intervalId);
                $("#mainbtn-id").text($(this).text());
                loadTable(11);

            });
            $("#canceled-id").on("click", function () {
                window.clearInterval(intervalId);
                $("#mainbtn-id").text($(this).text());
                loadTable(5);

            });

             @*Requested = 1,
        Confirmed = 2,
        WaitingForVerification = 3,
        Hold = 4,
        Cancelled = 5,
        Dispatched = 6,
        Arrived = 7,
        POB = 8,
        SoonToClear = 9,
        Panic = 10,
        Finished = 11,
        Reject = 12,
        Pending = 13*@


         });
    </script>
}
