﻿@model SwaranAdmin_New.Models.WorldPayOnlineBookingViewmodel
@{
    ViewBag.Title = "CardPaymentView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Worldpay Missed Payment </h4>
        <hr />

        <input type="hidden" name="Ordercode" value="Norway">
        <div class="col-md-12" style="margin-bottom: 25px">
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    @*<input name="BookingNumber" class="form-control" type="text" placeholder="Enter Booking Number">*@
                    @Html.TextBoxFor(x => x.BookingNumber, new { @class = "form-control", @placeholder = "Enter Booking Number" })
                    <span class="input-group-btn">
                        <button type="button" id="searchBtn" class="btn btn-info btn-flat">Search!</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box col-md-12">

                <table id="repayment-grid" style="color: #000000" class="table table-bordered table-striped dataTable">
                    @*class="table table-bordered table-striped dataTable">*@
                    <thead>
                        <tr>
                            <th>Booking Number</th>
                            <th>Booking Status</th>
                            <th>Booking Date</th>
                            <th>Name</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Journey Amount</th>
                            <th>Payment Status</th>

                        </tr>
                    </thead>
                </table>

            </div>
        </div>

        <div id="refound-All" style="margin-bottom: 25px" class="col-md-12">
            <div class="col-md-4">


                @Html.ActionLink("Pay Online", "PayWorldpayOnline", "WorldPayPayment", new { tokent = "ghfgh" }, new { @id = "newLink", @class = "btn btn-block btn-social btn-twitter" })
                @*<a id="fully-refund" class="btn btn-block btn-social btn-twitter">
                        <i class="fa fa-gbp"></i> Pay Online <span id="amt"></span>
                    </a>*@
            </div>
        </div>
    </div>
</div>
        @section scripts
{
            <script type="text/javascript">

                $(document).ready(function () {

                    $("#refound-All").hide();
                    var Table = $("#repayment-grid").DataTable({
                        "paging": false,
                        "ordering": false,
                        "info": false,
                        "filter": false,
                        aaSorting: [],
                        data: [],
                        columns: [
                            {
                                data: "bookingNumber",
                                "width": "10%"
                            },
                            {
                                data: "status",
                                "width": "10%"
                            },
                            {
                                data: "bookingDateTime",
                                "width": "10%"
                            },
                            {
                                data: "bookedPersonName",
                                "width": "15%"
                            },
                            {
                                data: "bookingFrom",
                                "width": "20%"
                            },
                            {
                                data: "bookingTo",
                                "width": "20%"
                            },
                            {
                                data: "finalPrice",
                                render: function (data, type, row) {
                                    return "£ " + data;
                                }
                            },
                            {
                                data: "paymentStatus"
                            }
                        ]

                    });


                    $("#searchBtn").click(function () {

                        var bookingnumber = $("input[name='BookingNumber']").val();

                        $("#overLay").show();
                        $("#overLay").addClass("overlay");
                        $.ajax({
                            url: "/api/member/getrepaymentgrid?bookingnumber=" + bookingnumber,
                            method: "GET",
                            success: function (data) {
                                $("#overLay").removeClass("overlay");
                                $("#overLay").hide();
                                debugger;
                                if (data == null || data.length <= 0) {
                                    alert("Booking number not found");
                                    $("#refound-All").hide();
                                    return false;
                                }
                                Table.clear().draw();
                                Table.rows.add(data).draw();
                                if (  data[0].bookingToken == null) {
                                    $("#refound-All").hide();
                                } else {
                                    $("#refound-All").show();
                                }
                                $("#newLink").attr("href", "/WorldPayPayment/PayWorldpayOnline?tokent=" + data[0].bookingToken);
                               
                            },
                            error: function (data) {
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                        });
                    });


                    $(".jqueryui-marker-datepicker").datepicker(
                        {
                            minDate: 0,
                            dateFormat: "dd/mm/yy"
                        }).css("display", "inline-block")
                        .next("button").button(
                        {
                            icons: { primary: "ui-icon-calendar" },
                            lable: "Select a date",
                            text: false
                        });


                });
            </script>
        }






