﻿
@{
    ViewBag.Title = "ManualCardPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Manual / Telephone booking payment</h4>
        <hr />
        @if (ViewBag.Error)
        {

            <div>
                <h3 class="alert-danger">
                    @ViewBag.Message
                </h3>
            </div>

        }
        else
        {
            <div>
                <h3 class="alert-success">
                    @ViewBag.Message
                </h3>
            </div>
        }

        <input type="hidden" name="Ordercode" value="Norway">
        <div class="col-md-12" style="margin-bottom: 25px">
            <div class="col-md-8">
                <div class="input-group input-group-sm">
                    @*<input name="BookingNumber" class="form-control" type="text" placeholder="Enter Booking Number">*@
                    @Html.TextBox("BookingNumber", "", new { @placeholder = "Booking Number" })
                    @Html.TextBox("Amount", "", new { @placeholder = "Amount", @type = "number"})
                    <span class="input-group-btn">
                        @Html.ActionLink("Pay", "PayWorldpayOnlineManual", "WorldPayPayment", new { bookingNumber = "BA11111", amount = 10 }, new { @id = "newPayLink",@class = "btn btn-block btn-social btn-twitter" })
                        @*@Html.ActionLink("Pay", "PayWorldpayOnlineManual", "WorldPayPayment", new { bookingNumber = "BA11111", amount = 10 }, new { @id = "newLink", @class = "btn btn-block btn-social btn-twitter" })*@
                        @*@Html.ActionLink("Pay", "PayWorldpayOnlineManual", "WorldPayPayment", new { onclick = "GetBookingNumber()" })*@
                    </span>
                </div>
            </div>
        </div>  
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $("#Amount").change(function () {

            var bookingNumber = $('#BookingNumber').val();
            var amount = $('#Amount').val();

            if (bookingNumber != "" && bookingNumber != " " && bookingNumber != null && amount > 0) {
                $("#newPayLink").attr("href", "/WorldPayPayment/PayWorldpayOnlineManual?bookingNumber=" + bookingNumber + "&amount=" + amount);
            }
        
        });

        $("#BookingNumber").change(function () {

            var bookingNumber = $('#BookingNumber').val();
            var amount = $('#Amount').val();

            if (bookingNumber != "" && bookingNumber != " " && bookingNumber != null && amount > 0) {
                $("#newPayLink").attr("href", "/WorldPayPayment/PayWorldpayOnlineManual?bookingNumber=" + bookingNumber + "&amount=" + amount);
            }

        });
    </script>
    }

