﻿@model SwaranAdmin_New.Models.WorldpayViewModel
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Worldpay Refund </h4>
        <hr />

        <input type="hidden" name="Ordercode" value="Norway">
        <div class="col-md-12" style="margin-bottom: 25px">
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <input name="BookingNumber" class="form-control" type="text" placeholder="Enter Booking Number">
                    <span class="input-group-btn">
                        <button type="button" id="searchBtn" class="btn btn-info btn-flat">Search!</button>
                    </span>
                </div>
            </div>
        </div>
        <div id="refound-All" style="display: none; margin-bottom: 25px" class="col-md-12">
            <div class="col-md-4">
                <a id="fully-refund" class="btn btn-block btn-social btn-twitter">
                    @*<i class="fa fa-gbp"></i> Full Refund  Total Amount £ <span id="amt"></span>*@
                    <i class="fa fa-gbp"></i> Full Refund 
                </a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box col-md-12">

                <table id="refund-grid" style="color: #000000" class="table table-bordered table-striped dataTable">
                    @*class="table table-bordered table-striped dataTable">*@
                    <thead>
                        <tr>
                            <th>Booking Number</th>
                            <th>Booking Date</th>
                            <th>Name</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Journey Amount</th>
                            <th>Total Amount card</th>
                            <th>OrderCode</th>
                            <th>IsRefound</th>
                            <th>adminUserId</th>
                            <th>Partial Refund</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>

        @section scripts
    {
            <script type="text/javascript">

                $(document).ready(function () {

                    $("#refound-All").hide();
                    $("#amt").text("0");
                    var Table = $("#refund-grid").DataTable({
                        "paging": false,
                        "ordering": false,
                        "info": false,
                        "filter": false,
                        aaSorting: [],
                        data: [],
                        columns: [
                            {
                                data: "bookingNumber",
                                "width": "10%"
                            },
                            {
                                data: "bookingDateTime",
                                "width": "10%"
                            },
                            {
                                data: "bookedPersonName",
                                "width": "15%"
                            },
                            {
                                data: "bookingFrom",
                                "width": "20%"
                            },
                            {
                                data: "bookingTo",
                                "width": "20%"
                            },
                            {
                                data: "finalPrice",
                                render: function (data, type, row) {
                                    return "£ " + data;
                                }
                            },
                            {
                                data: "amount",
                                "visible": false
                            },
                            {
                                data: "orderCode",
                                "visible": false
                            },
                            {
                                data: "isReturnBooking",
                                "visible": false
                            },
                            {
                                data: "adminUserId",
                                "visible": false
                            },
                            {
                                data: "orderCode",
                                render: function (data, type, row) {
                                    var isReturnBooking = row.isReturnBooking;
                                    var adminUserId = row.adminUserId;
                                    return "<a  class='btn btn-block btn-warning partial-refound' data-admin-userid=" + adminUserId + " data-is-returnBooking=" + isReturnBooking + "   data-order-code=" + data + " >Refund</a>";
                                }

                            }
                        ]

                    });


                    $("#refund-grid").on("click", ".partial-refound", function () {

                        var button = $(this);
                        var isReturnBooking = button.attr("data-is-returnBooking");
                        var bookingNumber = $("input[name='BookingNumber']").val();



                        $.confirm({
                            title: 'Partially Refund !',
                            content: 'Do you surely want to partially refund this journey ?' +
                                '<form action="" class="formName">' +
                                '<div class="form-group">' +
                                 '<label>Enter amount </label>' +
                                ' <input class="amount form-control valid" name="Amount" />' +
                                '<label>Enter valid reson</label>' +
                                ' <textarea class="reson form-control valid" cols="20"   name="Reson"   rows="3"/>' +
                                '</div>' +
                                '</form>',
                            buttons: {
                                formSubmit: {
                                    text: 'Submit',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        var reson = this.$content.find('.reson').val();
                                        var amount = this.$content.find('.amount').val();
                                        
                                        if (!reson) {
                                            $.alert('Provide a valid reson');
                                            return false;


                                        }
                                        
                                         // var amountval = parseInt(amount);
                                        //if (amount % 1 != 0) {

                                        //    $.alert('provide a valid amount');
                                        //    return false;

                                        //}

                                        if (!amount || isNaN(amount)) {

                                            $.alert('Provide a valid amount');
                                            return false;

                                        }
                                        if (amount <= 0) {

                                            $.alert('Provide a valid amount');
                                            return false;

                                        }
                                       
                                        $("#overLay").show();
                                        $("#overLay").addClass("overlay");

                                        var obj1 = {
                                            "bookingNumber": bookingNumber,
                                            "amount": amount,
                                            "isReturnBooking": isReturnBooking,
                                            "refundRemarks": reson

                                        }
                                        //  $.alert(JSON.stringify(obj1));http:
                                        $.ajax({
                                            url: "/api/member/paymentpartialyrefund",
                                            method: "POST",
                                            dataType: 'JSON',
                                            contentType: "application/json; charset = utf-8",
                                            data: JSON.stringify(obj1), //'token=' + button.attr("data-cancelbooking-id"),
                                            success: function (data) {

                                                if (data == null) {
                                                    $.alert('Error');
                                                    $("#overLay").removeClass("overlay");
                                                    $("#overLay").hide();
                                                    return false;
                                                }
                                                    if(data.status) {
                                                    $.alert("Refund Succesfully");

                                                    var bookingnumber = $("input[name='BookingNumber']").val();
                                                    $.ajax({
                                                        url: "/api/member/getrefoundgrid?bookingnumber=" + bookingnumber,
                                                        method: "GET",
                                                        success: function (data) {
                                                            Table.clear().draw();
                                                            Table.rows.add(data).draw();
                                                            $("#refound-All").show();
                                                            $("#amt").text(data[0].amount);
                                                            $("Input[name='Ordercode']").val(data[0].orderCode);
                                                        }
                                                    });

                                                    
                                                } else {
                                                        $.alert(data.message);
                                                    
                                                    }
                                                    $("#overLay").removeClass("overlay");
                                                    $("#overLay").hide();
                                            },
                                            error: function (error) {
                                                $("#overLay").removeClass("overlay");
                                                $("#overLay").hide();

                                            }
                                        });



                                    }
                                },
                                cancel: function () {
                                    //close
                                },
                            },
                            onContentReady: function () {
                                // bind to events
                                var jc = this;
                                this.$content.find('form').on('submit', function (e) {
                                    debugger;
                                    // if the user submits the form by pressing enter in the field.
                                    e.preventDefault();
                                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                                });
                            }
                        });
                    });

                    $("#fully-refund").click(function () {

                        var orderCode = $("Input[name='Ordercode']").val();

                        var bookingNumber = $("input[name='BookingNumber']").val();
                        $.confirm({
                            title: 'Fully Refund !',
                            content: 'Do you surely want to refund this journey ?' +
                                '<form action="" class="formName">' +
                                '<div class="form-group">' +
                                 '<label>Include Booking Fee </label>' +
                                ' <input type="checkbox" class="additional" id="Additional"  value="AdditionalCharge" >' +
                                //' <checkbox></checkbox>' +
                                '<br>' +
                                '<label>Enter valid reson</label>' +
                                ' <textarea class="reson form-control valid" cols="20"   name="Reson"   rows="3"/>' +
                                '</div>' +
                                '</form>',
                            buttons: {
                                formSubmit: {
                                    text: 'Submit',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        var reson = this.$content.find('.reson').val();
                                        
                                        var isIncludeAdditionalCharge = this.$content.find('.additional').is(':checked');
                                       
                                        if (!reson) {
                                            $.alert('provide a valid reson');
                                            return false;

                                        } else {
                                            var reason = $("textarea[name='Reson']").val();
                                            var obj1 = {
                                                "bookingNumber": bookingNumber,
                                                "orderCode": orderCode,
                                                "bookingRefundType": 1,
                                                "userId": "",
                                                "refundRemarks": reason,
                                                "isCreditRefund": false,
                                                "creditsToRefund": 0,
                                                "isRefundByAdmin": true,
                                                "isIncludeAdditionalCharge":isIncludeAdditionalCharge
                                            }

                                            $("#overLay").show();
                                            $("#overLay").addClass("overlay");

                                            $.ajax({
                                                url: "/api/member/paymentfullyrefund",
                                                method: "POST",
                                                dataType: 'JSON',
                                                contentType: "application/json; charset = utf-8",
                                                data: JSON.stringify(obj1),
                                                success: function (data) {
                                                    debugger;
                                                    if (data != null && data.status) {
                                                        $.alert('successfully refunded');
                                                        var bookingnumber = $("input[name='BookingNumber']").val();
                                                        $.ajax({
                                                            url: "/api/member/getrefoundgrid?bookingnumber=" + bookingnumber,
                                                            method: "GET",
                                                            success: function (data) {
                                                                Table.clear().draw();
                                                                Table.rows.add(data).draw();
                                                                $("#refound-All").hide();
                                                            } 
                                                        });

                                                        $("#overLay").removeClass("overlay");
                                                        $("#overLay").hide();
                                                    } else {
                                                        $("#overLay").removeClass("overlay");
                                                        $("#overLay").hide();
                                                    }
                                                },
                                                error: function (data) {
                                                    $("#overLay").removeClass("overlay");
                                                    $("#overLay").hide();
                                                }
                                            });



                                        }
                                    }
                                },
                                cancel: function () {
                                    //close
                                },
                            },
                            onContentReady: function () {
                                // bind to events
                                var jc = this;
                                this.$content.find('form').on('submit', function (e) {
                                    debugger;
                                    // if the user submits the form by pressing enter in the field.
                                    e.preventDefault();
                                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                                });
                            }
                        });
                    });


                    $("#searchBtn").click(function () {
                        $("#overLay").show();
                        $("#overLay").addClass("overlay");
                        var bookingnumber = $("input[name='BookingNumber']").val();
                        $.ajax({
                            url: "/api/member/getrefoundgrid?bookingnumber=" + bookingnumber,
                            method: "GET",
                            success: function (data) {
                                $("#overLay").removeClass("overlay");
                                $("#overLay").hide();
                                Table.clear().draw();
                                Table.rows.add(data).draw();
                                if (data == null || data[0].amount == null) {
                                    $("#refound-All").hide();
                                    $("#amt").text("0");
                                } else {
                                    $("#refound-All").show();
                                    $("#amt").text(data[0].amount);
                                    $("Input[name='Ordercode']").val(data[0].orderCode);
                                }


                            }
                        });
                    });
                    var pickuppointRequest = null;
                    $('input.customersearch').typeahead({
                        hint: true,
                        delay: 0,
                        showHintOnFocus: "all",
                        name: 'BookingFromLabel',
                        minLength: 2,
                        autoSelect: true,
                        highlight: true,
                        items: 500,

                        source: function (query, process) {
                            var that = this;
                            pickuppointRequest = $.ajax({
                                url: '/api/member/customer',
                                type: 'GET',
                                dataType: 'JSON',
                                data: 'search=' + query,
                                beforeSend: function () {
                                    if (pickuppointRequest != null) {
                                        pickuppointRequest.abort();
                                    }
                                    that.$element.addClass('loadinggif');
                                },
                                complete: function () {
                                    that.$element.removeClass('loadinggif');
                                },

                                success: function (data) {
                                    //debugger;
                                    map = {};
                                    var cnames = new Array();
                                    for (var i = 0; i < data.length; i++) {

                                        var id = data[i].memberId + "|" + data[i].fullName + "|" + data[i].userId;
                                        name = data[i].memberId + " - " + data[i].fullName + " - " + data[i].email + " - " + data[i].mobile;
                                        map[name] = { id: id, name: name };
                                        cnames.push(name);
                                    }
                                    process(cnames);
                                }
                            });


                        },
                        sorter: function (items) {
                            return items; // items.sort();
                        },
                        matcher: function (item) {

                            return true;

                        },
                        updater: function (item) {


                            $("input[name='MemberId']").val(map[item].id.split('|')[0]);
                            $("input[name='UserName']").val(map[item].id.split('|')[1]);
                            $("input[name='UserId']").val(map[item].id.split('|')[2]);
                            callFreejurneys(map[item].id.split('|')[2]);
                            return item;
                        }

                    });


                    $(".jqueryui-marker-datepicker").datepicker(
                        {
                            minDate: 0,
                            dateFormat: "dd/mm/yy"
                        }).css("display", "inline-block")
                        .next("button").button(
                        {
                            icons: { primary: "ui-icon-calendar" },
                            lable: "Select a date",
                            text: false
                        });


                });
            </script>
        }




