﻿@model SwaranAdmin_New.Models.Company.ContractReferanceViewModel

@{
    ViewBag.Title = "AddContractReferanceView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Add Account Contract Referance  </h4>
        <hr />
 

        <div class="col-md-12">
            <div class="col-md-6">

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ComapanyId)
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ComapanyId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select class="form-control" id="Comapny">
                                    <option selected="selected">Select</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.ComapanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ComapanyName, new { @class = "form-control", @autocomplete = "off", @placeholder = "", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.ComapanyName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.CompanyEmail, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.CompanyEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.PaymentType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.PaymentType, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.LabelFor(model => model.ContractReference, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ContractReference, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.ContractReference, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Update" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    if (@ViewBag.isSavedMesage)
                    {
                        if (@ViewBag.IsSaved)
                        {
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                @ViewBag.Message
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                @ViewBag.Message
                            </div>
                        }
                    }
                }
            </div>
        </div>



    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            $.ajax({
                type: 'GET',
                url: '/api/company/companyprofiles',
                success: function(data) {

                    for (var i = 0; i < data.length; i++) {

                        $("#Comapny").append(
                            $('<option/>', {
                                value: data[i].companyId,
                                text: data[i].companyName,
                                "data-rateFormula": data[i].rateFormula,
                                "data-contractReference": data[i].contractReference,
                                "data-companyRegNumber": data[i].companyRegNumber,
                                "data-rateName": data[i].rateName,
                                "data-paymentType": data[i].paymentType, 
                                "data-companyEmail": data[i].companyEmail
                            }));
                    }
                }
            });

            $.ajax({
                type: 'GET',
                url: '/api/pointofinterest/allcustomerrates',
                success: function(data) {

                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].rateName);
                        // $("#rate").append(opt);
                        $("#rate").append(
                            $('<option/>', {
                                value: data[i].rateId,
                                text: data[i].rateName
                            }));
                    }
                }
            });


            $("#Comapny").on('change', function() {
                var that = this;
                $("#ComapanyId").val("0");
                $("#ComapanyName").val("");
                $("#ContractReference").val(""); 
                $("#CompanyEmail").val(""); 
                var companyEmail = $(that).find(':selected').attr("data-companyEmail"); 
                $("#CompanyEmail").val(companyEmail);
                $("#ComapanyId").val(that.value);
                $("#ComapanyName").val($(that).find("option:selected").text());
                var paymentType = $(that).find(':selected').attr("data-paymentType"); 
                $("#PaymentType").val(paymentType);
                $("#ContractReference").val($(that).find(':selected').attr("data-contractReference"));
                       
            });

            $("#rate").on('change', function() {
                $("#CustomerRateId").val(this.value);
                $("#RateName").val($(this).find("option:selected").text());
            });

            
        });
    </script>
}





