﻿@model SwaranAdmin_New.Models.Company.CompanyUserViewModel
@{
    ViewBag.Title = "AddCompanyUserView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Add Account Customer  </h4>
        <hr />

        <div class="col-md-12">
            <div class="row col-md-10" style="margin: 10px">

                <div class="col-md-8">
                    <div class="input-group margin">
                        <input class="customersearch form-control" type="text">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat disabled">SEARCH!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">

    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.ComapanyId)
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.ComapanyId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" id="Comapny">
                        <option selected="selected">Select</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserName, new { @readonly = "readonly", @class = "form-control",  @autocomplete = "off", @placeholder = "" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ComapanyName, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ComapanyName, new {@class = "form-control", @autocomplete = "off", @placeholder = "", @readonly = "readonly"})
                    @Html.ValidationMessageFor(model => model.ComapanyName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CompanyEmail, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                    @Html.ValidationMessageFor(model => model.CompanyEmail, "", new { @class = "text-danger" })
                </div>
            </div>


            @*<div class="form-group">
                @Html.LabelFor(model => model.PaymentType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PaymentType, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                    @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.ContractReference, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ContractReference, new { @class = "form-control",  @autocomplete = "off", @placeholder = "" })
                    @Html.ValidationMessageFor(model => model.ContractReference, "", new { @class = "text-danger" })
                </div>
            </div>*@


            <div class="form-group">
                @Html.LabelFor(model => model.RateName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" id="rate">
                        <option selected="selected">Select</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RateFormula, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="row">
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.RateName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.RateFormula, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                        @Html.ValidationMessageFor(model => model.RateFormula, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

 
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        if (@ViewBag.isSavedMesage)
        {
            if (@ViewBag.IsSaved)
            {
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                  @ViewBag.Message
                </div>
            }
            else
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    @ViewBag.Message
                </div>
            }
        }
    }
            </div>
        </div>
       


    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            $.ajax({
                type: 'GET',
                url: '/api/company/companyprofiles',
                success: function(data) {

                    for (var i = 0; i < data.length; i++) {

                        $("#Comapny").append(
                            $('<option/>', {
                                value: data[i].companyId,
                                text: data[i].companyName,
                                "data-rateFormula": data[i].rateFormula,
                                "data-contractReference": data[i].contractReference,
                                "data-companyRegNumber": data[i].companyRegNumber,
                                "data-rateName": data[i].rateName,
                                "data-paymentType": data[i].paymentType
                            }));
                    }
                }
            });

            $.ajax({
                type: 'GET',
                url: '/api/pointofinterest/allcustomerrates',
                success: function(data) {

                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].rateName);
                        // $("#rate").append(opt);
                        $("#rate").append(
                            $('<option/>', {
                                value: data[i].rateId,
                                text: data[i].rateName
                            }));
                    }
                }
            });


            $("#Comapny").on('change', function() {
                var that = this;
                $("#ComapanyId").val("0");
                $("#ComapanyName").val("");
               
                $("#RateFormula").val("");
                $("#RateName").val("");
                
                $("#CompanyEmail").val("");
               

                $.ajax({
                    type: 'GET',
                    url: '/api/company/email?userid=' + $("#UserId").val(),
                    success: function (data) {

                        $("#CompanyEmail").val(data);
                        $("#ComapanyId").val(that.value);
                        $("#ComapanyName").val($(that).find("option:selected").text());
                        
                        var ratename = $(that).find(':selected').attr("data-rateName"); 
                        var formula = $(that).find(':selected').attr("data-rateFormula");
                        var newformula = formula.replace("PRICE", "");
                        $("#RateFormula").val(newformula);
                        $("#RateName").val(ratename);
                        $("#rate option[text=" + ratename + "]").attr('selected', 'selected');
                    }
                });
            });

            $("#rate").on('change', function() {
                $("#CustomerRateId").val(this.value);
                $("#RateName").val($(this).find("option:selected").text());
            });

            var pickuppointRequest = null;
            $('input.customersearch').typeahead({
                minLength: 3,
                autoSelect: true,
                highlight: true,
                items: 500,

                source: function(query, process) {

                    var regex = "^[a-zA-Z0-9\\s/g_.-]*$";


                    var that = this;
                    pickuppointRequest = $.ajax({
                        url: '/api/member/customer',
                        type: 'GET',
                        dataType: 'JSON',
                        data: 'search=' + query,
                        beforeSend: function() {

                            //$("#overLay").show();
                            //$("#overLay").addClass("overlay");
                            if (pickuppointRequest != null) {
                                pickuppointRequest.abort();
                            }
                            that.$element.addClass('loadinggif');
                        },
                        complete: function() {
                            that.$element.removeClass('loadinggif');
                        },

                        success: function(data) {
                            debugger;
                            map = {};
                            var cnames = new Array();
                            if (data != null) {
                                for (var i = 0; i < data.length; i++) {

                                    var id = data[i].memberId + "|" + data[i].fullName + "|" + data[i].userId;
                                    name = data[i].memberId + " - " + data[i].fullName + " - " + data[i].email + " - " + data[i].mobile;
                                    map[name] = { id: id, name: name };
                                    cnames.push(name);
                                }
                            }
                            process(cnames);
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });


                },
                sorter: function(items) {
                    return items; // items.sort();
                },
                matcher: function(item) {

                    return true;

                },
                updater: function(item) { 
                    $("input[name='MemberId']").val(map[item].id.split('|')[0]);
                    $("input[name='UserName']").val(map[item].id.split('|')[1]);
                    $("input[name='UserId']").val(map[item].id.split('|')[2]);
                    $("input[name='Description']").val("");
                    return item;
                }

            });

        });
    </script>
}




