﻿
@{
    ViewBag.Title = "CompanyProfileView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h2>Account Users List</h2>
        <hr />

        <div class="col-md-12" style="margin-top: 25px">
            <table id="acc-users" style="color: #000000" class="table table-bordered table-striped dataTable">

                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Company RegNumber</th>
                        <th>Email</th>
                        <th>NatureOfBusiness</th>
                        <th>Company Telephone</th>
                        <th>Website</th>
                        <th>ContractReference</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>


@section scripts
{
    <script type="text/javascript">

                $(document).ready(function() {

                    var Table = $("#acc-users").DataTable({
                        aaSorting: [],
                        data: [],
                        "dom": '<"toolbar">frtip',
                        columns: [
                            {
                                data: "companyName",
                                "width": "15%"
                            },
                            {
                                data: "companyRegNumber",
                                "width": "13%"
                            }, 
                            {
                                data: "email",
                                "width": "10%"
                            },
                            {
                                data: "natureOfBusiness"
                            },
                            {
                                data: "telephoneNumber"
                            },
                             {
                                 data: "website"
                             },
                              {
                                  data: "contractReference"
                              },
                               {
                                   data: "companyId",
                                   render: function (data, type, row) {
                                       return "<a href='/Company/EditeCompanyProfileView?companyid=" + data + "'  class='btn btn-block btn-primary btn-flat' data-companyId=" + data + "  >Edit</a>";
                                   }

                               },
                            {
                                data: "companyId",
                                render: function (data, type, row) {
                                    return "<a  class='btn btn-block btn-danger  delete-user' data-companyId=" + data + "  >Delete</a>";
                                }

                            }
                        ],
                        createdRow: function(nRow, aData, c, d) {


                            //if (aData["isEnabled"]) {
                            //    $('td', nRow).css('background-color', '#034f04');
                            //    $('td', nRow).css('color', '#fff');
                            //}
                            //if (aData["isUsed"]) {
                            //    $('td', nRow).css('background-color', '#b25600');
                            //    $('td', nRow).css('color', '#fff');
                            //}
                            //if (aData["isDeleted"]) {
                            //    $('td', nRow).css('background-color', '#b70900');
                            //    $('td', nRow).css('color', '#fff');
                            //}

                            //$(nRow).children(":nth-child(9)").css("background-color", '#d2d6de');
                        }
                    });

                    $.ajax({
                        url: "/api/company/companylist",
                        method: "GET",
                        dataType: 'JSON',
                        success: function (data) {
                            Table.clear().draw();
                            Table.rows.add(data).draw();
                        }


                    });

                    $("#acc-users").on("click", ".delete-user", function () {

                        var button = $(this);
                        var companyId = button.attr("data-companyId");

                        $.confirm({
                            title: 'Remove User  !',
                            content: 'Do you surely want to remove this account ?',
                            buttons: {
                                formSubmit: {
                                    text: 'Submit',
                                    btnClass: 'btn-blue',
                                    action: function () {

                                        debugger;

                                        $("#overLay").show();
                                        $("#overLay").addClass("overlay");

                                        $.ajax({
                                            url: "/api/company/removeaccount?companyId=" + companyId,
                                            method: "GET",
                                            dataType: 'JSON',
                                            success: function (data) {


                                                    $.alert('data');
                                                    $("#overLay").removeClass("overlay");
                                                    $("#overLay").hide();
                                                    return false;

                                            },
                                            error: function (error) {
                                                debugger;
                                                $("#overLay").removeClass("overlay");
                                                $("#overLay").hide();

                                            }
                                        });



                                    }
                                },
                                cancel: function () {
                                    //close
                                },
                            },
                            onContentReady: function () {
                                // bind to events
                                var jc = this;
                                this.$content.find('form').on('submit', function (e) {
                                    debugger;
                                    // if the user submits the form by pressing enter in the field.
                                    e.preventDefault();
                                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                                });
                            }
                        });
                    });


                });
    </script>
}






