﻿@{
    Layout = null;
}

<html>
<head>

</head>
<body onload="window.print();" class="hold-transition register-page">
    @RenderBody()
    <!-- /.register-box -->
    <!-- jQuery 3 -->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>