﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>http://www.swaran.co.uk</title>
    @Styles.Render("~/bundles/mycss")
    @Styles.Render("~/bundles/datatable/css")
    @Styles.Render("~/bundles/morrischart")
    @Styles.Render("~/bundles/datepicker")
    @Styles.Render("~/bundle/less")

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
@*<body class="hold-transition skin-blue sidebar-mini">*@
<body class="skin-blue sidebar-mini">
    <div class="wrapper" style="height: auto; min-height: 100%;">

        @Html.Partial("~/Views/Shared/Navigation/_Header.cshtml")
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->

        @Html.Partial("~/Views/Shared/Navigation/_AsideView.cshtml")
        <!-- =============================================== -->

        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>


        </div>
        @Html.Partial("~/Views/Shared/Navigation/_Footer.cshtml")
        <!-- Control Sidebar -->
        @Html.Partial("~/Views/Shared/Navigation/_ControlSidebar.cshtml")

        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/dataTables")
        @Scripts.Render("~/bundles/Morris")
        @Scripts.Render("~/bundles/daterangepicker")

        <script type="text/javascript">
                $(function () {
                    
                    $.ajax({
                        url: "/api/reservation/pendingbookings",
                        method: "GET",
                        success: function (data) {
                          
                            if (data > 0) {
                                $("#pending-bookins-count").text("No Job Response " +"("+data+")");
                               // $("#tagscloud span").text("Your text here");
                            }

                        }
                    });




                    $("a#locksubmit_link").click(function () {
                        $("#logoffbtn").click();
                    });

                    $("a#submit_link").click(function () {
                        $("#logoutbtn").click();
                    });
                    $.ajax({
                        url: "/api/layout/common",
                        method: "GET",
                        success: function (data) {

                            $("#userName").text(data.userName);
                            if (data.count > 0)
                                {
                                $("#waitingTask").text("You have " + data.count + " Waiting bookings");
                                $("#waitingTaskCount").text( data.count);
                                }


                        }



                    });

                    $.ajax({
                        url: "/Layout/_WaitingBookingView",
                        method: "GET",
                        success: function (data) {
                            $("#waiting-header").append(data);

                        }  
                    });

                });

        </script>
        @RenderSection("scripts", required: false)

    </div>
</body>
</html>
