﻿
@model IEnumerable<SwaranAdmin_New.Models.Pricing.RateCustomerDistanceDayDom>

<section class="content">
    
    <table class="table-responsive">
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.DayName)
            </th>
            <th></th>
        </tr>*@
        <tr>
            <th>
                @ViewBag.VehicleName
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>

                @Html.HiddenFor(modelItem => item.RateCustomerDistanceDayId)

                <td>
                    @Html.DisplayFor(modelItem => item.DayName)
                </td>
                <td>
                    @*@Html.ActionLink("Distance Details", "LoadRateVehicleTypeDistanceDetail", new { rateCustomerDistanceDayId = item.RateCustomerDistanceDayId })*@
                    <a href="#" onclick="@Html.Raw(String.Format("loadDistanceDetails({0})", item.RateCustomerDistanceDayId))">Distance Details</a>
                </td>
            </tr>
        }

    </table>

</section>
