﻿@model IEnumerable<SwaranAdmin_New.Models.Pricing.RateCustomerDistanceDom>

@{
    ViewBag.Title = "Distance Price Details";
    var grid = new WebGrid(Model);
}

<section class="content" style="padding-left:50px;">

    <div id="gridContent"  class="table" style="padding-left:20px;">
        @*<h3>Distance Price Details</h3>*@       

        @grid.GetHtml(
         tableStyle: "webgrid-table",
         headerStyle: "webgrid-header",
         footerStyle: "webgrid-footer",
         alternatingRowStyle: "webgrid-alternating-row",
         selectedRowStyle: "webgrid-selected-row",
         rowStyle: "webgrid-row-style",
         mode: WebGridPagerModes.All,
         columns:
             grid.Columns(
                 //grid.Column("RateCustomerDistanceDayId", format: @< text > < input type = "hidden" name = "RateCustomerDistanceDayId" value = "@item.RateCustomerDistanceDayId" /></ text >),
                 //grid.Column("DistanceId", format: @< text >  < span style = "visibility:hidden;" class="display-mode">@item.DistanceId</span> <label id = "DistanceId" style="visibility:hidden;" class="edit-mode">@item.DistanceId</label> </text>, style: "col1Width"),
                @*grid.Column(format: @<text> <input type="hidden" name="RateCustomerDistanceDayId" value="@item.RateCustomerDistanceDayId" /> </text>, style: null, canSort: true),
                grid.Column(format: @<text> <input type="hidden" name="DistanceId" value="@item.DistanceId" /> </text>, style: null, canSort: true),*@
                @*grid.Column("RateCustomerDistanceDayId", "RateCustomerDistanceDayId", format: @<text> <span class="display-mode"></span> <input type="text" id="RateCustomerDistanceDayId" value="@item.RateCustomerDistanceDayId" class="edit-mode" /></text>, style: "col2Width"),
                 grid.Column("DistanceId", "DistanceId", format: @<text> <span class="display-mode"> </span>  <input type="text" id="DistanceId" value="@item.DistanceId" class="edit-mode" /> </text>, style: "col2Width"),*@
                 grid.Column(null, null, format: @<text> <input type="hidden" id="RateCustomerDistanceDayId" value="@item.RateCustomerDistanceDayId" class="edit-mode" /></text>),
                 grid.Column(null, null, format: @<text> <input type="hidden" id="DistanceId" value="@item.DistanceId" class="edit-mode" /> </text>),
                 grid.Column("DistanceFrom", "Distance From", format: @<text> <span class="display-mode"></span> <input type="text" id="DistanceFrom" value="@item.DistanceFrom" class="edit-mode" /></text>, style: "col1Width"),
                 grid.Column("DistanceTo", "Distance To", format: @<text> <span class="display-mode"> </span>  <input type="text" id="DistanceTo" value="@item.DistanceTo" class="edit-mode" /> </text>, style: "col1Width"),
                 grid.Column("Amount", "Amount", format: @<text> <span class="display-mode"> </span>  <input type="text" id="Amount" value="@item.Amount" class="edit-mode" /> </text>, style: "col1Width"),
                 grid.Column(null, null, format: @<text> <input type="hidden" name="Unit" value="@item.Unit" class="edit-mode" /> </text>),
                 grid.Column(null, null, format: @<text> <input type="hidden" name="IsDefault" value="@item.IsDefault"  class="edit-mode"/> </text>),
                 //grid.Column("IsDefault", "Is Default", format: @<text> <span class="display-mode"> </span>  <input type="checkbox" id="IsDefault" value="@item.IsDefault" checked="@item.IsDefault" class="edit-mode" /> </text>, style: "col3Width"),
                 grid.Column(null, format: @<text>
                    @*<button class="edit-user display-mode">Edit</button>*@
                    @if (item.DistanceId != 0)
                    {   <button class="save-distance edit-mode">Update</button>
                        <button class="delete-distance edit-mode">Delete</button>
                    }
                    else
                    {
                        <button class="add-distance edit-mode">Add</button>
                    }
                </text>, style: "col3Width", canSort: false)
               ))

            <p>
            @*@Html.ActionLink("ADD", "Rate")*@
            @*<a href="#" onclick="@Html.Raw(String.Format("loadDistanceDetails({0})", ViewBag.RateCustomerDistanceDayId))" class="add-distance">ADD</a>*@
            </p>

    </div>
</section>
