﻿@model IEnumerable<SwaranAdmin_New.Models.Pricing.RateVehicleType>
<div class="row with-border">
    <div class="box-header col-lg-9">
        <h3 class="box-title"></h3>
    </div><!-- /.box-header -->

</div>
<p>
    @*@Html.ActionLink("ADD VEHICLE", "AddRateVehicleType", new { rateId = ViewBag.RateId })*@
    @*<a href="#" onclick="@Html.Raw(String.Format("addVehicleTypes({0})", ViewBag.RateId))">ADD VEHICLE</a>*@
</p>

<table class="table-responsive">
    <tr>
        @*<th width="5%">
            @Html.DisplayNameFor(model => model.RateId)
        </th>*@
        @*<th width="5%">
            @Html.DisplayNameFor(model => model.VehicleTypeId)
        </th>*@
        <th width="5%">
            @*@Html.DisplayNameFor(model => model.VehicleTypeName)*@
            @*Vehicle Types (@ViewBag.RateName)*@
            @ViewBag.RateName
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.RateId)
        </td>*@
        @Html.HiddenFor(modelItem => item.RateCustomerVehicleTypeId)
        @Html.HiddenFor(modelItem => item.RateId)
        @Html.HiddenFor(modelItem => item.VehicleTypeId)        
        <td>
            @Html.DisplayFor(modelItem => item.VehicleTypeName)
        </td>
        <td>           
            @*@Html.ActionLink("Details", "LoadRateVehicleTypeDayDetailPartial", new { rateId = item.RateId, rateCustomerVehicleTypeId = item.RateCustomerVehicleTypeId })*@
            <a href="#" onclick="@Html.Raw(String.Format("LoadRateVehicleTypeDayDetailPartial({0},{1})", item.RateId, item.RateCustomerVehicleTypeId))">Details</a>
        </td>
    </tr>
}

</table>
<div class="Container">

    <hr />
    @*@Html.Hidden("RateIdName",  (long)ViewBag.RateId, new { @id = "RateId" })
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="form-group">
        @*@Html.Label("Vehicle", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @*@Html.DropDownListFor(model => model.VehicleTypeId, (IEnumerable<SelectListItem>)ViewData["AvailableVehicleTypes"], "Select Vehicle", new { @class = "form-control" })*@
            @*@Html.DropDownList("VehicleType", ViewBag.AvailableVehicleTypes as IEnumerable<SelectListItem>, "Select Vehicle ", new { @id = "vehicleTypeDropdown", @class = "form-control  col-md-2" })*@
            @*@Html.ValidationMessageFor(model => model.VehicleTypeId, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        @*@Html.Label("Day", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @*@Html.DropDownListFor(model => model.VehicleTypeId, (IEnumerable<SelectListItem>)ViewData["AvailableVehicleTypes"], "Select Vehicle", new { @class = "form-control" })*@
            @*@Html.DropDownList("Day", ViewBag.Days as IEnumerable<SelectListItem>, new { @id = "DayDropdown", @class = "form-control  col-md-2" })*@
            @*@Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <br />
    <div class="form-group">@*  *@
        @*<div class="col-md-offset-2 col-md-10">
            <input type="button" value="Add" class="btn btn-default" id="addVehicleButton" />
        </div>*@
    </div>
</div>
