﻿@model SwaranAdmin_New.Models.Member.CustomerFreeJourneyViewModel
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4 id="membertitel">Add Customer FreeJourney</h4>
        <hr />

        <div class="col-md-12">
            <div class="row col-md-10" style="margin: 10px">

                <div class="col-md-8">
                    <div class="input-group margin">
                        <input class="customersearch form-control" type="text">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat disabled">SEARCH!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">

                @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                    @Html.HiddenFor(model => model.UserId)
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.UserName, new {@class = "form-control", @id = "fullName", @autocomplete = "off", @placeholder = ""})
                            @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MemberId, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.MemberId, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.MemberId, "", new {@class = "text-danger"})
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">


                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="ExpiryDate" class="form-control pull-right" id="datepicker" type="text">
                                </div>
                            </div>
                        </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">
                            <input id="btnsubmit" type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                </div>
                if (@ViewBag.isSavedMesage)
                {
                    if (@ViewBag.isSaved)
                    {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Alert!</h4>
                            Free Journey Added Successfully
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                            Sorry ! Something went to wrong
                        </div>
                    }
                }
            }
            </div>
        </div>
        @*<div>
                @Html.ActionLink("Back to List", "Index")
            </div>*@
        <div class="col-md-12" style="margin-top: 25px">
            <table id="all-freejourneys" style="color: #000000" class="table table-bordered table-striped dataTable">

                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Create By</th>
                        <th>Created Date</th>
                        <th>Used Date</th>
                        <th>Expiry Date</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Deleted By</th>
                        <th>Deleted Reason</th>
                        <th>IsUsed</th>
                        <th>IsDeleted</th>
                        <th>IsEnabled</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            @*</div>*@
        </div>




    </div>
</div>


@section scripts
{
    <script type="text/javascript">

                $(document).ready(function() {

                    var Table = $("#all-freejourneys").DataTable({
                        aaSorting: [],
                        data: [],
                        "dom": '<"toolbar">frtip',
                        columns: [
                            {
                                data: "code",
                                "width": "5%"
                            },
                            {
                                data: "createdBy",
                                "width": "10%"
                            },
                            {
                                data: "createdDate",
                                "width": "10%"
                            },
                            {
                                data: "usedDate",
                                "width": "10%"
                            },
                            {
                                data: "expiryDate",
                                "visible": false,
                                "searchable": false
                            },
                            {
                                data: "fromAddress",
                                "width": "20%"
                            },
                            {
                                data: "toAddress",
                                "width": "20%"
                            },
                            {
                                data: "deletedBy",
                                "width": "10%"
                            },
                            {
                                data: "deletedReason",
                                "width": "20%"
                            },
                            {
                                data: "isUsed",
                                "visible": false,
                                "searchable": false
                            },
                            {
                                data: "isDeleted",
                                "visible": false,
                                "searchable": false
                            },
                            {
                                data: "isEnabled",
                                "visible": false,
                                "searchable": false
                            },
                            {
                                data: "customerUserId",
                                "visible": false,
                                "searchable": false
                            },
                             
                            
                            {
                                data: "customerFreeJourneyId",
                                render: function(data, type, row) {
                                    if (!row["isDeleted"] && !row["isUsed"] && row["isEnabled"]) {
                                        return "<a  class='all-journeys btn btn-block btn-danger' data-customer-id="+row["customerUserId"]+"  data-user-id=" + data + " >Delete</a>";
                                    }
                                    return '';
                                }

                            }
                        ],
                        createdRow: function(nRow, aData, c, d) {


                            if (aData["isEnabled"]) {
                                $('td', nRow).css('background-color', '#034f04');
                                $('td', nRow).css('color', '#fff');
                            }
                            if (aData["isUsed"]) {
                                $('td', nRow).css('background-color', '#b25600');
                                $('td', nRow).css('color', '#fff');
                            }
                            if (aData["isDeleted"]) {
                                $('td', nRow).css('background-color', '#b70900');
                                $('td', nRow).css('color', '#fff');
                            }

                            $(nRow).children(":nth-child(9)").css("background-color", '#d2d6de');
                        }
                    });

                    var callFreejurneys = function(customerUserId) {

                        $.ajax({
                            url: "/api/member/customerfreejourneys?customerUserId=" + customerUserId,
                            method: "GET",
                            //dataType: 'JSON',
                            //contentType: "application/json; charset = utf-8",
                            //data: JSON.stringify({ Token: token, IsRetunBooking: isRetunBooking, CancelAmt: 0, CancelDate: date + " " + time }), //'token=' + button.attr("data-cancelbooking-id"),
                            success: function(data) {
                                // //debugger;
                                Table.clear().draw();
                                Table.rows.add(data).draw();
                                $("div.toolbar").html("<div style='display: inline;padding :10px'><h6 style='display: inline;color:#FFF;background-color:#034f04;padding:10px;width:75px'>CREATED </h6>" +
                                    " <h6 style='margin-left: 10px;display: inline;color:#FFF;background-color:#b25600;padding:10px;width:75px'>USED </h6>" +
                                    "<h6 style='margin-left: 10px;display: inline;color:#FFF;background-color:#b70900;padding:10px;width:75px'>DELETED </h6></div>");
                            }
                        });
                    }

                    $("#all-freejourneys").on("click", ".all-journeys", function() {
                        var button = $(this);
                        var freeJourneyId = button.attr("data-user-id");
                        var customerId = button.attr("data-customer-id"); 

                        $.confirm({
                            title: 'Delete FreeJourney!',
                            content: 'Do you surely want to delete this free journey ?' +
                                '<form action="" class="formName">' +
                                '<div class="form-group">' +
                                '<label>Enter valid reson</label>' +
                                '<input name="Reson" type="text" placeholder="Reson" class="name form-control" required />' +
                                '</div>' +
                                '</form>',
                            buttons: {
                                formSubmit: {
                                    text: 'Submit',
                                    btnClass: 'btn-blue',
                                    action: function() {
                                        var name = this.$content.find('.name').val();
                                        if (!name) {
                                            $.alert('provide a valid reson');
                                            return false;
                                        } else {


                                            $.ajax({
                                                url: "/api/member/deletefreejourney",
                                                method: "POST",
                                                dataType: 'JSON',
                                                contentType: "application/json; charset = utf-8",
                                                data: JSON.stringify({ Reson: name, FreeJourneyId: freeJourneyId }), //'token=' + button.attr("data-cancelbooking-id"),
                                                success: function(data) {
                                                    $.alert(data); 
                                                    callFreejurneys(customerId);
                                                }
                                            });
                                        }
                                    }
                                },
                                cancel: function() {
                                    //close
                                },
                            },
                            onContentReady: function() {
                                // bind to events
                                var jc = this;
                                this.$content.find('form').on('submit', function(e) {
                                    debugger;
                                    // if the user submits the form by pressing enter in the field.
                                    e.preventDefault();
                                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                                });
                            }
                        });


                    });


                      var customerUserId = @Html.Raw(Json.Encode(@ViewBag.UserID));
                      callFreejurneys(customerUserId);



                      function IsMemberBlock(userid) { 
                          $.ajax({
                              url: "/api/member/isblockmember?userid=" + userid,
                              method: "GET",
                              success: function (data) {
                                  debugger;
                                  if (data) { 
                                      $("#membertitel").text('Member Blocked'); 
                                      $("input").css('color', '#f20202'); 
                                      $("#membertitel").css('color', '#f20202');
                                      $("#all-freejourneys").css({"color": "#f20202" });
                                      $("#btnsubmit").addClass('btn-block'); 
                                      $("#btnsubmit").prop("disabled",true);
                                  } else { 
                                      $("#membertitel").text('Add Customer FreeJourney');
                                      $("#all-freejourneys").css({ "color": "#333" });
                                      $("#btnsubmit").removeClass('btn-block'); 
                                      $("input").css('color', '#333'); 
                                      $("#membertitel").css('color', '#333');
                                      $("#btnsubmit").prop("disabled",false);
                                  }
                              }
                          });
                      }
                    var pickuppointRequest = null;
                    $('input.customersearch').typeahead({
                        minLength: 3,
                        autoSelect: true,
                        highlight: true,
                        items: 500,

                        source: function(query, process) {

                            var regex = "^[a-zA-Z0-9\\s/g_.-]*$";


                            var that = this;
                            pickuppointRequest = $.ajax({
                                url: '/api/member/customer',
                                type: 'GET',
                                dataType: 'JSON',
                                data: 'search=' + query,
                                beforeSend: function() {

                                    //$("#overLay").show();
                                    //$("#overLay").addClass("overlay");
                                    if (pickuppointRequest != null) {
                                        pickuppointRequest.abort();
                                    }
                                    that.$element.addClass('loadinggif');
                                },
                                complete: function() {
                                    that.$element.removeClass('loadinggif');
                                },

                                success: function(data) {
                                    debugger;
                                    map = {};
                                    var cnames = new Array();
                                    for (var i = 0; i < data.length; i++) {

                                        var id = data[i].memberId + "|" + data[i].fullName + "|" + data[i].userId;
                                        name = data[i].memberId + " - " + data[i].fullName + " - " + data[i].email + " - " + data[i].mobile;
                                        map[name] = { id: id, name: name };
                                        cnames.push(name);
                                    }
                                    process(cnames);
                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();
                                }
                            });


                        },
                        sorter: function(items) {
                            return items; // items.sort();
                        },
                        matcher: function(item) {

                            return true;

                        },
                        updater: function(item) {


                            $("input[name='MemberId']").val(map[item].id.split('|')[0]);
                            $("input[name='UserName']").val(map[item].id.split('|')[1]);
                            $("input[name='UserId']").val(map[item].id.split('|')[2]);
                            $("input[name='Description']").val("");
                            callFreejurneys(map[item].id.split('|')[2]);
                            IsMemberBlock(map[item].id.split('|')[2]);
                            return item;
                        }

                    });
                    $('.select2').select2();
                    $('#datepicker').datepicker({
                        autoclose: true,
                        minDate: 0,
                        format: "dd/mm/yyyy"
                    });
                    //$(".jqueryui-marker-datepicker").datepicker(
                    //    {
                    //        minDate: 0,
                    //        dateFormat: "dd/MM/yyyy"
                    //    }).css("display", "inline-block")
                    //    .next("button").button(
                    //    {
                    //        icons: { primary: "ui-icon-calendar" },
                    //        lable: "Select a date",
                    //        text: false
                    //    });


                });
    </script>
}
