﻿@model SwaranAdmin_New.Models.Member.CustomerDiscountViewModel
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">

        <h4 id="membertitel">Add/Deduct Customer Credits</h4>
        <hr />

        <div class="col-md-12">
            <div class="row col-md-10" style="margin: 10px">

                <div class="col-md-8">
                    <div class="input-group margin">
                        @Html.TextBoxFor(model => model.Customersearch, new { @class = "form-control customersearch", @id = "fullName", @autocomplete = "off", @placeholder = "" })
                        @*<input class="customersearch form-control" type="text">*@
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat">SEARCH!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-8">

                @using (Html.BeginForm())
            {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Customersearch)
                        @Html.HiddenFor(model => model.CustomerUserId)
                        @*@Html.HiddenFor(model => model.MemberId)*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "fullName", @readonly = "readonly", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MemberId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.MemberId, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.MemberId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.AvailabelCredits, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.AvailabelCredits, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.AvailabelCredits, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TransactionCredit, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.TransactionCredit, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TransactionCredit, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">

                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="col-md-3">
                                    <input type="submit" name="submit" value="Add" class="btn btn-block btn-success btn-flat margin btnsubmit" />
                                </div>
                                    <div class="col-md-3">
                                        <input type="submit" name="submit" value="Deduct" class="btn btn-block btn-danger btn-flat margin btnsubmit" />
                                    </div>
                  
                                </div> 
                            </div>
                        </div>
                            if (@ViewBag.isSavedMesage)
                            {
                                if (@ViewBag.isSaved)
                                {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Alert!</h4>
                            Free Journey Added Successfully
                        </div>
                                }
                                else
                                {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                            Sorry ! Something went to wrong
                        </div>
                                }
                            }
        }
            </div>
        </div>
        @*<div>
                @Html.ActionLink("Back to List", "Index")
            </div>*@
        <div class="col-md-12" style="margin-top: 25px">
            <table id="all-freejourneys" style="color: #000000" class="table table-bordered table-striped dataTable">

                <thead>
                <tr>
                    <th>Created by(Staff Name)</th> 
                    <th>Date</th>
                    <th>Transaction Type</th>
                    <th>Description</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Balance</th>

                </tr>
                </thead>
            </table>
            @*</div>*@
        </div>


    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            var Table = $("#all-freejourneys").DataTable({
                aaSorting: [],
                data: [],
                "pageLength": 150,
                columns: [
                     {
                         data: "staffName"
                     },
                    {
                        data: "transactionDate"
                        //"width": "20%"
                    }, {
                        data: "transactionType"
                        //"width": "10%"
                    }, {
                        data: "description",
                         "width": "25%"
                    }, {
                        data: "transactionCredit"
                        //"width": "10%"
                    }, {
                        data: "transactionDebit"
                        //"width": "10%"
                    }, {
                        data: "finalCredit"
                    }
                ]
            });
            $("#all-freejourneys").on("click", ".all-journeys", function() {
                var button = $(this);
                var freeJourneyId = button.attr("data-user-id");
                $.confirm({
                    title: 'Delete FreeJourney!',
                    content: 'Do you surely want to delete this free journey ?' + '<form action="" class="formName">' + '<div class="form-group">' + '<label>Enter valid reson</label>' + '<input name="Reson" type="text" placeholder="Reson" class="name form-control" required />' + '</div>' + '</form>',
                    buttons: {
                        formSubmit: {
                            text: 'Submit',
                            btnClass: 'btn-blue',
                            action: function() {
                                var name = this.$content.find('.name').val();
                                if (!name) {
                                    $.alert('provide a valid reson');
                                    return false;
                                } else {
                                    $.ajax({
                                        url: "/api/member/deletefreejourney",
                                        method: "POST",
                                        dataType: 'JSON',
                                        contentType: "application/json; charset = utf-8",
                                        data: JSON.stringify({ Reson: name, FreeJourneyId: freeJourneyId }), //'token=' + button.attr("data-cancelbooking-id"),
                                        success: function(data) {
                                            $.alert(data);
                                        }
                                    });
                                }
                            }
                        },
                        cancel: function() { //close
                        },
                    },
                    onContentReady: function() { // bind to events
                        var jc = this;
                        this.$content.find('form').on('submit', function(e) {
                            debugger; // if the user submits the form by pressing enter in the field.
                            e.preventDefault();
                            jc.$$formSubmit.trigger('click'); // reference the button and click it
                        });
                    }
                });
            });
            
            var callFreejurneys = function(customerUserId) {
                $.ajax({
                    url: "/api/member/customercredits?customerUserId=" + customerUserId,
                    method: "GET", //dataType: 'JSON',
                    //contentType: "application/json; charset = utf-8",
                    //data: JSON.stringify({ Token: token, IsRetunBooking: isRetunBooking, CancelAmt: 0, CancelDate: date + " " + time }), //'token=' + button.attr("data-cancelbooking-id"),
                    success: function(data) { // //debugger;

                        $("input[name='AvailabelCredits']").val(data.availabelCredits);
                        Table.clear().draw();
                        Table.rows.add(data.listCustomerCredits).draw();
                    }
                });
            }
          
            var customerUserId = @Html.Raw(Json.Encode(@ViewBag.UserID));
            callFreejurneys(customerUserId);
           
            function IsMemberBlock(userid) { 
                $.ajax({
                    url: "/api/member/isblockmember?userid=" + userid,
                    method: "GET",
                    success: function (data) {
                        debugger;
                        if (data) { 
                            $("#membertitel").text('Member Blocked'); 
                            $("#membertitel").css('color', '#f20202');
                            $("#all-freejourneys").css({"color": "#f20202" });
                            $(".btnsubmit").addClass('btn-block'); 
                            $(".btnsubmit").prop("disabled",true);
                            $("#fullName").css('color', '#f20202'); 
                        } else { 
                            $("#membertitel").text('Add/Deduct Customer Credits');
                            $("#all-freejourneys").css({ "color": "#333" }); 
                            $("#membertitel").css('color', '#333');
                            $(".btnsubmit").removeClass('btn-block'); 
                            $(".btnsubmit").prop("disabled",false);
                            $("#fullName").css('color', '#333'); 
                        }
                    }
                });
            }
            var pickuppointRequest = null;
            $('input.customersearch').typeahead({
                minLength: 3,
                autoSelect: true,
                highlight: true,
                items: 500,

                source: function(query, process) {

                    var regex = "^[a-zA-Z0-9\\s/g_.-]*$";

                    var that = this;
                    pickuppointRequest = $.ajax({
                        url: '/api/member/customer',
                        type: 'GET',
                        dataType: 'JSON',
                        data: 'search=' + query,
                        beforeSend: function() {

                            
                            //$("#overLay").show();
                            //$("#overLay").addClass("overlay");
                            if (pickuppointRequest != null) {
                                pickuppointRequest.abort();
                            }
                            that.$element.addClass('loadinggif');
                        },
                        complete: function() {
                            that.$element.removeClass('loadinggif');
                        },

                        success: function(data) {
                            debugger;
                            map = {};
                            var cnames = new Array();
                            for (var i = 0; i < data.length; i++) {

                                var id = data[i].memberId + "|" + data[i].fullName + "|" + data[i].userId;
                                name = data[i].memberId + " - " + data[i].fullName + " - " + data[i].email + " - " + data[i].mobile;
                                map[name] = { id: id, name: name };
                                cnames.push(name);
                            }
                            process(cnames);
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });


                },
                sorter: function(items) {
                    return items; // items.sort();
                },
                matcher: function(item) {

                    return true;

                },
                updater: function(item) {


                    $("input[name='MemberId']").val(map[item].id.split('|')[0]);
                    $("input[name='UserName']").val(map[item].id.split('|')[1]);
                    $("input[name='CustomerUserId']").val(map[item].id.split('|')[2]);
                    callFreejurneys(map[item].id.split('|')[2]);
                    IsMemberBlock(map[item].id.split('|')[2]);
                    return item;
                }

            });
            $('.select2').select2();
            $('#datepicker').datepicker({
                autoclose: true,
                minDate: 0,
                format: "dd/mm/yyyy"
            });
            //$(".jqueryui-marker-datepicker").datepicker(
            //    {
            //        minDate: 0,
            //        dateFormat: "dd/MM/yyyy"
            //    }).css("display", "inline-block")
            //    .next("button").button(
            //    {
            //        icons: { primary: "ui-icon-calendar" },
            //        lable: "Select a date",
            //        text: false
            //    });


        });
    </script>
}
