﻿@using System.Collections.Concurrent
@model SwaranAdmin_New.Models.Member.MemberSpecialPreferenceViewModel

<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">

        <h4 id="membertitel">Add Special Preference to Members</h4>
        <hr />

        <div class="col-md-12">
            <div class="row col-md-10" style="margin: 10px">

                <div class="col-md-8">
                    <div class="input-group margin">
                        @Html.TextBox("Customersearch",null, new { @class = "form-control customersearch", @id = "fullName", @autocomplete = "off", @placeholder = "" })
                        @*<input class="customersearch form-control" type="text">*@
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat">SEARCH!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-8">

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                    @Html.HiddenFor(model => model.UserId)
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.UserName, new {@class = "form-control", @id = "fullName", @readonly = "readonly", @autocomplete = "off", @placeholder = ""})
                            @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MemberId, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.MemberId, new {@class = "form-control", @readonly = "readonly"})
                            @Html.ValidationMessageFor(model => model.MemberId, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-offset-2" style="margin-bottom: 20px">
                        <div class="checkbox">
                            <label class="control-label">@Html.CheckBoxFor(model => model.IsEnabled) Is Enabled</label>
                        </div>
                    </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @col = "4" })
                                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                            </div>
                        </div>




                        <div class="row">
                            <div class="col-md-8">
                                <div class="col-md-3">
                                    <input id="btnsubmit" type="submit" name="submit" value="Add" class="btn btn-block btn-success btn-flat margin" />
                                </div>

                            </div>
                        </div>
                    </div>
                if (@ViewBag.isSaved != null)
                {
                    if (@ViewBag.isSaved)
                    {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Alert!</h4>
                            Member Special Preferences Added Successfully
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                            Sorry ! Something went to wrong
                        </div>
                    }
                }
            }
            </div>
        </div>
       
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            var pickuppointRequest = null;

            function loadSpecialPreference(userid) {
                $.ajax({
                    url: '/api/member/specialPreference?userid=' + userid,
                    type: 'GET',
                    success: function(data) {
                        debugger;
                        $("textarea[name='Note']").val(data.note);
                        if (data.isEnabled) {
                            $('#IsEnabled').prop('checked', true);
                        }else
                        $('#IsEnabled').prop('checked', false);
                    }
                });
            }

            function IsMemberBlock(userid) {
                $.ajax({
                    url: "/api/member/isblockmember?userid=" + userid,
                    method: "GET",
                    success: function (data) {
                        debugger;
                        if (data) {
                            $("#membertitel").text('Member Blocked');
                            $("#membertitel").css('color', '#f20202');
                            $("#fullName").css('color', '#f20202');
                            $("input").css('color', '#f20202');
                            $("textarea").css('color', '#f20202');
                            $("#btnsubmit").addClass('btn-block');
                            $("#btnsubmit").prop("disabled", true);

                        } else {
                            $("#membertitel").text('Add Special Preference to Members');
                            $("#membertitel").css('color', '#333');
                            $("input").css('color', '#333');
                            $("#fullName").css('color', '#333');
                            $("textarea").css('color', '#333');
                            $("#btnsubmit").removeClass('btn-block');
                            $("#btnsubmit").prop("disabled", false);
                        }
                    }
                });
            }

            $('input.customersearch').typeahead({
                minLength: 3,
                autoSelect: true,
                highlight: true,
                items: 500,

                source: function(query, process) {

                    var regex = "^[a-zA-Z0-9\\s/g_.-]*$";


                    var that = this;
                    pickuppointRequest = $.ajax({
                        url: '/api/member/customer',
                        type: 'GET',
                        dataType: 'JSON',
                        data: 'search=' + query,
                        beforeSend: function() {

                            $("#overLay").show();
                            $("#overLay").addClass("overlay");
                            if (pickuppointRequest != null) {
                                pickuppointRequest.abort();
                            }
                            that.$element.addClass('loadinggif');
                        },
                        complete: function() {
                            that.$element.removeClass('loadinggif');
                        },

                        success: function(data) {
                            debugger;
                            map = {};
                            var cnames = new Array();
                            for (var i = 0; i < data.length; i++) {

                                var id = data[i].memberId + "|" + data[i].fullName + "|" + data[i].userId;
                                name = data[i].memberId + " - " + data[i].fullName + " - " + data[i].email + " - " + data[i].mobile;
                                map[name] = { id: id, name: name };
                                cnames.push(name);
                            }
                            process(cnames);
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });


                },
                sorter: function(items) {
                    return items; // items.sort();
                },
                matcher: function(item) {

                    return true;

                },
                updater: function(item) {


                    $("input[name='MemberId']").val(map[item].id.split('|')[0]);
                    $("input[name='UserName']").val(map[item].id.split('|')[1]);
                    $("input[name='UserId']").val(map[item].id.split('|')[2]);
                    loadSpecialPreference(map[item].id.split('|')[2]);
                    IsMemberBlock(map[item].id.split('|')[2]);
                    return item;
                }

            });
            $('.select2').select2();
            $('#datepicker').datepicker({
                autoclose: true,
                minDate: 0,
                format: "dd/mm/yyyy"
            });


        });
    </script>
}
