﻿@model SwaranAdmin_New.Models.Member.BlockMemberBookingViewModel

@{
    ViewBag.Title = "BlockMemberView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">

        <h4 id="membertitel"> BLOCK MEMBER</h4>
        <hr />

        <div class="col-md-12">
            <div class="row col-md-10" style="margin: 10px">

                <div class="col-md-8">
                    <div class="input-group margin">
                        @Html.TextBoxFor(model => model.Customersearch, new { @class = "form-control customersearch", @id = "fullName", @autocomplete = "off", @placeholder = "" })
                        @*<input class="customersearch form-control" type="text">*@
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat">SEARCH!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-8">

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Customersearch)
                        @Html.HiddenFor(model => model.UserId) 
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "fullName", @readonly = "readonly", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MemberId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.MemberId, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.MemberId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control",  })
                                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.CookieId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">

                                @Html.TextBoxFor(model => model.CookieId, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.CookieId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IpAddress, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-6">

                                @Html.TextBoxFor(model => model.IpAddress, new {@class = "form-control", @autocomplete = "off", @placeholder = ""})
                                @Html.ValidationMessageFor(model => model.IpAddress, "", new {@class = "text-danger"})
                                <span style="color: gray">NOTE:- IF ITS IS HOTEL OR OFFICE THEN MANY CUSTOMERS CAN BOOK NO POINT BLOCKING IP.</span>
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.ResonForBlock, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">

                                @Html.TextAreaFor(model => model.ResonForBlock, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.ResonForBlock, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                
                                <div class="col-md-3">
                                    <input type="submit" name="submit" value="Block This Member" class="btn btn-block btn-danger btn-flat margin btnsubmit" />
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" name="submit" value="Unblock This Member" class="btn btn-block btn-success btn-flat margin btnsubmit" /> 
                                </div>
                            </div>
                        </div>
                    </div>
                    if (@ViewBag.isSavedMesage)
                    {
                        if (@ViewBag.isSaved)
                        {
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                Member blocked Successfully
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                Sorry ! Something went to wrong
                            </div>
                        }
                    }
                }
            </div>
        </div>
        


    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            
            function IsMemberBlock(userid) {
                $.ajax({
                    url: "/api/member/isblockmember?userid=" + userid,
                    method: "GET",
                    success: function (data) {
                        debugger;
                        if (data) {
                            $("#membertitel").text('Member Blocked');
                            $("#membertitel").css('color', '#f20202'); 
                            $("#fullName").css('color', '#f20202');
                            $("input").css('color', '#f20202'); 
                        } else {
                            $("#membertitel").text('BLOCK MEMBER');
                            $("#membertitel").css('color', '#333');
                            $("#fullName").css('color', '#333');
                            $("input").css('color', '#333');
                            $(".btnsubmit").removeClass('btn-block');
                            $(".btnsubmit").css('color', '#ffffff');
                        }
                    }
                });
            }


            var pickuppointRequest = null;
            $('input.customersearch').typeahead({
                minLength: 3,
                autoSelect: true,
                highlight: true,
                items: 500,

                source: function(query, process) {

                    var regex = "^[a-zA-Z0-9\\s/g_.-]*$";

                    var that = this;
                    pickuppointRequest = $.ajax({
                        url: '/api/member/customer',
                        type: 'GET',
                        dataType: 'JSON',
                        data: 'search=' + query,
                        beforeSend: function() {


                            //$("#overLay").show();
                            //$("#overLay").addClass("overlay");
                            if (pickuppointRequest != null) {
                                pickuppointRequest.abort();
                            }
                            that.$element.addClass('loadinggif');
                        },
                        complete: function() {
                            that.$element.removeClass('loadinggif');
                        },

                        success: function(data) {
                            debugger;
                            map = {};
                            var cnames = new Array();
                            for (var i = 0; i < data.length; i++) {

                                var id = data[i].memberId + "|" + data[i].fullName + "|" + data[i].userId+"|"+data[i].mobile+"|"+data[i].email;
                                name = data[i].memberId + " - " + data[i].fullName + " - " + data[i].email + " - " + data[i].mobile;
                                map[name] = { id: id, name: name };
                                cnames.push(name);
                            }
                            process(cnames);
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });


                },
                sorter: function(items) {
                    return items; // items.sort();
                },
                matcher: function(item) {

                    return true;

                },
                updater: function(item) {


                    $("input[name='MemberId']").val(map[item].id.split('|')[0]);
                    $("input[name='UserName']").val(map[item].id.split('|')[1]);
                    $("input[name='UserId']").val(map[item].id.split('|')[2]);
                    $("input[name='Telephone']").val(map[item].id.split('|')[3]);
                    $("input[name='EmailId']").val(map[item].id.split('|')[4]);
                    IsMemberBlock(map[item].id.split('|')[2]);
                    return item;
                }

            });
            $('.select2').select2();
            $('#datepicker').datepicker({
                autoclose: true,
                minDate: 0,
                format: "dd/mm/yyyy"
            });
            //$(".jqueryui-marker-datepicker").datepicker(
            //    {
            //        minDate: 0,
            //        dateFormat: "dd/MM/yyyy"
            //    }).css("display", "inline-block")
            //    .next("button").button(
            //    {
            //        icons: { primary: "ui-icon-calendar" },
            //        lable: "Select a date",
            //        text: false
            //    });


        });
    </script>
}




