﻿ 
@model SwaranAdmin_New.Models.Member.MemberSearchViewModel
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <div class="col-md-12">
            <div class="row col-md-10">
                <div class="col-md-6">

                </div>
                <div class="col-md-4">
                    <div class="btn-group" style="margin: 25px">
                        <button type="button" id="mainbtn-id" class="btn btn-info btn-flat">SELECT</button>
                        <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="diamon-id" href="#">DIAMOND</a></li>
                            <li><a id="platinum-id" href="#">PLATINUM</a></li>
                            <li><a id="gold-id" href="#">GOLD</a></li>
                            <li><a id="silver-id" href="#">SILVER</a></li>
                            <li><a id="bronze-id" href="#">BRONZE</a></li>
                            <li><a id="blue-id" href="#">BLUE</a></li>
                            <li><a id="new-id" href="#">NEW</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12">



            <div class="col-md-8">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 id="loyalty-member" class="box-title">Search Member</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="customerMedel" class="table table-bordered">

                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <div>
                    <div id="page-content" class="page-content">Page </div>

                </div>
                <div>

                    <div class="row">
                        <div class="col-sm-8">
                            <ul id="pagination-demo" class="pagination-sm"></ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            function pagination(totalPages, loyalty) {
                 
                $('#pagination-demo').twbsPagination({
                    totalPages: totalPages,
                    visiblePages: 20,
                    next: 'Next',
                    prev: 'Prev',
                    onPageClick: function(event, page) {
                      
                        $("#customerMedel tbody").html("");
                        $.ajax({
                            type: "GET",
                            url: "/api/member/loyaltycustomer?loyalty=" + loyalty + "&numberOfRecord=10&currentpage=" + page,
                            success: function(data) {
                                 
                                $("#customerMedel tbody").append(
                                    "<tr>"
                                    + "<td> ID </td>"
                                    + "<td> Full Name</td>"
                                    + "<td> Type </td>"
                                    + "<td> Email </td>"
                                    + "<td> Mobile </td>"
                                    + "<td> Points Left</td>"
                                    + "<td> FJ Given</td>"
                                    + "<td> FJ Used</td>"
                                    + "<td>Last Logged In </td>"
                                    + "</tr>");

                                for (var i = 0; i < data.length; i++) {
                                    $("#customerMedel tbody").append(
                                        "<tr>"
                                        + "<td>" + data[i].memberId + "</td>"
                                        + "<td>" + data[i].fullName + "</td>"
                                        + "<td>" + data[i].type + "</td>"
                                        + "<td>" + data[i].email + "</td>"
                                        + "<td>" + data[i].mobile + "</td>"
                                        + "<td>" + data[i].pointsLeft + "</td>"
                                        + "<td>" + data[i].fjGiven + "</td>"
                                        + "<td>" + data[i].fjUsed + "</td>"
                                        + "<td>" + data[i].lastLoggedIn + "</td>"
                                        + "</tr>");

                                }

                                $('#page-content').text('Page ' + page);

                                $("#overLay").removeClass("overlay");
                                $("#overLay").hide();

                            },
                            error: function(response) {

                                $("#LoadingImage").hide();
                                $("#overLay").removeClass("overlay");
                                $("#overLay").hide();

                            }
                        });
                    }
                });
            }
           

            $("#diamon-id").on("click", function () {
                debugger;
                if ($('#pagination-demo').data("twbs-pagination"))
                   $('#pagination-demo').twbsPagination('destroy');
                $("#mainbtn-id").text($(this).text());
                $("#loyalty-member").text($(this).text() + "  - Customers");
                $("#overLay").show();
                $("#overLay").addClass("overlay");
               
                $.ajax({
                    type: "GET",
                    url: "/api/member/loyaltycustomer?loyalty=6&numberOfRecord=10&currentpage=1",
                    success: function(data) {
                         
                        pagination(data[1].nmuOfPage, 6);
                    }, error: function (response) {

                        $("#LoadingImage").hide();
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();

                    }
                });
                });
            $("#platinum-id").on("click", function () {
                if ($('#pagination-demo').data("twbs-pagination"))
                       $('#pagination-demo').twbsPagination('destroy');
                $("#mainbtn-id").text($(this).text());
                $("#loyalty-member").text($(this).text() + "  - Customers");
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                    $.ajax({
                        type: "GET",
                        url: "/api/member/loyaltycustomer?loyalty=5&numberOfRecord=10&currentpage=1",
                        success: function (data) {
                             
                            pagination(data[1].nmuOfPage, 5);
                        }, error: function (response) {

                            $("#LoadingImage").hide();
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();

                        }
                    });
                });
            $("#gold-id").on("click", function () {
                if ($('#pagination-demo').data("twbs-pagination"))
                        $('#pagination-demo').twbsPagination('destroy');
                $("#mainbtn-id").text($(this).text());
                $("#loyalty-member").text($(this).text() + "  - Customers");
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                    $.ajax({
                        type: "GET",
                        url: "/api/member/loyaltycustomer?loyalty=4&numberOfRecord=10&currentpage=1",
                        success: function (data) {
                             
                            pagination(data[1].nmuOfPage, 4);
                        }, error: function (response) {

                            $("#LoadingImage").hide();
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();

                        }
                    });
                });
            $("#silver-id").on("click", function () {
                if ($('#pagination-demo').data("twbs-pagination"))
                       $('#pagination-demo').twbsPagination('destroy');
                $("#mainbtn-id").text($(this).text());
                $("#loyalty-member").text($(this).text() + "  - Customers");
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                    $.ajax({
                        type: "GET",
                        url: "/api/member/loyaltycustomer?loyalty=3&numberOfRecord=10&currentpage=1",
                        success: function (data) {
                             
                            pagination(data[1].nmuOfPage, 3);
                        }, error: function (response) {

                            $("#LoadingImage").hide();
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();

                        }
                    });

                });
            $("#bronze-id").on("click", function () {
                if ($('#pagination-demo').data("twbs-pagination"))
                        $('#pagination-demo').twbsPagination('destroy');
                $("#mainbtn-id").text($(this).text());
                $("#loyalty-member").text($(this).text() + "  - Customers");
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                    $.ajax({
                        type: "GET",
                        url: "/api/member/loyaltycustomer?loyalty=2&numberOfRecord=10&currentpage=1",
                        success: function (data) {
                             
                            pagination(data[1].nmuOfPage, 2);
                        }, error: function (response) {

                            $("#LoadingImage").hide();
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();

                        }
                    });
                });
            $("#blue-id").on("click", function () {
                if ($('#pagination-demo').data("twbs-pagination"))
                         $('#pagination-demo').twbsPagination('destroy');
                $("#mainbtn-id").text($(this).text());
                $("#loyalty-member").text($(this).text() + "  - Customers");
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                    $.ajax({
                        type: "GET",
                        url: "/api/member/loyaltycustomer?loyalty=1&numberOfRecord=10&currentpage=1",
                        success: function (data) {
                             
                            pagination(data[1].nmuOfPage, 1);
                            
                        }, error: function (response) {

                            $("#LoadingImage").hide();
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();

                        }
                    });
                });
            $("#new-id").on("click", function () {
                $("#overLay").show();
                $("#overLay").addClass("overlay");

                if ($('#pagination-demo').data("twbs-pagination"))
                        $('#pagination-demo').twbsPagination('destroy');
                $("#mainbtn-id").text($(this).text());
                $("#loyalty-member").text($(this).text() + "  - Customers");
                    $.ajax({
                        type: "GET",
                        url: "/api/member/loyaltycustomer?loyalty=0&numberOfRecord=10&currentpage=1",
                        success: function (data) {
                             
                            pagination(data[1].nmuOfPage, 0);
                            
                        }, error: function (response) {

                            $("#LoadingImage").hide();
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();

                        }
                    });
                });


            });
            </script>
    }