﻿ 
 
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">

        <h4 id="membertitel"> Member Statement</h4>
        <hr />

        <div class="col-md-12">
            <div class="row col-md-10" style="margin: 10px">

                <div class="col-md-8">
                    <div class="input-group margin">
                        @*@Html.TextBox("MemberID", new { @class = "form-control customersearch", @id = "fullName", @autocomplete = "off", @placeholder = "" })*@
                        <input class="customersearch form-control customersearch" type="text" id="fullName" placeholder="Search by Memberid/Email/Name/Mobile ">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat">SEARCH!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

     
        <div class="col-md-12" style="margin-top: 25px">
            @*<table id="member-statement" style="color: #000000" class="table table-bordered table-striped dataTable">*@
            <table id="member-statement" style="color: #000000" class="table table-striped dataTable">
                <thead>
                    <tr>
                        <th>Created by(Staff Name)</th>
                        <th>Date</th>
                        <th>Transaction Type</th>
                        <th>Description</th>
                        <th>Credit</th>
                        <th>Debit</th>
                        <th>Balance</th>

                    </tr>
                </thead>
            </table>
            @*</div>*@
        </div>


    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            var Table = $("#member-statement").DataTable({
                aaSorting: [],
                data: [],
                "pageLength": 150,
                "ordering": false,
                "info": false,
                columns: [
                     {
                         data: "staffName"
                     },
                    {
                        data: "transactionDate"
                        //"width": "20%"
                    }, {
                        data: "transactionType"
                        //"width": "10%"
                    }, {
                        data: "description",
                         "width": "25%"
                    }, {
                        data: "transactionCredit"
                        //"width": "10%"
                    }, {
                        data: "transactionDebit"
                        //"width": "10%"
                    }, {
                        data: "finalCredit"
                    }
                ]
            });
        
            var callFreejurneys = function(customerUserId) {
                $.ajax({
                    url: "/api/member/customerstatment?customerUserId=" + customerUserId,
                    method: "GET", //dataType: 'JSON',
                    //contentType: "application/json; charset = utf-8",
                    //data: JSON.stringify({ Token: token, IsRetunBooking: isRetunBooking, CancelAmt: 0, CancelDate: date + " " + time }), //'token=' + button.attr("data-cancelbooking-id"),
                    success: function(data) { // //debugger;
                        Table.clear().draw();
                        Table.rows.add(data).draw();
                    }
                });
            }
            function IsMemberBlock(userid) {
                $.ajax({
                    url: "/api/member/isblockmember?userid=" + userid,
                    method: "GET",
                    success: function (data) {
                        debugger;
                        if (data) {
                            $("#membertitel").text('Member Blocked');
                            $("#membertitel").css('color', '#f20202');
                            $("#fullName").css('color', '#f20202'); 
                            $("#member-statement").css({ "color": "#f20202" });
                         
                        } else {
                            $("#membertitel").text('Member Statement');
                            $("#membertitel").css('color', '#333');
                            $("#member-statement").css({ "color": "#333" });
                            $("#fullName").css('color', '#333');
                        
                        }
                    }
                });
            }
         

            var pickuppointRequest = null;
            $('input.customersearch').typeahead({
                minLength: 3,
                autoSelect: true,
                highlight: true,
                items: 500,

                source: function(query, process) {

                    var regex = "^[a-zA-Z0-9\\s/g_.-]*$";

                    var that = this;
                    pickuppointRequest = $.ajax({
                        url: '/api/member/customer',
                        type: 'GET',
                        dataType: 'JSON',
                        data: 'search=' + query,
                        beforeSend: function() {


                            $("#overLay").show();
                            $("#overLay").addClass("overlay");
                            if (pickuppointRequest != null) {
                                pickuppointRequest.abort();
                            }
                            that.$element.addClass('loadinggif');
                        },
                        complete: function() {
                            that.$element.removeClass('loadinggif');
                        },

                        success: function(data) {
                            debugger;
                            map = {};
                            var cnames = new Array();
                            for (var i = 0; i < data.length; i++) {

                                var id = data[i].memberId + "|" + data[i].fullName + "|" + data[i].userId;
                                name = data[i].memberId + " - " + data[i].fullName + " - " + data[i].email + " - " + data[i].mobile;
                                map[name] = { id: id, name: name };
                                cnames.push(name);
                            }
                            process(cnames);
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });


                },
                sorter: function(items) {
                    return items; // items.sort();
                },
                matcher: function(item) {

                    return true;

                },
                updater: function(item) {


                    $("input[name='MemberId']").val(map[item].id.split('|')[0]);
                    $("input[name='UserName']").val(map[item].id.split('|')[1]);
                    $("input[name='CustomerUserId']").val(map[item].id.split('|')[2]);
                    callFreejurneys(map[item].id.split('|')[2]);
                    IsMemberBlock(map[item].id.split('|')[2]);
                    return item;
                }

            });
            $('.select2').select2();
            $('#datepicker').datepicker({
                autoclose: true,
                minDate: 0,
                format: "dd/mm/yyyy"
            });
            //$(".jqueryui-marker-datepicker").datepicker(
            //    {
            //        minDate: 0,
            //        dateFormat: "dd/MM/yyyy"
            //    }).css("display", "inline-block")
            //    .next("button").button(
            //    {
            //        icons: { primary: "ui-icon-calendar" },
            //        lable: "Select a date",
            //        text: false
            //    });


        });
    </script>
}
