﻿
@model SwaranAdmin_New.Models.Member.MemberSearchViewModel
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="col-md-12">
        <div class="row col-md-10" style="margin: 25px">

            <div class="col-md-8">
                <div class="input-group margin">
                    <input class="customersearch form-control" type="text" placeholder="Search by Memberid/Email/Name/Mobile ">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info btn-flat"></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="box-body">

        @Html.HiddenFor(x => x.UserId);

        <div class="col-md-8">
            <div class="box">
                    <div class="box-header with-border">
                        <h3 id="membertitel" class="box-title">Search Member</h3>
                    </div>

                    <div class="box-body">
                        <table id="tbl-member" class="table table-bordered">
                            <tbody>

                                <tr>
                                    <td>1.</td>
                                    <td> Member Id</td>
                                    <td>
                                        <span id="memberid"> </span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td> Loyalty</td>
                                    <td>
                                        <span id="loyaltyid"> </span>
                                    </td>

                                </tr>
                                @*<tr>
                                <td>3.</td>
                                <td> Point</td>
                                <td>
                                    <span id="pointsid"> </span>
                                </td>

                            </tr>*@
                                <tr>
                                    <td>3.</td>
                                    <td>Full Name</td>
                                    <td>
                                        <span id="fullName"> </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Mobile</td>
                                    <td>
                                        <span id="mobile"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Email</td>
                                    <td>
                                        <span id="email"> </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6.</td>
                                    <td># Waiting Bookings</td>
                                    <td>
                                        <span id="noofWaitingBookings"> </span>
                                        <a id="waitingBookingurl" style="margin-left:25px" class="btn btn-info btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7.</td>
                                    <td># Confirmed Bookings</td>
                                    <td>
                                        <span id="noofConfirmedBookings"> </span>
                                        <a id="confirmedBookingurl" style="margin-left:25px" class="btn btn-info btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8.</td>
                                    <td># Completed Bookings</td>
                                    <td>
                                        <span id="noofCompletedBookings"> </span>
                                        <a id="completBookingurl" style="margin-left:25px" class="btn btn-info btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>9.</td>
                                    <td># Cancelled Bookings(Counts are based on after 25-02-2018)</td>
                                    <td>
                                        <span id="noofCancelledBookings"> </span>
                                        <a id="cancelledBookingurl" style="margin-left:25px" class="btn btn-info btn-sm">View</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>10.</td>
                                    <td>Available Points (from <span id="lastPointUpdatedDate"> </span>)</td>
                                    <td>
                                        <span id="avaPoints">0</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>11.</td>
                                    <td>Number of Free Journey Issued</td>
                                    <td>
                                        <span id="numOfFreeJourneyIssued">0</span>
                                        @*<button type="button" class="btn btn-block btn-info btn-sm">Info</button>*@
                                        @*<a class="btn btn-info btn-sm">View</a>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td>12.</td>
                                    <td>Number of Free Journey Used</td>
                                    <td>
                                        <span id="numOfFreeJourneyUsed">0</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>13.</td>
                                    <td>Date Joined</td>
                                    <td>
                                        <span id="datOfJoin"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>14.</td>
                                    <td>Last Logged In</td>
                                    <td>
                                        <span id="lastLoggedIn"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>15.</td>
                                    <td>Refunds Given</td>
                                    <td>
                                        <span>View / Add</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>16.</div>
                                    </td>
                                    <td> 
                                        <div class="checkbox" style="margin-top: 0px">
                                            <label>
                                                @Html.CheckBox("IsCABOperator")
                                                Is CAB Operators
                                            </label>
                                         
                                        </div> 
                                    </td>
                                    <td> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {

            $("#IsCABOperator").change(function() {
                var userId = $("#UserId").val();
                if (this.checked) {
                    $("#overLay").show();
                    $("#overLay").addClass("overlay");
                    $.ajax({
                        url: "/api/member/caboperator?userid=" + userId + "&isCabOperator=true",
                        method: "GET",
                        success: function(data) {
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                            alert(data);
                        }, error: function (data) {

                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        },
                        failure: function (data) {

                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });
                } else {
                    $("#overLay").show();
                    $("#overLay").addClass("overlay");
                    $.ajax({
                        url: "/api/member/caboperator?userid=" + userId + "&isCabOperator=false",
                        method: "GET",
                        success: function(data) {
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                            alert(data);
                        }, error: function (data) {

                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        },
                        failure: function (data) {

                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });
                }
            });


            function GetMemberInfo(userid) {
                $.ajax({
                    url: "/api/member/currentcustomer?userid=" + userid,
                    method: "GET",
                    success: function(data) {
                         debugger;
                        $("#memberid").text(data.memberId);
                        $("#fullName").text(data.fullName);
                        $("#email").text(data.email);
                        $("#mobile").text(data.mobile);
                        $("#noofWaitingBookings").text(data.noOfWaitingBooking);
                        $("#noofCompletedBookings").text(data.noOfCompletedBooking);
                        $("#noofConfirmedBookings").text(data.noOfConfirmedBooking);
                        $("#noofCancelledBookings").text(data.noOfCancelBooking);
                        $("#numOfFreeJourneyIssued").text(data.numOfFreeJourneyIssued);
                        $("#numOfFreeJourneyUsed").text(data.numOfFreeJourneyUsed);
                        $("#datOfJoin").text(data.datOfJoin);
                        $("#lastLoggedIn").text(data.lastLoggedIn);
                        // $("#numberofJny").text(data.);
                        $("#avaPoints").text(data.availablePoints + " (takes up to 24 hours to update)");
                        $("#lastPointUpdatedDate").text(data.lastPointUpdatedDate);
                        $("#loyaltyid").text(data.loyalty);
                        $("#pointsid").text(data.availablePoints);

                        $("#waitingBookingurl").attr("href", "/Home/CustomerBookingsView?bookingstatus=1&userid=" + userid + "&memberId=" + data.memberId);
                        $("#confirmedBookingurl").attr("href", "/Home/CustomerBookingsView?bookingstatus=2&userid=" + userid + "&memberId=" + data.memberId);
                        $("#completBookingurl").attr("href", "/Home/CustomerBookingsView?bookingstatus=11&userid=" + userid + "&memberId=" + data.memberId);
                        $("#cancelledBookingurl").attr("href", "/Home/CustomerBookingsView?bookingstatus=5&userid=" + userid + "&memberId=" + data.memberId);
                        if (data.iscabOperator) {
                            $("#IsCABOperator").prop('checked', true);
                        } else {
                            $("#IsCABOperator").prop('checked', false);
                        }
                    }
                });
            }


            function IsMemberBlock(userid) { 
                $.ajax({
                    url: "/api/member/isblockmember?userid=" + userid,
                    method: "GET",
                    success: function (data) {
                        debugger;
                        if (data) {
                            $("#membertitel").text('Member Blocked');
                            $("#membertitel").css('color', '#f20202');
                            $("#tbl-member").css({ "color": "#f20202" });
                            $(".customersearch ").css('color', '#f20202');
                        } else {
                            $("#membertitel").text('Search Member');
                            $("#tbl-member").css({ "color": "#333" });
                            $("#membertitel").css('color', '#333');
                            $(".customersearch ").css('color', '#333');
                        }
                    }
                });
            }


            var pickuppointRequest = null;
            $('input.customersearch').typeahead({
                hint: true,
                delay: 0,
                showHintOnFocus: "all",
                name: 'BookingFromLabel',
                minLength: 2,
                autoSelect: true,
                highlight: true,
                items: 500,

                source: function(query, process) {

                    var regex = "^[a-zA-Z0-9\\s/g_.-]*$";
                    //  $("#overLay").show();
                    //  $("#overLay").addClass("overlay");

                    var that = this;
                    pickuppointRequest = $.ajax({
                        url: '/api/member/customer',
                        type: 'GET',
                        dataType: 'JSON',
                        data: 'search=' + query,
                        beforeSend: function() {


                            if (pickuppointRequest != null) {
                                pickuppointRequest.abort();
                            }
                            that.$element.addClass('loadinggif');
                        },
                        complete: function() {
                            that.$element.removeClass('loadinggif');
                        },

                        success: function(data) {
                           // debugger;
                            map = {};
                            var cnames = new Array();
                            for (var i = 0; i < data.length; i++) {

                                //var id = data[i].memberId + "|" + data[i].fullName + "|" + data[i].email + "|" + data[i].mobile
                                //    + "|" + data[i].numOfCancelJourneys + "|" + data[i].numOfFreeJourneyIssued +
                                //    "|" + data[i].numOfFreeJourneyUsed + "|" + data[i].datOfJoin + "|" +
                                //    data[i].lastLoggedIn + "|" + data[i].numOfJourneys + "|" + data[i].availablePoints + "|" + data[i].lastPointUpdatedDate
                                //+ "|" + data[i].loyalty + "|" + data[i].points;
                                var id = data[i].userId
                                name = data[i].memberId + " - " + data[i].fullName + " - " + data[i].email + " - " + data[i].mobile;
                                map[name] = { id: id, name: name };
                                cnames.push(name);
                            }
                            process(cnames);

                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });


                },
                sorter: function(items) {
                    return items; // items.sort();
                },
                matcher: function(item) {

                    return true;

                },
                updater: function(item) {

                    GetMemberInfo(map[item].id);
                    $("#UserId").val(map[item].id);
                    IsMemberBlock(map[item].id) 
                    return item;
                }

            });


        });
    </script>
}