﻿
<style>
    .resp-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }

    .resp-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
</style>

<h3 style="text-align:center;">BOOKINGS BEFORE 25.02.2018</h3>

<div class="resp-container">

    <iframe class="resp-iframe" src='@ViewBag.OldBookingUrl' gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>