﻿@model IEnumerable<SwaranAdmin_New.Models.Member.MemberPendingActivationViewModel>

@{
    ViewBag.Title = "PendingActivationView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pending Member Activation </h2>

<div class="box box-default box-solid">
    @*<div id="overLay" class="overlay">*@
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover dataTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MemberId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>


                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    @*<td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>


                    <td>

                        @Html.ActionLink("Activate", "ActiveView", new {id = item.Id}, new {@class = "btn bg-purple margin"})
                        @Html.ActionLink("Delete", "CancelView", new {id = item.Id}, new {@class = "btn bg-maroon margin"})

                    </td>
                </tr>
            }

        </table>
    </div>
</div>