﻿<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">


        <div class="box-body table-responsive no-padding">
            <table id="tellfriend-grind" class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>FriendEmail1</th>
                        <th>FriendEmail2</th>
                        <th>FriendEmail3</th>
                        <th>Message</th> 
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {

            var Table = $("#tellfriend-grind").DataTable({
                pageLength:25,
                aaSorting: [],
                data: [],
                columns: [
                    {
                        data: "tellAFriendEmailId",
                        "width": "3%"
                    },
                    {
                        data: "yourName",
                        "width": "10%"
                    },
                     {
                         data: "yourEmail"
                     },
                    {
                        data: "friendEmail1"
                    },
                    {
                        data: "friendEmail2"
                    },
                    {
                        data: "friendEmail3"
                    },
                    {
                        data: "messageBody",
                        "width": "50%"
                    }, 
                   {
                       //IsReturnBooking
                       data: "tellAFriendEmailId",
                       render: function (data, type, row) {
                           return "<a class='btn btn-block btn-success send-mail' data-tell-friendEmail-id="+data+" >Send Mail</a>";


                       }

                   }
                ],
                createdRow: function(nRow, aData, c, d) {


                    //if (aData["isEnabled"]) {
                    //    $('td', nRow).css('background-color', '#034f04');
                    //    $('td', nRow).css('color', '#fff');
                    //}
                    //if (aData["isUsed"]) {
                    //    $('td', nRow).css('background-color', '#b25600');
                    //    $('td', nRow).css('color', '#fff');
                    //}
                    //if (aData["isDeleted"]) {
                    //    $('td', nRow).css('background-color', '#b70900');
                    //    $('td', nRow).css('color', '#fff');
                    //}

                    //$(nRow).children(":nth-child(9)").css("background-color", '#d2d6de');
                }
            });



          
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: "/api/member/tellfriend",
                    method: "GET",
                    success: function (data) {
                        if (data != null) {
                            Table.clear().draw();
                            Table.rows.add(data).draw();
                        } else {
                            Table.clear().draw();
                        }
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    }
                });
           
          

                $("#tellfriend-grind").on("click", ".send-mail", function () {

                    var button = $(this);
                    var tellAFriendEmailId = button.attr("data-tell-friendEmail-id");
                     

                    $.confirm({
                        title: 'Send Email!',
                        content: 'Do you surely want to send email ?' ,
                        buttons: {
                            formSubmit: {
                                text: 'Submit',
                                btnClass: 'btn-blue',
                                action: function () {
                                    $("#overLay").show();
                                    $("#overLay").addClass("overlay");
                                    $.ajax({
                                        url: "/api/member/sendemail?id=" + tellAFriendEmailId,
                                        method: "GET", 
                                        success: function (issuccess) {

                                            if (issuccess == null) {
                                                $.alert('Error');
                                                $("#overLay").removeClass("overlay");
                                                $("#overLay").hide();
                                                return false;
                                            }
                                            if (issuccess) {
                                                $.alert("Email send Succesfully");
                                                $("#overLay").show();
                                                $("#overLay").addClass("overlay");
                                                $.ajax({
                                                    url: "/api/member/tellfriend",
                                                    method: "GET",
                                                    success: function (data) {
                                                        if (data != null) {
                                                            Table.clear().draw();
                                                            Table.rows.add(data).draw();
                                                        } else {
                                                            Table.clear().draw();
                                                        }
                                                        $("#overLay").removeClass("overlay");
                                                        $("#overLay").hide();
                                                    }
                                                });
                                            } else {
                                                $.alert("Try again");

                                            }
                                            $("#overLay").removeClass("overlay");
                                            $("#overLay").hide();
                                        },
                                        error: function (error) {
                                            $("#overLay").removeClass("overlay");
                                            $("#overLay").hide();

                                        }
                                    });
                                }
                            },
                            cancel: function () {
                                //close
                            },
                        },
                        onContentReady: function () {
                            // bind to events
                            var jc = this;
                            this.$content.find('form').on('submit', function (e) {
                                debugger;
                                // if the user submits the form by pressing enter in the field.
                                e.preventDefault();
                                jc.$$formSubmit.trigger('click'); // reference the button and click it
                            });
                        }
                    });
                });


         });
    </script>
}


