﻿ <div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">


        <div class="box-body table-responsive no-padding">
            <table id="tellfriend-grind" class="table table-hover">
                <thead>
                <tr>
                    <th>SiteId</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Rating</th>
                    <th>Title</th>
                    <th>Message</th>
                    @*<th>CreatedDate</th>*@
                    <th></th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {

            var Table = $("#tellfriend-grind").DataTable({
                pageLength:25,
                aaSorting: [],
                data: [],
                columns: [
                     {
                         data: "siteId",
                         "width": "3%"
                     },
                    {
                        data: "name",
                        "width": "10%"
                    },
                    {
                        data: "email",
                        "width": "10%"
                    },
                     {
                         data: "location",
                         "width": "10%"
                     },
                    {
                        data: "rating",
                        "width": "5%"
                    },
                    {
                        data: "title",
                        "width": "10%"
                    },
                    {
                        data: "message",
                        "width": "30%"
                    },
                    //{
                    //    data: "CreatedDate"
                      
                    //},
                   {
                       //IsReturnBooking
                       data: "reviewId",
                       "width": "5%",
                       render: function (data, type, row) {
                           return "<a class='btn btn-block btn-success allow-review' data-review-id=" + data + " >Allow </a>";


                       }

                   },
                    {
                    //IsReturnBooking
                        data: "reviewId",
                        "width": "5%",
                    render: function (data, type, row) {
                        return "<a class='btn btn-block btn-danger  reject-review' data-review-id=" + data + " >Reject </a>";


                    }

            }
                ],
                createdRow: function(nRow, aData, c, d) {


                    //if (aData["isEnabled"]) {
                    //    $('td', nRow).css('background-color', '#034f04');
                    //    $('td', nRow).css('color', '#fff');
                    //}
                    //if (aData["isUsed"]) {
                    //    $('td', nRow).css('background-color', '#b25600');
                    //    $('td', nRow).css('color', '#fff');
                    //}
                    //if (aData["isDeleted"]) {
                    //    $('td', nRow).css('background-color', '#b70900');
                    //    $('td', nRow).css('color', '#fff');
                    //}

                    //$(nRow).children(":nth-child(9)").css("background-color", '#d2d6de');
                }
            });




                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: "/api/member/customerreview",
                    method: "GET",
                    success: function (data) {
                        if (data != null) {
                            Table.clear().draw();
                            Table.rows.add(data).draw();
                        } else {
                            Table.clear().draw();
                        }
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    }
                });



                $("#tellfriend-grind").on("click", ".allow-review", function () {

                    var button = $(this);
                    var reviewid = button.attr("data-review-id");


                    $.confirm({
                        title: 'Allow Customer Review!',
                        content: 'Do you surely want to allow customer review ?',
                        buttons: {
                            formSubmit: {
                                text: 'Submit',
                                btnClass: 'btn-blue',
                                action: function () {
                                    $("#overLay").show();
                                    $("#overLay").addClass("overlay");
                                    $.ajax({
                                        url: "/api/member/allowcustomerreview?reviewId=" + reviewid,
                                        method: "GET",
                                        success: function (issuccess) {

                                            if (issuccess == null) {
                                                $.alert('Error');
                                                $("#overLay").removeClass("overlay");
                                                $("#overLay").hide();
                                                return false;
                                            }
                                            if (issuccess) {
                                                $.alert("Customer review successfully added");
                                                $("#overLay").show();
                                                $("#overLay").addClass("overlay");
                                                $.ajax({
                                                    url: "/api/member/customerreview",
                                                    method: "GET",
                                                    success: function (data) {
                                                        if (data != null) {
                                                            Table.clear().draw();
                                                            Table.rows.add(data).draw();
                                                        } else {
                                                            Table.clear().draw();
                                                        }
                                                        $("#overLay").removeClass("overlay");
                                                        $("#overLay").hide();
                                                    }
                                                });
                                            } else {
                                                $.alert("Try again");

                                            }
                                            $("#overLay").removeClass("overlay");
                                            $("#overLay").hide();
                                        },
                                        error: function (error) {
                                            $("#overLay").removeClass("overlay");
                                            $("#overLay").hide();

                                        }
                                    });
                                }
                            },
                            cancel: function () {
                                //close
                            },
                        },
                        onContentReady: function () {
                            // bind to events
                            var jc = this;
                            this.$content.find('form').on('submit', function (e) {
                                debugger;
                                // if the user submits the form by pressing enter in the field.
                                e.preventDefault();
                                jc.$$formSubmit.trigger('click'); // reference the button and click it
                            });
                        }
                    });
                });

                $("#tellfriend-grind").on("click", ".reject-review", function () {

                    var button = $(this);
                    var reviewid = button.attr("data-review-id");


                    $.confirm({
                        title: 'Reject Review!',
                        content: 'Do you surely want to  reject this review ?',
                        buttons: {
                            formSubmit: {
                                text: 'Submit',
                                btnClass: 'btn-blue',
                                action: function () {
                                    $("#overLay").show();
                                    $("#overLay").addClass("overlay");
                                    $.ajax({
                                        url: "/api/member/regectcustomerreview?reviewId=" + reviewid,
                                        method: "GET",
                                        success: function (issuccess) {

                                            if (issuccess == null) {
                                                $.alert('Error');
                                                $("#overLay").removeClass("overlay");
                                                $("#overLay").hide();
                                                return false;
                                            }
                                            if (issuccess) {
                                                $.alert("Review rejected");
                                                $("#overLay").show();
                                                $("#overLay").addClass("overlay");
                                                $.ajax({
                                                    url: "/api/member/customerreview",
                                                    method: "GET",
                                                    success: function (data) {
                                                        if (data != null) {
                                                            Table.clear().draw();
                                                            Table.rows.add(data).draw();
                                                        } else {
                                                            Table.clear().draw();
                                                        }
                                                        $("#overLay").removeClass("overlay");
                                                        $("#overLay").hide();
                                                    }
                                                });
                                            } else {
                                                $.alert("Try again");

                                            }
                                            $("#overLay").removeClass("overlay");
                                            $("#overLay").hide();
                                        },
                                        error: function (error) {
                                            $("#overLay").removeClass("overlay");
                                            $("#overLay").hide();

                                        }
                                    });
                                }
                            },
                            cancel: function () {
                                //close
                            },
                        },
                        onContentReady: function () {
                            // bind to events
                            var jc = this;
                            this.$content.find('form').on('submit', function (e) {
                                debugger;
                                // if the user submits the form by pressing enter in the field.
                                e.preventDefault();
                                jc.$$formSubmit.trigger('click'); // reference the button and click it
                            });
                        }
                    });
                });
         });
    </script>
}


