﻿
@{
    ViewBag.Title = "BookingStatusView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <div class="col-md-12">
            <div class="row col-md-10" style="margin: 10px">
                <div class="btn-group" style="margin: 25px">
                    <button type="button" id="mainbtn-id" class="btn btn-info btn-flat">SELECT</button>
                    <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        @*<li><a id="hold-id" href="#">HOLD</a></li>*@

                        <li><a id="canceled-id" href="#">CANCELLED</a></li>
                        <li><a id="waiting-id" href="#">WAITING</a></li>
                        <li><a id="confirmed-id" href="#">CONFIRMED</a></li>
                        <li><a id="dispatched-id" href="#">DISPATCHED</a></li>
                        <li><a id="arrived-id" href="#">ARRIVED</a></li>
                        <li><a id="pob-id" href="#">POB</a></li>
                        <li><a id="soontoclear-id" href="#">SOONTOCLEAR</a></li>
                        @*<li><a id="finished-id" href="#">FINISHED</a></li>
                            <*@
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 25px">
            @*<div class="col-md-8 box">*@
            <table id="booking-history" style="color: #000000" class="table table-bordered table-striped dataTable">
                @*class="table table-striped table-bordered">*@
                <thead>
                    <tr>
                        <th>GHOST_ID</th>
                        <th>LOYALTY</th>
                        <th>NAME</th>
                        <th>REFERENCE</th>
                        <th>JOURNEYS</th>
                        <th>FROM</th>
                        <th>TO</th>
                        <th>TIME LEFT</th>
                        <th>VEHICLE</th>
                        <th>PAYMENT</th>
                        <th>COUNTRY</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            @*</div>*@
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {

            var Table = $("#booking-history").DataTable({
                pageLength:100,
                aaSorting: [],
                data: [],
                columns: [
                    {
                        data: "autocabNumber",
                        "width": "5%"
                    },
                    {
                        data: "loyaltyType",
                        "width": "5%"
                    },
                     {
                         data: "bookedPersonName",
                         "width": "15%"
                     },
                    {
                        data: "bookingNumber",
                         "width": "5%"
                    },
                    {
                        data: "journeyType",
                        "width": "5%"
                    },
                    {
                        data: "bookingFrom" ,
                        "width": "20%",
                        "visible": false
                    },
                    {
                        data: "bookingTo" ,
                        "width": "20%",
                        "visible": false
                    },
                     { data: "timeleft" },
                    {
                        data: "vehicleTypes"

                    },
                    {
                        data: "paymentType",
                        "width": "15%"

                    },
                      {
                          data: "country"

                      },
                    {
                        data: "isReturnBooking",
                        "visible": false

                    },
                   {
                       //IsReturnBooking
                       data: "bookingToken",
                       render: function (data, type, row) {
                           return "<a href='/Reservation/EditBooking?bookingToken=" + data + "&isReturnBooking=" + row["isReturnBooking"] + "' class='btn btn-block btn-success' >View</a>";


                       }

                   }
                ],
                createdRow: function(nRow, aData, c, d) {


                    //if (aData["isEnabled"]) {
                    //    $('td', nRow).css('background-color', '#034f04');
                    //    $('td', nRow).css('color', '#fff');
                    //}
                    //if (aData["isUsed"]) {
                    //    $('td', nRow).css('background-color', '#b25600');
                    //    $('td', nRow).css('color', '#fff');
                    //}
                    //if (aData["isDeleted"]) {
                    //    $('td', nRow).css('background-color', '#b70900');
                    //    $('td', nRow).css('color', '#fff');
                    //}

                    //$(nRow).children(":nth-child(9)").css("background-color", '#d2d6de');
                }
            });

            function loadTable(status) {
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: "/api/reservation/resrvationstatus?bookingStatus=" + status,
                    method: "GET",
                    success: function (data) {
                        if (data != null) {
                            Table.clear().draw();
                            Table.rows.add(data).draw();
                        } else {
                            Table.clear().draw();
                        }
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    }
                });
            }
            $("#mainbtn-id").text("WAITING");
            loadTable(1);

            $("#all-freejourneys").on("click", ".all-journeys", function() {
                var button = $(this);
                var freeJourneyId = button.attr("data-user-id");


            });
            $("#hold-id").on("click", function () {
                debugger;
                $("#mainbtn-id").text($(this).text());
                loadTable(4);

            });

            $("#waiting-id").on("click", function () {
                debugger;
                $("#mainbtn-id").text($(this).text());
                loadTable(1);

            });
            $("#confirmed-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(2);

            });
            $("#dispatched-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(6);

            });
            $("#arrived-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(7);

            });
            $("#pob-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(8);

            });
            $("#soontoclear-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(9);

            });
            $("#finished-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(11);

            });
            $("#canceled-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(5);

            });

             @*Requested = 1,
        Confirmed = 2,
        WaitingForVerification = 3,
        Hold = 4,
        Cancelled = 5,
        Dispatched = 6,
        Arrived = 7,
        POB = 8,
        SoonToClear = 9,
        Panic = 10,
        Finished = 11,
        Reject = 12,
        Pending = 13*@


         });
    </script>
}
