﻿@using SwaranAdmin_New.Base
@model SwaranAdmin_New.Models.CurrentBookingDisplayViewModel

@{
    ViewBag.Title = "EditBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <div class="col-md-12">

            <p>

                @Html.ActionLink("Back To List", "Index", "Home", null, new { @class = "btn bg-green margin" })
                @if (Model.BookingStatus != (int)BookingStatusEnum.Finished && Model.BookingStatus != (int)BookingStatusEnum.POB &&
         Model.BookingStatus != (int)BookingStatusEnum.Dispatched && Model.BookingStatus != (int)BookingStatusEnum.SoonToClear &&
         Model.BookingStatus != (int)BookingStatusEnum.Panic && Model.BookingStatus != (int)BookingStatusEnum.Arrived)
                {
                    if (Model.BookingStatus == (int)BookingStatusEnum.Confirmed || (Model.PaymentMethodId == (int)PaymentTypeEnum.Card && (Model.PaymentStatus == (int)PaymentStatusEnum.Pending || Model.PaymentStatus == (int)PaymentStatusEnum.Faild)))
                    {
                        <button type="button" class="btn bg-green margin disabled">Confirm Reservation</button>
                    }

                    else //if (!string.IsNullOrEmpty(Model.AutocabNumber))
                    {
                        <button id="bntConfirm" type="button" class="btn bg-green margin">Confirm Reservation</button>
                    }


                    if (Model.BookingStatus == (int)BookingStatusEnum.Cancelled || Model.BookingStatus == (int)BookingStatusEnum.Confirmed)
                    {
                        <button type="button" class="btn bg-red margin disabled">Cancel Reservation</button>
                    }
                    else
                    {
                        <button id="bntCancel" type="button" class="btn bg-red margin">Cancel Reservation</button>
                    }

                    @*if (Model.PaymentMethodId == (int)PaymentTypeEnum.Card && (Model.PaymentStatus == (int)PaymentStatusEnum.Pending || Model.PaymentStatus == (int)PaymentStatusEnum.Faild))
                        {

                        @Html.ActionLink("Pay Online", "PayOnlinEditBookinge", "WorldPayPayment", new { tokent = Model.BookingToken }, new { @id = "newLink", @class = "btn bg-navy margin" })

                        @Html.ActionLink("Pay to driver", "GostView", "Home", new { tokent = Model.BookingToken, isreturn = Model.IsReturnBooking }, new { @id = "newLink", @class = "btn bg-navy margin" })
                        }*@


                    @Html.ActionLink("Mail Customer", "MailCustomerView", "Reservation", new { email = Model.BookedPersonEmail }, new { @class = "btn bg-navy margin" })
                    @Html.ActionLink("Mail Admin", "MailAdminView", "Reservation", null, new { @class = "btn bg-navy margin" })
                    if (Model.PaymentMethodId == (int)PaymentTypeEnum.Account || (Model.BookingStatus == (int)BookingStatusEnum.Confirmed && Model.PaymentMethodId == (int)PaymentTypeEnum.Card && Model.PaymentStatus == (int)PaymentStatusEnum.Paid))
                    {

                    }
                    else /*if (Model.BookingStatus == (int)BookingStatusEnum.Confirmed)*/
                    {
                        <button type="button" id="chgPaymtid" class="btn bg-olive margin">Change Payment Method</button>
                    }
                }



            </p>
            @using (Html.BeginForm("GostView", "Reservation", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(Model => Model.OneWayPrice)
                @Html.HiddenFor(Model => Model.ReturnWayPrice)
                @Html.HiddenFor(Model => Model.OneWayCredit)
                @Html.HiddenFor(Model => Model.ReturnWayCredit)
                @Html.HiddenFor(Model => Model.BookingFee)
                @Html.HiddenFor(Model => Model.AutocabAuthorizationReference)
                @Html.HiddenFor(Model => Model.IsReturnBooking)
                @Html.HiddenFor(Model => Model.IsSourceBooking)
                @Html.HiddenFor(Model => Model.BookingToken)
                @Html.HiddenFor(Model => Model.BookingStatus)
                @Html.HiddenFor(Model => Model.PaymentStatus)
                @Html.HiddenFor(Model => Model.JourneyTypeId)
                @Html.HiddenFor(Model => Model.UserId)
                @Html.HiddenFor(Model => Model.IsUseMyCreditCardPayment)
                @Html.HiddenFor(Model => Model.OtherDiscounts)
                <div id="paymentTypeChangeDiv" class="col-md-12" style="height:425px;background: #999;display:none">
                    <div class="col-md-4 col-md-offset-4" style="height:420px;background: #fff;">
                        <div class="form-group  margin-right-75">
                            @Html.LabelFor(m => m.PaymentMethodId, new { @class = "control-label col-md-4" })
                            <div>
                                <select id="PaymentMethodId" name="PaymentMethodId" class="form-control"> </select>
                            </div>
                        </div>

                        <div id="use-mycredit-div" style="display: none">
                            <div class="form-group margin-right-75">
                                @Html.LabelFor(m => m.MyCredits, new { @class = "control-label col-md-4" })
                                <div>
                                    @Html.TextBoxFor(m => m.MyCredits, new { @class = "form-control", @placeholder = "Free Journey Code" })
                                    @Html.ValidationMessageFor(model => model.MyCredits, "", new { @class = "text-danger" })
                                </div>
                                <h5 style="color: #032373">Your Available Credit is £ <span id="avail-credits"></span> </h5>
                            </div>


                            <div id="use-mycredit-display-div" class="col-md-8">
                                @if (Model.JourneyTypeId == (int)JourneyTypeEnum.OneWay)
                                {
                                    <div class="alert alert-success alert-dismissible">
                                        <p style="font-size: 16px">
                                            Journey price £ <span class="journey-price"></span> <br />
                                            Discount Amount £ <span class="discount-amt"></span><br />
                                            <strong> Total journey price £ <span class="final-amt"></span> </strong>
                                        </p>
                                    </div>
                                }
                                @if (Model.JourneyTypeId == (int)JourneyTypeEnum.TwoWay)
                                {
                                    <div class="alert alert-success alert-dismissible">
                                        <p style="font-size: 16px">
                                            Journey price £ <span class="journey-price"></span> <br />
                                            Return Journey price £ <span class="return-journey-jrice"></span> <br />
                                            Total Journey price £ <span class="total-journey-price"></span> <br />
                                            Discount Amount £ <span class="discount-amt"></span><br />
                                            <strong> Final journey price £ <span class="final-amt"></span> </strong>
                                        </p>
                                    </div>
                                }


                            </div>
                            @*style="display: none"*@
                            <div id="mycredit-additional-charge-div" class="col-md-8">
                                @if (Model.JourneyTypeId == (int)JourneyTypeEnum.OneWay)
                                {
                                    if (Model.OtherDiscounts > 0)
                                    {

                                        <div class="alert alert-success alert-dismissible">
                                            <p style="font-size: 16px">
                                                Journey price £ <span class="journey-price"></span> <br />
                                                Discount  Amount £ <span class="discount-amt"></span><br />
                                                Total journey price £ <span class="final-amt"></span>  <br />
                                                Booking Fee £ <span class="additional-charge"></span> <br />
                                                App discount  ( £ <span class="app-discount"></span>)<br />
                                                <strong> Final journey price £ <span class="final-amt-additional"></span> </strong>
                                            </p>
                                        </div>
                                    }
                                    else
                                    {

                                        <div class="alert alert-success alert-dismissible">
                                            <p style="font-size: 16px">
                                                Journey price £ <span class="journey-price"></span> <br />
                                                Discount  Amount £ <span class="discount-amt"></span><br />
                                                Total journey price £ <span class="final-amt"></span>  <br />
                                                Booking Fee £ <span class="additional-charge"></span> <br />
                                                <strong> Final journey price £ <span class="final-amt-additional"></span> </strong>
                                            </p>
                                        </div>
                                    }

                                }
                                @if (Model.JourneyTypeId == (int)JourneyTypeEnum.TwoWay)
                                {
                                    if (Model.OtherDiscounts > 0)
                                    {

                                        <div class="alert alert-success alert-dismissible">
                                            <p style="font-size: 16px">
                                                Journey price £ <span class="journey-price"></span> <br />
                                                Return Journey price £ <span class="return-journey-jrice"></span> <br />
                                                Total Journey price £ <span class="total-journey-price"></span> <br />
                                                Discount Amount £ <span class="discount-amt"></span><br />
                                                Booking Fee £ <span class="additional-charge"></span> <br />
                                                App discount  ( £ <span class="app-discount"></span>)<br />
                                                <strong> Final journey price £ <span class="final-amt-additional"></span> </strong>
                                            </p>
                                        </div>
                                    }
                                    else
                                    {

                                        <div class="alert alert-success alert-dismissible">
                                            <p style="font-size: 16px">
                                                Journey price £ <span class="journey-price"></span> <br />
                                                Return Journey price £ <span class="return-journey-jrice"></span> <br />
                                                Total Journey price £ <span class="total-journey-price"></span> <br />
                                                Discount Amount £ <span class="discount-amt"></span><br />
                                                Booking Fee £ <span class="additional-charge"></span> <br />
                                                <strong> Final journey price £ <span class="final-amt-additional"></span> </strong>
                                            </p>
                                        </div>
                                    }

                                }

                            </div>
                        </div>


                        <div id="freeJourneyCodediv" class="col-md-8" style="display: none">
                            <div class="form-group margin-right-75">
                                @Html.LabelFor(m => m.FreeJourneyCode, new { @class = "control-label col-md-4" })
                                <div>
                                    @Html.TextBoxFor(m => m.FreeJourneyCode, new { @class = "form-control", @placeholder = "Free Journey Code" })

                                </div>
                            </div>

                        </div>

                        <div id="cashPaymentDiv" class="col-md-8" style="display: none">

                            @if (Model.JourneyTypeId == (int)JourneyTypeEnum.OneWay)
                            {

                                if (Model.OtherDiscounts > 0)
                                {
                                    <div id="cash-oneway" class="alert alert-success alert-dismissible">
                                        <p style="font-size: 16px">
                                            Journey price      £ <span class="journey-price-cash"></span> <br />
                                            Booking Fee  £ <span class="additional-charge"></span> <br />
                                            App discount  ( £ <span class="app-discount"></span>)<br />
                                            <strong> Total journey price £ <span class="finalAmount-cash"></span> </strong>
                                        </p>
                                    </div>

                                }
                                else
                                {
                                    <div id="cash-oneway" class="alert alert-success alert-dismissible">
                                        <p style="font-size: 16px">
                                            Journey price      £ <span class="journey-price-cash"></span> <br />
                                            Booking Fee  £ <span class="additional-charge"></span> <br />
                                            <strong> Total journey price £ <span class="finalAmount-cash"></span> </strong>
                                        </p>
                                    </div>
                                }

                            }
                            else
                            {
                                if (Model.OtherDiscounts > 0)
                                {
                                    <div class="alert alert-success alert-dismissible">
                                        <p style="font-size: 16px">

                                            Journey price £ <span class="journey-price-cash"></span> <br />
                                            Return Journey price £ <span class="return-Journey-Price-cash"></span> <br />
                                            Booking Fee  £ <span class="additional-charge"></span> <br />
                                            App discount  ( £ <span class="app-discount"></span>)<br />
                                            <strong> Total journey price £ <span class="finalAmount-cash"></span> </strong>
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-success alert-dismissible">
                                        <p style="font-size: 16px">

                                            Journey price £ <span class="journey-price-cash"></span> <br />
                                            Return Journey price £ <span class="return-Journey-Price-cash"></span> <br />
                                            Booking Fee  £ <span class="additional-charge"></span> <br />
                                            <strong> Total journey price £ <span class="finalAmount-cash"></span> </strong>
                                        </p>
                                    </div>
                                }

                            }
                        </div>

                        <div id="cardPaymentDiv" class="col-md-8" style="display: none">

                            @if (Model.JourneyTypeId == (int)JourneyTypeEnum.OneWay)
                            {
                                if (Model.OtherDiscounts > 0)
                                {

                                    <div class="alert alert-success alert-dismissible">
                                        <p style="font-size: 16px">
                                            Journey price      £ <span class="journey-price-card"></span> <br />
                                            Booking Fee  £ <span class="additional-charge"></span> <br />
                                            App discount  ( £ <span class="app-discount"></span>)<br />
                                            <strong> Total journey price £ <span class="final-amount"></span> </strong>
                                        </p>
                                    </div>
                                }
                                else
                                {

                                    <div class="alert alert-success alert-dismissible">
                                        <p style="font-size: 16px">
                                            Journey price      £ <span class="journey-price-card"></span> <br />
                                            Booking Fee  £ <span class="additional-charge"></span> <br />
                                            <strong> Total journey price £ <span class="final-amount"></span> </strong>
                                        </p>
                                    </div>
                                }

                            }
                            else
                            {

                                if (Model.OtherDiscounts > 0)
                                {

                                    <div class="alert alert-success alert-dismissible">
                                        <p style="font-size: 16px">
                                            Journey price £ <span class="journey-price-card"></span> <br />
                                            Return Journey price £ <span class="return-Journey-Price"></span> <br />
                                            Booking Fee  £ <span class="additional-charge"></span> <br />
                                            App discount  ( £ <span class="app-discount"></span>)<br />
                                            <strong> Total journey price £ <span class="final-amount-return"></span> </strong>
                                        </p>
                                    </div>

                                }
                                else
                                {

                                    <div class="alert alert-success alert-dismissible">
                                        <p style="font-size: 16px">
                                            Journey price £ <span class="journey-price-card"></span> <br />
                                            Return Journey price £ <span class="return-Journey-Price"></span> <br />
                                            Booking Fee  £ <span class="additional-charge"></span> <br />
                                            <strong> Total journey price £ <span class="final-amount-return"></span> </strong>
                                        </p>
                                    </div>

                                }

                            }
                        </div>

                        <div id="manualCreditCarddiv" class="col-md-8" style="display: none">
                            <p style="font-size: 20px">ONLY FOR CARD OR CASH PAYMENTS</p>
                            <div class="form-group margin-right-75">
                                @*@Html.LabelFor(m => m.FreeJourneyCode, new { @class = "control-label col-md-4" })*@
                                WorldPay Reference
                                <div>
                                    @Html.TextBox("WorldPayReference", "", new { @class = "form -control", @placeholder = "WorldPay Reference" })

                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <input type="submit" value="Submit" class="btn bg-olive margin" />
                        </div>
                    </div>
                </div>

            }

        </div>

    </div>
    <div class="box-body">
        <div class="col-md-12">
            @Html.Raw(@Model.MainBooking.ToString())
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("input[name='IsUseMyCreditCardPayment']").val(false);
            $("#chgPaymtid").click(function() {
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                var dID = @Html.Raw(Json.Encode(Model.PaymentMethodId)); //$("#PaymentMethodId").val();
                var token= @Html.Raw(Json.Encode(Model.BookingToken));
                $.ajax({
                    url: "/api/reservation/changepaymentmethod?token="+token+"&paymentTypeId=" + dID,
                    method: "GET",
                    success: function(data) {
                        debugger;
                        if (data.length > 0) {
                            $('#PaymentMethodId').html('');
                            var options = '';
                            options += '<option value="Select">Select</option>';
                            for (var i = 0; i < data.length; i++) {
                                options += '<option value="' + data[i].PaymentTypeId+ '">' + data[i].PaymentTypeName + '</option>';
                            }
                            $('#PaymentMethodId').append(options);
                            $('#paymentTypeChangeDiv').show();

                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    },  error: function(data) {

                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    },
                    failure: function(data) {

                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    }
                });


            });
            $("#FreeJourneyCode").on("blur", function() {
                var freeJourneyCode = $("input[name='FreeJourneyCode']").val();
                var userId = $("input[name='UserId']").val();
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: '/api/reservation/freejourneycode?userId='+userId+"&code="+freeJourneyCode,
                    type: 'GET',
                    dataType: 'JSON',
                    success: function(isvalid) {
                        if(!isvalid)
                        {
                            alert("Invalid free journey code");
                            $("input[name='FreeJourneyCode']").val("")
                        }
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    }, error: function(data) {

                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    },
                    failure: function(data) {

                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    }
                });
            });


            $("#MyCredits").on("blur", function() {

                $("#CardPaymentTypeDiv").hide();

                $("#mycredit-additional-charge-div").hide();
                $("#use-mycredit-display-div").hide();
                var onewayPriceAmt = $("input[name='OneWayPrice']").val();
                var returnWayPrice = $("input[name='ReturnWayPrice']").val();
                var otherDiscounts = $("input[name='OtherDiscounts']").val();
                var total = +onewayPriceAmt + +returnWayPrice;
                var creditVal = $("input[name='MyCredits']").val();
                var credit = Math.round(creditVal);
                var finalamt = 0;
                var totalJourneyAmt = 0;
                var finalamtAddi = 0;
                $("#mycredit-additional-charge-div").show();
                $.ajax({
                    url: '/api/reservation/bookingfee?paymenttypeId=2&siteid='+@Model.SiteId + '&journeyAmount=' + total + '&totken=' + token + '',
                    type: 'GET',
                    dataType: 'JSON',
                    success: function(bookingFee) {
                        debugger;
                        $("input[name='BookingFee']").val(bookingFee);

                        finalamt = (+returnWayPrice + +onewayPriceAmt) - +credit +-otherDiscounts;
                        totalJourneyAmt = +onewayPriceAmt + +returnWayPrice +-otherDiscounts;

                        if (+credit >= +onewayPriceAmt) {
                            $("input[name='OneWayCredit']").val(onewayPriceAmt);
                        } else {
                            $("input[name='OneWayCredit']").val(credit);
                        }
                        if (+credit >= +onewayPriceAmt) {
                            var returnDiscount = credit - +onewayPriceAmt;
                            $("input[name='ReturnWayCredit']").val(returnDiscount);
                        } else {
                            $("input[name='ReturnWayCredit']").val(0);
                        }

                        $("#mycredit-additional-charge-div").show();

                        $(".additional-charge").text(bookingFee);
                        $(".journey-price").text(onewayPriceAmt);
                        $(".return-journey-jrice").text(returnWayPrice);
                        $(".total-journey-price").text(totalJourneyAmt);
                        $(".discount-amt").text(credit);
                        $(".app-discount").text(otherDiscounts);
                        $(".final-amt").text(finalamt);

                        finalamtAddi = +finalamt + +bookingFee;



                        if (+finalamt > 0) {
                            $("#mycredit-additional-charge-div").show();
                            $(".final-amt-additional").text(finalamtAddi);
                            $("input[name='IsUseMyCreditCardPayment']").val(true);
                        } else {

                            $(".final-amt-additional").text(finalamtAddi);
                            $("#use-mycredit-display-div").show();
                            $("#mycredit-additional-charge-div").hide();
                            $("input[name='BookingFee']").val("0");
                            $("input[name='IsUseMyCreditCardPayment']").val(false);
                        }

                        if (+credit > +totalJourneyAmt) {
                            alert("Maximum credit amount is £ " + totalJourneyAmt);
                            $("#use-mycredit-display-div").hide();
                            $("#mycredit-additional-charge-div").hide();
                            $("input[name='MyCredits']").val("0");

                            return;
                        }
                        if (+credit <= 0) {
                            $("#use-mycredit-display-div").hide();
                            $("#mycredit-additional-charge-div").hide();
                            $("#newCardDiv").hide();
                            $("#CardPaymentTypeDiv").hide();

                            return;
                        }
                    }
                });


            });




            $("#PaymentMethodId").change(function() {
                var dID = $(this).val();
                $("#cashPaymentDiv").hide();
                $("#cardPaymentDiv").hide();
                $("#use-mycredit-div").hide();
                $("#use-mycredit-display-div").hide();
                $("#mycredit-additional-charge-div").hide();
                $("#reservation-submit").attr("disabled", false);
                $("input[name='IsSavedCardPayment']").val(false);

                $("input[name='MyCredits']").val(0);
                $("input[name='OneWayCredit']").val(0);
                $("input[name='ReturnWayCredit']").val(0);
                $("#freeJourneyCodediv").hide();
                $("#manualCreditCarddiv").hide();
                var onewayPriceAmt = $("input[name='OneWayPrice']").val();
                var returnWayPrice = $("input[name='ReturnWayPrice']").val();
                var otherDiscounts = $("input[name='OtherDiscounts']").val();
                var total = +onewayPriceAmt + +returnWayPrice;
                var token= @Html.Raw(Json.Encode(Model.BookingToken));
                if (dID == 1) {
                    $.ajax({
                        url: '/api/reservation/bookingfee?paymenttypeId=1&siteid='+@Model.SiteId+'&journeyAmount='+total+'&totken='+token+'',
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(data) {
                            $("input[name='BookingFee']").val(data.bookingFee);
                            var onewayPriceAmt = $("input[name='OneWayPrice']").val();
                            var returnWayPrice = $("input[name='ReturnWayPrice']").val();
                            var finalAmt =+data.bookingFee + +onewayPriceAmt + +returnWayPrice +-otherDiscounts;
                            $(".additional-charge").text(data.bookingFee);
                            $(".journey-price-cash").text(onewayPriceAmt);
                            $(".return-Journey-Price-cash").text(returnWayPrice);
                            $(".finalAmount-cash").text(finalAmt);
                            $(".app-discount").text(otherDiscounts);
                            $("#cashPaymentDiv").show();
                        }
                    });
                }

                if (dID == 2 || dID == 100) {
                    $.ajax({
                        url: '/api/reservation/bookingfee?paymenttypeId=1&siteid='+@Model.SiteId+'&journeyAmount='+total+'&totken='+token+'',
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(data) {
                            $("input[name='BookingFee']").val(data.bookingFee);
                            $("#CardPaymentTypeDiv").hide();
                            var onewayPriceAmt = $("input[name='OneWayPrice']").val();
                            var returnWayPrice = $("input[name='ReturnWayPrice']").val();
                            var otherDiscounts = $("input[name='OtherDiscounts']").val();

                            var oneWayAmount = Math.round((onewayPriceAmt) * 100 / 100);
                            var returnWayAmount = Math.round((returnWayPrice) * 100 / 100);
                            var totalJourneyAmt = oneWayAmount + +returnWayAmount;
                            $(".journey-price-card").text(oneWayAmount);
                            $(".additional-charge").text(data.bookingFee);
                            $(".final-amount").text(+oneWayAmount + +data.bookingFee +-otherDiscounts);
                            $(".return-Journey-Price").text(returnWayAmount);
                            $(".final-amount-return").text(+totalJourneyAmt + +data.bookingFee +-otherDiscounts);
                            $(".app-discount").text(otherDiscounts);
                            $("#cardPaymentDiv").show();
                            $("#CardPaymentTypeDiv").show();

                            if(dID == 100)
                            {
                                $("#manualCreditCarddiv").show();
                            }

                        }
                    });


                }
                if (dID == 4) {
                    $("#freeJourneyCodediv").show();
                } else {
                    $("#freeJourneyCodediv").hide();
                }

                if (dID == 8) {
                    var userid= @Html.Raw(Json.Encode(Model.UserId));
                    $.ajax({
                        url: '/api/reservation/bookingfee?paymenttypeId=1&siteid='+@Model.SiteId+'&journeyAmount='+total+'&totken='+token+'',
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(data) {
                            var onewayPriceAmt = $("input[name='OneWayPrice']").val();
                            var returnWayPrice = $("input[name='ReturnWayPrice']").val();
                            var otherDiscounts = $("input[name='OtherDiscounts']").val();
                            var finalAmt = +onewayPriceAmt + +returnWayPrice + -otherDiscounts;
                            $("#use-mycredit-div").show();
                            $(".app-discount").text(otherDiscounts);
                            $("#avail-credits").text(data.additionalCharge + " (This Journey Amount £ " + finalAmt + ")");
                            $("#LodingAni").fadeOut("fast");
                        },
                        error: function(data) {

                            $("#LodingAni").fadeOut("fast");
                        },
                        failure: function(data) {

                            $("#LodingAni").fadeOut("fast");
                        }
                    });
                }
                if (dID == 9) {
                    $.ajax({
                        url: '/api/reservation/bookingfee?paymenttypeId=1&siteid='+@Model.SiteId+'&journeyAmount='+total+'&totken='+token+'',
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(data) {
                            $("input[name='BookingFee']").val(data.bookingFee);
                            var onewayPriceAmt = $("input[name='OneWayPrice']").val();
                            var returnWayPrice = $("input[name='ReturnWayPrice']").val();
                            var otherDiscounts = $("input[name='OtherDiscounts']").val();
                            var finalAmt =+data.bookingFee + +onewayPriceAmt + +returnWayPrice +-otherDiscounts;
                            $(".additional-charge").text(data.bookingFee);
                            $(".journey-price-cash").text(onewayPriceAmt);
                            $(".return-Journey-Price-cash").text(returnWayPrice);
                            $(".finalAmount-cash").text(finalAmt);
                            $(".app-discount").text(otherDiscounts);
                            $("#cashPaymentDiv").show();
                        }
                    });
                }


            });



            $("#bntCancel").click(function() {



                $.confirm({
                    title: 'Cancel Booking!',
                    content: 'Do you surely want to cancel this booking ?'+
                        '<div class="form-group">' +
                         '<label>Cancel Reson </label>' +
                         '<select id="cancelationid" class="form-control">'+
                         '<option  value="0">Select</option>'+
                            '<option value="1">Over booking</option> '+
                            ' <option value="2">Due to heavy traffic</option>'+
                            ' <option value="3">Allocated vehicle accident</option>'+
                            ' <option value="4">Cancelled by customer</option>'+
                            '  <option value="5">Duplicate Booking by Error or Mistake</option>'+
                            ' <option value="6">Card payment not completed</option>'+
                            ' <option value="7">Test booking by staff</option>'+
                            ' <option value="8">Anonymous booking</option>'+
                            '  <option value="9">Other</option>'+
                        '</select>'+
                       '</div>',
                    buttons: {
                        confirm: function() {
                            var d = new Date(),
                                month = '' + (d.getMonth() + 1),
                                day = '' + d.getDate(),
                                year = d.getFullYear(),
                                hours = '' + d.getHours(),
                                minutes = '' + d.getMinutes();


                            if (month.length < 2) month = '0' + month;
                            if (day.length < 2) day = '0' + day;

                            var date = [day, month, year].join('/');

                            if (hours.length < 2) hours = '0' + hours;
                            if (minutes.length < 2) minutes = '0' + minutes;

                            var time = hours + ":" + minutes;
                            var reson = $("#cancelationid option:selected").text();
                            var resonVal = $("#cancelationid option:selected").val();
                            if (resonVal >= 1) {

                            } else {
                                $.alert("Please select an option");
                                return;
                            }


                            var jsondata = JSON.stringify({
                                Token: @Html.Raw(Json.Encode(Model.BookingToken)),
                                IsRetunBooking: @Html.Raw(Json.Encode(Model.IsReturnBooking)),
                                CancelAmt: 0,
                                CancelDate: date + " " + time,
                                Reson:reson,
                                ResonId: resonVal

                            });
                            $("#overLay").show();
                            $("#overLay").addClass("overlay");
                            $.ajax({
                                url: "/api/reservation/cancelbooking",
                                method: "POST",
                                dataType: 'JSON',
                                contentType: "application/json; charset = utf-8",
                                data: jsondata, //'token=' + button.attr("data-cancelbooking-id"),
                                success: function(data) {
                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();
                                    if (data.Status) {
                                        $.alert(data.Message);
                                        window.location.href = "/Home/index";
                                    } else {
                                        $.alert(data.Message);
                                    }
                                },  error: function(data) {

                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();
                                },
                                failure: function(data) {

                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();
                                }
                            });


                        },
                        cancel: function() {

                        }

                    }
                });
            } );




            $("#bntConfirm").click(function() {

                $.confirm({
                    title: 'Confirm Reservation !',
                    content: 'Do you surely want to confirm  this booking ?',
                    buttons: {
                        confirm: function() {
                            var d = new Date(),
                                month = '' + (d.getMonth() + 1),
                                day = '' + d.getDate(),
                                year = d.getFullYear(),
                                hours = '' + d.getHours(),
                                minutes = '' + d.getMinutes();


                            if (month.length < 2) month = '0' + month;
                            if (day.length < 2) day = '0' + day;

                            var date = [day, month, year].join('/');

                            if (hours.length < 2) hours = '0' + hours;
                            if (minutes.length < 2) minutes = '0' + minutes;

                            var time = hours + ":" + minutes;
                            var jsondata = JSON.stringify({
                                Token: @Html.Raw(Json.Encode(Model.BookingToken)),
                                IsRetunBooking: @Html.Raw(Json.Encode(Model.IsReturnBooking)),
                                CancelAmt: 0,
                                CancelDate: date + " " + time,
                                IsCancelBooking: @Html.Raw(Json.Encode(Model.IsCancelBooking))
                                });
                            $("#overLay").show();
                            $("#overLay").addClass("overlay");
                            $.ajax({
                                url: "/api/reservation/confirmbooking",
                                method: "POST",
                                dataType: 'JSON',
                                contentType: "application/json; charset = utf-8",
                                data: jsondata, //'token=' + button.attr("data-cancelbooking-id"),
                                success: function(data) {
                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();
                                    if (data.Status) {
                                        $.alert(data.Message);

                                        window.location.href = "/Home/index";

                                    } else {
                                        $.alert(data.Message);
                                    }
                                },  error: function(data) {

                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();
                                },
                                failure: function(data) {

                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();
                                }
                            });


                        },
                        cancel: function() {

                        }

                    }
                });
            } );







        });
    </script>
}
