﻿@model SwaranAdmin_New.Models.BookingSummaryDom
@using SwaranAdmin_New.Base
 
 
<div class="container">

    <!--/end top area-->


    <div class="row bottom-form">

        <!--/end left area-->


        <div class="col-md-9">


            <div>

                @if (Model.BookingStatus != (int)BookingStatusEnum.Cancelled)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">Trip Summary</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Pick Up</p>
                                </div>
                                <div class="col-md-6 text-right">@Html.ValueFor(m => m.FromFullAddress) </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.Viapoints))
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Via Points</p>
                                    </div>
                                    <div class="col-md-6 text-right">@Html.ValueFor(m => m.Viapoints) </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Drop Off</p>
                                </div>
                                <div class="col-md-6 text-right">@Html.ValueFor(m => m.ToFullAddress) </div>
                            </div>
                            <div class="border-top margin-botom-10"></div>

                            <div class="row">
                                <div class="col-md-6">
                                    <p>Trip Fare </p>
                                </div>
                                <div class="col-md-6 text-right">
                                    &#163; @Html.ValueFor(m => m.OneWayPrice) <br>

                                </div>
                            </div>
                            @*<div class="row">
                            <div class="col-md-6">
                                <h3 style="color:red">Ghost ID  </h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <h3 style="color:red">   @Html.ValueFor(m => m.OneWayGhostId)</h3>  <br>
                            </div>
                        </div>*@

                            @if (Model.OneWayCredit > 0)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Discount</h5>
                                    </div>

                                    <div class="col-md-6 text-right">
                                        <h5>&#163; @Html.ValueFor(m => m.OneWayCredit)</h5>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

                @if (Model.IsReturnJourney && Model.BookingStatusReturnJourney != (int)BookingStatusEnum.Cancelled)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">Return Journey Summary</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Pick Up</p>
                                </div>
                                <div class="col-md-6 text-right"> @Html.ValueFor(m => m.ReturnFromFullAddress)</div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ReturnViapoints))
                            {
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Via Points</p>
                                </div>
                                <div class="col-md-6 text-right">@Html.ValueFor(m => m.ReturnViapoints)</div>
                            </div>
                            }
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Drop Off</p>
                                </div>
                                <div class="col-md-6 text-right">@Html.ValueFor(m => m.ReturnToFullAddress)</div>
                            </div>
                            <div class="border-top margin-botom-10"></div>

                            <div class="row">
                                <div class="col-md-6">
                                    <p>Trip Fare</p>
                                </div>
                                <div class="col-md-6 text-right">
                                    &#163; @Html.ValueFor(m => m.ReturnWayPrice) <br>
                                    @*<p class="helping-text">Full Coverage, Cancel Protection, Road Side Assistance</p>*@
                                </div>
                            </div>
                            @*<div class="row">
                            <div class="col-md-6">
                                <h3 style="color:red">Ghost ID  </h3><br>
                            </div>
                            <div class="col-md-6 text-right">
                                <h3 style="color:red">   @Html.ValueFor(m => m.ReturnWayGhostId) </h3><br>

                            </div>
                        </div>*@
                            @if (Model.ReturnWayCredit > 0)
                            {

                            <div class="row">
                                <div class="col-md-6">
                                    <p>Discount</p>
                                </div>
                                <div class="col-md-6 text-right">
                                    &#163; @Html.ValueFor(m => m.ReturnWayCredit) <br>
                                </div>
                            </div>
                            }



                        </div>
                    </div>


                }




                <div class="panel panel-default">
                    <div class="panel-body">
                        @if (Model.BookingStatus != (int)BookingStatusEnum.Cancelled)
                        {
                        <div class="row blue-bold">
                            <div class="col-md-6">
                                <h5>OneWay Fare </h5>
                            </div>

                            <div class="col-md-6 text-right">
                                <h5> &#163; @(Model.OneWayPrice - Model.OneWayCredit)</h5>

                            </div>

                        </div>
                        }

                        @if (Model.IsReturnJourney && Model.BookingStatusReturnJourney != (int)BookingStatusEnum.Cancelled)
                        {
                        <div class="row blue-bold">
                            <div class="col-md-6">
                                <h5>Return journey Fare </h5>
                            </div>

                            <div class="col-md-6 text-right">
                                <h5> &#163; @(Model.ReturnWayPrice - Model.ReturnWayCredit)</h5>
                            </div>

                        </div>
                        }
                        @if (Model.BookingFee > 0)
                        {
                        <div class="row blue-bold">
                            <div class="col-md-6">
                                <h5>Booking Fee</h5>
                            </div>

                            <div class="col-md-6 text-right">
                                <h5>&#163; @(Model.BookingFee)</h5>

                            </div>
                        </div>

                        }
                        @if (Model.OnewayOtherDiscounts > 0 || Model.ReturnWayOtherDiscounts > 0)
                        {
                            <div class="row blue-bold">
                                <div class="col-md-6">
                                    <h5>App Discount</h5>
                                </div>

                                <div class="col-md-6 text-right">
                                    <h5>(&#163; @(Model.OnewayOtherDiscounts + Model.ReturnWayOtherDiscounts))</h5>

                                </div>
                            </div>

                        }
                        <div class="border-top margin-botom-10"></div>
                        <div class="row blue-bold">
                            <div class="col-md-6">
                                <h5>Final Price for your Rental</h5>
                            </div>

                            <div class="col-md-6 text-right">
                                @if (Model.BookingStatus == (int)BookingStatusEnum.Cancelled)
                                {
                                <h5>&#163; @((Model.ReturnWayPrice + Model.OtherCharges) - (Model.ReturnWayCredit) - Model.OnewayOtherDiscounts - Model.ReturnWayOtherDiscounts)</h5>
                                }
                                else if (Model.BookingStatusReturnJourney == (int)BookingStatusEnum.Cancelled)
                                {
                                <h5>&#163; @((Model.OneWayPrice + Model.OtherCharges) - (Model.OneWayCredit) - Model.OnewayOtherDiscounts - Model.ReturnWayOtherDiscounts)</h5>
                                }
                                else
                                {
                                <h5>&#163; @((Model.OneWayPrice + Model.OtherCharges + Model.ReturnWayPrice) - (Model.OneWayCredit + Model.ReturnWayCredit) - Model.OnewayOtherDiscounts - Model.ReturnWayOtherDiscounts)</h5>
                                }

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!--/end form-->



        </div>
    </div>
    <!--/end bottom area-->




</div>


