﻿
@{
    ViewBag.Title = "MonthlyBookingView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Monthly Booking </h2>
 <div class="box box-default box-solid">
    @*<div id="overLay" class="overlay">*@
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
     <div class="box-body">
         <div class="row">
            
                 <div class="col-md-2 col-md-offset-5">
                     <label>Date Range</label>
                     <div class="form-group">
                        

                         <div class="input-group">
                             <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                                 <span>
                                     <i class="fa fa-calendar"></i> Date range picker
                                 </span>
                                 <i class="fa fa-caret-down"></i>
                             </button>
                         </div>
                     </div>
                 </div>

                 <div class="row col-md-10" style="margin: 10px">
                     <div class="box-body chart-responsive">
                         <div id="line-example"></div>
                     </div>
                 </div>
             </div>
        
             <div class="col-md-12" style="margin-top: 25px">

             </div>
         </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            var morrislinechart = Morris.Line({
                element: 'line-example',
                data: [],
                xkey: 'bookingDate',
                ykeys: ['bookingCount'],
                labels: ['Booking'],
                xLabelFormat: function (d) {
                    debugger;
                    // myDate = new Date(d);
                    return d.getDate(); // + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();
                    // return myDate;
                },
                resize: true,
                stacked: true
            });

            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function(start, end) {
                    $('#daterange-btn span').html(start.format('D/MM/YYYY') + ' - ' + end.format('D/MM/YYYY'));
                    $("#overLay").show();
                    $("#overLay").addClass("overlay");
                    var daterange = { "startdate": start.format('D/MM/YYYY'), "enddate": end.format('D/MM/YYYY') }
                    $.ajax({
                        url: "/api/reservation/monthlybooking",
                        method: "POST",
                        dataType: "JSON",
                        data: daterange,
                        success: function (data) {
                            //  monthlyBooking.setData(data);
                            morrislinechart.setData(data, true);
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });
                }
            );
          
          


        
           

              

         });
    </script>
}

