﻿@model IEnumerable<SwaranAdmin_New.Models.PendingBookingViewModel>

@{
    ViewBag.Title = "PendingBookingView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pending Bookings</h2>



<div class="box box-default box-solid">
    @*<div id="overLay" class="overlay">*@
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover dataTable">
            <tr>
               
                <th>
                   Booking DateTime
                </th>
                <th>
                    Ref Number
                </th>
                <th>
                    BookedPersonName
                </th>
                <th>
                   Booking From
                </th>
                <th>
                     Booking To
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>


                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookedPersonName)
                    </td>
                    <td style="width:20%">
                        @Html.DisplayFor(modelItem => item.BookingFrom)
                    </td>
                    <td style="width: 20%">
                        @Html.DisplayFor(modelItem => item.BookingTo)
                    </td> 
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>


                    <td>
                        @Html.ActionLink("Completed", "CompletedView", new { id = item.BookingId }, new {@class= "btn bg-purple margin" })
                        @Html.ActionLink("Cancel", "CancelView",  new { id=item.BookingId }, new { @class = "btn bg-maroon margin" }) 
                    </td>
                </tr>
            }

        </table>
    </div>
</div>