﻿
@{
    ViewBag.Title = "SearchReservationView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-default box-solid">
    @*<div id="overLay" class="overlay">*@
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
        <div class="box-body">
            <div class="col-md-12">
                <div class="row col-md-12" style="margin: 10px">

                    <div class="col-md-12">
                        <label>Search Customer</label>
                        <div class="input-group margin">
                            <input class="customersearch form-control" placeholder="Search by Memeber id or email" type="text">
                            @*<span class="input-group-btn">
                                <button type="button" class="btn btn-info btn-flat">SEARCH!</button>
                            </span>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-top: 25px">
                @*<div class="col-md-8 box">*@
                <table id="booking-history" style="color: #000000" class="table table-bordered table-striped dataTable">
                    @*class="table table-striped table-bordered">*@
                    <thead>
                        <tr>
                            <th>Journeydate</th>
                            <th>Booking Number</th>
                            <th>Booking From</th>
                            <th>BookingTo</th>
                            <th>Status</th>
                            <th>StatusId</th>
                            <th>BookingToken</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
                @*</div>*@
            </div>
        </div>
    </div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {

            var Table = $("#booking-history").DataTable({
                aaSorting: [],
                data: [],
                columns: [
                    {
                        data: "journeydate",
                        "width": "10%"
                    },
                    {
                        data: "bookingNumber",
                        "width": "10%"
                    },
                    { data: "bookingFrom" },
                    { data: "bookingTo" },
                    {
                        data: "status",
                        "width": "10%"
                    },
                    {
                        data: "statusId",
                        "visible": false,
                        "searchable": false
                    },
                    {
                        data: "bookingToken",
                        "visible": false,
                        "searchable": false
                    },
                    {
                        data: "bookingToken",
                        render: function(data, type, row) {

                            return '';
                        }

                    }
                ],
                createdRow: function(nRow, aData, c, d) {


                    //if (aData["isEnabled"]) {
                    //    $('td', nRow).css('background-color', '#034f04');
                    //    $('td', nRow).css('color', '#fff');
                    //}
                    //if (aData["isUsed"]) {
                    //    $('td', nRow).css('background-color', '#b25600');
                    //    $('td', nRow).css('color', '#fff');
                    //}
                    //if (aData["isDeleted"]) {
                    //    $('td', nRow).css('background-color', '#b70900');
                    //    $('td', nRow).css('color', '#fff');
                    //}

                    //$(nRow).children(":nth-child(9)").css("background-color", '#d2d6de');
                }
            });


            $("#all-freejourneys").on("click", ".all-journeys", function() {
                var button = $(this);
                var freeJourneyId = button.attr("data-user-id");


            });


            var callFreejurneys = function (memberId) {
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: "/api/reservation/bookinghistory?userid=" + memberId,
                    method: "GET",
                    success: function(data) {
                        if (data != null ) {
                            Table.clear().draw();
                            Table.rows.add(data).draw();
                        } else {
                             Table.clear().draw();
                        }
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    }
                });
            }
            var pickuppointRequest = null;
            $('input.customersearch').typeahead({
                hint: true,
                delay: 0,
                showHintOnFocus: "all",
                name: 'BookingFromLabel',
                minLength: 2,
                autoSelect: true,
                highlight: true,
                items: 500,

                source: function(query, process) {

                    var regex = "^[a-zA-Z0-9\\s/g_.-]*$";


                    var that = this;
                    pickuppointRequest = $.ajax({
                        url: '/api/member/customer',
                        type: 'GET',
                        dataType: 'JSON',
                        data: 'search=' + query,
                        beforeSend: function() {


                            if (pickuppointRequest != null) {
                                pickuppointRequest.abort();
                            }
                            that.$element.addClass('loadinggif');
                        },
                        complete: function() {
                            that.$element.removeClass('loadinggif');
                        },

                        success: function(data) {
                            //debugger;
                            map = {};
                            var cnames = new Array();
                            for (var i = 0; i < data.length; i++) {

                                var id = data[i].memberId + "|" + data[i].fullName + "|" + data[i].userId;
                                name = data[i].memberId + " - " + data[i].fullName + " - " + data[i].email + " - " + data[i].mobile;
                                map[name] = { id: id, name: name };
                                cnames.push(name);
                            }
                            process(cnames);
                        }
                    });


                },
                sorter: function(items) {
                    return items; // items.sort();
                },
                matcher: function(item) {

                    return true;

                },
                updater: function(item) {


                    $("input[name='MemberId']").val(map[item].id.split('|')[0]);
                    $("input[name='UserName']").val(map[item].id.split('|')[1]);
                    $("input[name='UserId']").val(map[item].id.split('|')[2]);
                    callFreejurneys(map[item].id.split('|')[2]);
                    return item;
                }

            });


            $(".jqueryui-marker-datepicker").datepicker(
                {
                    minDate: 0,
                    dateFormat: "dd/mm/yy"
                }).css("display", "inline-block")
                .next("button").button(
                {
                    icons: { primary: "ui-icon-calendar" },
                    lable: "Select a date",
                    text: false
                });


        });
    </script>
}
