﻿
@{
    ViewBag.Title = "VehicleUpgradeView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Vehicle Upgrade</h4>
        <hr />


      <div class="col-md-10">
                    <div class="form-group">
                        <label class="control-label col-md-3">BookingNumber*</label>
                        <div class="col-md-5"> 
                            <input name="BookingNumber" id="BookingNumber" class="form-control col-md-4" type="text"/>
                        </div>
                        <div>
                            <a id="findBooking" class="btn btn-info"> SEARCH BOOKING</a>
                        </div>
                    </div>


                </div>
            <div class="col-md-12" style="margin-top: 20px">

                    <div class="form-group">
                        <label class="control-label col-md-3">Select a Journey </label>

                        <div class="col-md-10">
                            <select id="myBookings" class="form-control col-md-10"></select>
                        </div>
                    </div>
                </div>
       <div id="alertDiv" class="col-md-12" style="margin-top: 15px">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        Vehicle upgrade not found  
                    </div>
                </div>

                <div id="vehicle-upgrate-div">
                    <div class="col-md-12">
                        <h4 style="border: none">Vehicle Upgrade by</h4>
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="col-md-5">
                                    <label class="control-label">
                                        
                                        <input checked="checked" data-val="true"   id="IsUpgradeByPoints" name="IsUpgradeByPoints" value="True" type="radio">
                                        Using My Points
                                    </label>

                                </div>

                                @*<div class="col-md-3">
                                    <label class="control-label"> 
                                        <input   name="IsUpgradeByPoints" value="False" type="radio">
                                        Money
                                    </label>

                                </div>*@

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-md-3">Select new vehicletype</label>

                                <div class="col-md-8">
                                    <select id="UpgradeVehicleTypeId" class="form-control col-md-10"></select>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="form-group" id="pointUpdateDiv">

                            <div>
                                <a id="updateVehicle" class="btn btn-info"> UPDATE VEHICLE</a>
                            </div>
                        </div>
                        <div class="form-group" id="paymentUpdateDiv">

                            <div>
                                <a id="updateVehicleByPayment" class="btn btn-info">PAY ONLINE</a>
                            </div>
                        </div>

                    </div>
                </div>

           
        
    </div>

</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            $("#alertDiv").hide();
            $("#vehicle-upgrate-div").hide();
            $("#paymentUpdateDiv").hide();
            $("#pointUpdateDiv").hide();
            $("#pointUpdateDiv").show();
            $("#findBooking").click(function () {
                $("#alertDiv").hide();
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                var bookingNumber = $("#BookingNumber").val();
                $.ajax({
                    url: '/api/reservation/allbookings?bookingNumber=' + bookingNumber,
                    type: 'GET',
                    dataType: 'JSON',
                    success: function(data) {

                        $('#myBookings').html('');
                        var options = '';
                        options += '<option value="Select">Select</option>';
                        for (var i = 0; i < data.length; i++) {
                            options += '<option data-vehicleid="' + data[i].vehicleTypeId + '" value="' + data[i].bookingId + '">' + data[i].bookingDateTime + " / " + data[i].bookingFrom + " to " + data[i].bookingTo + "/ " + data[i].vehicleTypeName + '</option>';
                        }
                        $('#myBookings').append(options);
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                    }
                });
            });

            var currentVehicletypeId = 0;
            var vehicleUpgradeId = 0;
            var bookingId = 0;
            var points = 0;
            var isUpgradeByPoints = true;

            $("#myBookings").change(function() {
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                var selected = $(this).find('option:selected');
                currentVehicletypeId = selected.data('vehicleid');
                bookingId = this.value;
                debugger;
                $.ajax({
                    url: '/api/reservation/vehicleupdates?currentVehicleId=' + currentVehicletypeId,
                    type: 'GET',
                    dataType: 'JSON',
                    success: function(data) {
                        if (data.length > 0) {
                            $("#alertDiv").hide();
                            $('#UpgradeVehicleTypeId').html('');
                            var options = '';
                            options += '<option value="Select">Select</option>';
                            for (var i = 0; i < data.length; i++) {
                                options += '<option  data-points="' + data[i].points + '" value="' + data[i].vehicleTypeId + '">' + data[i].text + '</option>';
                            }
                            $('#UpgradeVehicleTypeId').append(options);
                            $("#vehicle-upgrate-div").show();
                            $("#pointUpdateDiv").show();
                        } else {
                            $("#alertDiv").show();
                            $("#vehicle-upgrate-div").hide();
                        }
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();

                    }
                });

            });

            $('input[type=radio][name=IsUpgradeByPoints]').change(function() {
           
                var upgrateval = this.value;
       
               debugger;
               if (upgrateval == "True") {
                   isUpgradeByPoints = true;
                   $("#pointUpdateDiv").show();
                   $("#paymentUpdateDiv").hide();
               } else if (upgrateval == "False") {
                   isUpgradeByPoints = false;
                   $("#pointUpdateDiv").hide();
                   $("#paymentUpdateDiv").show();
       
               }
             
                
            });

            $("#UpgradeVehicleTypeId").change(function() {
                var selected = $(this).find('option:selected');
                points = selected.data('points');
                vehicleUpgradeId = this.value;
            });


            $("#updateVehicle").click(function() {
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                var json = JSON.stringify({
                    Points: points,
                    VehicleUpgradeId: vehicleUpgradeId,
                    BookingId: bookingId,
                    IsUpgrateByPoints: isUpgradeByPoints,
                    CurrentVehicletypeId: currentVehicletypeId
                });

                $.ajax({
                    url: "/api/reservation/savevehicleupdates",
                    method: "POST",
                    dataType: 'JSON',
                    contentType: "application/json; charset = utf-8",
                    data: json, //'token=' + button.attr("data-cancelbooking-id"),
                    success: function(data) {
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide(); 
                        alert(data);
                            $("#alertDiv").hide();
                            $("#vehicle-upgrate-div").hide();
                            $("#paymentUpdateDiv").hide();
                            $("#pointUpdateDiv").hide();
                       
                    }


                });
            });

            $("#updateVehicleByPayment").click(function() {
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                var json = JSON.stringify({
                    Points: points,
                    VehicleUpgradeId: vehicleUpgradeId,
                    BookingId: bookingId,
                    IsUpgrateByPoints: isUpgradeByPoints,
                    CurrentVehicletypeId: currentVehicletypeId
                });

                $.ajax({
                    url: "/api/reservation/vehicleupdatesonline",
                    method: "POST",
                    dataType: 'JSON',
                    contentType: "application/json; charset = utf-8",
                    data: json, //'token=' + button.attr("data-cancelbooking-id"),
                    success: function(data) {
                        debugger;
                        window.location.href = data;

                    }


                });
            });
        });
    </script>
}