﻿
@{
    ViewBag.Title = "AllEmissionZoneView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h2>Low Emission Zones</h2>
        <hr/>

        <div class="col-md-12" style="margin-top: 25px">
            <table id="all-Zones" style="color: #000000" class="table table-bordered table-striped dataTable">

                <thead>
                    <tr>
                        <th>ZoneId</th>
                        <th>EmissionType</th>
                        <th>StreetName</th>
                        <th>Postcode</th> 
                        <th>Description</th> 
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table> 
        </div>

    </div>
</div>


@section scripts
{
    <script type="text/javascript">

                $(document).ready(function() {

                    var Table = $("#all-Zones").DataTable({
                        aaSorting: [],
                        data: [],
                        "dom": '<"toolbar">frtip',
                        columns: [
                            {
                                data: "zoneId",
                                "width": "5%"
                            },
                            {
                                data: "emissionType",
                                "width": "13%"
                            },
                            {
                                data: "streetName"
                            },
                            {
                                data: "postcode",
                                "width": "10%"
                            },
                            {
                                data: "description"
                            },
                            
                            {
                                data: "zoneId",
                                render: function(data, type, row) {
                                  
                                    return "<a  class='all-journeys btn btn-block btn-danger' data-customer-id=" + row["zoneId"] + "  data-user-id=" + data + " >Delete</a>";
                                    
                                }

                            }
                        ],
                        createdRow: function(nRow, aData, c, d) {


                            //if (aData["isEnabled"]) {
                            //    $('td', nRow).css('background-color', '#034f04');
                            //    $('td', nRow).css('color', '#fff');
                            //}
                            //if (aData["isUsed"]) {
                            //    $('td', nRow).css('background-color', '#b25600');
                            //    $('td', nRow).css('color', '#fff');
                            //}
                            //if (aData["isDeleted"]) {
                            //    $('td', nRow).css('background-color', '#b70900');
                            //    $('td', nRow).css('color', '#fff');
                            //}

                            //$(nRow).children(":nth-child(9)").css("background-color", '#d2d6de');
                        }
                    });

                    $.ajax({
                        url: "/api/lowemission/allemissonzone",
                        method: "GET",
                        dataType: 'JSON', 
                        success: function (data) {
                            Table.clear().draw();
                            Table.rows.add(data).draw();
                        }
                    });

                });
    </script>
}
