﻿@model SwaranAdmin_New.Models.LowEmissionZoneDayViewModel
@{
    ViewBag.Title = "EmissionZoneDayView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default box-solid">

    <div class="box-body">
        <h2>Low Emission Zones</h2>
        <hr />
        <div class="form-horizontal">
             
            <div class="col-md-12" style="margin-bottom: 15px">
                <div class="col-md-8" id="areatype-list">

                    <div class="col-md-8">
                        <div class="subject-info-box-1">
                            <h5>All Areapoints </h5>
                            <select multiple="multiple" id='daylistBox' class="form-control"></select>
                        </div>

                        <div class="subject-info-arrows text-center">
                            <h5>Send</h5>
                            <input type='button' id='btnAllRight' value='>>' class="btn btn-default" /><br />
                            <input type='button' id='btnRight' value='>' class="btn btn-default" /><br />
                            <input type='button' id='btnLeft' value='<' class="btn btn-default" /><br />
                            <input type='button' id='btnAllLeft' value='<<' class="btn btn-default" />
                        </div>

                        <div class="subject-info-box-2">
                            <h5>Selected outerpostcodes<a id="btnselectAll"> Select all</a></h5>

                            <select name="curentstreetlistbox" multiple="multiple" id='curentstreetlistbox' class="form-control"></select>

                        </div>

                        <div class="clearfix"></div>
                    </div>

                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.RateName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select class="form-control" id="rate">
                            <option selected="selected">Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmissionRateFormula, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="row">
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.RateName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.EmissionRateFormula, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.EmissionRateFormula, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

               
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.IsEnabled)
                                IsEnabled
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.IsDeleted)
                                IsDeleted
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
                $(document).ready(function() {
                    $('#reservationtime').daterangepicker(
                    {
                        autoApply: true,
                        timePicker: true,
                        timePicker24Hour: true,
                        // autoUpdateInput: false,
                        timePickerIncrement: 1,
                        locale: {
                            format: 'DD/MM/YYYY HH:mm'
                        }
                    },function(start, end, label) {
                        // $(this)[0].element.change();
                        $("#FromDate").val(start.format('DD/MM/YYYY HH:mm'));
                        $("#ToDate").val(end.format('DD/MM/YYYY HH:mm'));

                    }

                    );

                    @*var daterange= @Html.Raw(Json.Encode(Model.OccasionDataRange));
                    var fromdat=@Html.Raw(Json.Encode(Model.FromDate));
                    var todat=@Html.Raw(Json.Encode(Model.ToDate));
                    $("#reservationtime").data('daterangepicker').setStartDate(fromdat);
                    $("#reservationtime").data('daterangepicker').setEndDate(todat);*@

                    $.ajax({
                        type: 'GET',
                        url: '/api/pointofinterest/allcustomerrates',
                        success: function(data) {

                            for (var i = 0; i < data.length; i++) {
                                var opt = new Option(data[i].rateName);
                                // $("#rate").append(opt);
                                $("#rate").append(
                                        $('<option/>', {
                                            value: data[i].rateId,
                                            text: data[i].rateName
                                        }));
                            }
                        }
                    });

                    $("#rate").on('change', function() {
                        $("#CustomerRateId").val(this.value);
                        $("#RateName").val($(this).find("option:selected").text());
                    });
                    //-----------------------------------------------------------------------------------------------------------------------------------------.

                    $.ajax({
                        type: 'GET',
                        url: '/api/pointofinterest/daylist',
                        success: function(data) {

                            $.each(data, function (index, itemData) {
                                $("#daylistBox").append(new Option(itemData, itemData.curentstreetlistbox));
                            });

                            //$.each(data, function (index, itemData) {
                            //    $("#curentstreetlistbox").append(new Option(itemData, itemData.curentstreetlistbox));
                            //});
                            $('#curentstreetlistbox option').prop('selected', true);
                        }
                    });



                    $('#btnRight').click(function(e) {
                        var selectedOpts = $('#daylistBox option:selected');
                        if (selectedOpts.length == 0) {
                            alert("Nothing to move.");
                            e.preventDefault();
                        }

                        $('#curentstreetlistbox').append($(selectedOpts).clone());
                        $(selectedOpts).remove();
                        e.preventDefault();
                        $('#curentstreetlistbox option').prop('selected', true);
                    });

                    $('#btnAllRight').click(function(e) {
                        var selectedOpts = $('#daylistBox option');

                        if (selectedOpts.length == 0) {
                            alert("Nothing to move.");
                            e.preventDefault();
                        }
                        $('#curentstreetlistbox').append($(selectedOpts).clone());
                        $(selectedOpts).remove();
                        e.preventDefault();
                        $('#curentstreetlistbox option').prop('selected', true);
                    });

                    $('#btnLeft').click(function(e) {
                        var selectedOpts = $('#curentstreetlistbox option:selected');
                        if (selectedOpts.length == 0) {
                            alert("Nothing to move.");
                            e.preventDefault();
                        }

                        $('#daylistBox').append($(selectedOpts).clone());
                        $(selectedOpts).remove();
                        e.preventDefault();
                        $('#curentstreetlistbox option').prop('selected', true);
                    });

                    $('#btnAllLeft').click(function(e) {
                        var selectedOpts = $('#curentstreetlistbox option');
                        if (selectedOpts.length == 0) {
                            alert("Nothing to move.");
                            e.preventDefault();
                        }

                        $('#daylistBox').append($(selectedOpts).clone());
                        $(selectedOpts).remove();
                        e.preventDefault();
                    });


                    //------------------------------------------------------------------------------------------------------------------------
                    $('input[type=radio][name=IsAllPlot]').change(function() {
                        if (this.value == 'True') {
                            $("#outerpostcod-div").hide();
                        }
                        else if (this.value == 'False') {
                            $("#outerpostcod-div").show();
                        }
                    });

                    $("#btnselectAll").click(function(){
                        $('#curentstreetlistbox option').prop('selected', true);
                    });


                    @*var isAllPlot=@Html.Raw(Json.Encode(Model.IsAllPlot));
                    if(isAllPlot)
                    {
                        $("#outerpostcod-div").hide();
                    }else
                    {
                        $("#outerpostcod-div").show();
                    }*@
                });

    </script>
}




