﻿@model SwaranAdmin_New.Models.LowEmissionZoneViewModel

 
@{
    ViewBag.Title = "AddSpecialOccasionView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-default box-solid">

    <div class="box-body">
        <h2>Low Emission Zones</h2>
        <hr />
        <div class="form-horizontal">
            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.EmissionType, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        <select name="EmissionType" id='EmissionType' class="form-control">
                            <option value="1">Ultra Low Emission Zone</option>
                            <option value="2">No Emission Zone</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-2">Address Search </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FullAddress, new {@class = "pickuppoint form-control", @autocomplete = "off", @placeholder = "Type Airport or  Postcode"})
                        @Html.ValidationMessageFor(model => model.FullAddress, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom: 15px">
                <div class="col-md-8" id="areatype-list">

                    <div class="col-md-8">
                        <div class="subject-info-box-1">
                            <h5>All Areapoints </h5>
                            <select multiple="multiple" id='allstreetlstBox' class="form-control"></select>
                        </div>

                        <div class="subject-info-arrows text-center">
                            <h5>Send</h5>
                            <input type='button' id='btnAllRight' value='>>' class="btn btn-default"/><br/>
                            <input type='button' id='btnRight' value='>' class="btn btn-default"/><br/>
                            <input type='button' id='btnLeft' value='<' class="btn btn-default"/><br/>
                            <input type='button' id='btnAllLeft' value='<<' class="btn btn-default"/>
                        </div>

                        <div class="subject-info-box-2">
                            <h5>Selected streets</h5>

                            <select name="curentstreetlistbox" multiple="multiple" id='curentstreetlistbox' class="form-control"></select>

                        </div>

                        <div class="clearfix"></div>
                    </div>

                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.Postcode, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Postcode, new {@class = "form-control", @autocomplete = "off", @placeholder = ""})
                        @Html.ValidationMessageFor(model => model.Postcode, "", new {@class = "text-danger"})
                    </div>
                </div>

             

              
            </div>
       

            <div class="col-md-12" style="margin-bottom: 15px">
                <div class="col-md-8" id="day-list">

                    <div class="col-md-8">
                        <div class="subject-info-box-1">
                            <h5>All Days </h5>
                            <select multiple="multiple" id='daylistBox' class="form-control"></select>
                        </div>

                        <div class="subject-info-arrows text-center">
                            <h5>Send</h5>
                            @*<input type='button' id='btnAllRightday' value='>>' class="btn btn-default" /><br />*@
                            <input type='button' id='btnRightday' value='>' class="btn btn-default" /><br />
                            <input type='button' id='btnLeftday' value='<' class="btn btn-default" /><br />
                            @*<input type='button' id='btnAllLeftday' value='<<' class="btn btn-default" />*@
                        </div>

                        <div class="subject-info-box-2">
                            <h5>Selected Days</h5>

                            <select name="curentdaylistBox" multiple="multiple" id='curentdaylistBox' class="form-control"></select>

                        </div>

                        <div class="clearfix"></div>
                    </div>

                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.RateName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select class="form-control" id="rate">
                            <option selected="selected">Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmissionRateFormula, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="row">
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.RateName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.EmissionRateFormula, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.EmissionRateFormula, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>


                <div class="form-group">
                    @Html.Label("Time Range", new {@class = "control-label col-md-2"})
                    <div class="input-group col-md-10">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.TextBoxFor(model => model.TimeRange, new {@class = "form-control pull-right", @id = "EmissionTimerange", @autocomplete = "off", @placeholder = ""})
                        @Html.ValidationMessageFor(model => model.TimeRange, "", new {@class = "text-danger"})
                        <div><button id="btnadddaterange">Add</button><button id="btnremoveaterange">Remove</button></div>
                       
                    </div>
                </div>
                <div class="form-group">
                    <label class = "control-label col-md-2">Time List</label>
                    <div class="subject-info-box-2">
                        <select name="curenttimerange" multiple="multiple" id='curenttimerange' class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.IsEnabled)
                                    IsEnabled
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.IsDeleted)
                                    IsDeleted
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" id="savelowemissionzone" value="Create" class="btn btn-default" />
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnadddaterange").click(function() {
                var timerange = $("#EmissionTimerange").val();
                $("#curenttimerange").append(new Option(timerange, timerange));
            });

            $("#btnremoveaterange").click(function () {
                debugger;
                var timerange = $("#EmissionTimerange").val();
                $("#curenttimerange").find("option[value='"+timerange+"']").remove();
            });

            $("#curenttimerange").click(function () {
                debugger;
               // var timerange = this.options[1].val(); 
                var timerange = $("#curenttimerange option:selected").text();
                $("#EmissionTimerange").val(timerange);
            });
            

            $('#EmissionTimerange').daterangepicker(
                 {
                     "maxSpan": {
                                 "days": 1
                             },
                     autoApply: true,
                     timePicker: true,
                     timePicker24Hour: true,
                     // autoUpdateInput: false,
                     timePickerIncrement: 1,
                     locale: {
                         format: 'HH:mm'
                     }
                 }, function (start, end, label) {
                     // $(this)[0].element.change();
                     $("#FromDate").val(start.format('HH:mm'));
                     $("#ToDate").val(end.format('HH:mm'));

                 });

           

          
            var streetlist = "";

            $.ajax({
                type: 'GET',
                url: '/api/pointofinterest/allcustomerrates',
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].rateName);
                        // $("#rate").append(opt);
                        $("#rate").append(
                                $('<option/>', {
                                    value: data[i].rateId,
                                    text: data[i].rateName
                                }));
                    }
                }
            });

            $("#rate").on('change', function () {
                $("#CustomerRateId").val(this.value);
                $("#RateName").val($(this).find("option:selected").text());
            });



            $("#savelowemissionzone").click(function () {
                var options = new Array();
                var optionday = new Array(); 
                var optiontime = new Array(); 
                $('#curentstreetlistbox > option').each(function (i) {
                    //  options[i] = $(this).val();
                   
                    options[i] =  {
                        "AddressId": $(this).val(),
                        "Name": $(this).text()
                    } 
                });

                $('#curenttimerange > option').each(function (i) {
                   
                    optiontime[i] = {
                        "TimeRangeid": $(this).val(),
                        "TimeRange": $(this).text()
                    }
                });
              
                $('#curentdaylistBox > option').each(function (i) {

                    optionday[i] = {
                        "DayId": $(this).val(),
                        "Name": $(this).text()
                    }
                });

                var data = {
                    "FullAddress": "",
                    "ZoneId": 0,
                "Postcode": $("#Postcode").val(),
               
                "EmissionType": $("#EmissionType option:selected").val(),
                "Title":"",
                "Comments": $("#Comments").val(),
                "RateName": $("#RateName").val(),
                "TimeRange": "", 
                "EmissionRateFormula": $("#EmissionRateFormula").val(),
                "IsEnabled": true,
                "IsDeleted":false,
                "StreetList": options,
                "Zones":null,
                "Days": optionday,
                 "TimeRangeList": optiontime
               
               

            };
            $.ajax({
                type: 'POST',
                url: '/api/lowemission/emissonzone',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function(data) {
                    debugger;
                },
                error: function(data) {
                    debugger;
                }

            });

        });

   
  
            //-----------------------------------------------------------------------------------------------------------------------------------------.


        $.ajax({
            type: 'GET',
            url: '/api/lowemission/daylist',
            success: function (data) {
                
                $.each(data, function (dayId, data) { 
                     
                    $("#daylistBox").append(new Option(data.name, data.dayId));
                });

                //$.each(data, function (index, itemData) {
                //    $("#curentstreetlistbox").append(new Option(itemData, itemData.curentstreetlistbox));
                //});
                $('#curentdaylistBox option').prop('selected', true);
            }
        });



        $('#btnRightday').click(function (e) {
            var selectedOpts = $('#daylistBox option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#curentdaylistBox').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
            $('#curentdaylistBox option').prop('selected', true);
        });

        $('#btnAllRightday').click(function (e) {

            var selectedOpts = $('#daylistBox option');

            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#curentdaylistBox').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
            $('#curentdaylistBox option').prop('selected', true);
        });

        $('#btnLeftday').click(function (e) {
            var selectedOpts = $('#curentdaylistBox option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#daylistBox').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
            $('#curentdaylistBox option').prop('selected', true);
        });

        $('#btnAllLeftday').click(function (e) {
            var selectedOpts = $('#curentdaylistBox option');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#daylistBox').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
             
        //-----------------------------------------------------------------------------------------------------------------------------------------.

        //$.ajax({
        //    type: 'GET',
        //    url: '/api/pointofinterest/allpoiaddress?specialOccasionId=0',
        //    success: function(data) {
        //        debugger;
        //        $.each(data.allPoiAddress, function(index, itemData) {
        //            $("#allstreetlstBox").append(new Option(itemData.name, itemData.name, itemData.curentstreetlistbox));
        //        });

        //        $.each(data.specialOccAddress, function(index, itemData) {
        //            $("#curentstreetlistbox").append(new Option(itemData.name, itemData.curentstreetlistbox));
        //        });
        //        $('#curentstreetlistbox option').prop('selected', true);
        //    }
        //});


        $('#btnRight').click(function(e) {
            var selectedOpts = $('#allstreetlstBox option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#curentstreetlistbox').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
            $('#curentstreetlistbox option').prop('selected', true);
        });

        $('#btnAllRight').click(function(e) {
            
            var selectedOpts = $('#allstreetlstBox option');

            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#curentstreetlistbox').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
            $('#curentstreetlistbox option').prop('selected', true);
        });

        $('#btnLeft').click(function(e) {
            var selectedOpts = $('#curentstreetlistbox option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#allstreetlstBox').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
            $('#curentstreetlistbox option').prop('selected', true);
        });

        $('#btnAllLeft').click(function(e) {
            var selectedOpts = $('#curentstreetlistbox option');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }

            $('#allstreetlstBox').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });


        //------------------------------------------------------------------------------------------------------------------------
        $('input[type=radio][name=IsAllPlot]').change(function() {
            if (this.value == 'True') {
                $("#outerpostcod-div").hide();
            } else if (this.value == 'False') {
                $("#outerpostcod-div").show();
            }
        });

        $("#btnselectAll").click(function() {
            $('#curentstreetlistbox option').prop('selected', true);
        });
        });

    </script>
}


