﻿@model SwaranAdmin_New.Models.LowEmissionZoneViewModel

@{
    ViewBag.Title = "EmissionZoneTimeView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-default box-solid">

    <div class="box-body">
        <h2>Low Emission Zones</h2>
        <hr />
        <div class="form-horizontal">


            <div class="col-md-6">
                <div class="form-group">
                   <label  class = "control-label col-md-2"> Day List </label>
                    <div class="col-md-10">
                        <select class="form-control" id="dayList">
                            <option selected="selected">Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RateName, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        <select class="form-control" id="rate">
                            <option selected="selected">Select</option>
                        </select>
                    </div>
                </div>

              

                <div class="form-group">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Comments, new {@class = "form-control", @autocomplete = "off", @placeholder = ""})
                        @Html.ValidationMessageFor(model => model.Comments, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.IsEnabled)
                                IsEnabled
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.IsDeleted)
                                IsDeleted
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
                $(document).ready(function() {
                    $('#reservationtime').daterangepicker(
                    {
                        autoApply: true,
                        timePicker: true,
                        timePicker24Hour: true,
                        // autoUpdateInput: false,
                        timePickerIncrement: 1,
                        locale: {
                            format: 'DD/MM/YYYY HH:mm'
                        }
                    },function(start, end, label) {
                        // $(this)[0].element.change();
                        $("#FromDate").val(start.format('DD/MM/YYYY HH:mm'));
                        $("#ToDate").val(end.format('DD/MM/YYYY HH:mm'));

                    }

                    );

                    @*var daterange= @Html.Raw(Json.Encode(Model.OccasionDataRange));
                    var fromdat=@Html.Raw(Json.Encode(Model.FromDate));
                    var todat=@Html.Raw(Json.Encode(Model.ToDate));
                    $("#reservationtime").data('daterangepicker').setStartDate(fromdat);
                    $("#reservationtime").data('daterangepicker').setEndDate(todat);*@

                    $.ajax({
                        type: 'GET',
                        url: '/api/pointofinterest/allcustomerrates',
                        success: function(data) {

                            for (var i = 0; i < data.length; i++) {
                                var opt = new Option(data[i].rateName);
                                // $("#rate").append(opt);
                                $("#rate").append(
                                        $('<option/>', {
                                            value: data[i].rateId,
                                            text: data[i].rateName
                                        }));
                            }
                        }
                    });

                    $("#rate").on('change', function() {
                        $("#CustomerRateId").val(this.value);
                        $("#RateName").val($(this).find("option:selected").text());
                    });
    
                    //------------------------------------------------------------------------------------------------------------------------
                    $('input[type=radio][name=IsAllPlot]').change(function() {
                        if (this.value == 'True') {
                            $("#outerpostcod-div").hide();
                        }
                        else if (this.value == 'False') {
                            $("#outerpostcod-div").show();
                        }
                    });

                    $("#btnselectAll").click(function(){
                        $('#curentstreetlistbox option').prop('selected', true);
                    });


                    @*var isAllPlot=@Html.Raw(Json.Encode(Model.IsAllPlot));
                    if(isAllPlot)
                    {
                        $("#outerpostcod-div").hide();
                    }else
                    {
                        $("#outerpostcod-div").show();
                    }*@
                });

    </script>
}





