﻿@model IEnumerable<SwaranAdmin_New.Models.ReservationHistoryViewModel>

@if (@Model != null)
{
    foreach (var item in @Model)
    {
        <li>

            <a href="#">
                <h3>@item.BookingDateTime</h3>
                <h3>
                  <span>@item.BookingNumber</span>  
                    @*<span class="pull-right">@item.ToPostcode</span>*@
                </h3>

            </a>
        </li>
    }

}