﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
 
 

 
<div class="box box-default box-solid">
     
    <div class="box-body">
        <ul class="todo-list ui-sortable">
            <li class="" style="height: 75px">
                <!-- drag handle -->
                <span class="handle ui-sortable-handle">
                    <i class="fa fa-ellipsis-v"></i>
                    <i class="fa fa-ellipsis-v"></i>
                </span>
                <!-- checkbox -->
                <input value="" type="checkbox" id="isDistanceBasd">
                <!-- todo text -->
                <span class="text">Is Distance Based</span>
                <!-- Emphasis label -->
                <input  id="max-distance"  type="text" style="margin-left: 20px;padding: 5px" placeholder="Enter Maximum Distance">
                <!-- General tools such as edit or delete-->
               
               
                    <button id="save-Distance-Based" class="btn btn-app" style="float: right;">
                        <i class="fa fa-save"></i> Save
                    </button>
                
            </li>
            <li class="" style="height: 75px">
                <span class="handle ui-sortable-handle">
                    <i class="fa fa-ellipsis-v"></i>
                    <i class="fa fa-ellipsis-v"></i>
                </span>
                <input id="isPriceBased" value="" type="checkbox">
                <span class="text">Is Price Based</span>
                <input id="max-price" value="" type="text" style="margin-left: 20px;padding: 5px" placeholder="Enter Maximum Journey Amount">
                <button id="save-Price-Based" class="btn btn-app" style="float: right;">
                    <i class="fa fa-save"></i> Save
                </button>
            </li>
            <li class="" style="height: 75px">
                <span class="handle ui-sortable-handle">
                    <i class="fa fa-ellipsis-v"></i>
                    <i class="fa fa-ellipsis-v"></i>
                </span>
                <input id="isVehicleBased" value="" type="checkbox">
                <span class="text">Is Vechicle Based</span>
                <button   id="save-Vehicle-Based" class="btn btn-app" style="float: right;">
                    <i class="fa fa-save"></i> Save
                </button>
                <div class="col-md-12" id="vehicle-list">
                    <div class="col-md-8">
                        <div class="subject-info-box-1">
                            <h5>All Vehicle Types</h5>
                            <select multiple="multiple" id='lstBox1' class="form-control"></select>
                        </div>

                        <div class="subject-info-arrows text-center">
                            <h5>Send</h5>
                            <input type='button' id='btnAllRight' value='>>' class="btn btn-default" /><br />
                            <input type='button' id='btnRight' value='>' class="btn btn-default" /><br />
                            <input type='button' id='btnLeft' value='<' class="btn btn-default" /><br />
                            <input type='button' id='btnAllLeft' value='<<' class="btn btn-default" />
                        </div>

                        <div class="subject-info-box-2">
                            <h5>FreeJourney Vehicle Types</h5>
                            <select multiple="multiple" id='lstBox2' class="form-control"></select>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
              
            </li>
        </ul>
        <ul class="todo-list ui-sortable">
            <li class="" style="height: 75px">
                <span class="handle ui-sortable-handle">
                    <i class="fa fa-ellipsis-v"></i>
                    <i class="fa fa-ellipsis-v"></i>
                </span>
                <input id="isJourneyTypeBased" value="" type="checkbox">
                <span class="text">Is Journey Type Based</span>
                <button id="save-areatype-Based" class="btn btn-app" style="float: right;">
                    <i class="fa fa-save"></i> Save
                </button>
                <div class="col-md-12">
                    <div class="col-md-8" id="areatype-list">
                         
                            <div class="col-md-8">
                                <div class="subject-info-box-1">
                                    <h5>All Area Types</h5>
                                    <select multiple="multiple" id='lstBox-all-areatype' class="form-control"></select>
                                </div>

                                <div class="subject-info-arrows text-center">
                                    <h5>Send</h5>
                                    <input type='button' id='btnAllRight-areatype' value='>>' class="btn btn-default" /><br />
                                    <input type='button' id='btnRight-areatype' value='>' class="btn btn-default" /><br />
                                    <input type='button' id='btnLeft-areatype' value='<' class="btn btn-default" /><br />
                                    <input type='button' id='btnAllLeft-areatype' value='<<' class="btn btn-default" />
                                </div>

                                <div class="subject-info-box-2">
                                    <h5>FreeJourney Area Types</h5>
                                    <select multiple="multiple" id='lstBox-free-areatype' class="form-control"></select>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        
                    </div>
                </div>
              
            </li>
        </ul>

         
      

    </div>
</div>





@section scripts
{


    <script type="text/javascript">
        var editor;

        $(document).ready(function() {


          

            $("#isDistanceBasd").change(function() {
                if (this.checked) {
                    $("#max-distance").show();
                } else {
                    $("#max-distance").hide();
                }
            });

            $("#isPriceBased").change(function() {
                if (this.checked) {
                    $("#max-price").show();
                } else {
                    $("#max-price").hide();
                }
            });
            $("#isVehicleBased").change(function() {
                if (this.checked) {
                    $("#vehicle-list").show();
                } else {
                    $("#vehicle-list").hide();
                }
            });
            $("#isJourneyTypeBased").change(function() {
                if (this.checked) {
                    $("#areatype-list").show();
                } else {
                    $("#areatype-list").hide();
                }
            });


            $("#save-Distance-Based").click(function() {

                $.confirm({
                    title: 'Distance Based Free Journey !!',
                    content: 'Do you surely want to save ?',
                    buttons: {
                        formSubmit: {
                            text: 'Submit',
                            btnClass: 'btn-blue',
                            action: function() {

                                var isDistanceBasd = $('#isDistanceBasd').prop('checked');
                                var distance = $('#max-distance').val();
                                if (isDistanceBasd) {
                                    if (!distance) {
                                        $.alert('Please enter distance');
                                        return false;
                                    }
                                } else {
                                    distance = 0;
                                }
                                var obj1 = {
                                    "isDistanceBasd": isDistanceBasd,
                                    "maxDistance": distance
                                }

                                $.ajax({
                                    url: "/api/admin/savedistancebased",
                                    method: "POST",
                                    dataType: 'JSON',
                                    contentType: "application/json; charset = utf-8",
                                    data: JSON.stringify(obj1),
                                    success: function(data) {

                                        if (data) {
                                            $.alert("Saved Succesfully");


                                        } else {
                                            $.alert("Try again");
                                        }
                                    }
                                });


                            }
                        },
                        cancel: function() {
                            //close
                        },
                    },
                    onContentReady: function() {
                        // bind to events
                        var jc = this;
                        this.$content.find('form').on('submit', function(e) {
                            debugger;
                            // if the user submits the form by pressing enter in the field.
                            e.preventDefault();
                            jc.$$formSubmit.trigger('click'); // reference the button and click it
                        });
                    }
                });
            });

            $("#save-Price-Based").click(function() {

                $.confirm({
                    title: 'Price Based Free Journey !!',
                    content: 'Do you surely want to save ?',
                    buttons: {
                        formSubmit: {
                            text: 'Submit',
                            btnClass: 'btn-blue',
                            action: function() {

                                var isPriceBased = $('#isPriceBased').prop('checked');
                                var price = $('#max-price').val();
                                if (isPriceBased) {
                                    if (!price) {
                                        $.alert('Please enter price');
                                        return false;
                                    }
                                } else {
                                    price = 0;
                                }
                                var obj1 = {
                                    "IsPriceBasd": isPriceBased,
                                    "maxPrice": price
                                }

                                $.ajax({
                                    url: "/api/admin/savepricebased",
                                    method: "POST",
                                    dataType: 'JSON',
                                    contentType: "application/json; charset = utf-8",
                                    data: JSON.stringify(obj1),
                                    success: function(data) {

                                        if (data) {
                                            $.alert("Saved Succesfully");


                                        } else {
                                            $.alert("Try again");
                                        }
                                    }
                                });


                            }
                        },
                        cancel: function() {
                            //close
                        },
                    },
                    onContentReady: function() {
                        // bind to events
                        var jc = this;
                        this.$content.find('form').on('submit', function(e) {
                            debugger;
                            // if the user submits the form by pressing enter in the field.
                            e.preventDefault();
                            jc.$$formSubmit.trigger('click'); // reference the button and click it
                        });
                    }
                });
            });

            $("#save-Vehicle-Based").click(function() {

                $.confirm({
                    title: 'Price Based Free Journey !!',
                    content: 'Do you surely want to save ?',
                    buttons: {
                        formSubmit: {
                            text: 'Submit',
                            btnClass: 'btn-blue',
                            action: function() {

                                var isVehicleBased = $('#isVehicleBased').prop('checked');

                                if (isVehicleBased) { 

                                    var items = $('#lstBox2 > option').map(function() {
                                        var arr = [];
                                        arr.push({ value: $(this).val(), text: $(this).text() });
                                        return arr;
                                    }).get();

                                    var obj1 = {
                                        "items": items,
                                        "isVehicleBased": isVehicleBased
                                    }

                                    $.ajax({
                                        url: "/api/admin/savevehiclebased",
                                        method: "POST",
                                        dataType: 'JSON',
                                        contentType: "application/json; charset = utf-8",
                                        data: JSON.stringify(obj1),
                                        success: function(data) {

                                            if (data) {
                                                $.alert("Saved Succesfully");


                                            } else {
                                                $.alert("Try again");
                                            }
                                        }
                                    });

                                }
                            }
                        },
                        cancel: function() {
                            //close
                        },
                    },
                    onContentReady: function() {
                        // bind to events
                        var jc = this;
                        this.$content.find('form').on('submit', function(e) {
                            debugger;
                            // if the user submits the form by pressing enter in the field.
                            e.preventDefault();
                            jc.$$formSubmit.trigger('click'); // reference the button and click it
                        });
                    }
                });
            });

            $("#save-areatype-Based").click(function () {

                $.confirm({
                    title: 'Areatype Based Free Journey !!',
                    content: 'Do you surely want to save ?',
                    buttons: {
                        formSubmit: {
                            text: 'Submit',
                            btnClass: 'btn-blue',
                            action: function () {

                                var isJourneyTypeBased = $('#isJourneyTypeBased').prop('checked');

                                if (isJourneyTypeBased) {

                                    var items = $('#lstBox-free-areatype > option').map(function () {
                                        var arr = [];
                                        arr.push({ value: $(this).val(), text: $(this).text() });
                                        return arr;
                                    }).get();
                                     
                                    var obj1 = {
                                        "items": items,
                                        "isJourneyTypeBased": isJourneyTypeBased
                                    }

                                    $.ajax({
                                        url: "/api/admin/savejourneytypebased",
                                        method: "POST",
                                        dataType: 'JSON',
                                        contentType: "application/json; charset = utf-8",
                                        data: JSON.stringify(obj1),
                                        success: function (data) {

                                            if (data) {
                                                $.alert("Saved Succesfully");


                                            } else {
                                                $.alert("Try again");
                                            }
                                        }
                                    });

                                }
                            }
                        },
                        cancel: function () {
                            //close
                        },
                    },
                    onContentReady: function () {
                        // bind to events
                        var jc = this;
                        this.$content.find('form').on('submit', function (e) {
                            debugger;
                            // if the user submits the form by pressing enter in the field.
                            e.preventDefault();
                            jc.$$formSubmit.trigger('click'); // reference the button and click it
                        });
                    }
                });
            });
           
            $.ajax({
                url: "/api/admin/freejourneyconfig",
                method: "GET",
                success: function(data) {

                    var config = data.customerFreeJourneyType;
                    debugger;
                    if (config.isDistanceBased) {
                        $("#isDistanceBasd").prop('checked', true);
                        $("#max-distance").show();
                        $("#max-distance").val(config.maxDistance);

                    } else {
                        $("#isDistanceBasd").prop('checked', false);
                        $("#max-distance").hide();
                    }


                    if (config.isPriceBased) {
                        $("#isPriceBased").prop('checked', true);
                        $("#max-price").show();
                        $("#max-price").val(config.maxPrice);

                    } else {
                        $("#isPriceBased").prop('checked', false);
                        $("#max-price").hide();
                    }

                    if (config.isVehicleBased) {

                        $("#isVehicleBased").prop('checked', true);
                        $("#vehicle-list").show();
                        debugger;
                        $.each(data.allVehicleTypes, function(index, itemData) {
                            $("#lstBox1").append(new Option(itemData.name, itemData.id));
                        });
                        $.each(data.freeJourneyVehicleTypes, function(index, itemData) {
                            $("#lstBox2").append(new Option(itemData.name, itemData.id));
                        });

                    } else {
                        $("#isVehicleBased").prop('checked', false);
                        $("#vehicle-list").hide();
                    }
                    if (config.isJourneyTypeBased) {
                        $("#isJourneyTypeBased").prop('checked', true);
                        $("#areatype-list").show();
                        
                        $.each(data.allAreaTypes, function (index, itemData) {
                            $("#lstBox-all-areatype").append(new Option(itemData.areaType, itemData.journeyTypeId));
                        });
                        $.each(data.freeJourneyAreaTypes, function (index, itemData) {
                            $("#lstBox-free-areatype").append(new Option(itemData.areaType, itemData.journeyTypeId));
                        });
                        

                    } else {
                        $("#isJourneyTypeBased").prop('checked', false);
                        $("#areatype-list").hide();
                    }


                }
            });


            $('#btnRight').click(function(e) {
                var selectedOpts = $('#lstBox1 option:selected');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBox2').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });

            $('#btnAllRight').click(function(e) {
                var selectedOpts = $('#lstBox1 option');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBox2').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });

            $('#btnLeft').click(function(e) {
                var selectedOpts = $('#lstBox2 option:selected');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBox1').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });

            $('#btnAllLeft').click(function(e) {
                var selectedOpts = $('#lstBox2 option');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBox1').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });

            //------------------------------------------------------------------------------------------------------------------------------
            $('#btnRight-areatype').click(function (e) {
                var selectedOpts = $('#lstBox-all-areatype option:selected');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBox-free-areatype').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });

            $('#btnAllRight-areatype').click(function (e) {
                var selectedOpts = $('#lstBox-all-areatype option');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBox-free-areatype').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });

            $('#btnLeft-areatype').click(function (e) {
                var selectedOpts = $('#lstBox-free-areatype option:selected');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBox-all-areatype').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });

            $('#btnAllLeft-areatype').click(function (e) {
                var selectedOpts = $('#lstBox-free-areatype option');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBox-all-areatype').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });
        });
    </script>
}

