﻿@charset "utf-8";
/* CSS Document */
body{
	font-family:calibri;
	font-size: 15px;
	background: #292929;
}
.leftbar{
background:#292929;

}
.rightbar{
background:#e2e2e2;

}
.zero-margin{
margin-left:0px;
margin-right:0px;
}
.zero-padding{
	padding-left: 0px;
	padding-right: 0px;
}


.leftfloat{
float:left;
}
.padding-top20{
	padding-top: 20px;
}
.icon-bar {
    width: 100%; /* Set a specific width */
    background-color: #292929; /* Dark-grey background */
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 30px; /* Increased font-size */
}

.icon-bar a:hover {
    background-color: #4e4e4e; /* Add a hover color */
	color: #ffe70b;
	text-decoration: none;
}

.active {
    background-color: #4e4e4e; /* Add an active/current color */
}
.leftbarfont{
	font-size: 15px !important;
		
}
.mid-btn{
	width: 100%;
}
.separator{
border-bottom:1px solid #ccc;
padding-top: 10px;
margin-bottom: 0px;
}
/*label{
	color: #333338;
	text-align: right;
	float: right;
	
}*/
.form-group{
	padding-bottom: 20px;
	margin-top: 0px;
	padding-top: 10px;
}



.icon-bar-btm {
    width: 100%;
    background-color: #bfbfbf;
    overflow: auto;
	margin-top: 20px;
}

.icon-bar-btm a {
    float: left;
    padding-left: 15px !important;
     padding-right: 15px !important;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: #212121;
    font-size: 15px;
}

.icon-bar-btm a:hover {
    background-color: #000;
}
.icon-bar-btm a.active{
	background: #5f5f5f;
	color: #FFFFFF;
	
	
}
.icon-bar-btm .fa{
	margin-right: 3px;
}
.bottomtable tbody{
	background: #fff;
	
}
.bottomtable thead{
	background: #EDEDED;
}
.bordertop{
	border-top: 2px solid #5f5f5f; 
}
.form-group .col-md-4{
padding-left:0px;
padding-right:0px;
}
.icon-bar-btm a:hover{
background: #5f5f5f;
color: #FFFFFF;
text-decoration:none;
}
.form-area .input-group{
	width: 100%;
	padding-top: 5px;
}


.form-area .input-group .col-md-4{
	padding-right: 0px;
	
}

.form-area .greenbtn{
	background-color:#49a949;
	color: #fff;
	border: 1px solid #49a949;
}

.form-area .bluebtn{
	background-color:#2267a5;
	color: #fff;
	border: 1px solid #2267a5;
	width: 37px;

}

.form-area .yellowbtn{
	background-color:#fda425;
	color: #fff;
	border: 1px solid #fda425;
	width: 37px;

}

.form-area .redbtn{
	background-color:#d03f3b;
	color: #fff;
	border: 1px solid #d03f3b;

}
.form-control:focus{
	background:#F9F2D6;
}
.form-area{
	padding-bottom: 30px;
}

.form-area .bluebtn:hover, .form-area .greenbtn:hover, .form-area .redbtn:hover {
	opacity: 0.8;
	cursor: pointer;
}
.modal-header{
	background: #2F2F2F;
	color: #F4F4F4;
	padding-bottom: 5px;
    padding-top: 5px;
}
.close{
	color: #fff;
}
.searchicon{
	float: left;
	margin-right: 5px;
}

