﻿@model  SwaranAdmin_New.Models.SystemComplaintViewModel

@*<div class="callout callout-info" style="margin-top: 15px; border-color: #343333; background: #bababa !important; color: black !important; margin-bottom: 0 !important;">
    <h4><i class="fa fa-info"></i> Created By: @Html.DisplayFor(m => m.OperatorName) </h4>
    @Html.Raw(Model.Complaint1)
    <div class="col-md-offset-1" style="margin-top: 10px">
        <h5><i class="fa fa-calendar"></i> @Html.DisplayFor(m => m.IncidentDate)</h5>
    </div>
    <div class="col-md-offset-1" style="margin-top: 10px">
        <h5><i class="fa fa-user"></i> Custome Info :@Html.DisplayFor(m => m.CustomerInfo)</h5>
    </div>
</div>*@

<div class="col-md-12">
    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">@Html.ValueFor(x => x.CustomerInfo) </h3>

            <div class="box-tools pull-right">
                @*<button  type="button" class="btn btn-box-tool btnRemove"><i class="fa fa-times"></i></button>*@
                @*<button type="button" onclick="myFunction(); return false;"  >X</button>*@
                <button type="button" data-complaint-id="@Html.ValueFor(x => x.ComplaintId)" class="btn btn-box-tool btnRemove"><i class="fa fa-times"></i></button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">


            <div class="box">
                <div class="box-header">
                    <h5><i class="fa fa-calendar"></i> @Html.DisplayFor(m => m.IncidentDate) Created By: @Html.DisplayFor(m => m.OperatorName)</h5>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding col-md-12">
                    @Html.Raw(Model.Complaint1)
                </div>

                @*<div class="box-body no-padding col-md-12">
                    <div class="col-md-offset-1" style="margin-top: 10px">
                        <h5><i class="fa fa-user"></i> Custome Info :@Html.DisplayFor(m => m.CustomerInfo)</h5>
                    </div>
                </div>*@
                <div class="col-md-12">
                    <div class="btn-group">
                        <div class="btn-group">
                            <button type="button" class="btn  bg-navy margin dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Add To Driver Relation
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                        @Html.ActionLink("View Driver Complaint", "DisplayDriverComplaintView", "CustomerFeedback", new { feedbackid = Model.FeedBackId }, new { @class = "btn bg-olive btn-flat margin" })
                                  

                                </li>
                                <li>
                                    
                                        @Html.ActionLink("View Driver Appreciation", "DriverComplaintView", "CustomerFeedback", null, new { @class = "btn bg-olive btn-flat margin" })
                                   

                                </li>
                            </ul>
                        </div>
                      

                    </div>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>

