﻿<div class="col-md-12">
    <div class="box box-default box-solid">
        <div id="overLay" style="display: none">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="box-body">
            <div class="box-header">

            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding col-md-12">
                <div class="col-md-8 col-md-offset-2">

                    <h2>System Complaints</h2>
                    <div>

                        <div class="row">
                            <div class="col-sm-8">
                                <ul id="pagination-demo" class="pagination-sm"></ul>
                            </div>
                        </div>

                        <div id="systemComplaintDiv">

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    </div>
    @section scripts
    {
        <script type="text/javascript">

            $(document).ready(function() {

                var $pagination = $("#pagination-demo");
                var defaultOpts = {
                    totalPages: 10,
                    hideOnlyOnePage: true,
                       initiateStartPageClick: true, 
                        visiblePages: 15,
                        next: 'Next',
                        prev: 'Prev',
                        onPageClick: function (event, page) {
                            $("#overLay").show();
                            $("#overLay").addClass("overlay");
                            $("#systemComplaintDiv").html("");
                            $.ajax({
                                type: "GET",
                                url: "/CustomerFeedbackList/_SystemComplaintView?numberOfRecord=10&currentpage=" + page,
                                success: function (data) {
                                    $("#systemComplaintDiv").append(data);
                                    $('#page-content').text('Page ' + page);
                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();

                                   
                                },
                                error: function (response) {

                                    $("#LoadingImage").hide();
                                    $("#overLay").removeClass("overlay");
                                    $("#overLay").hide();

                                }
                            });
                        }
                };
                $pagination.twbsPagination(defaultOpts);
                $.ajax({
                    type: "GET",
                    url: "/api/feedback/systemcomplaintpagecount?numberOfRecord=10&currentpage=" + 1,
                    success: function (data) { 
                        var totalPages = data; 
                       $pagination.twbsPagination('destroy');
                        $pagination.twbsPagination($.extend({}, defaultOpts, {
                            startPage: 1,
                            totalPages: totalPages
                        }));
                    },
                    error: function(response) {


                    }
                });
               

                $("#systemComplaintDiv").on("click", ".btnRemove", function () {
                    //   alert(this);
                    var id = $(this).attr("data-complaint-id");
                    var button = this;
                    $.confirm({
                        title: 'Delete System Complaint !',
                        content: 'Do you surely want to delete this complaint ?',
                        buttons: {
                            formSubmit: {
                                text: 'Submit',
                                btnClass: 'btn-blue',
                                action: function () {

                                    $.ajax({
                                        type: "GET",
                                        url: "/api/feedback/disablesystemcomplaint?complaintId=" + id,
                                        success: function (data) {
                                            if (data) {
                                                $(button).parent('div').parent('div').parent('div').fadeOut();
                                                $.alert('done');
                                                return false;
                                            } else {
                                                $.alert('Try again');
                                                return false;
                                            }
                                        },
                                        error: function (response) {


                                        }
                                    });
                                }
                            },
                            cancel: function () {
                                //close
                            },
                        },
                        onContentReady: function () {
                            // bind to events
                            var jc = this;
                            this.$content.find('form').on('submit', function (e) {
                                debugger;
                                // if the user submits the form by pressing enter in the field.
                                e.preventDefault();
                                jc.$$formSubmit.trigger('click'); // reference the button and click it
                            });
                        }
                    });



                });


            });
        </script>
        }
