﻿@model SwaranAdmin_New.Models.ForgotPasswordViewModel

<div class="box box-danger box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Send Password to Customer</h4>
        <hr />

        <div class="col-md-12">
            <div class="row col-md-10" style="margin: 10px">

                <div class="col-md-8">
                    <div class="input-group margin">
                        <input class="customersearch form-control" type="text" placeholder="Search by Memberid/Email/Name/Mobile ">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat disabled">SEARCH!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12">

            @using (Html.BeginForm("CustomerForgotPasswordView", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()  
            <div class="form-group  col-md-6">
                @Html.LabelFor(m => m.Username, new { @class = "col-md-12" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" ,@readonly= "readonly" })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" class="btn btn-default" value="Send Email" />
                </div>
            </div>
            <h3 style="color: green">@TempData["Success"]</h3>
            <h3 style="color: red">@TempData["Message"]</h3>
            }
        </div>

    </div>
</div>
@section Scripts 
    {
    @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">

            $(document).ready(function () {
                var pickuppointRequest = null;
                $('input.customersearch').typeahead({
                    minLength: 3,
                    autoSelect: true,
                    highlight: true,
                    items: 500,

                    source: function (query, process) {

                        var regex = "^[a-zA-Z0-9\\s/g_.-]*$";


                        var that = this;
                        pickuppointRequest = $.ajax({
                            url: '/api/member/customer',
                            type: 'GET',
                            dataType: 'JSON',
                            data: 'search=' + query,
                            beforeSend: function () {

                                //$("#overLay").show();
                                //$("#overLay").addClass("overlay");
                                if (pickuppointRequest != null) {
                                    pickuppointRequest.abort();
                                }
                                that.$element.addClass('loadinggif');
                            },
                            complete: function () {
                                that.$element.removeClass('loadinggif');
                            },

                            success: function (data) {
                                debugger;
                                map = {};
                                var cnames = new Array();
                                for (var i = 0; i < data.length; i++) {

                                    var id = data[i].email;
                                    name = data[i].memberId + " - " + data[i].fullName + " - " + data[i].email + " - " + data[i].mobile;
                                    map[name] = { id: id, name: name };
                                    cnames.push(name);
                                }
                                process(cnames);
                                $("#overLay").removeClass("overlay");
                                $("#overLay").hide();
                            }
                        });


                    },
                    sorter: function (items) {
                        return items; // items.sort();
                    },
                    matcher: function (item) {

                        return true;

                    },
                    updater: function (item) {


                        $("input[name='Username']").val(map[item].id);
                        return item;
                    }

                });
               });
        </script>

}

