﻿@model SwaranAdmin_New.Models.EmailTokenViewModel

<div class="container main-body">

    <p style="color: green">  @TempData["success"] </p> 
    <p>To ensure your security, we have to verify your email address. Copy and paste the email token that has been sent to your email </p>
    @using (Html.BeginForm("EmailToken", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-md-6">
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

          
           
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.Email)
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CurrentEmailToken, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.CurrentEmailToken, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default"/>
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("ReSendEmailToken", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {


        @Html.HiddenFor(m => m.UserId, new {@class = "form-control"})
        <div class="col-md-3">
            <fieldset class="form-group">
                <label for="sumbit pull-left"></label>

                <input value="ReSend" class="btn btn-primary blu-btn" type="submit">

            </fieldset>
        </div>

    }

</div>