﻿@model SwaranAdmin_New.Models.ForgotPasswordViewModel
 
@{
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}
<div class="register-box">
    <div class="register-box-body">
        <h3>Forgot your password?</h3>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()


            <div class="form-group">
                @*<label for="Email" class="col-sm-2 control-label">Email</label>*@

                <div class="col-sm-12">
                    @*<input class="form-control" id="inputEmail3" placeholder="Email" type="email">*@
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Email" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" class="btn btn-block btn-primary" value="Send" />
                </div>
            </div>
            <h3 style="color: green">@TempData["Success"]</h3>
            <h3 style="color: red">@TempData["Message"]</h3>

        }
    </div>

</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
