﻿@using SwaranAdmin_New.Models

@model LoginViewModel
@{
    ViewBag.Title = "LockScreen";
}
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h2>LockScreen</h2>

<div class="login-box-body">    
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {  
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group has-feedback">
            @Model.UserName
            @*@Html.EditorFor(m => m.UserName, new { @class = "form-control", @placeholder = "UserName", @readonly = "readonly" })*@
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.HiddenFor(m => m.UserName)
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
            <!-- /.col -->
        </div>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

