﻿@using SwaranAdmin_New.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <h3 style="color: green">@TempData["success"]</h3>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {  @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group has-feedback">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "UserName" })
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck"> 
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                   
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
            <!-- /.col -->
        </div>
    }

    <div class="social-auth-links">
        @if (Model != null && !Model.IsEmailVarified)
        {

            @Html.ActionLink("Please Verify Your Email", "CreateEmailToken", "Account", new { @class = "text-center" })
        }
        </div>
    <!-- /.social-auth-links -->

    
    @Html.ActionLink("I forgot my password", "ForgotPassword", "Account", new { @class = "text-center" }) <br>
    @*<a href="register.html" class="text-center">Register a new membership</a>*@
    @Html.ActionLink("Register a new membership", "Register", "Account", new { @class = "text-center" })
</div>
 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}