﻿@model SwaranAdmin_New.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@{
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}

<div class="register-box">
    <div class="register-logo">
        <a href="../../index2.html">
            <img src="~/Content/Images/lgo.png" />
        </a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Register a new membership</p>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @*<div>
                    <div id="dialog_info" title="information">
                        <asp:Literal ID="ltMessage" Text="success"></asp:Literal>
                    </div>
                    <a href="#" id="message">open</a>

                </div>*@
            @*if (Model.Proceed)
                {
                  <table> <tr> <td>@Html.ValidationSummary("", new { @class = "text-danger" })</td> <td><button type="button" class="btn btn-primary btn-block btn-flat">Proceed</button></td> </tr> </table>
                }
                else
                {
                  @Html.ValidationSummary("", new { @class = "text-danger" })
                }*@

            @*<div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control", @placeholder = "FirstName"})
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-dange" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>*@

            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "FirstName" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-dange" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "LastName" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-dange" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-dange" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Retype password" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @placeholder = "Mobile Number" })
                @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label class="">
                            <div class="icheckbox_square-blue" style="position: relative;" aria-checked="false" aria-disabled="false"><input style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>

                            I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
        }

        <div class="social-auth-links text-center">
            @*<p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign up using
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign up using
                    Google+
                </a>*@
        </div>


        @Html.ActionLink("I already have a membership", "Login", "Account", new { @class = "text-center" })

    </div>
    <!-- /.form-box -->
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            $("#dialog_info").dialog("destroy");
            $("#dialog_info").dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
        function show() {
            $("#dialog_info").dialog("open");
            return false;
        }
    </script>
}
