﻿@model SwaranAdmin_New.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container">
    <h2>Forgot Password Reset</h2>
    <div class="row">
        <div class="col-md-8">
            <!-- Start Big Heading -->
            <div class="text-left">
                <h3>Enter New Password</h3>
            </div>
            <!-- End Big Heading -->
            <!--<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>-->

            <div class="padding-top"></div>


            @using (Html.BeginForm("ResetPassword", "Account", Model, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="col-md-8">
                    <fieldset class="form-group">
                        <label for="name pull-left">Password: <span class="strick">*</span></label>


                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </fieldset>
                </div>
                <div class="col-md-8">
                    <fieldset class="form-group">
                        <label for="name pull-left">Confirm Password: <span class="strick">*</span></label>


                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </fieldset>
                </div>
                <div class="col-md-8">
                    <fieldset class="form-group">
                        @Html.HiddenFor(m => m.UserId, new { @class = "form-control" })
                    </fieldset>
                </div>


                <div class="col-md-8">
                    <fieldset class="form-group">
                        <label for="sumbit pull-left"></label>

                        <input value="Submit" name="submit" class="btn btn-primary blu-btn conatct-btn" type="submit">



                    </fieldset>
                    <h6>@TempData["Message"] </h6>

                </div>

            }

        </div>


    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
