﻿@model SwaranAdmin_New.Models.PriceCalculation.SpecialOccasionViewModel

@{
    ViewBag.Title = "AddSpecialOccasionView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Special Occasion</h2>
<hr/>
<div class="col-md-12">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ToDate)
            @Html.HiddenFor(model => model.FromDate)
            @Html.HiddenFor(model => model.CustomerRateId)
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Title,new {@class = "form-control", @autocomplete = "off", @placeholder = "" })
                        @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.RateName, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        <select class="form-control" id="rate">
                            <option selected="selected">Select</option>
                        </select>
                    </div>
                </div> 
 
                <div class="form-group">
                    @Html.LabelFor(model => model.RateFormula, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="row">
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.RateName, new { @class = "form-control",@readonly= "readonly" } )
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.RateFormula,   new { @class = "form-control", @autocomplete = "off", @placeholder = "" } )
                            @Html.ValidationMessageFor(model => model.RateFormula, "", new { @class = "text-danger" })
                        </div>
                    </div>
                  
                </div>

               
                <div class="form-group">
                    @Html.Label("Date Range", new { @class = "control-label col-md-2" })
                    <div class="input-group col-md-10">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @*<input type="text" id="reservationtime" class="form-control pull-right">*@

                        @Html.TextBoxFor(model => model.OccasionDataRange, new { @class = "form-control pull-right",@id= "reservationtime", @autocomplete = "off", @placeholder = "" })
                        @Html.ValidationMessageFor(model => model.OccasionDataRange, "", new { @class = "text-danger" })
                    </div>
                </div>

                
                <div class="form-group">
                    @Html.LabelFor(model => model.Surcharge, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Surcharge,   new { @class = "form-control", @autocomplete = "off", @placeholder = "" } )
                        @Html.ValidationMessageFor(model => model.Surcharge, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Comments,   new { @class = "form-control",@autocomplete = "off", @placeholder = "" } )
                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                    </div>
                </div>

              

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
 

  

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#reservationtime').daterangepicker(
            {
                autoApply: true,
                timePicker: true,
                timePicker24Hour: true,
                useCurrent: false, 
                timePickerIncrement: 15,
                locale: {
                    cancelLabel: 'Clear',
                    format: 'DD/MM/YYYY hh:mm A'
                }
            },function(start, end, label) {
               // $(this)[0].element.change(); 
                $("#FromDate").val(start.format('DD/MM/YYYY HH:mm'));
                $("#ToDate").val(end.format('DD/MM/YYYY HH:mm'));
               
                }

            );
            $('#reservationtime').val("");
            $.ajax({
                type: 'GET',
                url: '/api/pointofinterest/allcustomerrates',
                success: function(data) {
                    
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].rateName);
                       // $("#rate").append(opt);
                        $("#rate").append(
                                $('<option/>', {
                                    value: data[i].rateId,
                                    text: data[i].rateName
                                }));
                    }
                }
            });

            $("#rate").on('change', function() {
                $("#CustomerRateId").val(this.value);
                $("#RateName").val($(this).find("option:selected").text());
            });
        });

    </script>
}