﻿@model SwaranAdmin_New.Models.PriceCalculation.SpecialOccasionViewModel
@{
    ViewBag.Title = "AddSpecialOccasionView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-default box-solid">
    <div class="box-body">
        <h2>Create New Special Occasion</h2>
        <hr />
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.OccasionsId)
                @Html.HiddenFor(model => model.ToDate)
                @Html.HiddenFor(model => model.FromDate)
                @Html.HiddenFor(model => model.CustomerRateId)
                <div class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RateName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select class="form-control" id="rate">
                                    <option selected="selected">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RateFormula, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.RateName, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.RateFormula, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                    @Html.ValidationMessageFor(model => model.RateFormula, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Date Range", new { @class = "control-label col-md-2" })
                            <div class="input-group col-md-10">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(model => model.OccasionDataRange, new { @class = "form-control pull-right", @id = "reservationtime", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.OccasionDataRange, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Surcharge, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Surcharge, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Surcharge, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.IsEnabled)
                                        IsEnabled
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.IsDeleted)
                                        IsDeleted
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-3">
                                <div class="radio">
                                    <label>
                                        @*<input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">*@
                                        @Html.RadioButton("IsAllPlot", 1)
                                        All UK
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButton("IsAllPlot", 2)
                                        Selected Outer post codes
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButton("IsAllPlot", 3)
                                        Selected Fixed Prices
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="fixedPrice-div" style="margin-top:30px;">
                        <div class="col-md-12">
                            <div class="col-md-8" id="fixedPrice-list">
                                <div class="col-md-9">
                                    <div class="subject-info-box-1">
                                        <h5>All Fixed Prices</h5>
                                        <select multiple="multiple" id='lstBoxFixedPrice1' class="form-control"></select>
                                    </div>
                                    <div class="subject-info-arrows text-center">
                                        <h5>Send</h5>
                                        <input type='button' id='btnAllFixedPriceRight' value='>>' class="btn btn-default" /><br />
                                        <input type='button' id='btnFixedPriceRight' value='>' class="btn btn-default" /><br />
                                        <input type='button' id='btnFixedPriceLeft' value='<' class="btn btn-default" /><br />
                                        <input type='button' id='btnFixedPriceAllLeft' value='<<' class="btn btn-default" />
                                    </div>
                                    <div class="subject-info-box-2">
                                        <h5>Selected Fixed Prices @*<a id="btnselectAll"> Select all</a>*@</h5>
                                        <select name="FixedPriceId" multiple="multiple" id='FixedPriceId' class="form-control"></select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="outerpostcod-div" style="margin-top:30px;">
                        <div class="col-md-12">
                            <div class="col-md-8" id="areatype-list">
                                <div class="col-md-8">
                                    <div class="subject-info-box-1">
                                        <h5>All Areapoints </h5>
                                        <select multiple="multiple" id='lstBox1' class="form-control"></select>
                                    </div>
                                    <div class="subject-info-arrows text-center">
                                        <h5>Send</h5>
                                        <input type='button' id='btnAllRight' value='>>' class="btn btn-default" /><br />
                                        <input type='button' id='btnRight' value='>' class="btn btn-default" /><br />
                                        <input type='button' id='btnLeft' value='<' class="btn btn-default" /><br />
                                        <input type='button' id='btnAllLeft' value='<<' class="btn btn-default" />
                                    </div>
                                    <div class="subject-info-box-2">
                                        <h5>Selected outerpostcodes@*<a id="btnselectAll"> Select all</a>*@</h5>
                                        <select name="AreaPointId" multiple="multiple" id='AreaPointId' class="form-control"></select>
                                        @*@Html.DropDownListFor(m => m.AreaPointId,Model.AreaPointIds, new { multiple = "multiple" })*@
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" style="margin-top:25px;">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DropOffCharge, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.DropOffCharge, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                    @Html.ValidationMessageFor(model => model.DropOffCharge, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DropOffComments, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.DropOffComments, new { @class = "form-control", @autocomplete = "off", @placeholder = "" })
                                    @Html.ValidationMessageFor(model => model.DropOffComments, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {


            $('#reservationtime').daterangepicker(
            {
                autoApply: true,
                timePicker: true,
                timePicker24Hour: true,
                // autoUpdateInput: false,
                timePickerIncrement: 1,
                locale: {
                    format: 'DD/MM/YYYY HH:mm'
                }
            },function(start, end, label) {
                // $(this)[0].element.change();
                $("#FromDate").val(start.format('DD/MM/YYYY HH:mm'));
                $("#ToDate").val(end.format('DD/MM/YYYY HH:mm'));

            }

            );

            @*var daterange= @Html.Raw(Json.Encode(Model.OccasionDataRange));
                    var fromdat=@Html.Raw(Json.Encode(Model.FromDate));
                    var todat=@Html.Raw(Json.Encode(Model.ToDate));
                    $("#reservationtime").data('daterangepicker').setStartDate(fromdat);
                    $("#reservationtime").data('daterangepicker').setEndDate(todat);*@

            $.ajax({
                type: 'GET',
                url: '/api/pointofinterest/allcustomerrates',
                success: function(data) {

                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].rateName);
                        // $("#rate").append(opt);
                        $("#rate").append(
                                $('<option/>', {
                                    value: data[i].rateId,
                                    text: data[i].rateName
                                }));
                    }
                }
            });

            $("#rate").on('change', function() {
                $("#CustomerRateId").val(this.value);
                $("#RateName").val($(this).find("option:selected").text());
            });
            //-----------------------------------------------------------------------------------------------------------------------------------------.


            var isAllPlot=@Html.Raw(Json.Encode(Model.IsAllPlot));
            
            if(isAllPlot == 1)
            {
                $("#outerpostcod-div").hide();
                $("#fixedPrice-div").hide();
            }
            else if(isAllPlot == 2)
            {
                $("#outerpostcod-div").show();
                $("#fixedPrice-div").hide();
                
                $.ajax({
                    type: 'GET',
                    url: '/api/pointofinterest/allpoiaddress?specialOccasionId=0',
                    success: function(data) {
                        
                        $.each(data.allPoiAddress, function (index, itemData) {
                            $("#lstBox1").append(new Option(itemData.name, itemData.ariaPointId));
                        });

                        $.each(data.specialOccAddress, function (index, itemData) {
                            $("#AreaPointId").append(new Option(itemData.name, itemData.ariaPointId));
                        });
                        $('#AreaPointId option').prop('selected', true);
                    }
                });

            }
            else
            {
                $("#outerpostcod-div").hide();
                $("#fixedPrice-div").show();  
                
                $.ajax({
                    type: 'GET',
                    url: '/api/pointofinterest/relevantfixedprice?fromSearch=&toSearch=&isSpecialOccasion=true',
                    success: function(data) {

                        $.each(data.fixedPrices, function (index, itemData) {
                            $("#lstBoxFixedPrice1").append(new Option(itemData.fromLocation, itemData.fixedPriceId));
                        });

                        //$('#AreaPointId option').prop('selected', true);
                    }
                });

            }



            $('#btnRight').click(function(e) {
                var selectedOpts = $('#lstBox1 option:selected');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#AreaPointId').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                $('#AreaPointId option').prop('selected', true);
            });

            $('#btnAllRight').click(function(e) {
                var selectedOpts = $('#lstBox1 option');

                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }
                $('#AreaPointId').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                $('#AreaPointId option').prop('selected', true);
            });

            $('#btnLeft').click(function(e) {
                var selectedOpts = $('#AreaPointId option:selected');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBox1').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                $('#AreaPointId option').prop('selected', true);
            });

            $('#btnAllLeft').click(function(e) {
                var selectedOpts = $('#AreaPointId option');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBox1').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });






            
            $('#btnFixedPriceRight').click(function(e) {
                var selectedOpts = $('#lstBoxFixedPrice1 option:selected');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#FixedPriceId').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                $('#FixedPriceId option').prop('selected', true);
            });

            $('#btnAllFixedPriceRight').click(function(e) {
                var selectedOpts = $('#lstBoxFixedPrice1 option');

                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }
                $('#FixedPriceId').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                $('#FixedPriceId option').prop('selected', true);
            });

            $('#btnFixedPriceLeft').click(function(e) {
                var selectedOpts = $('#FixedPriceId option:selected');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBoxFixedPrice1').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                $('#FixedPriceId option').prop('selected', true);
            });

            $('#btnAllFixedPriceLeft').click(function(e) {
                var selectedOpts = $('#FixedPriceId option');
                if (selectedOpts.length == 0) {
                    alert("Nothing to move.");
                    e.preventDefault();
                }

                $('#lstBoxFixedPrice1').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
            });


            //------------------------------------------------------------------------------------------------------------------------
            
            $('input[type=radio][name=IsAllPlot]').change(function() {
                if (this.value == '1') {
                    $("#outerpostcod-div").hide();
                    $("#fixedPrice-div").hide();
                }
                else if (this.value == '2') {
                    $("#outerpostcod-div").show();
                    $("#fixedPrice-div").hide();
                    
                    $.ajax({
                        type: 'GET',
                        url: '/api/pointofinterest/allpoiaddress?specialOccasionId=0',
                        success: function(data) {

                            $.each(data.allPoiAddress, function (index, itemData) {
                                $("#lstBox1").append(new Option(itemData.name, itemData.ariaPointId));
                            });

                            $.each(data.specialOccAddress, function (index, itemData) {
                                $("#AreaPointId").append(new Option(itemData.name, itemData.ariaPointId));
                            });
                            $('#AreaPointId option').prop('selected', true);
                        }
                    });

                }
                else if (this.value == '3') {
                    $("#outerpostcod-div").hide();
                    $("#fixedPrice-div").show();
                    //$("#lstBoxFixedPrice1").innerHtml('');
                    //$("#lstBoxFixedPrice1").remove();
                    $.ajax({
                        type: 'GET',
                        url: '/api/pointofinterest/relevantfixedprice?fromSearch=&toSearch=&isSpecialOccasion=true',
                        success: function(data) {

                            $.each(data.fixedPrices, function (index, itemData) {
                                $("#lstBoxFixedPrice1").append(new Option(itemData.fromLocation, itemData.fixedPriceId));
                            });

                            //$('#AreaPointId option').prop('selected', true);
                        }
                    });

                }

            });

            $("#btnselectAll").click(function(){
                $('#AreaPointId option').prop('selected', true);
            });

        });

    </script>
}
