﻿

<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        <h4>Special Occasion Rate Setup </h4>
        <hr />

        <input type="hidden" name="Ordercode" value="Norway">
        <div class="col-md-12" style="margin-bottom: 25px">
            <div class="col-md-4">
                 @Html.ActionLink("Add Special Occasion", "AddSpecialOccasionView", "SpecialOccasion",new { @class= "btn bg-maroon btn-flat margin" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="box col-md-12">

                <table id="Occasions-grid" style="color: #000000" class="table table-bordered table-striped dataTable">
                    @*class="table table-bordered table-striped dataTable">*@
                    <thead>
                        <tr> 
                            <th>Title</th> 
                            <th>RateFormula</th>
                            <th>FromDate</th>
                            <th>ToDate</th>
                            <th>Surcharge</th>
                            <th>All UK</th>
                            <th>D/off_Chg</th>
                            <th>Comments</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>


    </div>
</div>
@section scripts
{
    <script type="text/javascript">

                $(document).ready(function () {
                   
                   
                    var Table = $("#Occasions-grid").DataTable({
                        "oSearch": { "bSmart": false },
                        pageLength: 10,
                        "paging": true,
                        "ordering": true,
                        "info": true,
                        "filter": true,
                        aaSorting: [],
                        data: [],
                        columns: [ 
                            {
                                data: "title",
                                "width": "8%"
                            },
                            
                            {
                                data: "rateFormula",
                                "width": "10%"
                            },
                            {
                                data: "fromDate",
                                "width": "8%"
                            },
                             {
                                 data: "toDate",
                                 "width": "8%"
                             },{
                                 data: "surcharge",
                                 "width": "5%"
                             },
                              {
                                  data: "isAllPlot",
                                  "width": "5%"
                              },
                             {
                                 data: "dropOffCharge",
                                 "width": "5%"
                             },
                             
                            {
                                data: "comments", 
                            },
                            {
                                data: "occasionsId",
                                "width": "5%",
                                render: function (data, type, row) {

                                    return "<a href='/SpecialOccasion/EditSpecialOccasionView?id=" + data + "' class='btn btn-block btn-danger' > Edit </a>";
                                }
                            }

                             
                        ]

                    });


           

                    $("#overLay").show();
                    $("#overLay").addClass("overlay");
                    $.ajax({
                        url: "/api/pointofinterest/specialoccasion",
                        method: "GET",
                        success: function (data) {
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();

                            Table.clear().draw();
                            Table.rows.add(data).draw();


                        },
                        error: function (data) {
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                    });

                    $("#searchBtn").click(function () {

                        var bookingnumber = $("input[name='BookingNumber']").val();

                        $("#overLay").show();
                        $("#overLay").addClass("overlay");
                        $.ajax({
                            url: "/api/member/getrepaymentgrid?bookingnumber=" + bookingnumber,
                            method: "GET",
                            success: function (data) {
                                $("#overLay").removeClass("overlay");
                                $("#overLay").hide();
                                debugger;
                                if (data == null || data.length <= 0) {
                                    alert("Booking number not found");
                                    $("#refound-All").hide();
                                    return false;
                                }
                                Table.clear().draw();
                                Table.rows.add(data).draw();
                                if (  data[0].bookingToken == null) {
                                    $("#refound-All").hide();
                                } else {
                                    $("#refound-All").show();
                                }
                                $("#newLink").attr("href", "/WorldPayPayment/PayWorldpayOnline?tokent=" + data[0].bookingToken);

                            },
                            error: function (data) {
                            $("#overLay").removeClass("overlay");
                            $("#overLay").hide();
                        }
                        });
                    });


                    $(".jqueryui-marker-datepicker").datepicker(
                        {
                            minDate: 0,
                            dateFormat: "dd/mm/yy"
                        }).css("display", "inline-block")
                        .next("button").button(
                        {
                            icons: { primary: "ui-icon-calendar" },
                            lable: "Select a date",
                            text: false
                        });


                });
    </script>
}









