﻿ 
<div class="box box-default box-solid">
    <div id="overLay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
        
        @*<div class="col-md-12" style="margin-top:25px">
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <input class="form-control" id="bookingnumber" placeholder="BOOKING NUMBER" type="text">
                    <span class="input-group-btn">
                        <button type="button" id="btnsearchbooking" class="btn btn-info btn-flat">SEARCH BOOKING!</button>
                    </span>
                </div>
            </div>
        </div>*@

        <div class="col-md-12">

            <div class="col-md-2 no-print">
                <a  id="print-all" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>

            </div>


            <div class="row col-md-10" style="margin: 10px">
                <div class="btn-group" style="margin: 25px">
                    <button type="button" id="mainbtn-id" class="btn btn-info btn-flat">SELECT</button>
                    <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        
                        <li><a id="wa-action-id" href="#">Waiting for action</a></li>
                        <li><a id="wa-interview-id" href="#">Waiting for interview</a></li>
                        <li><a id="approved-id" href="#">Approved</a></li>
                        <li><a id="wa-reply-id" href="#">Waiting for reply</a></li>
                        <li><a id="not-contact-id" href="#">Could not contact</a></li>
                        <li><a id="canceled-id" href="#">Cancelled</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 25px">
            @*<div class="col-md-8 box">*@
            <table id="driver-applications" style="color: #000000" class="table table-bordered table-striped dataTable">
                @*class="table table-striped table-bordered">*@
                <thead>
                    <tr>
                        <th>Applied Date</th> 
                        <th>Name</th>
                        <th>Job Seeking For</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            @*</div>*@
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {

            var Table = $("#driver-applications").DataTable({
                pageLength:100,
                aaSorting: [],
                data: [],
                "scrollX": true,
                columns: [
                    {
                        data: "appliedDate",
                        "width": "10%"
                    },
                    {
                        data: "name",
                         "width": "20%"
                    },
                     {
                         data: "jobType",
                          "width": "20%",
                     },
                    {
                        data: "status",
                        "width": "15%",
                    },
                     
                    {
                        data: "driverApplicationId",
                        "width": "7%",
                        render: function (data, type, row) { 
                            return "<a href='/DriverApplication/CurrentDriverJobView?driverappid=" + data + "' class=' btn bg-navy' >View</a>";
                            
                        }

                    },
                    {
                        //IsReturnBooking
                        data: "driverApplicationId",
                        "width": "7%",
                        render: function (data, type, row) {
                            if (row["statusId"] != 6)
                            {
                            return "<a data-app-id='" + data + "'  class='delete btn btn-block btn-danger' >Delete</a>";
                            }
                            return "";

                        }

                    },

                ],
                //createdRow: function(nRow, aData, c, d) {


                //    if (aData["remainingHours"] <= 3) {
                //        $(nRow).children(":nth-child(6)").css("color", '#ffffff');
                //        $(nRow).children(":nth-child(6)").css("background-color", '#c11707');
                //      //  return;
                //    }
                //    if (6 >= aData["remainingHours"] &&  aData["remainingHours"] > 3 ) {
                //        $(nRow).children(":nth-child(6)").css("color", '#ffffff');
                //        $(nRow).children(":nth-child(6)").css("background-color", '#ba1889');
                //       // return;
                //    }
                //    if (12 > aData["remainingHours"] && aData["remainingHours"] > 6) {
                //        $(nRow).children(":nth-child(6)").css("color", '#ffffff');
                //        $(nRow).children(":nth-child(6)").css("background-color", '#ff6600');
                //      //  return;
                //    }
                //    if (aData["remainingHours"] >=  12) {
                //        $(nRow).children(":nth-child(6)").css("color", '#ffffff');
                //        $(nRow).children(":nth-child(6)").css("background-color", '#00cc00');
                //      //  return;
                //    }
                //    //panding and card payment type
                //    if ((aData["paymentStatus"] == 1 || aData["paymentStatus"] == 0) && aData["paymentTypeId"] == 2) {
                //        $(nRow).children(":nth-child(8)").css("color", '#c11707');

                //    }

                //    if ((aData["paymentStatus"] == 4 ) && aData["paymentTypeId"] == 2) {
                //        $(nRow).children(":nth-child(8)").css("color", '#00b74e');

                //    }
                //}
            });


            function loadTable(status) {
                 
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: "/api/driverapplications/driverjobs?status=" + status,
                    method: "GET",
                    success: function (data) {
                        if (data != null) {
                            Table.clear().draw();
                            Table.rows.add(data).draw();
                        } else {
                            Table.clear().draw();
                        }
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();

                        $("#print-all").attr("href", "/DriverApplication/DriverJobsPrintView?status=" + status + "");

                    }
                });
              }


              //$("#btnsearchbooking").click(function () {

              //    var bookingnumber = $("#bookingnumber").val();


              //    $("#overLay").show();
              //    $("#overLay").addClass("overlay");

              //                $.ajax({
              //                    url: "/api/reservation/curentbooking?bookingnumber=" + bookingnumber,
              //                    method: "GET",
              //                    success: function (data) {
              //                        if (data != null) {
              //                            Table.column(11).visible(true);
              //                            Table.clear().draw();
              //                            Table.rows.add(data).draw();
              //                        } else {
              //                            Table.clear().draw();
              //                        }
              //                        $("#overLay").removeClass("overlay");
              //                        $("#overLay").hide();
              //                    }
              //                });

              //    });

            $("#driver-applications").on("click", ".delete", function () {

                var button = $(this);
                var appid = button.attr("data-app-id"); 
                $.confirm({
                    title: 'Driver Application !',
                    content: 'Do you surely want to delete?',
                    buttons: {
                        confirm: function () {
                $("#overLay").show();
                $("#overLay").addClass("overlay");
                $.ajax({
                    url: "/api/driverapplications/changedriverjob?id=" + appid,
                    method: "GET",
                    success: function (data) {

                        debugger;
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                        alert(data);
                        $("#mainbtn-id").text("Waiting for action");
                        loadTable(1);
                    },
                    error: function (error) {
                        $("#overLay").removeClass("overlay");
                        $("#overLay").hide();
                        alert("error");
                    }
                });

                        },
                        cancel: function () {

                        }
                    }
                });

            });


            $("#mainbtn-id").text("Waiting for action");
            loadTable(1);

             

            $("#all-freejourneys").on("click", ".all-journeys", function() {
                var button = $(this);
                var freeJourneyId = button.attr("data-user-id");


            });
            

            $("#wa-action-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(1);

            });
            $("#wa-interview-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(2);

            });
            $("#approved-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(3);

            });
            $("#wa-reply-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(4);

            });
            $("#not-contact-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(5);

            });
            $("#canceled-id").on("click", function () {
                $("#mainbtn-id").text($(this).text());
                loadTable(6);

            });
         
 

         });
    </script>
}
