﻿@model IEnumerable<SwaranAdmin_New.Models.DriverMo.DriverApplicationViewModel>

@{
    ViewBag.Title = "DriverJobsPrintView";
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}
 

     <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
 

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.AppliedDate)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
       
       
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.AppliedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
